[2016-01-11 20:21] nlohmann commented on #175
Thanks @whackashoe for noting this. Each time I commented on pull requests, I thought about writing such a file, but I always forget afterward. It's good to have this on the list here now. I shall try to merge this with the FAQ (#163).

[2016-01-12 20:44] matspetter opened #176 "map string string fails to compile"
I fail to compile this piece of code:
[code]

[2016-01-12 21:28] xor-gate opened #177 "JSON performance benchmark comparision"
I would be nice to see how well your JSON library compares with others:
https://github.com/miloyip/nativejson-benchmark

[2016-01-12 21:39] gregmarr commented on #177
It's in there.  However, the test was run almost 9 months ago, so it's with an old version.

[2016-01-12 21:40] xor-gate commented on #177
I overlook the entry `Nlohmann/json`, but you are right maybe they could update to the new v1.0.0 release.

[2016-01-13 11:33] nlohmann commented on #176
Just to make sure: in your comment, you mean

[code]

and not

[code]

[2016-01-13 11:50] matspetter commented on #176
no, I mean that if I change to:
[code]

then it compiles as it should

[2016-01-13 15:51] nlohmann commented on #176
I have not analyzed the bug deeper, but the issue seems not to be type alias. The following code also fails to compile:

[code]

[2016-01-13 16:04] nlohmann commented on #176
Same error with a more concise example:

[code]

Error:

[code]

[2016-01-13 16:11] nlohmann commented on #176
This function triggered the error:

[code]

This function tries to return an object of type `T`, constructed via `T(m_value.object->begin(), m_value.object->end())`. So a smaller example for the error is:

[code]

[2016-01-13 17:00] Furcube opened #178 "Integer conversion to unsigned"
It is possible to assign negative json value to unsigned variable.

This is a possible patch
[code]

[2016-01-13 17:10] gregmarr opened #179 "Typo in documentation"
Line 1139, integer is misspelled as interger.

[2016-01-13 17:16] gregmarr commented on #178
It is possible that the value was unsigned in the json, and was converted to a negative value for storage in the json object.  It would have to be a really big unsigned number with the default storage size being int64_t, but it's still possible.  The json object would need to store additional data to know whether it was negative or not originally.

[2016-01-13 17:37] Furcube commented on #178
It would be better to check integer size and signedness in parser. Successfuly parsed json should contain valid data.

I forgot that NumberIntegerType can be changed, and even be unsigned, condition for conversion check should be like this:
[code]

Another possibility is to remove static_cast and let the user handle conversions. But I'm not sure that it will not break API.

Anyway, silent incorrec

[2016-01-13 17:56] gregmarr opened #180 "Unused variables in catch"
This causes warnings about unused parameters or variables on MSVC.

[patch.diff.txt](https://github.com/nlohmann/json/files/89291/patch.diff.txt)
[code]

[2016-01-13 18:14] #179 closed

[2016-01-13 18:15] nlohmann commented on #179
Thanks, @gregmarr !

[2016-01-13 18:19] #180 closed

[2016-01-13 18:19] nlohmann commented on #180
Thanks!

[2016-01-13 18:24] gregmarr commented on #178
I think this also has the possibility to break existing programs, though at runtime rather than compile time.  Currently, if someone populates a json object with an unsigned integer value larger than the max size for NumberIntegerType, it will be encoded in the JSON string as signed.  Parsing that string and extracting the value as unsigned will currently produce the same result as the original in

[2016-01-13 19:27] nlohmann commented on #175
I added some [guidelines](https://github.com/nlohmann/json/blob/master/CONTRIBUTING.md). Please tell me what you think!

[2016-01-13 19:29] nlohmann commented on #177
Hi @xor-gate, thanks for opening an issue - I am really looking forward to seeing results!

(Though I know the code is not designed having efficiency in mind...)

[2016-01-13 19:35] gregmarr commented on #175
Looks good.  There are a couple places under files to change bullet 1 where you use src.json.hpp instead of src/json.hpp.

[2016-01-13 19:37] nlohmann commented on #175
Ooops. I fixed it.

[2016-01-13 19:41] xor-gate commented on #177
@nlohmann there is always a tradeoff with cleanliness and speed.

[2016-01-13 19:42] nlohmann commented on #177
I know. But C++ developers seem to only care about speed ;)

[2016-01-13 19:43] nlohmann commented on #177
Or to put it differently: Cleanliness/simplicity is harder to quantify than objective criteria like runtime and memory consumption.

[2016-01-13 20:09] nlohmann commented on #168
Done.

[2016-01-13 20:09] #168 closed

[2016-01-13 20:16] Furcube commented on #178
If it really ignores integer overflow and does not differentiate between signed and unsigned. At least this behavior should be noted in documentation.

For now i removed static_cast to get compiler errors and made validating wrapper, but considering above, it is possible that value would be in fact undefined in result of overflow or signedness conversion.

Simple example - some 3rd party app can s

[2016-01-14 05:27] twelsby opened #181 "Floating point exceptions"
The code to perform loss of precision checking in parser::parse_internal() for lexer::token_type::value_number types can cause unhandled floating point exceptions with certain combinations of hardware, compilation options and input data.  Specifically the following line (currently found at line 6772) causes the exception:

	// check if conversion loses precision
	const auto int_val = static_cast<n

[2016-01-14 06:52] nlohmann commented on #181
Hi @twelsby, thank you for your detailed analysis!

Just a naive question: Is it possible to detect the exception, say via [`fetestexcept`](http://en.cppreference.com/w/cpp/numeric/fenv/fetestexcept)? Then we could just keep working with `float_val` just as in the `else` branch.

[2016-01-14 15:28] twelsby commented on #181
I must be even more naive then because I hadn't heard of `fetestexcept()`.  I have had a look at it and I don't think it will work however.  The problem is that `fetestexcept()` might detect the exception, but only if program execution doesn't jump to the exception handler, which it will if exceptions have been enabled - hence `fetestexcept()` would never be called.

But I think you are on the rig

[2016-01-14 16:04] gregmarr commented on #181
"Both the test app and the commercial program were presented with identical data. This suggests that Visual Studio generates an executable that disables this floating point exception but that for whatever reason the commercial program does not."

FYI, the floating point exceptions start out disabled.  This means that the commercial program, or some DLL that it loads, is enabling them, and either l

[2016-01-14 17:15] twelsby commented on #181
Unfortunately like you I have to work with a commercial program that doesn't play nice.  It has already thrown another gotcha at me in the form of a necessary header file for its API that used a `#pragma pack(2)` without restoring the original packing when it was done defining its structs.  That was really bad as it caused weird semi-random memory corruption in `string` objects in a completely unr

[2016-01-14 20:57] nlohmann commented on #181
@twelsby, could you provide me with an example of a JSON file which yields a crash. If you like, you can contact me via email: <niels.lohmann@gmail.com>.

[2016-01-14 21:17] #83 closed

[2016-01-14 21:18] nlohmann commented on #128
@dariomt - any news on this?

[2016-01-15 06:56] twelsby commented on #181
The smallest legal JSON file that will reproduce the problem contains nothing more the the text `9223372036854775807` (which is `LLONG_MAX` as defined in `<climits>`).

The following is the shortest possible example that reproduces the problem.  Note that it requires Visual Studio due to the `#pragma` and must be built for x64 to cause the problem.
[code]
This can be fixed by the following *outsid

[2016-01-15 07:12] twelsby commented on #181
I should also point out that the workaround outside the library is good enough for my purposes - now that I have identified the problem with the commercial program.  Even if the problem ends up being addressed inside the library I will continue to also apply it on at the boundaries of my DLL so that I don't have these kinds of problems with any other libraries I use (I don't want to check every li

[2016-01-15 13:53] twelsby commented on #181
After looking further into the C99 standard from which `feholdexcept()` and its related functions arise it appears that it may not actually be necessary to invoke the `#pragma`.  From the standard:

Further on it then states:

The intention of `feholdexcept()` *is* to set the default floating point control mode (non-stop) and there is no need to access status flags or change rounding behavior etc

[2016-01-15 16:19] twelsby commented on #178
@gregmarr, I might be missing something but why would a large unsigned value in the JSON be stored as a negative number in the object?

Wouldn't this (in `parser::parse_internal()` at 7880) cause it to be stored as a NumberFloatType:
[code]
My understanding, and I might be wrong, is that the parser casts from a NumberFloatType to an NumberIntegerType and back again and checks if there is a signifi

[2016-01-15 16:36] gregmarr commented on #178
@twelsby I wasn't referring to parsing, I was referring to creating a json object to be formatted as a JSON string:

    basic_json(const CompatibleNumberIntegerType val) noexcept
        : m_type(value_t::number_integer),
          m_value(static_cast<number_integer_t>(val))
    {}

The static cast causes the large positive number, such as uint64_t(-1), to be stored and then output as a negative

[2016-01-15 16:49] Furcube commented on #178
I use uint64_t for generated ID, and I've noticed that logged id differ from id in json. Additionally it will make it harder to interface with java app, where jackson can use BigInteger for large values.

As for overflow. It is not so bad, as it can be range checked outside of library - large numbers will go into NumberFloatType (double), which will allow to do range check.

For example:
[code]
wi

[2016-01-15 16:54] gregmarr commented on #178
std::numeric_limits<uint64_t>::max can not be stored in a double without loss of accuracy, it has too many digits.

[2016-01-16 11:40] twelsby commented on #178
@gregmarr, @Furcube seems to be talking about parsing, or at least that is what his example does.  However I think the behavior you raise is certainly worthy of its own issue.

The loss of accuracy you also mention (which will also occur during parsing because all numbers are parsed initially as doubles so anything larger than 2^53 will have loss of accuracy) may or not be a problem as this behavi

[2016-01-16 12:18] nlohmann commented on #178
@twelsby Which version of MSVC did you try? Currently MSVC 19.0.23506.0 fails to compile the unit tests, see https://ci.appveyor.com/project/nlohmann/json.

[2016-01-16 12:27] twelsby commented on #178
Here is one possible solution, admittedly a not very elegant brute force approach:
[code]
This produces the output
[code]
This is the output I would expect i.e. for:
1. The input is `2^64-1` so when extracted as a `double` it loses accuracy, but as a `uint64_t` it is exact.  As a `int64_t` it gives the wrong but expected result.
2. The input is `2^63-1` so when extracted as a `double` it loses acc

[2016-01-16 12:38] twelsby commented on #178
@nlohmann, yeah that one.  I didn't build the unit tests however and wasn't trying to see if everything worked.  Disregard then.

[2016-01-16 12:41] nlohmann commented on #178
Extending the enum `value_t` to the element `number_unsigned` would also mean that it cannot be stored with `uint8_t`, as it would contain 9 elements. Beside that, your sketched changes could be feasible.

[2016-01-16 12:59] gregmarr commented on #178
It's not a bitfield, so adding another value to the enum doesn't affect the required size.

[2016-01-16 13:58] twelsby commented on #178
I'll try it in the actual code and see how it goes.  Although if anyone has a better idea jump in.

[2016-01-17 11:20] twelsby commented on #178
Well it works well in testing so I have submitted a pull request.  With the existing unit testing the only errors related to type verification, which were expected.  Changing those to accept the new type and it passes.  I added extra (equivalent) unit tests for the new type (very tedious) and they also pass as well as tests that check the behavior in the specific cases discussed here.

[2016-01-17 11:31] nlohmann commented on #178
@gregmarr, I understand that `enum class value_t : uint8_t` defines `uint8_t` as underlying type, so having more than 8 values would be a problem. And as the class has a member of type `value_t`, why would the required size of an object would not depend on the number of different enum values?

(Sorry for the stupid question...)

[2016-01-17 11:50] twelsby commented on #178
@nlohmann I tend to agree with @gremarr.  Unless something funny is going on a `uint_8` based enum should be able to store 256 possible values, assuming there is no need to combine them at once (e.g. OR them together).  If that were the case you would need to manually assign them values as the compiler will otherwise just number them them from 0 in the order in which they are listed.

[2016-01-17 11:57] nlohmann commented on #178
Oh this is so embarrassing... I totally forgot the "8" in `uint8_t` stands for bytes... :flushed:

[2016-01-17 14:37] Furcube commented on #178
uint8_t is 8bit, enums are not bit based, they go like 0,1,2,3...
Anyway, uint8_t will be aligned in memory at least to 32bit, so there's no change in memory consumption if you do not specify #pragma pack. And packed structures can be bad for some architectures which don't support unaligned memory access.

[2016-01-18 08:54] dariomt commented on #128
Sorry, I haven't had time to look into this.
I should have time this week.

[2016-01-18 15:03] dariomt commented on #128
PR ready!
I think I've merged everything correctly.

[2016-01-19 02:31] twelsby commented on #175
This is a small thing but perhaps add something about testing under Valgrind as occasionally (as I found out to my surprise in pull request #183) it can yield different results to a vanilla run.

[2016-01-20 15:38] twelsby commented on #167
The problem can be minimally reproduced with this:
[code]
This is just in a `main()` - no Catch so it is either VS2015 or us.

Intellisense is actually more helpful than the compiler output and points directly to the compiler being unable to decide between two versions of `operator<<`, the 32 bit and the 64 bit.

Helping the compiler find the right one by explicitly casting using this:
[code]
gets

[2016-01-20 20:16] nlohmann commented on #128
Thanks @dariomt for the good job!

[2016-01-20 20:16] #128 closed

[2016-01-20 20:20] nlohmann commented on #175
Thanks for the feedback!

[2016-01-20 20:20] #175 closed

[2016-01-20 20:24] nlohmann commented on #178
FYI: I'll try to close as many issues as possible until the weekend and publish version 1.0.1 then before I can focus on the 2.0.0 release (I would really like to follow [Semantic Versioning](http://semver.org) and treat the change in the public enum `value_t` as API breaking.

[2016-01-20 20:36] nlohmann commented on #181
@twelsby If I understand you correctly, you propose to "guard" the parsing call with something like

[code]

However, then it seems that the same surrounding call could be placed around the whole `basic_json` code outside the library. I am not sure whether the library does anything extraordinary with floating-point numbers in the sense that it should add extra code to protect the user from floatin

[2016-01-20 20:37] nlohmann commented on #174
I do not really see the need to change the library's code nor how a change would look like...

[2016-01-20 20:40] nlohmann commented on #171
Right now, I am clueless how to fix the issue. As The use case is rather specific, I could live with closing the issue as "won't fix".

[2016-01-20 20:47] nlohmann commented on #167
@twelsby Thanks for the detailed analysis. So far, I would be happy if the code would "just compile" with MSVC. As it seems not to be an issue with catch, wrapping `CATCH` expressions with parentheses seems pragmatic enough. Did you try this locally? How many tests would be affected?

[2016-01-20 21:05] nlohmann commented on #177
Apparently, the benchmark has been updated to version 1.0.0: https://github.com/miloyip/nativejson-benchmark/commit/7ca51bd8ad04689751a7dda88a04f9de6c335da0 - I haven't seen the results yet, though.

[2016-01-21 02:50] twelsby commented on #167
@nlohmann, my local testing did *not* include modifying 100% of the affected `CHECK` statements - I only got to about 75% before I decided to try other things, but with the remaining 25% commented out it compiles.  It also complies with the parentheses applied in `catch.hpp` so I have absolutely no doubt it would work - its just the laborious job of making the changes.  I don't think this is the b

[2016-01-21 03:13] twelsby commented on #167
If you want I can add a commit with this code to my pull request and it will show the AppVeyor results or submit another pull request (via a different branch).  I just don't know how to do it without the version 2.0.0 changes short of reverting them, applying this code and then reapplying them (it would be nice if github allowed two forks).

[2016-01-21 03:43] twelsby commented on #181
I think it could have wider application but only in quite rare circumstances.

If you were writing an application using the library and you weren't using any external code then this is not a trap you would be likely to fall into because you would know that you had unmasked the exceptions in your code and *should* anticipate this scenario.

The problem is most severe when an application depends on

[2016-01-21 05:52] twelsby commented on #167
Well I have some more insight into the underlying problem... and another possible fix.

I wish I could claim that it was due to my deep understanding of c++ or inherent genius but alas this is not so because I cheated and took the path of least resistance.

The answer is commit 457bfc24 - this is where it all went wrong.   It was introduced to solve the problem of implicit conversion to strings (i

[2016-01-21 15:22] twelsby opened #185 "Floating point equality"
I made a brief comment about some gcc's paranoid float equality warnings in issue #167 but I feel I need to draw attention to this as a separate matter, specifically the function `static bool approx(const T a, const T b)`, which may not be doing what it is intended to do.  If this function is intended as nothing more than a way to suppress gcc's compiler warning then it is achieving its objective

[2016-01-22 09:26] nlohmann commented on #185
Thanks @twelsby, I originally wanted to suppress a compiler warning, and after some reading I found the `approx` function on StackOverflow. I never cared about the issue, and until your comment, nobody else seemed to care either.

Thanks for having this issue fixed. Unless anyone objects, I shall merge this into the code.

[2016-01-22 14:24] twelsby commented on #171
I have a solution for this.  It turns out that `constexpr` and `static` are irrelevant to the problem, which can be reduced to:
[code]
In addition the following also cause the same problem (c style casts for brevity):
[code]
Yet these all work:
[code]
There is a clear pattern.  The signature of the template we want to instantiate (the path it takes when it works) is this or its `const_reference` c

[2016-01-22 14:41] twelsby commented on #185
Sorry I probably went a bit too far with that.  To be honest the existing code was not harmful and any performance difference improvement would be well beyond splitting hairs and probably nobody does care.  Maybe this is just my pet peeve.

[2016-01-22 14:55] twelsby commented on #144
This is fixed in pull #183 - see issue #167.

[2016-01-22 18:18] nlohmann commented on #185
As I wrote in #183, I think adding `#pragma`s and `#ifdef`s is quite an ugly solution...

[2016-01-22 18:22] nlohmann commented on #171
Hi @twelsby, thanks for the further analysis and solution. I was missing the fact that `char[]` in fact worked...

[2016-01-22 19:13] nlohmann opened #186 "Bugs in miloyip/nativejson-benchmark: floating-point parsing"
I checked the library with the latest https://github.com/miloyip/nativejson-benchmark benchmark suite. There are several errors parsing floating-point numbers:

- Parse Double,Nlohmann (C++11),double02,false
- Parse Double,Nlohmann (C++11),double37,false
- Parse Double,Nlohmann (C++11),double40,false
- Parse Double,Nlohmann (C++11),double44,false
- Parse Double,Nlohmann (C++11),double48,false
- Pa

[2016-01-22 19:15] nlohmann opened #187 "Bugs in miloyip/nativejson-benchmark: roundtrips"
I checked the library with the latest https://github.com/miloyip/nativejson-benchmark benchmark suite. There are several errors in the round trip tests:

- Roundtrip,Nlohmann (C++11),roundtrip20,false
- Roundtrip,Nlohmann (C++11),roundtrip21,false
- Roundtrip,Nlohmann (C++11),roundtrip24,false
- Roundtrip,Nlohmann (C++11),roundtrip25,false
- Roundtrip,Nlohmann (C++11),roundtrip26,false
- Roundtrip

[2016-01-22 19:21] nlohmann commented on #177
I ran the benchmarks locally and encountered some errors. I opened #186 and #187 for this.

[2016-01-22 19:21] #177 closed

[2016-01-22 19:26] nlohmann commented on #187
I wrote a little tool for the roundtrips:

[code]

Here are the results:

- [ ] `[0.0]` -> `[0]`
- [ ] `[-0.0]` -> `[0]`
- [ ] `[5e-324]` -> `[4.94065645841247e-324]`
- [ ] `[2.225073858507201e-308]` -> `[2.2250738585072e-308]`
- [ ] `[2.2250738585072014e-308]` -> `[2.2250738585072e-308]`
- [ ] `[1.7976931348623157e308]` -> `[1.79769313486232e+308]`

Indeed, the output differs from the input.

[2016-01-22 19:30] nlohmann commented on #187
The first two items (`[0.0]` and `[-0.0]`) are parsed and stored as integer `0`, because no precision is lost. As JSON does not define an internal representation of numbers and the value (zero) is the same, I think it's rather nitpicky to treat the output as an error.

[2016-01-22 19:45] nlohmann commented on #186
These are the failing test cases mentioned above:

[code]

[2016-01-22 19:56] nlohmann commented on #186
With the following program, I can reproduce all but the first error:

[code]

Output:

[code]

[2016-01-22 20:23] nlohmann commented on #186
Interestingly, the exact same benchmark is already part of the unit tests (test case "compliance tests from nativejson-benchmark", section "doubles"). There the following comparison code is used:

[code]

[2016-01-22 20:24] nlohmann commented on #186
I am confused :-)

[2016-01-22 20:40] nlohmann commented on #187
FYI: The roundtrips are already part of the unit tests (test case ""compliance tests from nativejson-benchmark", section "roundtrip"), where test case 13, 18-21, and 24-27 are skipped.

[2016-01-22 20:42] nlohmann commented on #171
@twelsby, would it be possible to open a separate PR for this issue?

[2016-01-23 06:47] twelsby commented on #167
Rather than incorporate this in pull #183, I have split it off so that it can be merged for version 1.0.1 (what I should have done to begin with).

[2016-01-23 07:57] twelsby commented on #185
Agreed, although I still think this is the best option.  See my comments in #183.  The other thing is that although it does use pre-processor directives at least it doesn't contaminate the namespace with any `#define`'s.

I have split this off from pull #183 to its own pull #190 so that they can be more easily considered independently.

[2016-01-23 15:23] twelsby commented on #186
The tests all pass on VS2015 with the current code but fail on GCC.  The reason for this is that VS2015 treats `'long double` as a double precision floating point number (64 bits) unless you set certain command line options while GCC treats it as an extended double precision floating point number (80 bits).  The problem is that `get_number()` in version 1.0.1 uses `strtold()` and then casts to a `

[2016-01-23 16:03] gregmarr commented on #186
Where does get_number() in 1.0.1 cast to a double?  Do you mean that the test casts to a double by calling get<double>() instead of get<long double>()?

        long double get_number() const
        {
            const auto float_val = std::strtold(...);
            return (...) ? float_val : NAN;
        }

[2016-01-23 16:50] twelsby commented on #186
Nope, later in the precision check in `parse_internal()`:
[code]
In the default `basic_json`, `number_float_t` is a `double`.  The tests that break are run using this `basic_json`.

[2016-01-23 17:10] twelsby commented on #187
Most of these are silly tests in my opinion and seem pretty contrived.

The exception is -0.  There is an argument for saying that -0 should remain a float.  This is because while 0 = -0, 1/0 != 1/-0 (LHS is positive infinity and RHS is negative infinity).  The 0 case is not so much of a problem because if the user expects a float then it will be cast to 0.0, however -0 would be stored as 0 and ca

[2016-01-24 01:41] twelsby commented on #186
@nlohmann, the reason why `j02.get<double>() == -0.0` yields true in your test but under the benchmark the equivalent yields false is that 0.0 == -0.0.  When tested as doubles you are not simply testing the bit pattern for equality but are performing the mathematical test for equality which ignores the sign for zero.

The benchmark compares them as if they are uint64_t via a union, so it is lookin

[2016-01-24 03:05] twelsby commented on #186
Note that to make the round trip in #187 work a modification has to be made to `dump()` to add the trailing `.0` for floating point numbers that are integers.

[2016-01-24 09:47] #171 closed

[2016-01-24 11:55] #185 closed

[2016-01-24 11:55] nlohmann commented on #185
Thanks!

[2016-01-24 12:00] nlohmann commented on #167
Fixed with #188.

[2016-01-24 12:00] #167 closed

[2016-01-24 12:11] whackashoe opened #192 "What is within scope?"
General question with a few examples:

* json schema
* alternative encodings such as bson or json5 (ability to swap encoder/decoder)
* using multi-precision numbers

But on a grander level - what is the scope of nlohmann/json ? Is it to only support base json? Is it to support base json but make it easy to use weird crap? Or hard to use the above (at the benefit of keeping code easier to work with

[2016-01-24 13:35] nlohmann commented on #192
Hi @whackashoe, thanks for the question.

So far, the goal of the project is to implement [RFC 7159](http://rfc7159.net) in a way that it feels like a first-class datatype in modern C++.

From my point of view:

- BSON is currently out of scope, because there is still a lot to learn from completely implementing JSON while preserving a simple syntax and STL-like interfaces.
- JSON5 is out of scope,

[2016-01-24 13:53] nlohmann commented on #181
I think it is out of scope of the library to fix potential floating point exceptions itself. Instead, I would propose to add the following note to the README file:

--

- As the exact type of a number is not defined in the [JSON specification](http://rfc7159.net/rfc7159), this library tries to choose the best fitting C++ number type automatically. As a result, the type `double` may be used to stor

[2016-01-24 15:37] twelsby opened #194 "Small error in pull #185"
I was just merging the recent commits and encountered a conflict due to a typo in pull #185 (my bad).

At line 4863 is the following:
[code]
The top return value is incorrect as the parenthesis should surround only `lhs.m_value.number_integer`

[2016-01-24 15:39] nlohmann commented on #194
Thanks! I'll fix it.

[2016-01-24 15:42] #194 closed

[2016-01-24 16:16] nlohmann commented on #192
related: #150

[2016-01-24 16:36] nlohmann commented on #187
Update:

- [ ] `[0.0]` -> `[0]`
- [x] `[-0.0]` -> `[-0.0]`
- [ ] `[5e-324]` -> `[4.94065645841247e-324]`
- [ ] `[2.225073858507201e-308]` -> `[2.2250738585072e-308]`
- [ ] `[2.2250738585072014e-308]` -> `[2.2250738585072e-308]`
- [ ] `[1.7976931348623157e308]` -> `[17976931348623157081452742373170435679807056752584499659891747680315726078002853876058955863276687817154045895351438246423432132688946

[2016-01-24 16:38] nlohmann commented on #186
Update: The example program above now outputs `true` for all examples.

[2016-01-24 16:57] nlohmann commented on #186
I reran the benchmark: all double tests succeed now.

[2016-01-24 16:57] #186 closed

[2016-01-24 17:00] nlohmann commented on #187
I reran the benchmark:

Fixed:

- Roundtrip,Nlohmann (C++11),roundtrip21,true

New errors:

- Roundtrip,Nlohmann (C++11),roundtrip13,false
- Roundtrip,Nlohmann (C++11),roundtrip18,false
- Roundtrip,Nlohmann (C++11),roundtrip19,false

Unchanged:

- Roundtrip,Nlohmann (C++11),roundtrip20,false
- Roundtrip,Nlohmann (C++11),roundtrip24,false
- Roundtrip,Nlohmann (C++11),roundtrip25,false
- Roundtrip,N

[2016-01-24 17:09] nlohmann commented on #187
- example 13, input `-1234567890123456789` output `-1234567890123456768`
- example 18, input `1234567890123456789` output `1234567890123456768`
- example 19, input `9223372036854775807` output `9223372036854775808.0`

[2016-01-24 17:39] nlohmann commented on #144
@twelsby, do I understand correctly that this issue was solved by PR #188?

[2016-01-25 02:36] twelsby commented on #181
This sounds a good solution.  I would amend the wording however to draw attention to the cause:

* As the exact type of a number is not defined in the JSON specification, this library tries to choose the best fitting C++ number type automatically. As a result, the type double may be used to store numbers which may yield floating-point exceptions in certain rare situations if floating point excepti

[2016-01-25 02:42] gregmarr commented on #181
Technically they are caused by the library, but it's  only because the exceptions are unmasked, which is not the normal situation.  We can say that the calling code needs to either catch the exception or make sure that exceptions are not unmasked before the library is called.

[2016-01-25 03:24] twelsby commented on #181
@gregmarr, the problem with talking about "catching" the exception is that in the c++ world when you say "catch", people tend to assume that a `try`/`catch` block will catch it but this will not occur unless you specifically install a function to redirect the hardware exceptions to c++ exceptions.  Also, c++ exceptions do not allow the program to continue so if you do this it will abort processing

[2016-01-25 03:45] gregmarr commented on #181
We could use handle instead of catch, but it's not a huge deal either.

[2016-01-25 03:48] twelsby commented on #187
Actually I don't think these are new - or at least they shouldn't be.  I couldn't get the benchmark to successfully run so I uncommented the above tests in `unit.cpp` and encountered them, which is why I mentioned them above.  They will be automatically fixed by the version 2.0.0 `get_number()` method as they are a consequence of the 1.0.1 method of parsing as `double`, which is incapable of holdi

[2016-01-25 13:08] twelsby opened #195 "GCC/clang floating point parsing bug in strtod()"
I have managed to identify the source of the failure to parse the following number:

`1.00000000000000011102230246251565404236316680908203126`

which should parse to:

`1.00000000000000022`

However under gcc/clang *on Travis only* it instead parsed as exactly `1`.  Local gcc/clang builds and AppVeyor builds all ran correctly.

This was mentioned in issue #186 where I speculated that it was likely

[2016-01-25 23:50] twelsby commented on #144
@nlohmann. yes.  Actually it was fixed in 457bfc2 but that created side effects that were fixed in PR #188.  As that pull has now been merged, the current situation on master is that this is fixed.  You should be able to close this issue.

[2016-01-26 03:28] twelsby commented on #181
That would certainly avoid the connotations associated with "catch" but you would need to emphasise that it is not simply enough to *handle* the exception, you must ensure also that program execution resumes unhindered inside the library.

[2016-01-26 03:31] gregmarr commented on #181
In that case, then we have to say that the exceptions must not be unmasked when calling this library.  Nothing else will allow the program execution to continue.

[2016-01-26 03:41] twelsby commented on #181
I think that is the best way to go, although the C signals mechanism would permit control to return so it could still made to work even with them unmasked but I think mentioning that just complicates things unnecessarily.  Better to keep it short and sweet.

[2016-01-26 05:26] nlohmann commented on #144
Thanks!

[2016-01-26 05:26] #144 closed

[2016-01-26 18:13] nlohmann commented on #195
Fixed by merging #196.

[2016-01-26 18:13] #195 closed

[2016-01-26 18:22] nlohmann commented on #181
Thanks for the discussion! I added a note to the README file.

[2016-01-26 18:22] #181 closed

[2016-01-26 18:52] nlohmann commented on #178
Fixed by merging #193. Thanks so much!!!

[2016-01-26 18:52] #178 closed

[2016-01-26 19:16] nlohmann commented on #187
Now all but roundtrip 24-27 work. I'll rerun the benchmarks just to make sure it also works in the setting of https://github.com/miloyip/nativejson-benchmark.

[2016-01-26 20:04] nlohmann commented on #187
Executing the benchmark, 4 errors remain. It is strange, however, that several other libraries seem to be able to pass the tests.

![roundtrip](https://cloud.githubusercontent.com/assets/159488/12593245/5c2a4d38-c470-11e5-915f-3f6ae3060a31.png)

[2016-01-26 20:19] nlohmann commented on #174
@mysyljr Sorry, I really need an actual example to proceed here.

[2016-01-27 06:00] twelsby commented on #187
Well I have achieved 100% 'conformance'.   I will explain further but I am just running some more checks.  This benchmark doesn't seem that fair however as 'conformance' is not measured against any official standard but is really based on how close the output is to 'RapidJSON_FullPrec', so it is inherently biased, especially around floating point where some variation out to be permitted.  As an ex

[2016-01-27 06:58] nlohmann commented on #187
@twelsby Well, it seems as if the benchmark started from the testbench for RapidJSON. I don't think achieving 100% "just because" should not be the goal here - I'd rather want to understand why quite some library seem to "agree" on the output.

[2016-01-28 05:43] twelsby commented on #187
I have only looked at rapidJSON so far but the short answer is essentially that it uses its own custom functions to do both parsing and stringifying of doubles that do not rely on the standard library.

The stringifying function used by rapidJSON simply does not emit a '+' for a positive exponent (unlike the standard library).  As including the '+' sign is optional and therefore legal there will *

[2016-01-28 08:33] nlohmann commented on #187
Hi @twelsby, thanks (again) for the detailed analysis. I think it does not make sense to "fix" the code toward these tests any more. Instead, we should start a discussion about the benchmark, and maybe adding all kind of valid JSON examples which show that it is hard to find "the" correct JSON serialization. I shall play around with some examples and open a PR at miloyip/nativejson-benchmark.

I a

[2016-01-30 02:41] twelsby opened #199 "Small bugs in json.hpp (get_number) and unit.cpp (non-standard integer type test)"
There is a small bug in the following area of json.cpp:
[code]
Here `result.m_value.number_unsigned` should be `result.m_value.number_integer`.

Then in unit.hpp there is another bug:
[code]
The second test for parsing uses an incorrect value.  Instead of `-2147483648` it should read `-2147483649`.

The previous value `-2147483648` should not have wrapped as was intended however the bug in json.hp

[2016-01-30 04:07] twelsby commented on #187
@nlohmann, when I first began investigating this issue it appeared that the only way to pass those tests that depend on particular (arbitrary) floating point representations was to output numbers in the expected form (e.g. `12e3` rather than `12E3`, `12e+3` or `12E+3` and `5e-318` rather than `4.99...e-318`).  Basically this would be *targetting* the test.  Initially I wrote a hack to do just this

[2016-01-30 05:04] twelsby opened #202 "Performance in miloyip/nativejson-benchmark"
Here is the results of testing 1.1.0, 2.0.0 and my proposed changes to 2.0.0 under miloyip/nativejson-benchmark [Results.zip](https://github.com/nlohmann/json/files/110681/Results.zip).

Here is my (possibly naive) interpretation:

**Parse**
Our lexer looks to be pretty good and parsing of strings is about as good as it could be.  Some further improvements could be made in number parsing by incorp

[2016-01-30 12:36] nlohmann commented on #199
Thanks a lot!

[2016-01-30 12:36] #199 closed

[2016-01-30 12:55] nlohmann commented on #202
Thanks for the results! I'll check them with OSX.

Here are some thoughts:
- I also think that the **lexer** is near optimal. This is thanks to re2c, of course.
- The **parser** is quite naive as it is a manual recursive decent parser. I'd really like to have an LALR parser, but I did not find a tool yet that generates C++ code that can be put in a single header file. I may have another look at th

[2016-01-30 15:15] gregmarr commented on #202
It might be interesting to compare performance of  using the default std::map with using std::unordered_map, and the boost flat equivalents.

[2016-01-30 15:41] twelsby commented on #202
I think unordered map would be a good alternative for users doing mainly sequential access and just parse/dump type access.  I definitely think there is value in doing that.

Boost however... definitely not.  I think we are better off avoiding external dependencies - especially a behemoth like Boost.  Or do you just mean implementing something like Boost, but without actually using Boost.

@nlohma

[2016-01-30 15:52] gregmarr commented on #202
I just mean testing it in the benchmark to see what the perfromance differences are, since the class has the ability to specify the class used for objects.  It could give insight into the performance differences and those could be documented for users that need the performance.

[2016-01-30 15:54] nlohmann commented on #202
@gregmarr Yes, checking `std::unordered_map` is a good idea. But I think the change has to be made inside the code. Unfortunately, just changing a template argument does not work (see #164).

[2016-01-30 15:55] gregmarr commented on #202
Ah, I thought that issue had been resolved.

[2016-01-30 15:56] nlohmann commented on #202
Not really. The first fix would break the allocator stuff. (And there is another issue that this part is also flawed...)

[2016-01-30 16:43] nlohmann commented on #187
I opened an issue at miloyip/nativejson-benchmark#33 and hope for a nice discussion. I close this ticket here as we have #201 to discuss.

[2016-01-30 16:43] #187 closed

[2016-01-30 19:06] nlohmann commented on #202
I adjusted the code to make a test with `unordered_map`. Interestingly, the performance is worse:

[code]

[2016-01-30 19:42] gregmarr commented on #202
Could be lots of hash collisions. I would expect better performance on lookups, but not much change elsewhere.  The flat containers from boost might only help in the memory usage and output, insertion may be worse.

[2016-01-30 19:51] nlohmann commented on #176
Further reduction:

[code]

error:

[code]

[2016-01-30 19:58] nlohmann commented on #176
Found this comment on [StackOverflow](http://stackoverflow.com/a/27651070/266378), quoting [cppreference](http://en.cppreference.com/w/cpp/language/direct_initialization):

Indeed, `std::string t = s` works, whereas `std::string t(s)` does not.

[2016-01-30 20:20] nlohmann commented on #163
This issue can be closed:

- The first element of the list is now part of the README file.
- The second element ("Is putting all code in a single header a good idea?") was actually never asked so far.
- The third element of the list is mentioned in the [documentation of type `object_t`](http://nlohmann.github.io/json/classnlohmann_1_1basic__json_a0ac9894c9de8dc551cf2e5f1c605537f.html#a0ac9894c9de8

[2016-01-30 20:20] #163 closed

[2016-01-31 04:19] miloyip commented on #202
I have done some profiling and optimizations on `itoa` and `dtoa` while working on RapidJSON:
* https://github.com/miloyip/itoa-benchmark
* https://github.com/miloyip/dtoa-benchmark

It seems that some C++ standard library are improving their routines in these few years. So it may just get improved in the future. We have faced a locale issue in the past, where the JSON is written as incorrect JSON

[2016-01-31 09:05] nlohmann commented on #187
@twelsby: FYI, at miloyip/nativejson-benchmark#33 floating-point numbers and in particular subnormal doubles are discussed.

[2016-02-02 20:08] #174 closed

[2016-02-06 11:52] nlohmann opened #203 "Inconsistency between operator[] and push_back"
# Situation

When `operator[]` is called on a null value with a `string_t` argument, the value is silently converted to an object. When `operator[]` is called on a null value with an integer argument, an exception is thrown.

This feels inconsistent compared to `push_back`: When `push_back` is called on a null value, the value is silently converted to an object (if the argument was a `string_t`/`j

[2016-02-06 18:53] gregmarr commented on #203
To be clear, do you mean changing this only for integer arguments?

[2016-02-07 08:51] nlohmann commented on #203
I was wrong: the non-const versions of `operator[]` both convert null values to array/object, whereas the const versions throw when applied to a null value. That is, the behavior is OK, and apart from some copy/paste errors in the documentation, everything is fine.

When I opened this issue, I was entirely working with the documentation, got confused, but did not check the source code (which I sho

[2016-02-07 08:51] #203 closed

[2016-02-10 09:42] phogy opened #204 "Conflicting typedef of ssize_t on Windows 32 bit when using Boost.Python"
I'm currently evaluating your JSON library for use in a project that also uses Boost.Python to expose an  API to the app as a Python class. I'm compiling with Python 2.7.11 and Boost.Python in turn includes its `pyconfig.h`, which typedefs `ssize_t` as an `int`.
I'm not entirely sure whether Python or your hpp is correct here but your inclusion of `basetsd.h` and consequtive `using` definition of

[2016-02-10 20:41] #204 closed

[2016-02-10 20:42] nlohmann commented on #204
Hi @phogy, thanks for reporting the issue! In fact, we did not use `ssize_t` at all and I could remove it from the code. It would be great if you could check if the warning disappeared now.

[2016-02-11 10:48] phogy commented on #204
Thanks for your swift action on this! Impressive.
I recompiled for Win 32-bit without any problems now. Still one wonders why pyconfig.h sets it to `int`...
Thanks again!

[2016-02-11 17:01] nlohmann commented on #204
Cool!

[2016-02-15 20:26] #192 closed

[2016-02-16 20:50] nlohmann commented on #164
The fix for this issue is in #209, and the issue with undefined behavior due to incomplete types in `std::unordered_map` is present again.

[2016-02-16 21:05] #176 closed

[2016-02-19 17:41] lilinjn opened #210 "Reading concatenated json's from an istream"
Hi,
Your library is great (and because I am lazy about being lazy, I've typed nlohmann::json so many times that I feel like I practically know you)

I have a file of multiple concatenated, pretty printed json objects that I want to parse.  Is there a way with the current library to split a string in individual json which than can be dealt with as usual (of course, any other reasonable way of skinn

[2016-02-19 18:37] gregmarr commented on #210
Is there anything between the json objects besides whitespace, or maybe newlines only between the objects but nowhere else?  Since you say pretty printed, I'm guessing the newlines is no.  Do you have a small sample you can share?

[2016-02-19 19:37] lilinjn commented on #210
[code]

... would be an example.

basically I am trying to slurp in data from a process which is periodically appending
objects to a file (and I don't want to force the json to be single line to make manual testing/debugging easier) -- my process wakes up, slurps the data, truncates the file, and the process repeats (processes use file locking to avoid races, etc)

thanks!

[2016-02-19 19:39] whackashoe commented on #210
One thing you could try is iterate over the characters and count how many { you have and every time you encounter a } subtract from that counter. Once the counter is 0 you know the end of the first json object.

[2016-02-19 19:45] lilinjn commented on #210
arg, of course.  that sounds good.  Thanks for the help!

[2016-02-19 19:52] whackashoe commented on #210
No prob, have a nice weekend!

[2016-02-20 09:46] abc100m opened #211 "would you like to support gcc 4.8.1?"
our machine which installed centos has gcc 4.8.1 installed, and it's hardly to upgrade to gcc 4.9.  so, would you like to have a work round to support for gcc 4.8.1?

for example, work round for bug 55817 of  gcc 4.8 :

[code]

[2016-02-20 10:37] nlohmann commented on #210
Hi @lilinjn, does the idea of @whackashoe help you?

The format you are using reminds me of [JSON Lines](http://jsonlines.org), but your input seems to be pretty-printed. I have currently no plans supporting such an extension.

[2016-02-21 23:27] lilinjn commented on #210
Yes -- I think it's simpler to roll my own reader based on @whackashoe's
point.  Thanks everyone.

On Sat, Feb 20, 2016 at 5:37 AM, Niels <notifications@github.com> wrote:

[2016-02-22 07:54] nlohmann commented on #210
Ok, then thanks @whackashoe for helping!

[2016-02-22 07:54] #210 closed

[2016-02-27 18:16] lilinjn opened #214 "Memory allocations using range-based for loops"
In the Readme, the following example is provided:
[code]

Does this end up creating a copy of each array element during each iteration?

Are
[code]
and
[code]
better alternatives or is the version in the readme the optimal usage for all scenarios?

(In some sense this is just a basic c++ question.  I don't really know how ranged for loop work in c++, or how to actually check what is happening in e

[2016-02-28 23:58] gregmarr commented on #214
Yes, that first version will copy the elements.  The second version is better.  The third version is the required form if you want to change the elements of the j object itself.

[2016-02-29 00:42] lilinjn commented on #214
Thanks -- not that it really adds much to the effort, but I submitted a PR that tweaks the readme.

[2016-02-29 02:13] zewt commented on #136
I didn't put this in the above, but if you're in Visual Studio for Android:

- In General, set Platform Toolset to Clang 3.,6, and STL to LLVM libc++ (shared or static).
- In Language, set C++ Language Standard to C++11 or newer.
- Add $(VS_NdkRoot)\sources\android\support\include to include directories to work around a VS bug with the LLVM library.

[2016-02-29 20:28] kalumekenge opened #216 "Wide character strings not supported"
[code]
	auto p0 = json::parse(s1);
	auto p1 = p0.dump();
	std::wcout << p1 << std::endl;
VS 2015 Community Edition
 error C2665: 'nlohmann::basic_json<std::map,std::vector,std::string,bool,int64_t,uint64_t,double,std::allocator>::parse': none of the 3 overloads could convert all the argument types
while trying to match the argument list '(std::wstring)'

[2016-02-29 21:03] Themercee opened #217 "Wrong link in the README.md"
Hi,
not a big deal, but there is a link in the readme.md that is not working, near the "Serious testing".

Not working --> https://github.com/nlohmann/json/blob/master/test/json_unit.cc

[2016-03-02 20:58] fh127 opened #219 "Error compile Android NDK error: 'strtof' is not a member of 'std'"
hi, can you help me, this error occurs when it compile with Android NDK

              error: 'strtof' is not a member of 'std'
             return std::strtof(reinterpret_cast<typename string_t::const_pointer>(m_start), endptr);

             error: 'ERANGE' was not declared in this scope
             if (reinterpret_cast<lexer_char_t*>(endptr) != m_cursor || errno == ERANGE)

[2016-03-03 06:35] pnth opened #220 "Conversion to STL map<string, vector<int>> gives error"
I tried to convert a json object to and from STL `map<string, vector<int>>`. The "from" direction works well:

[code]

But the "to" direction gives the following error:

[code]

Is there a way to get around this error?

The library does conversions fine for `map<string, int>`

[code]

I also tried this but did not work either

[code]

This final one works but looks ugly:

[code]

Many thanks

[2016-03-04 06:30] #217 closed

[2016-03-04 06:30] nlohmann commented on #217
Thanks for noting!

[2016-03-06 19:03] #214 closed

[2016-03-06 19:08] nlohmann commented on #220
This could be related to #176.

[2016-03-06 19:17] nlohmann commented on #220
I can reproduce the error.

Clang:

[code]

GCC:

[code]

[2016-03-06 19:35] nlohmann commented on #220
[code]

yields

[code]

This error message is similar to the one of

[code]

which is

[code]

Note that

[code]

fails, whereas

[code]

works.

[2016-03-07 04:23] zer0-x opened #221 "free(): invalid pointer error in GCC 5.2.1"
My old code using GCC 4.8.4 works fine. But today I upgrade my system and recompile the code.
It doesn't run anymore and crashes when I retrieve my data.
What should I do to investigate this more?
![snapshot1](https://cloud.githubusercontent.com/assets/11463928/13560828/f9f60eac-e456-11e5-9e6a-fd5681f274c3.png)

[2016-03-07 06:36] nlohmann commented on #221
Can you please create a small code example so I can check? If this is not possible, can you run your code with Valgrind to get better error messages?

The testsuite is also run with Valgrind and does not detect any memory issues. On Travis, one instance runs with GCC 5.3.0.

[2016-03-07 13:04] zer0-x commented on #221
I resolved the issue, it turned out nothing related to the library at all :smile:
The variable I used in assignment was copied by memcpy (using copied non-Plain Old Data so it crashes).
Somehow the old GCC still supports that trick, which made me believe my code was alright.
Thanks for the suggestions and having created the amazing library.

[2016-03-07 13:04] #221 closed

[2016-03-09 15:57] alestrooisma commented on #211
I am currently using this library with gcc 4.8.2, and so far I have not encountered any issues.
What features would cause problems?

[2016-03-10 08:17] Teemperor commented on #219
For ERANGE see the PR. However, the std::strtof in the latest NDK STL looks fine to me and seems to be correctly used in this project. So I would say that there is a problem in your project setup (outdated NDK, weird defines, wrong STL?) and you rather find a solution in an Android developer forum :).

Also try to only run the preprocessor on the problematic source code and check if the included h

[2016-03-15 08:43] kevin-- opened #223 "abort during getline in yyfill"
I'm experiencing a runtime abort with MSVC 2015 14.0.24720.00 Update 1 while attempting to read a file using the ">>" operator. The file was written by this library as well, using the "<<" operator.
A dialog appears with "abort() has been called", hitting retry drops me into the debugger.

I don't think there's anything very novel about my code:
`
    json document;
    std::ifstream in;
    in.ex

[2016-03-15 17:45] kevin-- commented on #223
by the way, working from the v1.1.0 tag

[2016-03-19 09:05] geromueller opened #224 "replace emplace"
GCC 4.7 does not support std::map::emplace.
On scientific clusters older compilers are often found, e.g. on debian wheezy.

[2016-03-19 09:06] geromueller commented on #224
Just saw the 4.8 bugs section..

[2016-03-19 09:06] #224 closed

[2016-03-20 11:08] nlohmann commented on #224
Hi @geromueller, I understand your problem (I'm often stuck with older GCC versions myself), but making the library run with GCC 4.7 would mean dropping a lot of features.

[2016-03-20 11:17] nlohmann commented on #223
Hi @kevin--, sorry about the bug. As I do not work with Windows/MSVC myself, it's difficult do dig deeper into the issue.

[2016-03-20 19:16] kevin-- commented on #223
I'll take a crack at it this week when I get a chance

[2016-03-20 22:13] ahorn opened #225 "Move semantics with std::initializer_list"
[Line 1564](https://github.com/nlohmann/json/blob/49dc2dff68abb4bbf1f3ee8b0327de7d0a673d16/src/json.hpp#L1564) uses move semantics when working with `std::initializer_list`. But when I debug the type of, say, `element[1]`, using clang++ 3.5 and compiling the unit tests, the compiler deduces a const reference type (see also [std::initializer_list::begin](http://en.cppreference.com/w/cpp/utility/ini

[2016-03-21 15:08] duncanwerner commented on #223
According to http://en.cppreference.com/w/cpp/string/basic_string/getline

[code]

it seems like there's always a call to yyfill at the end of the stream, so if you are masking failbit, it will throw an exception.  As to why you're getting an abort(), perhaps you're using the wrong exception model?

[2016-03-21 18:30] kevin-- commented on #223
@duncanwerner good call. If I do not set the exception mask, then I do not get the abort. Still want to look at this, because my work around of reading into the string then parsing still works. Maybe that method does not use getline.

[2016-03-21 19:13] nlohmann commented on #223
@duncanwerner Thanks for this note. I see if I can "force" this behavior on a system where I can debug.

[2016-03-21 19:15] nlohmann commented on #216
@kalumekenge, I made a branch to fix this version. Unfortunately, it requires the `<codecvt>` header which is not included in many Clang and GCCs out there.

[2016-03-21 19:18] nlohmann commented on #225
@ahorn you are right - http://stackoverflow.com/a/8193157/266378 seems to mention the same issue.

[2016-03-23 15:23] abc100m commented on #211
@alestrooisma  you need build this library and run the provided test case, and then you will see which case will be failed

[2016-03-24 05:42] zenfey commented on #211
make command for json_unit with gcc 4.8.4 leads to error below. am I missing something?

g++ -std=c++11  -Wall -Wextra -pedantic -Weffc++ -Wcast-align -Wcast-qual -Wctor-dtor-privacy -Wdisabled-optimization -Wformat=2 -Winit-self -Wmissing-declarations -Wmissing-include-dirs -Wold-style-cast -Woverloaded-virtual -Wredundant-decls -Wshadow -Wsign-conversion -Wsign-promo -Wstrict-overflow=5 -Wswitch

[2016-03-25 14:39] alestrooisma commented on #211
Well, that seems to be [this bug](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=57824), which is mentioned in [the readme](https://github.com/nlohmann/json#supported-compilers) as a reason why GCC 4.8 is not supported.

[2016-03-30 04:42] kevin-- commented on #223
There are two points of failure, both related to calling `std::getline`
1. if the input file is empty (0 bytes), then the abort occurs on the first call to `std::getline` (2nd line of the `explicit lexer(std::istream* s) noexcept` constructor).
2. Otherwise, it happens when `std::getline` gets no content at the end of the file in `yyfill`

As I have discovered, the reason for the abort is because

[2016-03-30 17:23] nlohmann commented on #211
Closed. See comments in PR #212.

[2016-03-30 17:23] #211 closed

[2016-03-30 18:14] nlohmann commented on #219
I merged PR #222. @fh127, is your issue solved by this?

[2016-03-30 18:18] #225 closed

[2016-03-30 18:20] nlohmann commented on #225
Thanks for noting! I removed the `std::move` calls to remove the appearance that move semantics is applied.

[2016-03-30 18:21] #223 closed

[2016-03-30 18:22] nlohmann commented on #223
I merged #227.

@kevin--, is the issue fixed for you?

[2016-03-30 18:34] kevin-- commented on #223
Yes. There was no real bug, just a clash between `failbit`, `getline` reading 0 chars, and `noexcept`. Though I expect you should be able to reproduce this in other compilers.

[2016-03-31 14:30] jplatte opened #228 "double values are serialized with commas as decimal points"
Might be related to #51. As a workaround I can start my application with `LC_ALL=C`, but this is obviously something that should be fixed in the library. I'm using git master.

[2016-03-31 16:54] nlohmann commented on #228
Hi @jplatte, which locale are you using when the bug occurs?

It's time to approach this issue...

[2016-03-31 20:48] jplatte commented on #228
Not sure exactly how locale identifiers in `std::locale` correspond to the various names on my system, but it should be something like `de_DE.UTF-8`, `de_DE.utf8` or just `de`.

[2016-04-03 14:29] nlohmann commented on #228
Hi @jplatte, could you please try if the attached file works for you?
[json.hpp.zip](https://github.com/nlohmann/json/files/201369/json.hpp.zip)

[2016-04-04 12:58] mireiner opened #229 "Please add a Pretty-Print option for arrays to stay always in one line"
Please add a Pretty-Printing option for arrays to stay always in one line (don't add lines) if dump() parameter > -1 or std::setw()) is set. So that only other JSON types than arrays are expanded.

Example:

[code]

Wanted output:

[code]

Thank you!

[2016-04-05 19:38] nlohmann opened #230 "Incorrect dumping of parsed numbers with exponents, but without decimal places"
The new floating point representation (#201) has a bug when it comes to negative exponents. Number `2342e-2` is correctly duped as `23.42`, but when it is parsed from a string, the output is `2e01`.

Example code:
[code]

Output:
[code]

@twelsby Any idea about this?

[2016-04-05 20:41] nlohmann commented on #228
I created a branch with a fix: https://github.com/nlohmann/json/tree/issue228

@jplatte Could you please check if this works for you?

[2016-04-05 20:42] nlohmann commented on #228
I created a branch with a fix: https://github.com/nlohmann/json/tree/issue228

@jplatte Could you please check if this works for you?

[2016-04-05 20:43] nlohmann commented on #228
I created a branch with a fix: https://github.com/nlohmann/json/tree/issue228

@jplatte Could you please check if this works for you?

[2016-04-06 13:39] jplatte commented on #228
It does work. Thanks!

[2016-04-07 12:23] cfoursan opened #231 "json object's creation can freezes execution"
When I try create json object and if no memory to allocate there is execution freeze instead of std::bad_alloc.

Gdb trace:
Thread 541 (Thread 0x7fc74f64a700 (LWP 133066)):
#0  0x000000000043cf71 in _ZSt3getILm0EIPSt6vectorIN8nlohmann10basic_jsonISt3mapS0_SsblmdSaEESaIS4_EEZNS4_6createIS6_ISt16initializer_listIS4_EEEEPT_DpOT0_EUlS7_E_EENSt11__add_c_refINSt13tuple_elementIXT_ESt5tupleIIDpT0_EEE4typ

[2016-04-07 15:16] #228 closed

[2016-04-07 16:27] nlohmann commented on #231
Hi @cfoursan, which OS and compiler are you using?

[2016-04-07 16:28] nlohmann commented on #228
@jplatte FYI: I now merged the PR.

[2016-04-07 16:39] cfoursan commented on #231
Hi. Sorry, forget about that information.
g++ (Ubuntu 4.8.4-2ubuntu1~14.04.1) 4.8.4
Ubuntu 14.04.3 LTS, Trusty Tahr

[2016-04-07 17:01] nlohmann commented on #231
There are known issues with GCC 4.8's C++11 support (see https://github.com/nlohmann/json#supported-compilers). I am not sure whether this could be the reason for this issue, but could you try with a newer version?

[2016-04-10 14:26] #216 closed

[2016-04-10 19:39] nlohmann commented on #230
There is also an issue with other parsed numbers with exponents, but without decimal separator:

`2342e2` and `23420e1` both serialize to `2e05`.

[2016-04-11 19:04] nlohmann commented on #230
:exclamation: This bug is currently a blocker for the 2.0.0 release, because the serialization of parsed numbers is not correct.

[2016-04-13 08:45] vjjjv commented on #219
I came across the same problem and ended up fixing using a workaround. I hope there would be a cleaner solution though.. What I did:

Add to_string in the beginning of json.pp

---
#include <vector>

#ifdef JSON_ANDROID_WORKAROUNDS
namespace std
{
    template < typename T > std::string to_string(const T& n)
    {
        std::ostringstream stm;
        stm << n;
        return stm.str();
    }
}

[2016-04-13 11:45] robertmrk opened #233 "Can't use basic_json::iterator as a base iterator for std::move_iterator"
While it's possible to move a range of container elements instead of copying them by using the [std::move](http://en.cppreference.com/w/cpp/algorithm/move) algorithm instead of [std::copy](http://en.cppreference.com/w/cpp/algorithm/copy), some copying algorithms like [std::copy_if](http://en.cppreference.com/w/cpp/algorithm/copy) and [std::copy_n](http://en.cppreference.com/w/cpp/algorithm/copy_n)

[2016-04-13 15:59] fh127 commented on #219
Hi, @nlohmann , I tested the commit PR #222, when I am compiling in Android NDK, this error was solved:
                                                   error: 'ERANGE' was not declared in this scope'''
But I have more errores:
                                                   error: 'strtof' is not a member of 'std'
                                                   error: 'strtoll' is not a m

[2016-04-16 10:13] #233 closed

[2016-04-16 10:17] nlohmann commented on #233
Thanks a lot!!!

[2016-04-17 17:18] robertmrk commented on #233
Don't mention it. I'm glad I could help.

[2016-04-18 00:18] vinniefalco commented on #161
This utility class facilitates use of the empty base optimization idiom:
https://github.com/ripple/rippled/blob/develop/src/beast/beast/utility/empty_base_optimization.h

[2016-04-19 03:52] Dimon4eg commented on #219
I use CrystaX NDK and it compile all fine for android.

[2016-04-19 12:05] alestrooisma opened #235 "ambiguous overload for 'push_back' and 'operator+='"
When compiling this very simple program with g++ 4.9.2, I get "ambiguous overload" errors about both the `push_back` and the `operator+=` calls.

[code]

See [here](http://pastebin.com/5MwBXULU) for the compiler output (it's rather large)

[2016-04-19 20:47] nlohmann commented on #235
I confirm the error. With clang 7.3.0 (clang-703.0.29), the error is a bit shorter (but basically the same):

[code]

[2016-04-19 20:56] gregmarr commented on #235
I wonder if having an emplace_back that chained to the vector version would be less ambiguous.

[2016-04-24 18:33] ilikenwf opened #236 ".get<std::string>() works for non spaced string but returns as array for spaced/longer strings"
I'm not sure if this is the expected behavior or not, but seeing as how the json below isn't really returning the "message" as an array, I'm confused as to why I'm having to use [0] to select it...

Assuming the json below:
[code]

Works:
[code]
Doesn't work:
[code]

Works:
[code]

[2016-04-24 18:34] ilikenwf commented on #236
Nevermind, I failed to notice an issue on the API that was sending this...it was wrapping up the message in an array.

[2016-04-24 18:34] #236 closed

[2016-04-25 12:12] robertmrk opened #237 "Additional integration options"
At the moment the only way to integrate the library into a client project is to add the `json.hpp` file to the source tree of the project. In some use cases that might not be the ideal solution.
For instance I'm working on a JSON processing library that uses the nlohmann/json library not only internally but in it's API as well. So client applications which would wan't to use the library would eith

[2016-04-26 15:58] nlohmann commented on #230
@twelsby @gregmarr - Any idea how to fix this?

[2016-04-26 18:32] #237 closed

[2016-04-28 13:46] Aykelith opened #239 "-Wconversion warnings"
I'm using `g++ (i686-posix-dwarf-rev0, Built by MinGW-W64 project) 5.3.0` and `g++ (i686-posix-dwarf-rev1, Built by MinGW-W64 project) 4.9.2` and I'm getting this:

../path/json/json.hpp: In instantiation of 'nlohmann::basic_json<ObjectType, ArrayType, StringType, BooleanType, NumberIntegerType, NumberUnsignedType, NumberFloatType, AllocatorType>::type_data_t& nlohmann::basic_json<ObjectType, Arra

[2016-04-28 22:15] Kamtron commented on #230
Caveat: I'm new to this project (like 1 hour), so please forgive my ignorance.

I drilled down into dump() to try to isolate the problem to either the parser or the formatting.  For this problem case, the underlying data is:
[code]
It seems to me, that the precision should be 4, not 0.  Am I understanding this correctly?

[2016-04-29 03:12] Kamtron commented on #230
Never mind, after looking through the lexer, I realized precision isn't sig figs, but number-of-figs-after-radix in this context.  In which case, 2342e-2 is being lexed and parsed correctly, so I'll look back into the dump formatting again.

[2016-04-29 04:29] Kamtron commented on #230
Since we're using snprintf with "%.*e" to generate the string, wouldn't we want 2342e-2 to dump as 2.342e01?  (since it is going to print one leading digit for scientific notation)

If I detect this particular case, and pack the buffer with precision=3, I can get the test to pass.

My spidey sense tells me that we might need a little more logic in the lexer at this point:
[code]
This logic works f

[2016-04-29 05:31] Kamtron commented on #230
Ok, I have a working fix.

It passes all the old tests, and now we get 2.342e01 instead of 2e01.

I need to clean up my patch before submitting it, but it's getting late (1:30am here), so I'll do that tomorrow.

[2016-04-29 05:44] nlohmann commented on #230
Thanks for looking at the issue @Kamtron! I am looking forward to the fix. Good night! :)

[2016-04-29 19:24] nlohmann commented on #239
Hi @Aykelith, thanks for reporting. As I do not have a Mingw compiler at hand, could you please try the code at https://github.com/nlohmann/json/tree/feature/issue239 which should have less/no warnings.

[2016-04-29 19:28] nlohmann commented on #231
Hi @cfoursan, could you please check again with the most recent could (branch "develop")?

[2016-04-29 22:41] arnaudbrejeon commented on #229
I would really like to be able to improve the dump output, too.
I don't have an exact idea on how to do it. I think the arrays on one-line is a good solution.

[2016-04-29 23:25] Kamtron commented on #230
I have a dumb question.

How do I
[code]
in order to generate json.hpp?  I don't see that target in the makefile anywhere.  I have built re2c and run it on json.hpp.re2c, but that gives me the lexer with all the gotos.

I feel like I'm missing something really simple.

[2016-04-29 23:29] nlohmann commented on #230
@Kamtron,

running `make re2c` should execute

[code]

The Makefile has `src/json.hpp.re2c` as prerequisite, so maybe it is not building because that file was not changed.

If it still does not work, please let me know.

[2016-04-29 23:31] nlohmann commented on #229
Let's assume that the implementation is not the issue - how would the interface to the `dump` function look like? Like https://docs.python.org/2/library/json.html#json.dump ?

[2016-04-30 00:46] Kamtron commented on #230
@nlohmann Thanks.  I never did get it to work with make, but I could get by running the command manually.

[2016-04-30 00:54] arnaudbrejeon commented on #229
I'm not convinced by having so many parameters.
I wonder if the dumps should not be performed by a JsonDumper helper class. We could provide a couple of built-ins:
* denseDumper : never add any line breaking or space, just make the json as compact as possible
* expandDumper : same as current dump, with indent_step as a parameter

and users could inherit from JsonDumper to create their own specific

[2016-04-30 09:30] nlohmann commented on #229
I currently see two approaches to make the serialization more configurable:

### Configurable Separators

One way would be to make the characters that structure a JSON value configurable these characters are

- "," to seperate values
- ":" to seperate keys from values
- "[" and "]" for arrays
- "{" and "}" for objects

The idea would be to configure the serialization by adding whitespace to these

[2016-04-30 11:19] Aykelith commented on #239
json.hpp:2037:22:   required from 'nlohmann::basic_json<ObjectType, ArrayType, StringType, BooleanType, NumberIntegerType, NumberUnsignedType, NumberFloatType, AllocatorType>::basic_json(nlohmann::basic_json<ObjectType, ArrayType, StringType, BooleanType, NumberIntegerType, NumberUnsignedType, NumberFloatType, AllocatorType>&&) [with ObjectType = std::map; ArrayType = std::vector; StringType = std

[2016-04-30 14:28] nlohmann commented on #239
@Aykelith, thanks for checking! I made another change that should get rid of more warnings. Could you please try  https://github.com/nlohmann/json/tree/feature/issue239 again?

[2016-04-30 18:15] arnaudbrejeon commented on #229
I like both ideas.
Maybe the configurable separators could be stored in a struct, and styles would be hard-coded values of the structure.

Something like:

[code]

[2016-05-02 18:41] Aykelith commented on #239
json/json.hpp: In instantiation of 'nlohmann::basic_json<ObjectType, ArrayType, StringType, BooleanType, NumberIntegerType, NumberUnsignedType, NumberFloatType, AllocatorType>::escape_string(const string_t&)::<lambda(int)> [with ObjectType = std::map; ArrayType = std::vector; StringType = std::basic_string<char>; BooleanType = bool; NumberIntegerType = long long int; NumberUnsignedType = long long

[2016-05-03 13:17] mireiner commented on #229
Don't give to much on my words, because I'm a JSON beginner and use it only to store single variables and arrays to JSON configuration files for a single application. Therefore I use exclusively 'dump(4)' for pretty printing.

Except from arrays I'm happy with the actual pretty printing. Because my configuration file got many arrays (with 20 and more items) the pretty printed multiline arrays are

[2016-05-05 12:50] cfoursan commented on #231
Hi @nlohmann, I tried on
g++ (Ubuntu 5.2.1-22ubuntu2) 5.2.1 20151010
Ubuntu 15.10 (Wily Werewolf).

I got std::bad_alloc as expected. So version of GCC could be a reason of this issue.

[2016-05-08 15:18] nlohmann commented on #239
@Aykelith - I made another attempt to fix the warning - see https://github.com/nlohmann/json/tree/feature/issue239.

[2016-05-08 15:24] ChrisKitching opened #241 "Unit test fails when doing a CMake out-of-tree build"
This occurs because it looks for the test data in paths relative to the source tree. Since the test target is not installed, and the test data is not present in the build tree, this fails.

I would suggest making a CMake build option to allow turning off the unit tests, and then making the test data and test binary be installed to the install tree in the conventional way. In-tree builds are, after

[2016-05-08 16:28] nlohmann commented on #235
The problem is that `{"key", "value"}` can be both interpreted as `object_t::value_type` or `std::initializer_list<basic_json>`. A solution could be to add an overload `void push_back(std::initializer_list<basic_json>)` and to create and `object_t::value_type` from that initializer list. First tries broke some tests, so I am not sure whether this will work in the end.

[2016-05-08 16:32] nlohmann commented on #241
Hi @ChrisKitching! I only have limited knowledge of CMake and only used it to create a MSVC project for AppVeyor. As my library is header-only, I am not sure why anyone would actually use "my" CMakeLists.txt file, anyway. Before making any changes to it, I would like to understand the benefits for it.

[2016-05-08 18:45] nlohmann commented on #235
Fixed with last commit to develop branch.

[2016-05-08 18:45] #235 closed

[2016-05-08 18:49] nlohmann commented on #219
@fh127 @Dimon4eg As the code works in your cases, could you please give me a detailed version number of your NDK/GCC so that I can mention it in the README file?

@vjjjv I don't want to add these adjustments to my code, because GCC 4.8 is not supported anyway.

[2016-05-08 18:51] ChrisKitching commented on #241
As you know, the cmake script you have builds the tests and then installs the header.

Some plausible uses of this script (my use-case, too, incidentally):
## Pulling in your library as a CMake `ExternalProject` dependency
Even though it's header only, there's still value in pulling it via `ExternalProject` as it is made explicit which version of your library is used. If I copied the header into m

[2016-05-08 18:56] nlohmann commented on #241
I see. Yes, a PR would be nice. For me, the most important thing is that compiling the unit tests would remain the standard, because otherwise I would have to adjust AppVeyor.

If it is not too much to ask, it would be great if you could double check whether the current Cmakelists.txt is OK and whether it actually has to be that long ;)

[2016-05-08 19:00] Dimon4eg commented on #219
Instead of Google NDK I use CrystaX NDK (latest 10.3.1 from https://www.crystax.net).

[2016-05-08 19:29] vjjjv commented on #219
How about the GCC 4.9, I posted two workarounds for that too?

Its just a bit uncomfortable that a great lib is not compatible with some common dev envs because of such a small changes.. Or am I missing some bigger issues here? Is it so that it's not recommended to use the lib with changes that I made? (I am not super familiar with c++11 "specialities")

[2016-05-08 19:57] gregmarr commented on #219
@vjjjv Can you not use the c++-shared standard library to get the missing to_string function?

[2016-05-08 20:03] arnaudbrejeon commented on #229
Here is a first implementation based on the existing dump:

[code]

and the call:

[code]

[2016-05-08 21:08] nlohmann commented on #229
Hi! I implemented my proposal. Please have a look at https://github.com/nlohmann/json/tree/feature/dump. File doc/examples/dump.cpp contains an example for a call with user-defined parameters.

[2016-05-08 21:10] nlohmann commented on #229
Hi @arnaudbrejeon, I only saw now that you also proposed a way to implement this. Though our approaches are similar, it seems that my realization (https://github.com/nlohmann/json/tree/feature/dump) is a bit more generic as it allows to select for each separating item whether or not to add newlines. It would be great if you could comment on this.

[2016-05-08 21:48] arnaudbrejeon commented on #229
Hi,
your implementation is indeed more generic than mine. It also looks better, as the code for dumping objects and arrays is much simpler now.
From my perspective, it is very nice.

The improvement I would suggest is that we could cache the result of the following code
`s.find('\n') == std::string::npos ` in the lambdas.
I wonder if it can not lead to performance drop for large json files. Not 10

[2016-05-09 06:06] vjjjv commented on #219
I am not sure, because I experience this problem using Unity and Qt frameworks for example - there the NDK settings come predefined and its not very clear if I can change them easily.

[2016-05-09 10:01] alestrooisma commented on #235
Can confirm that it is fixed. Thanks for the fix and the great library!

[2016-05-09 18:40] mireiner commented on #229
Hi,
I'm very glad the pretty-printing will be extended!

But the options are complex and therefore missing the clarity nlohmann::json is popular for.

For example is the option splitting for brackets in empty, open and closed really that usefull? Do we really need all these options in practice? Or does this complexity just lead to more confusion than it helps?

Why not just use a small number of s

[2016-05-09 18:54] nlohmann commented on #229
Thanks for checking, @arnaudbrejeon! Good point with the caching - I made an adjustment: https://github.com/nlohmann/json/commit/2a1d119ef8a8423a229d8ba53c8cac3a08088d43

[2016-05-09 19:00] gregmarr commented on #229
Would this be better as a local variable in `dump()` instead of static variables inside the lambdas, both so that the cache doesn't outlive the function, and hold onto memory unnecessarily, and so it's the same cache across all the lambdas?

[2016-05-09 19:03] nlohmann commented on #229
Indeed! I really need to clean up the code and add more test cases so that bugs like this cannot happen...

[2016-05-09 20:44] nlohmann commented on #229
@mireiner, I understand that adding complexity is nothing we should do light-hearted. At the same time, the originally demanded possibility to configure whether or not to add a comma inside an array goes well beyond the means of Python's [dump](https://docs.python.org/3.4/library/json.html) method. Therefore, I proposed to go all way and to make all aspects of serializing JSON values configurable.

[2016-05-09 21:05] nlohmann commented on #220
If I understand the problem correctly, `std::vector<int> v(j);` fails, because a `json` value can be implicitly converted to a lot of types, including `size_type`.

[2016-05-10 07:47] falemagn commented on #230
Hey guys, any news about the patch?

[2016-05-11 00:53] calkinssean opened #243 "Trouble using parser with initial dictionary"
Hey guys, I'm trying to use this parser along with OneSignal (push notifications) and I'm having a little trouble. It doesn't help that I'm completely new to C++ but I was wondering if you could give me a little point in the right direction. The data I'm trying to parse looks like this:
{
   "coinsAdded": "10",
   "sound": "default",
   "title": "test"
}
and it's in a const char* called additional

[2016-05-11 00:55] calkinssean commented on #243
I forgot to mention I'm using xCode 7.3.1

[2016-05-11 09:49] nlohmann commented on #230
I'll check tonight.

[2016-05-11 12:13] Aykelith commented on #239
No more warnings :D

[2016-05-11 15:27] nlohmann commented on #239
Thanks for reporting and checking!

[2016-05-11 15:27] #239 closed

[2016-05-11 15:41] nlohmann commented on #243
Hi @calkinssean,

I am not sure whether I understand you correctly. But it seems to me that this is what you want:

[code]

[2016-05-11 16:39] calkinssean commented on #243
That did it, sorry for the simplicity of my question, C++ just isn't my field at all. But you guys have done some great work here and the library works beautifully.

[2016-05-11 16:39] #243 closed

[2016-05-11 18:52] #241 closed

[2016-05-11 19:08] nlohmann commented on #231
I still cannot reproduce the error. Can you provide me with concrete code so I can try?

[2016-05-11 19:42] nlohmann commented on #219
Can someone please provide an example project so I can try to execute the build myself? (I have no experience with Android NDK - I just want to install it in an Ubuntu VM and try it myself.)

[2016-05-11 20:24] nlohmann commented on #230
I had a look at #240. I still see the following issue: Some numbers (`2342e-2`, `234200e-4`, `10E3`) are still not serialized to the same string they have been parsed from. Though the actual numerical value is correct in the test cases, the whole point of #201 was to preserve the number representation of parsed numbers. With the current mismatch, the library's behavior is hard to predict as it onl

[2016-05-12 17:04] connormanning commented on #9
Was hoping this had been addressed and came upon this ticket.  I fully agree with @PaulFreund, and I'll throw out alternatives like `json11`, `mjson` (`m` for "modern"), `njson` (`n` for native), etc.  Anything related to the library itself would be an improvement.

[2016-05-12 17:16] gregmarr commented on #9
Using the github username of the main repo as the top level namespace is actually a good practice as it helps to locate the library and prevents any possibility of namespace collisions, at least on github.

If you want to use something else in your own code, you can create your own namespace alias.

http://en.cppreference.com/w/cpp/language/namespace_alias

[2016-05-13 17:51] nlohmann opened #244 "Use user-defined exceptions"
After a small [survey on Reddit](https://www.reddit.com/r/cpp/comments/4izaxc/exception_design_use_default_exceptions_or/) it seems to be a good idea to replace the standard exceptions used in the library right now with user-defined exceptions.

The motivations for this are:
- Better differentiation between exceptions raised by the STL and those raised by the JSON library.
- Clearer semantics of t

[2016-05-14 18:55] whackashoe commented on #244
For simplicity's sake I think it is much easier to deal with libs that have fewer rather than more different types of exceptions (as long as there isn't weird overlaps). So, here's a few suggestions on how that could be done:

[code]

These could be `type_error`

[code]

Could be `invalid_iterator`

[code]

Could be `not_supported` or `invalid_action` or `invalid_method`

[code]

Could be `lookup_

[2016-05-14 19:14] gregmarr commented on #244
I'd recommend that if you add multiple exception classes derived from any std::exception related class, that you have your own base class first, so that they can all be handled at once if the user desires.

[2016-05-15 09:33] nlohmann commented on #9
I think it is too late now to change the name of the namespace...

[2016-05-18 03:35] pawandeep2155 opened #245 "Contribution To This Json Project"
Hello,
I want to contribute to this project and improve my coding skills. I am a beginner-intermediate level programmer. Can anyone please guide me from where to start in order to contribute this project.
Thank You
Pawandeep Singh

[2016-05-18 08:27] nlohmann commented on #245
Hi @pawandeep2155 and thanks for your interest in the project. If you want to contribute, the best way would be to have a look at the [open issues](https://github.com/nlohmann/json/issues) and see if you can help there. You may also want to have a look at the ["WANTED" list](https://github.com/nlohmann/json/blob/develop/.github/CONTRIBUTING.md#wanted) where long-term goals of the project are track

[2016-05-18 08:29] nlohmann opened #246 "Update long-term goals"
File https://github.com/nlohmann/json/blob/develop/.github/CONTRIBUTING.md#wanted is not up to date any more (locale-indepence is achieved, MSVC works, and Travis now also checks OSX).

[2016-05-18 08:47] giordi91 commented on #246
Hi mate, I am using the lib on VS 2015 should be up to date, or one update behind and not having any problem with it, worked out of the box. What kind of compiling error are you referring to?

M.

[2016-05-18 08:51] nlohmann commented on #246
The MSVC job failed for several months, because of some weird (nonstandard) behavior of MSVC. It is fixed now, but I just forgot to remove it from the list. Good to know it works now out of the box! Could you give me the exact version you are using so I can reference it in the README file?

[2016-05-18 08:53] giordi91 commented on #246
I compiled my stuff at work too using version 14.0.24720.00 Update 1. Once
I get home I can tell you the other version aswell but should be close to
this one.

On Wed, May 18, 2016 at 9:51 AM, Niels <notifications@github.com> wrote:

--
Marco Giordano
Software Developer at Frontier Developmet
+447462721890
London(UK)
linkedin  <http://be.linkedin.com/in/marcogiordano3d/>

[2016-05-18 14:09] piotrros commented on #136
Extended workaround:

[code]

Problem is 'strtof' is still missing. Where can I find some good implementation of it?
No, I can't use c++_static/_shared - I use cocos2d-x and this causes tons of errors (I have to use gnustl_static).

[2016-05-18 16:05] nlohmann commented on #136
@piotrros thanks for the input. As I mentioned in https://github.com/nlohmann/json/issues/219#issuecomment-218567583, is there a way to get a step-by-step description so I can automatically test for Android NDK? So far, I often got differing explanations in what works and what not, so I want to test myself before adding code to the library.

[2016-05-18 16:19] gregmarr commented on #136
I would recommend against this library doing the above as a standard part of the code, as it invokes undefined behavior.  Providing it as "use at your own risk code in the documentation" is a slightly different story as the user is in full control and won't affect those who don't need it.

```It is undefined behavior to add declarations or definitions to namespace std or to any namespace nested wi

[2016-05-18 17:31] nlohmann commented on #136
@gregmarr I totally agree that the `std` namespace should not be extended.

In any case, it would be nice to have a reproducible Android environment to experiment.

[2016-05-18 20:17] #246 closed

[2016-05-18 20:23] nlohmann commented on #246
Thanks!

[2016-05-18 21:31] zewt commented on #136
This is how I worked around the Android issues for one particular configuration.  It's nicer than interleaving ifdefs: https://github.com/zewt/json/commit/0e8acd8c19973c584f1996aa1626a2c4e0714adf

Sorry, I don't have any special instructions for setting up an Android environment--the Android native build situation is such a mess I use Visual Studio to do my native work, but that isn't really what

[2016-05-18 21:31] nlohmann commented on #219
Ok, I tried the following: I got Android NDK, Revision 11c and compiled the unit tests with the following files in a subdirectory `Android`:

`Android.mk`:
[code]

`Application.mk`:
[code]

Executing `ndk-build NDK_APPLICATION_MK=./Application.mk` takes a long time, but completes without error.

I have no experience with Android NDK. Can someone please tell me:

- Would the approach above be feasi

[2016-05-18 21:33] nlohmann commented on #136
@zewt thanks for the example! Could you please have a look at https://github.com/nlohmann/json/issues/219#issuecomment-220164560 and help me find a way to reproduce the issues for the future?

[2016-05-21 06:23] spiderkeys opened #248 "Readme documentation enhancements"
I heavily use this library in one of my projects (thanks for the great work!), and have become pretty familiar with a lot of its ins and outs, but I had to figure out some of the usage and default behaviours by reading through the source and test cases (the tests are great when it comes to documentation!). I think it might be helpful for a few things to be more explicit in the readme to help newco

[2016-05-21 08:27] nlohmann commented on #248
Thanks for the input. I am still not happy with the documentation, so far, we have:

- the [README](https://github.com/nlohmann/json/blob/develop/README.md) which should be more a teaser than a piece of documentation,
- the [Doxygen documentation index page](https://nlohmann.github.io/json/) which should be some kind of index to find what one is looking for, and
- the [actual class documentation](

[2016-05-22 16:20] TheAifam5 opened #249 "Hexadecimal support"
Hi,
Would be really nice to add hexadecimal support.

Example:
`
{
    "test1": 0x1,
    "test2": [0x2, 0x3]
}
`

Regards TheAifam5.

[2016-05-22 16:32] nlohmann commented on #249
Hi @TheAifam5, when parsing JSON, this wouldn't comply to [RFC 7159](https://tools.ietf.org/html/rfc7159#section-6). However, you can use hexadecimal numbers in C++ code:

[code]

[2016-05-22 16:43] TheAifam5 commented on #249
Hi @nlohmann,
I know, but would be very useful for example applying patched in program, in Reverse Engineering, in CTFs etc.. :)
Yes i know that is possible to make from C++, but right now impossible from json file. :)

Regards TheAifam5.

[2016-05-22 16:59] nlohmann commented on #249
I understand that there may be a scenario for this, but parsing non-compliant JSON files is out of scope for this library. In the end, JSON is about portability, and any deviation from the standard (though handy for some) would result in more problems further down the road, because other libraries would not support these extensions.

[2016-05-22 16:59] #249 closed

[2016-05-23 16:08] Alain1405 commented on #136
I'd like to bring up that this is not an android-only issue. It is related, I believe, with arm gcc compiler in general.
I'm trying to use this library on the Spark Particle controllers. The code is compiled with `arm-none-eabi-gcc -std=gnu++11 ...` but yet std::string is not defined.

Some hints:
http://stackoverflow.com/questions/19122574/to-string-isnt-a-member-of-std

[2016-05-23 16:34] nlohmann commented on #136
Which gcc version are you using?

Von meinem iPhone gesendet

[2016-05-23 17:09] Alain1405 commented on #136
I'm using gcc11. The issue is with the ARM gcc + newlib toolchain as mentioned in [this thread](https://gcc.gnu.org/ml/libstdc++/2013-10/msg00245.html)

[2016-05-23 17:14] nlohmann commented on #136
Never heard of that version. What's the output for --version?

Von meinem iPhone gesendet

[2016-05-23 17:21] Alain1405 commented on #136
Sorry, I said something stupid in there. I'm using arm-none-eabi-gcc 4.9 . With Particle.io devices, you can compile and flash the firmware from the cloud too. Not sure if the Spark Particle toolchain [still uses 4.8](https://community.particle.io/t/how-to-install-the-spark-toolchain-in-ubuntu-14-04/4139/26) or 4.9, but I get the same error if I build on the cloud. Here's [the particle conversatio

[2016-05-23 21:36] RElesgoe opened #250 "Unable to build example for constructing json object with stringstreams"
http://nlohmann.github.io/json/classnlohmann_1_1basic__json_a9857835334d38ba04959e348ca6be208.html#a9857835334d38ba04959e348ca6be208

- Visual Studio 2015 Update 2
- JSON for Modern C++ 1.1.0

Compiler errors:
[code]

Also unable to pass a ````std::ifstream```` object as well.

[2016-05-23 21:49] nlohmann commented on #250
Thanks for reporting! Could you please also try the latest version from develop branch?

[2016-05-23 22:07] RElesgoe commented on #250
Successfully built using commit a3f432b3dde1d71c8940961947db5938ed11ee91

[2016-05-24 06:58] #250 closed

[2016-05-25 01:35] im95able opened #251 "Encoding"
Is there any way to get which UTF encoding the JSON document is using ?
Thanks in advance

[2016-05-25 05:04] nlohmann commented on #251
To be honest: I am not sure whether the library works with anything other than UTF8. Did you try?

[2016-05-25 17:07] im95able commented on #251
I didn't. I'm currently using your lib for parsing JSON objects I get from SoundCloud. So far everything workes well. Now I am not sure which encoding they use. My guess probably UTF8

[2016-05-25 17:47] nlohmann commented on #251
So I checked and I could parse JSON files encoded as UTF-8 (with and without BOM). Unfortunately, I could not find and UTF16 example. So if anyone can provide such a file, I can add a test case.

[2016-05-25 19:48] nlohmann commented on #219
I had another try with the configuration above and only adjusted the `NDK_TOOLCHAIN_VERSION` parameter:

- android-ndk-r11c
  - no `NDK_TOOLCHAIN_VERSION` given: GCC 4.9 20150123 (prerelease) is used; compiles
  - `NDK_TOOLCHAIN_VERSION := clang`: Clang 3.8.243773  is used; compiles

- android-ndk-r10e
  - no `NDK_TOOLCHAIN_VERSION` given: GCC 4.8 is used; **does not compile**
  - `NDK_TOOLCHAIN_V

[2016-05-25 19:50] nlohmann commented on #136
I checked some more compilers from different NDK versions (see #219). So far, I was not able to reproduce the `'to_string' is not a member of 'std'` error.

[2016-05-25 20:12] nlohmann commented on #219
I forgot to mention: So far, I was not able to reproduce the `'to_string' is not a member of 'std'` error.

[2016-05-25 20:13] nlohmann commented on #245
@pawandeep2155, do you need any assistance?

[2016-05-25 20:13] nlohmann commented on #231
@cfoursan Can you provide me with concrete code so I can try?

[2016-05-25 20:15] nlohmann commented on #230
@twelsby It would be great if you could have a look at this issue.

[2016-05-26 01:47] Kamtron commented on #230
Sorry I haven't gotten back to this thread in a while, it's been a busy few weeks.

Anyhow, to bring @twelsby and anyone else up to speed, here's the core of the issue:

Say we have the following metadata saved about an input decimal number:
[code]
There are multiple ways this could be represented as a string, so we are inherently sunk.  I put a fix into the parser to correctly set the precision t

[2016-05-26 01:47] Kamtron commented on #230
Also, a big thanks to @nlohmann for helping me get up to speed on the project!

[2016-05-26 08:50] mlund opened #252 "concatenate objects"
Hi!
I wish to concatenate two json objects and thought of this:
[code]
which however throws an exception with v1.1.0. Any suggestions how to best do this?
Best, Mikael

[2016-05-26 18:33] nlohmann commented on #252
The exception "cannot use push_back() with object" is due to the fact that `a += b;` is executed as `a.push_back(b);`, and `push_back` is only valid for arrays (see its [documentation](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a80c21170db6b5ffd9274b3f351cebadc.html#a80c21170db6b5ffd9274b3f351cebadc).)

(You originally reported a segmentation fault, and I was worried there was a

[2016-05-26 18:37] nlohmann commented on #219
I checked another NDK:

- crystax-ndk-10.3.1
  - no `NDK_TOOLCHAIN_VERSION` given: GCC 5.3 20151204 is used; compiles
  - `NDK_TOOLCHAIN_VERSION := clang`: Clang 3.7  is used; compiles

[2016-05-26 20:14] vjjjv commented on #219
Thank you for investigating this! Can you try with this Application.mk:

APP_ABI := x86
APP_PLATFORM := android-21
**APP_STL := gnustl_static**
APP_BUILD_SCRIPT := Android.mk

For me, this is how the issue re-produces.

[2016-05-26 21:04] nlohmann commented on #219
Ok, I'll check this weekend. Which NDK version and compiler shall I try?

[2016-05-27 03:33] pawandeep2155 commented on #245
@nlohmann Thank you for your support. But currently I am contributing to another project. I will come back to your project after I finish that.

[2016-05-27 05:02] #245 closed

[2016-05-27 08:05] mlund commented on #252
Thanks for quick response and sorry about the initial text; no bugs indeed! I actually do not know how to achieve what I want, regardless of syntax and I wonder if it's possible to add new objects to `a["sec"]` from another object? The `insert()` method does not allow objects if I understand it correctly. Concretely I have a json object created by a base class, and I need derived classes to add sp

[2016-05-27 13:11] vjjjv commented on #219
For us, r10d GCC 4.9 is relevant

[2016-05-28 10:15] nlohmann commented on #251
After some superficial googling, it seems like UTF16 support for C++ is so limited that I shall conclude that I can only make guarantees for UTF8 at the moment.

[2016-05-28 10:15] #251 closed

[2016-05-28 10:15] nlohmann commented on #231
Closed due to inactivity.

[2016-05-28 10:15] #231 closed

[2016-05-28 10:22] nlohmann commented on #230
@Kamtron Thanks for coming back on this. I currently also tend to reverse #201. As much as I like the idea of having nice roundtrip behavior, the costs for this become more and more apparent.

Since nothing is lost due to versioning, I could move the issue to the long-term whishlist for the library to have it looked at after the 2.0.0 release.

[2016-05-28 11:21] nlohmann commented on #219
I can reproduce the error.

Combinations that do not work:
- NDK10c with `APP_STL := gnustl_static` (using `NDK_TOOLCHAIN_VERSION := clang`)
- NDK11e with `APP_STL := gnustl_static` (using `NDK_TOOLCHAIN_VERSION := clang`)

Combinations that do work:
- NDK10c with `APP_STL := c++_static` (using `NDK_TOOLCHAIN_VERSION := clang`)
- NDK11e with `APP_STL := c++_static` (using `NDK_TOOLCHAIN_VERSION :=

[2016-05-28 11:22] nlohmann commented on #219
(I removed the bug label, because the error is out of scope of the library, but is a known issue for the combination of used options in Android NDK)

[2016-05-28 11:26] nlohmann commented on #248
Hey @spiderkeys, and proposals how to improve the documentation?

[2016-05-28 12:11] vjjjv commented on #219
Interesting results on this one after all. We are using this json-lib in component that has to work with Unity and Qt frameworks - so it might be quite challenging to change to NDK options.

For now we are quite happy with the workarounds I have posted here earlier. It seems that this should not be fixed in the json lib now when we know where the problem originates from.

[2016-05-28 12:37] murinicanor opened #253 "is the release 2.0?"
hi,

i'm working on a debian package for the your json library (because its a build dependency for usbguard). is the master branch already release 2.0? both https://nlohmann.github.io/json/ and the header of src/json.hpp mention 2.0, but the changelog and the releases page still list 1.1.0 as the latest release...

thanks for your work!

cheers,
muri

[2016-05-28 13:57] nlohmann commented on #253
Hi @murinicanor, I recently switched to [gitflow](https://github.com/nvie/gitflow) and left the branches in a bit of mess. The current work is done on the `develop` branch.

The last release is 1.1.0, and version 2.0.0 is still in the planning phase (while I hope to have it out soonish).

[2016-05-28 13:57] #253 closed

[2016-05-28 14:07] nlohmann commented on #219
I added a note to the README file and linked this discussion.

[2016-05-28 14:07] #219 closed

[2016-05-28 14:54] nlohmann commented on #252
Hi @mlund, you can achieve merging objects with the following function:

[code]

It is based on the [`flatten()`](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a5327abb014dec211593b00959830650e.html#a5327abb014dec211593b00959830650e)/[`unflatten()`](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a0389c5dd86adc512e5826d7ff610f776.html#a0389c5dd86adc512e5826d7ff610f776)

[2016-05-28 14:54] #252 closed

[2016-05-28 15:23] maciek-slon opened #254 "Error when using json in g++"
When trying to compile simple program using `devel` branch:

[code]

following error is produced:

[code]

Compiler version:
[code]

Compile command:
[code]

[2016-05-28 15:25] maciek-slon commented on #254
NVM. Missed info about not working in 4.8.

[2016-05-28 15:25] #254 closed

[2016-05-28 18:41] whackashoe commented on #248
[readthedocs](http://read-the-docs.readthedocs.io/en/latest/getting_started.html) is a nice option I think, allows people to check the docs out online which is sometimes more convenient.

[2016-05-29 10:38] cfoursan commented on #231
I'm sorry for late answer. I tried to reproduce the bug on gcc 4.8. But with no success. That's why let this ticket be closed. If the bug will reproduce I'll let you know. Thanks for fast response!

[2016-05-29 10:47] nlohmann commented on #231
Thanks for checking back. I'd love to get rid of all bugs, but you understand I need a way to reproduce it to debug. All the best!

[2016-05-29 12:10] nlohmann commented on #248
readthedocs is nice if you have lots of plain text, but I haven't seen it nicely document C++ functions in a way like [cppreference](http://en.cppreference.com/w/cpp/container/vector/push_back) is doing it. Though all this could be realized by Markdown, I like the approach of Doxygen to pull it out of the source automatically.

[2016-05-29 13:20] ins2718 opened #255 "multiline text values"
[code]
This json-object causes an error. Standard facilities python, php and js correctly handle it.

[2016-05-29 13:26] nlohmann commented on #255
Newline characters must be escaped, see [RFC 7159, Section 7](https://tools.ietf.org/html/rfc7159#section-7):

As `\n` is U+000A, it must be escaped. In your example, `std::string s = "{\"text\":\"line 1\\nline 2\"}";` would be correct.

[2016-05-29 13:26] #255 closed

[2016-05-29 13:28] nlohmann commented on #255
(Side remark: Python fails to parse the string:

[code]

[2016-05-29 13:43] ins2718 commented on #255
Thank you! Standard php-function "json_encode" not escaping new lines, so I thought it was the correct json-object. In python 3.5.1 is no exception.

[2016-05-29 14:15] nlohmann commented on #255
For Python 3.5.1, I get the same error:

[code]

But you are right for PHP's `json_encode` - strange that this function is not compliant to the JSON spec.

[2016-05-29 14:59] mlund commented on #252
Thanks! Alternatively, this also worked for my purpose:
[code]

[2016-05-31 19:13] spiderkeys commented on #248
@nlohmann
Like you, I also feel like the Doxygen is a bit hard on the eyes and not very nice to use. cppreference does a great job in organizing and laying out their documentation, but I have never run into a documentation engine that creates something of that caliber. Unfortunately, Doxygen has been overwhelmingly the documentation engine of choice in almost all projects I've looked at or used. I

[2016-06-01 08:03] mdickie opened #256 "Access keys when iteration with new for loop C++11"
Here is an example where you can access the values of the json object. However, I have no idea to access the keys.
[code]
Here is working example with stl where it is possible to access the keys:
[code]
So there is my question: Is it possible to access these keys with json in a similiar way?

[2016-06-01 18:29] nlohmann commented on #256
Hi @mdickie,

if you iterate explicitly via `for (auto it = j.begin(); it != j.end(); ++j)` you can use `j.key()` and `j.value()` to access the object's key and value, respectively. For range for, this is not possible, because the `value_type` of a `json` object is `json` itself and not something like `std::pair`. To overcome this, there exists an [`iterator_wrapper`](https://nlohmann.github.io/js

[2016-06-01 19:03] nlohmann commented on #248
I shall try the following:

- Take the XML output of Doxygen.
- Write a tool that extracts the required information from this XML file and create HTML documentation that looks more modern (is quite some work, but easier than to do everything via CSS and other Doxygen templating).
- Find a way to group functions so that I can create documentation pages like cppreference.com where several similar fu

[2016-06-01 19:10] spiderkeys commented on #248
That sounds fantastic; I could definitely make use of a tool like that myself. Look forward to seeing what you come up with and can provide support/feedback if/when necessary.

[2016-06-02 10:06] R2RT opened #257 "Few tests failed on Visual C++ 2015"
Hey,
I want to report that 6 out of 32 tests failed once I compiled it with VC++ 2015.
Fortunatelly there are only 15 assertion fails, mainly with error message "parse error - unexpected end of input".

Tested on x86 and x64 debug and release builds.

I can debug it later if needed.

Log attached:
[log.txt](https://github.com/nlohmann/json/files/295312/log.txt)

And build log:
[build.txt](https://

[2016-06-02 11:15] nlohmann commented on #257
I'll have a look into this. Just to make sure:

- Are you using the most recent version from the `develop` branch?
- Which version of MSVC are you using?

I'm asking because AppVeyor could execute all tests successfully (https://ci.appveyor.com/project/nlohmann/json) with MSVC 19.0.23918.0.

[2016-06-02 12:23] R2RT commented on #257
Short answers: yes and same as AppVeyor.
* Commit hash: 04e1e7b5865562c086c9fc02023de0a780c5e669
* Microsoft (R) C/C++ Optimizing Compiler Version 19.00.23918 for x64

I'm not sure what more should I check.

[2016-06-03 19:39] dekonunes opened #258 "Maybe a bug"
My english is not so well, but i'll try show what happening.

I'm creating a genetic algorithm and when create a string with 16 or more bits the lib have a bug, will explain better.

First i'm reading like this:
[code]
I have a class IndividuoBinario with this constructor:
[code]
 Working fine, BUT when i make a pair this bug happen:
[code]
using printf to find the error (error is Segmentation fau

[2016-06-03 20:51] gregmarr commented on #258
[code]

This definitely looks suspect.  As a start, I would rewrite this to use an actual named variable rather than doing funny things with taking addresses of temporaries and then using static_cast.

[code]

[2016-06-03 20:58] dekonunes commented on #258
its not,
put every '1' or '0' and continue the error.
[code]
same problem.

[2016-06-03 22:42] gregmarr commented on #258
The segmentation fault in the ifstream constructor along with gdb saying it's malloc_consolidate points to some kind of memory corruption.

I don't see anything else obviously wrong with the portion of the program that you've posted.
You don't include `getNumeroBits`, so that's a possibility.

Is `cromossomo` a `std::string`?
What is the type of `probMutacao`?
I assume that `quantidadeBitsCadaGene

[2016-06-03 23:21] dekonunes commented on #258
of course:

- Is cromossomo a std::string? yes

- What is the type of probMutacao? int

- I assume that quantidadeBitsCadaGene is std::vector<int> or something similar, and that genes is std::vector<std::pair<int,int>> or something similar. - correct

- What is the value of qtdVariaveis in your .json file? int (min 1..10 max)

- How many instances of IndividuoBinario have you created? created with

[2016-06-03 23:57] gregmarr commented on #258
Next I would see if the json lib is actually involved in the error, by first replacing all the direct calls in the constructor with their respective values, and then in a separate test run removing the parse call in openJson, since it looks like everything should work fine with that input file.

[2016-06-04 15:59] manuporto opened #259 "-Wconversion warning"
I'm receiving a `-Wconversion` warning when including and compiling the latest release of the library. I read https://github.com/nlohmann/json/issues/239 but the errors showed are different (although it's the same flag that sends the warning), also the links present there are down.
Here is the complete output:
[code]

* gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
* Compile flags: `-std=c++11 -Wall -

[2016-06-04 16:16] nlohmann commented on #259
Could you please try the latest version in the `develop` branch? I remember fixing some conversion warnings there.

[2016-06-04 20:30] manuporto commented on #259
I tried with the `develop` version, but now I receive an error that didn't appear with the release library.

[code]

[2016-06-04 20:49] nlohmann commented on #259
This is a known error of GCC 4.8 which is therefore not supported by the library, see https://github.com/nlohmann/json#supported-compilers. Can you try with a more recent compiler?

[2016-06-04 21:10] nlohmann commented on #259
I had another look at your first output. These warnings have been fixed with #239 (see commit https://github.com/nlohmann/json/commit/db5c9ec9bad63e7f439b72aa63350b089a5f1700). (The links are down, because the feature branch has been merged and deleted since.)

[2016-06-04 21:56] manuporto commented on #259
Ok, thanks for your help!

[2016-06-05 00:25] dekonunes commented on #258
I have not thought about it. Did this and continue, so sorry. Will try continue find this bug. thanks a lot for help, and sorry.

[2016-06-05 00:25] #258 closed

[2016-06-05 12:11] nlohmann commented on #257
From the log, it the following files fail to parse:

- data/json_tests/pass1.json:                exported SGML document text
- data/json_tests/pass2.json:                ASCII text, with no line terminators
- data/json_tests/pass3.json:                ASCII text
- data/json_testsuite/sample.json:           data
- data/json.org/1.json:                      ASCII text
- data/json.org/2.json:

[2016-06-06 07:46] aaron3481 opened #260 "VS2015 compile fail"
Hi all,

I'm trying to import json.hpp into my project. When compiling, an error came out and pointed to line 8500 "max = static_cast<uint64_t>(std::numeric_limits<number_integer_t>::max()) + 1;"

Error Code: C2589 '(': illegal token on right side of '::'

[2016-06-06 10:51] R2RT commented on #257
I've checked MD5 of test files. I had automatic line ending int Git set to true. (core.autocrlf true), what indeed made few MD5 checksums to not match yours. After disabling it and redownloading MD5 sums do match, but tests outcome is exactly same as previously - 6 tests, 15 assertions failed.

Here are MD5 sums in both cases:
https://docs.google.com/spreadsheets/d/1Rt31guGmLgbO6q18V9yKSCQYgqrO9E2

[2016-06-06 10:57] nlohmann commented on #260
I'll have a look into this. Just to make sure:

- Are you using the most recent version from the `develop` branch?
- Which version of MSVC are you using?

I'm asking because AppVeyor could execute all tests successfully (https://ci.appveyor.com/project/nlohmann/json) with MSVC 19.0.23918.0.

[2016-06-06 12:58] Epidal commented on #260
I can confirm that this does happen with the most recent commit in VS2015.  This is due to the fact that Windows defines max() and min() as macros in windows.h.  You can avoid the macro expansion by surrounding numeric_limits::max in extra parentheses, like so:
`max = static_cast<uint64_t>((std::numeric_limits<number_integer_t>::max)()) + 1;`

[2016-06-06 14:00] gregmarr commented on #260
You can also add the following to prevent them from being defined, as long as none of your code requires them to be defined, or you can update your code.
```#define NOMINMAX```

[2016-06-06 14:32] aaron3481 commented on #260
Many thanks to all. I will test right the way

[2016-06-06 14:52] aaron3481 commented on #260
@nlohmann I'm using VS Community 2015 Version 14.0.23107.0 D14REL and it is the  most recent version from the develop branch

[2016-06-06 15:21] aaron3481 commented on #260
@Epidal your suggestion fix the issues. Thx
@gregmarr NOMINMAX seems not work

[2016-06-06 15:21] #260 closed

[2016-06-06 16:10] gregmarr commented on #260
You need to define that before including any Windows headers.

[2016-06-06 21:21] nlohmann commented on #260
I committed the fix, but I won't merge it before Travis builds it (there seem to be problems with the LLVM's apt server...)

[2016-06-06 22:11] tanisman opened #261 "'\' char problem in strings"
I am trying to parse this json:

 "window": {
    "texture": "interface\\\ifcommon\\\slibifwnd.ddj",
    "width":330,
    "height":366,
    "position": [0, 0],
    "rect": [0, 0, 330, 366],
    "moveable": true,
    "moverect": [0, 0, 330, 30]
    },

but parser gives me unexpected \ error for string.

IDE: Visual Studio 2015

[2016-06-06 22:29] nlohmann commented on #261
On first sight, there are too many backslashes: there should be two instead of three, because `\i` and `\s` are not allowed according to [RFC 7159, Section 7](https://tools.ietf.org/html/rfc7159#section-7). The correct JSON would be:

[code]

[2016-06-06 22:47] tanisman commented on #261
it has 2 backslashes but my web browser showed one backslash after posting that, than I have edited my post.Here is picture of json:
![image](https://cloud.githubusercontent.com/assets/15254912/15840315/b126c872-2c51-11e6-9d45-0a620aed51aa.png)

[2016-06-06 22:57] nlohmann commented on #261
Can you then please paste the complete JSON as is? The current one begins with `"window"` and closes with `,` which both would be noncompliant.

[2016-06-06 23:05] tanisman commented on #261
[code]

[2016-06-07 00:34] moneroexamples opened #262 "Preseving order of items in json"
Is there a way of cunstring json object so that it preserves the ordering of elements?

For example, this:
[code]

results in a string in different order than originally defined
[code]

I would like to preserve the orginal order, i.e., to get this instead:
[code]

[2016-06-07 00:42] gregmarr commented on #262
See this issue https://github.com/nlohmann/json/issues/106

[2016-06-07 00:47] moneroexamples commented on #262
Thanks, so it seems as there is no "easy" way for this.

[2016-06-07 04:03] #262 closed

[2016-06-07 04:40] nlohmann commented on #261
Thanks. This file is valid JSON, and I can parse it without problems with

[code]

Could you please try this code? Especially, parsing just the string would be interesting.

[2016-06-07 04:40] nlohmann commented on #261
And just to make sure:

- Are you using the most recent version from the `develop` branch?
- Which version of MSVC are you using?

[2016-06-07 11:18] tanisman commented on #261
I figured out the problem;

there is no problem when I use R prefix
[code]
but the problem is backslashes json required format:
`path\\to\\directory`
as you know its presented in C as
`path\\\\to\\\\directory`
I was trying to load from a variable not a file that was my mistake
Thanks for your care!

[2016-06-07 11:23] #261 closed

[2016-06-09 10:59] markand opened #263 "Ambiguous push_back and operator+= overloads"
Hello,

I'm trying to add a property to an object like in the example from the README gif, I get an error about ambiguous overload with the following code using GCC 5.1:

[code]

And the error:

[code]

It works if I use `j += json{{ "anotherkey", false }};` though

[2016-06-09 11:00] markand commented on #263
I've just realized it has been fixed in master branch but only present in 1.x.

[2016-06-09 11:00] #263 closed

[2016-06-09 19:47] RandomSayHello opened #264 "Throw exception instead of crashing my app"
Hi there,

I just wanted to know how I can "predefine" a check-statement.

like, whenever I read something like json["test_me"] and it's non-existant, my app crash.
Is there any simple way to check if this value even exists before it force-read it?

sorry, Imma newbie here. I might explained my question in a totally wrong way .. however, I hope you can help me out! :+1:

[2016-06-09 19:59] gregmarr commented on #264
If you're sure `json` is an `object`, you can do `json.count("test_me")`, and it will return 0 or 1.  If you're not sure, use `json.is_object()` first.

[2016-06-09 20:04] RandomSayHello commented on #264
Thank you very much, gregmarr.

Is there any way to define it "globally" because I'm reading & writing like 300 lines of json (equals 600 lines in visual studio). Means If I have to to json.count on every line ... well, 1200 lines just to read and write 300 lines? You get me...

[2016-06-09 20:24] gregmarr commented on #264
`json`, `json["test_me"]`, and `json["test_me"]["test_you"]` all refer to objects of type `json`, and behave the same way.

As to your first question, I don't understand.  If you try to get a field that doesn't exist, then a const json object throws an exception or a non-const json object creates the field and returns a reference to it.  The only way to get a different behavior is to check if the

[2016-06-09 20:32] RandomSayHello commented on #264
Hoireka, I got it!
`std::string IwantYou = GetJSON[ "test_me" ][ "IamHere" ].is_null( ) ? 0 : GetJSON[ "test_me" ][ "IamHere" ]`

Thank you gregmarr, I tested json.count but apparently there is a json.is_null() function to check if XY exist in the json object!

Is there any way to code a function for that?
I'd like to have something like this:
`std::string IwantYou = Validate(GetJSON[ "test_me" ][

[2016-06-09 20:35] gregmarr commented on #264
If GetJSON is a const object, then you won't even get as far as calling is_null(), because the exception is thrown when you do ["IamHere"].  You could do something like

[code]

[2016-06-10 15:27] nlohmann commented on #264
As a remark: There is also the [`at` function](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a7ed92d56cb313b243c1917696ffdf074.html#a7ed92d56cb313b243c1917696ffdf074) which throws a `std::out_of_range` if the key is not present.

[2016-06-10 15:37] RandomSayHello commented on #264
Thank you very much guys, you helped me a lot! :+1:

[2016-06-10 16:06] #264 closed

[2016-06-10 16:21] gregmarr commented on #264
Lest anyone else that finds this later be confused:
I said that `["something"]` on a `const` object throws if `"something"` doesn't exist.
It actually `assert`s that `"something"` exists.  If you want `throw` instead of `assert`, you need to use `at` instead, as @nlohmann said above.

[2016-06-11 01:15] qis commented on #256
I would propose the name "object_iterator" which more closely resembles [std::filesystem::directory_iterator](http://en.cppreference.com/w/cpp/experimental/fs/directory_iterator).

[2016-06-13 18:03] 06needhamt opened #265 "Compiler Errors With JSON.hpp"
Hi i am experiencing some compiler errors with JSON.hpp the errors are as follows
[code]
This was compiled using Visual Studio 2015 Update 2 on Windows 10 build 10586

Hope this helps fix the issue

[2016-06-13 18:07] gregmarr commented on #265
I'm guessing that this is the same issue as:
https://github.com/nlohmann/json/issues/260

If not, please give the text of the line that shows the error, since 8481 in the latest code is a blank line.

[2016-06-14 06:30] nlohmann commented on #260
Finally merged commit b508d1f to develop branch.

[2016-06-14 06:31] nlohmann commented on #265
I agree with @gregmarr.

@06needhamt, could you please try the latest version of the develop branch? I just merged a fix for the related issue #260 which should fix your problem as well.

[2016-06-14 06:31] nlohmann commented on #257
This is strange...

[2016-06-14 06:42] nlohmann commented on #256
@qis Thanks for the hint! I'll also see whether I can find some inspiration there.

@mdickie Did https://github.com/nlohmann/json/issues/256#issuecomment-223083274 solve your problem?

[2016-06-14 08:50] 06needhamt commented on #265
@nlohmann The issue still occurrs for me when using the develop branch with the error now occuring on line 8507.
However i have made a fix and will send PR shortly

[2016-06-14 09:03] 06needhamt commented on #265
See PR https://github.com/nlohmann/json/pull/266

[2016-06-14 12:56] R2RT commented on #257
Well, sorry for bothering you... I've debbugged it down to lexer constructor (line 7309).
Getline return empty string and stream is in 'fail' state with errno stating 'file not found'.
And this is it.
Once I called tests from proper directory it worked, all tests passed.

That's interesting though that ifstream does not report any bug ealier.

[2016-06-14 12:56] #257 closed

[2016-06-14 13:24] nlohmann commented on #257
Thanks for reporting back!

[2016-06-14 13:27] nlohmann commented on #265
Merged #266. Thanks a lot!

[2016-06-14 13:27] #265 closed

[2016-06-14 19:26] mdickie commented on #256
@nlohmann Yeah, thanks

[2016-06-14 19:55] nlohmann commented on #256
I close this issue. I'm still happy for any comments regarding the name of the `iterator_wrapper`.

[2016-06-14 19:55] #256 closed

[2016-06-17 06:44] cezheng commented on #256
just to share how Swift name it when using `for ... in` to iterate the objects in an array with relevant indexes

[code]

it may look nicer if we define `json::iterator_wrapper` as a member function of json, like this

[code]

[2016-06-17 18:49] MartinNvp opened #267 "Docs - What does Json[key] return?"
### Background
I wanted to loop through the keys of "instruments" (without assuming the nature of the contained values).
[code]
Your main readme.md is great, but seems a tad more focus on _loading_ than reading/querying Json. (The forms of loading are  impressive/elegant.)
All the examples I could find for iterating over JSON object/map content where at the top level. Not nested.

I wanted to know

[2016-06-17 19:13] nlohmann commented on #267
Hi @MartinNvp, there is a [documentation](https://nlohmann.github.io/json/) beyond the README file. It's not great (see #248), but it contains a page for [`operator[]`](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a92fbb711a36b5ce78ee228b26787c034.html#a92fbb711a36b5ce78ee228b26787c034). The return value is a reference (or const reference, when applied to a const variable, just lik

[2016-06-17 19:34] qis commented on #256
I would expect `json::object_iterator` to be a type and not a function.

[2016-06-17 19:40] nlohmann commented on #256
Yes, the `()` looks weird in this setting.

I like Python's [`items()`](https://docs.python.org/2/library/stdtypes.html#dict.items) member function:

(in fact documentation from [xml.etree.ElementTree.items()](https://docs.python.org/3.1/library/xml.etree.elementtree.html#xml.etree.ElementTree.Element.items))

[2016-06-17 19:41] MartinNvp commented on #267
Yes I had read the operator[] docs. And then clicked through into the [Reference type](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a3ec8e17be8732fe436e9d6733f52b7a3.html#a3ec8e17be8732fe436e9d6733f52b7a3). which was in turn defined as value_t.
I had assumed that was may be a variant of simpler types like int/string/array/map...

The recursive definition is cool (may be obvious) bu

[2016-06-17 19:50] nlohmann commented on #267
In fact, [`value_t`](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a231b02148577b69a154b2ce2c87a5522.html#a231b02148577b69a154b2ce2c87a5522) and [`value_type`](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_ac8d45b57874b4a6e9c07f7d3b5daa1f9.html#ac8d45b57874b4a6e9c07f7d3b5daa1f9) are different types. The name `value_type` is used in Containers to refer to the contained

[2016-06-17 20:36] MartinNvp commented on #267
Yes it is as you say, but too subtle for a man in a rush!

[2016-06-17 20:56] MartinNvp commented on #267
An example like this would have helped me the most:
[code]

[2016-06-18 12:34] nlohmann commented on #267
I don't think that such a hint is useful for many others. Nevertheless, I shall try to improve the presentation of the documentation.

[2016-06-18 12:34] #267 closed

[2016-06-19 15:53] nlohmann commented on #230
I opened a feature branch to remove the roundtripping support for floating-point numbers. The code compiles and passes the adjusted test suite, but I have not checked with #201 whether I can remove more code. I tend to pull this into the develop branch and prepare the 2.0.0 release soon.

[2016-06-20 11:11] guygman commented on #259
Hi, I'm running into the same issue, but with commit 15a314a.
I'm using Clang 3.4.2 for Linux

[2016-06-20 18:50] nlohmann commented on #259
This is very strange. Can you please provide the concrete warning output?

[2016-06-21 00:48] michsco opened #268 "dump() method doesn't work with a custom allocator"
Even if #161 isn't fixed, the dump() method still assumes the default allocator is used. Consider the following code:

[code]

This results in a compiler error:
'return': cannot convert from 'std::basic_string<char,std::char_traits<char>,std::allocator<char>>' to 'std::basic_string<char,std::char_traits<char>,MyAllocator<char>>'

The issue is due to the stringstream that is used without specifying

[2016-06-21 10:02] guygman commented on #259
here's the build output.
the error is at the point of instantiation of a class with an nlohmann::json member.

In file included from /home/centos/shared/src_master_origin/common/config.h:8:0,
                 from /home/centos/shared/src_master_origin/common/config.cpp:1:
/home/centos/shared/src_master_origin/common/../3rdparty/json/src/json.hpp: In instantiation of 'nlohmann::basic_json<ObjectTyp

[2016-06-22 05:59] nlohmann commented on #268
I actually never tried to use custom allocators in the string type. Your example shows that there is an apparent disconnect between the (in theory) adjustable `basic_json::string_t` and the (implicitly assumed) `std::string` returned by `str()`.

The quick "fix" would be to replace the return type of `dump` from `basic_json::string_t` to `std::string`, because the type used to store strings inside

[2016-06-22 09:27] MartinNvp commented on #267
up to you.
Any simple statement that json[] returns json would be helpful.

[2016-06-22 17:05] tmyersjstar opened #269 "json::diff generates incorrect patch when removing multiple array elements."
Removing multiple elements from an array will generate a patch which is incorrect.  Here is a unit test that will fail:

[code]

The patch that is generated is the following:
[code]

This fails obviously because first index 2 is removed, and then index 3 is attempted to be removed, but the size is only 2 at this point:

[code]

Sorry if this is already a known issue or not the right way to report

[2016-06-22 17:27] nlohmann commented on #269
Thanks for reporting! My diff algorithm is flawed in this point - I start processing arrays from the beginning, and never realized that I may invalidate indices...

[2016-06-22 17:55] nlohmann commented on #268
I created a branch [`feature/issue268`](/nlohmann/json/tree/feature/issue268) (see a834338) which fixes the compilation error. Please let me know whether this works for you.

[2016-06-22 17:57] tmyersjstar commented on #269
I think I potentially have a fix.  I'll have to think about whether there is something naive with it.

In json::diff, use the following code block in place of what was there (comment remains intact):
[code]

I haven't yet looked through contribution guidelines quite yet, but I will do so later and create a pull request potentially.

[2016-06-22 18:11] nlohmann commented on #269
@tmyersjstar, thanks for your proposal. In fact, I came up with the very same idea: I created a branch [`feature/issue269`](/nlohmann/json/tree/feature/issue269) (see 15a314a and 3f97a5d). Please let me know whether this works for you.

[2016-06-22 18:24] nlohmann commented on #259
Hi @guygman, thanks for providing more information. It seems as if Clang is choking on an implicit conversion from `type_data_t` to `basic_json`. In fact, I am planning to remove `type_data_t` altogether - could you please try to compile your example with [this branch](https://github.com/nlohmann/json/tree/feature/undo-number-roundtrip)?

[2016-06-22 18:28] tmyersjstar commented on #269
Awesome! I am using that latest source in my project and it is working correctly now.  The diff algorithm seems to be working correctly for at least the json objects I am generating.

Thanks for the fix and for creating this library!

[2016-06-22 18:32] nlohmann commented on #269
You're welcome. I shall add a test case and merge the fix to the develop branch.

Just as a remark: The diff algorithm used is really primitive right now. I had a quick glance at what the Python package `jsonpatch` is doing... There is quite some optimization work to do form my side...

[2016-06-22 22:05] #269 closed

[2016-06-23 05:02] michsco commented on #268
I'll take a look at it tomorrow. I actually started working on the custom
allocator support extension this morning as I want to be able to use the
library. I'll merge your change into my feature branch and hope I'll be
able to get the rest of the kinks out. There are definitely some holes
where custom allocators are not being used properly.

On Wednesday, June 22, 2016, Niels <notifications@github

[2016-06-23 05:26] nlohmann commented on #268
Thanks for checking back, and I am looking forward to see (the definitely needed) fixes!

[2016-06-23 07:20] guygman commented on #259
Hi,

compiling with that branch worked much better! there was no conversion error.

[2016-06-23 16:12] nlohmann commented on #230
Merged branch https://github.com/nlohmann/json/tree/feature/undo-number-roundtrip. Number roundtripping support has been removed. The feature may be added again in the future, but the current implementation had too many subtle flaws.

[2016-06-23 16:12] #230 closed

[2016-06-23 16:16] nlohmann commented on #259
That branch has now been merge with develop, see f86fe57 .

[2016-06-23 16:16] #259 closed

[2016-06-23 18:28] michsco commented on #268
I created a fork of the project and a new branch [feature/custom-allocator](https://github.com/michsco/json/tree/feature/custom-allocator) that contains the initial changes. I haven't integrated what you did, but it gives a good head-start on some of the other changes required. I didn't create a pull request yet as there are more changes required.

[2016-06-24 07:27] dtoma opened #270 "hexify() function emits conversion warning"
Hello,

Using gcc `6.1.0`.

Compilation error (`-Wconversion -Werror`):

[code]

[hexify](https://github.com/nlohmann/json/blob/master/src/json.hpp.re2c#L5953):

[code]

Could be written as something like:

[code]

Would you be interested in a PR for such a change?

[2016-06-24 07:36] nlohmann commented on #270
Hi @dtoma, thanks for reporting. Yes, a PR would be great!

[2016-06-27 14:48] duncanwerner opened #272 "dump() performance degradation in v2"
(This should maybe go into #202?)

Testing a switch from v1.1 -> v2.0 I found fairly significant performance degradation in `dump()` with a large set of doubles.  Here's a sample implementation:

[code]

compiled with vs2015 on windows.  Using v1.1 the dump call takes ~550ms.  With 2.0 it takes ~25000ms (50x).  I haven't tested on any other platforms (although I can do that if it's helpful).

Gran

[2016-06-27 15:59] nlohmann commented on #272
The only difference in the `dump()` function seems to be the handling of locales:

1.1.0:

[code]

2.0.0:
[code]

[2016-06-27 16:08] gregmarr commented on #272
Since there's a memory allocation and deallocation around every `number_float` conversion, that could explain it.
Should the `imbue` instead just be done once on the `stringstream` at the top level `dump` call, and then just do `o << m_value.number_float;` as before?

[2016-06-27 16:17] nlohmann commented on #272
Definitely!

[2016-06-27 18:30] kerolex opened #273 "Compilation error."
Please notice this error during compilation phase:

[code]

This error is also repeating on other lines with similar structure.
Please can you tell me if it is just a problem of mine?

My OS is Ubuntu 14.04 LTS and compiler g++ 4.8.

[2016-06-27 18:32] gregmarr commented on #273
This library only supports g++ 4.9 and above.

[2016-06-27 18:37] kerolex commented on #273
Sorry, my distraction. I haven't read carefully the part of compilers in the README.
Thank you for the answer.

[2016-06-27 18:37] #273 closed

[2016-06-28 08:43] nlohmann commented on #272
@duncanwerner Could you please check again with branch https://github.com/nlohmann/json/tree/feature/issue272? There, I moved the locale handling outside the core of the `dump` function so that the locale is only adjusted once per call.

[2016-06-28 12:17] mlutken opened #274 "Using QString as string type"
Hi

It would be very nice if one could do:
using json = nlohmann::basic_json < std::map, std::vector, QString >;

And have everything work.
Right now it seems stringstream are used to stringify etc... So it does not quite compile.

Otherwise I am pretty impressed by the way this library works. Having used hson mostly from PHP, where it's very simple, this is clearly the way to go in C++ :)

-Marti

[2016-06-28 13:22] gregmarr commented on #272
@nlohmann Looks like operator<< should save the locale returned by imbue and restore it after the dump call.

[2016-06-28 14:07] duncanwerner commented on #272
Looks great.  In perf testing, roughly

[code]

also works in my "real" application, but harder to benchmark.  Thanks!

[2016-06-28 17:19] nlohmann commented on #272
@gregmarr Totally forgot about that. I fixed it and added a unit test.

@duncanwerner Thanks for checking!

[2016-06-28 19:25] nlohmann commented on #272
Thanks a lot. I shall make a release soon.

[2016-06-28 19:25] #272 closed

[2016-06-28 20:21] nlohmann commented on #270
Hi @dtoma, if you like, I can add the change myself.

[2016-06-29 02:19] dtoma commented on #270
Hi, I'll do it tonight, just got my dev environment setup.

[2016-06-29 10:48] nlohmann commented on #274
Could you please paste the compiler error you got when trying to use `QString` as string type?

[2016-06-29 12:06] mlutken commented on #274
I will be happy too :)

This is a minimal example:
[code]

I get this from gcc:
	In file included from ../qjson-test/main.cc:3:0:
	../qjson-test/json.hpp: In instantiation of 'nlohmann::basic_json<ObjectType, ArrayType, StringType, BooleanType, NumberIntegerType, NumberUnsignedType, NumberFloatType, AllocatorType>::value_type& nlohmann::basic_json<ObjectType, ArrayType, StringType, BooleanType, Nu

[2016-06-29 13:13] gregmarr commented on #274
[code]

Since this is a private function that is only used with the std::domain_error() constructor, changing the return type of this function to std::string should be fine.  Can you try that and see if there are any other errors?

[2016-06-29 13:14] nlohmann commented on #274
@gregmarr How comes that you are always that fast ;)

[2016-06-29 13:14] gregmarr commented on #274
@nlohmann I'm not sure this function can really be noexcept, since it creates a string object, which may need to allocate memory.

[2016-06-30 08:29] mlutken commented on #274
I will try and see if that helps :-)

[2016-06-30 10:31] mlutken commented on #274
I does help.
Have some trouble with dump(), but will try and explore a little more first :)

[2016-06-30 10:48] mlutken commented on #274
Ok, some is working but this program using dump() gives a lot of compiler errors:
[code]

[2016-06-30 10:49] mlutken commented on #274
Errors here:
	g++ -c -pipe -g -std=gnu++0x -Wall -W -D_REENTRANT -fPIC -DQT_QML_DEBUG -DQT_CORE_LIB -I../qjson-test -I. -I../../../../Qt/5.6/gcc_64/include -I../../../../Qt/5.6/gcc_64/include/QtCore -I. -I../../../../Qt/5.6/gcc_64/mkspecs/linux-g++ -o main.o ../qjson-test/main.cc
	In file included from ../qjson-test/main.cc:4:0:
	../qjson-test/json.hpp: In instantiation of 'nlohmann::basic_json<Ob

[2016-06-30 10:49] mlutken commented on #274
Errors here:

	g++ -c -pipe -g -std=gnu++0x -Wall -W -D_REENTRANT -fPIC -DQT_QML_DEBUG -DQT_CORE_LIB -I../qjson-test -I. -I../../../../Qt/5.6/gcc_64/include -I../../../../Qt/5.6/gcc_64/include/QtCore -I. -I../../../../Qt/5.6/gcc_64/mkspecs/linux-g++ -o main.o ../qjson-test/main.cc
	In file included from ../qjson-test/main.cc:4:0:
	../qjson-test/json.hpp: In instantiation of 'nlohmann::basic_json<O

[2016-06-30 12:29] nlohmann commented on #274
The first error is related to #268: It is implicitly assumed that `std::stringstream::str()` would return `string_t` (which is wrong, it's `std::string`).

Could you try to replace line 2099 with

[code]
?

[2016-07-01 14:58] #270 closed

[2016-07-01 15:25] DPD85 opened #276 "Cannot convert from 'json' to 'char'"
I'm not sure if this is an issue,
but it's not possible to assign a json object to a variable of type char.
With all other integral types it works, only the char type makes error.

Example:

[code]

[2016-07-01 15:37] nlohmann commented on #276
Thanks for reporting!

I tried the code and got the following error message:

[code]

`char` is the character type for `string_t` and is excluded from the possible values for `operator ValueType() const` to avoid ambiguities as these types implicitly convert to `std::string`. I am not sure whether it would make sense to make a change to support this edge case.

[2016-07-01 16:46] mlutken commented on #274
I wll try :)

[2016-07-03 20:54] nlohmann commented on #244
I started a [feature branch](https://github.com/nlohmann/json/tree/feature/userdefined_exceptions) for user-defined exceptions. There is now a class `basic_json::exception` with a subclass `invalid_iterator` which is used in all iterator-related scenarios. The user-defined exception class uses an integer error code to facility better documentation of exceptions - see Doxygen-doucumentation for cla

[2016-07-04 21:51] froatsnook opened #277 "recursive data structures"
Hi, thanks for the great library :). I had a gotcha when working with a recursive data structure.

[code]

I was able to work around this using a pointer:

[code]

Is there a better way to work with `json` in this way?

[2016-07-05 02:07] gregmarr commented on #277
Since curr is a reference to data, it is by definition identical to data.  This includes any change made to it applies to data.  That is not specific to this library in any way.  It is just how C++ works.  What you wrote is identical to this code:

[code]

[2016-07-05 04:19] froatsnook commented on #277
Hey @gregmarr

I see.  I just wonder if there's another way to do it without making a copy of the data?

[2016-07-05 04:19] #277 closed

[2016-07-05 05:14] nlohmann commented on #277
The library cannot store references or pointers at this point, but will always make a copy of the values to store. It thereby mimics the behavior of the STL containers. Sorry about this.

[2016-07-06 11:23] cezheng opened #278 "Do not throw exception when default_value's type does not match the actual type"
Thanks for this great library. I have been quite happy about almost every aspect of the library, except one point about the `value` method on object.

Consider this sample code.

[code]

When I'm using `value` to specify a default value of a key, I pretty much don't care about whether it exists or not, whether it is a valid value or not. It's pretty much like, if it failed to fetch a value of a sp

[2016-07-06 11:24] nlohmann commented on #278
Thanks for reporting. I'll have a look.

[2016-07-06 14:30] gregmarr commented on #277
You can't rebind references.  You need to use a new reference each time, or use something like std::reference_wrapper.  http://en.cppreference.com/w/cpp/utility/functional/reference_wrapper

[2016-07-09 18:30] jackb-p commented on #278
This has been causing me issues too, this addition would be a great help.

[2016-07-10 12:07] nlohmann commented on #278
@cezheng

I understand your use case, but it is different to the described behavior of the `value` function:

(Emphasis added). In your example, there exists an entry with key `b` of value `null`, and you are requesting `value` to cast it to a `std::string` which is not possible - hence the exception from the conversion function.

I am not sure whether your proposed "catch all and return `default_

[2016-07-10 13:52] cezheng commented on #278
@nlohmann That's true if the user cares about error handling. For many real cases, this is just inconvenient. If we really care about whether there's an error, there're plenty of other methods for us to find that out, and providing a default value means we really don't want any exceptions.

[2016-07-10 23:28] gregmarr commented on #278
I'm not sure I agree with that last statement. Providing a different value that what's stored because the caller asked for the wrong type doesn't seem right.

[2016-07-11 13:26] jackb-p commented on #278
What about only if the value is null? To me it makes sense for .value to return the default value if the value is null. For my usage, there is an API that returns JSON, but a certain string is set to null instead of not being present if it is not relevant, and I want to use the default value for this.

[2016-07-12 13:31] jonasseglare opened #280 "Easy serialization of classes"
I am currently using msgpack to serialize my objects in C++, but the msgpack is not human readable, so I am looking at using JSON. The msgpack-c++ library has a very neat macro called ```MSGPACK_DEFINE``` which, in one line, adds msgpack serialization to a class, so that it can be serialized/deserialized to the msgpack format. See example here: https://github.com/msgpack/msgpack-c/wiki/v1_1_cpp_ad

[2016-07-12 20:52] nlohmann commented on #280
I have not thought about going into the serialization business - I think it is a lot of work to do right, and that with [cereal](http://uscilab.github.io/cereal/) there is already a great library for this.

[2016-07-13 07:59] cezheng commented on #278
what about having a nothrow version of value so that users can choose which to use?

[2016-07-13 09:23] guygman opened #281 "strings can't be accessed after dump()->parse() - type is lost"
Hi,

strangely, this code doesn't work and I can't find out what I'm doing wrong....

nlohmann::json out;
out[accessTokenField] = (const string&)accessToken;   // key and value std::strings
std::string tmp1 = out[accessTokenField]; // this works
std::string dump = out.dump(); // 'dump' is - {"accessToken": "b9c6f71f-0a10-4025-9628"}
nlohmann::json in;
in.parse(dump);
std::string tmp2 = in[accessTo

[2016-07-13 16:51] nlohmann commented on #281
The [`parse`](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a35303ad045a06c2a79dc28ac29652e86.html#a35303ad045a06c2a79dc28ac29652e86) function is static and *returns* the parsed JSON value. Instead of

[code]

which does not alter `in` and leaves it as `null`, the code should read

[code]

[2016-07-13 16:51] #281 closed

[2016-07-13 18:42] nlohmann commented on #161
Update: I created a [feature branch](https://github.com/nlohmann/json/tree/feature/allocators) for custom allocators.

[2016-07-15 13:01] felipezacani opened #282 "Build error for std::int64"
When building on Windows with clang, clang defaults to Visual Studio (Windows SDK) headers. There is no int64 defined inside the std namespace.

As specified in http://en.cppreference.com/w/cpp/types/integer, those int64 types (lines 209 and 210) are not defined in std, but open in cstdint.

[2016-07-15 15:06] gregmarr commented on #282
`std::int64_t` is defined in `std`, but in the `<cstdint>` header, which isn't currently included.
Should just be able to add that header.

[2016-07-15 17:44] nlohmann commented on #282
Thanks for reporting!

[2016-07-15 17:50] felipezacani commented on #282
No problem, thanks to you for the best json C++ lib!

[2016-07-18 10:50] prsyahmi commented on #278
We could have a nothrow version
For example in java
json.getString <- throw version
json.optString <- nothrow version

[2016-07-20 07:38] mlutken commented on #274
Hi have been on holiday, but will get back to this problem and try you suggestion.
In fact I convenced one of my coworkers that we should push for using this project at our work too. Currently we use picojson.

[2016-07-20 13:26] markand commented on #278
This bugs me as well, I would like to see much more permissives functions to avoid code like this:

[code]

I would like to see much more permissives implicit conversions functions that also allow casting to default values if not.

[code]

This will help us deserialize untrusted input much easier! Like this:

[code]

What do you think?

[2016-07-20 13:36] gregmarr commented on #278
In that case, untrusted input, would you want that to do a string to number conversion if port were a string?
I think that might be better as something that explicitly calls out that it will do a conversion.

`object ["network"].try_parse("port", 6667);`

It could be as, cast, value_as, ...

[2016-07-20 19:12] #280 closed

[2016-07-20 19:55] nlohmann commented on #278
With this post, I try to summarize the discussion. Please correct me if I misunderstood.

Using the example of @markand, the current `value` function distinguishes these cases when called with

[code]

1. `object["network"]["port"]` exists and holds an integer value, say `8080`. As a result, variable `port` equals `8080`.
2. `object["network"]` has no value with key `"port"`. Hence, the default va

[2016-07-20 20:48] gregmarr commented on #278
4. Leave the `value` function as it is and add another function that in case #3 tries to convert to the type of the default value.

It's roughly equivalent to the differences between Int.Parse and Int.TryParse in C#.

[2016-07-20 21:25] nlohmann commented on #278
@gregmarr What do you mean with "tries to convert to the type of the default value"? Apart from "add another function", isn't this what I described with possibility 3 (note: I edited the original comment, because the sentence stopped in the middle).

[2016-07-20 23:02] gregmarr commented on #278
It's very similar, I just made it explicit by using a different function instead of implicit with the existing function.

[2016-07-21 00:13] clwill opened #283 "value() does not work with _json_pointer types"
It would be great if value(), which supports default values, worked like at() which can handle _json_pointer types.

This would allow the handling of nested objects, and still be robust to missing elements.

To wit:

[code]

This code produces the output:

[code]

Would be nice if it was `2 2 true`.

[2016-07-21 05:11] nlohmann commented on #283
Hi @clwill, thanks for reporting. It definitely makes sense to have the symmetry between `value` and `at`. I shall extend the function once #278 is solved.

[2016-07-21 15:38] clwill commented on #283
Sounds great, thanks.

Chris

[2016-07-21 15:50] rianquinn opened #284 "[question]: macro to disable floating point support"
We are interested in using JSON in our [Bareflank](https://github.com/Bareflank/hypervisor) Hypervisor for both comms and configuration files, and would love to use this implementation. Kernel / Hypervisor code however should not use double / float as these data types can generate exceptions that cannot be handled well inside the kernel.

It appears that you already support signed / unsigned integ

[2016-07-22 07:20] mlutken commented on #274
Now it complains that QString does not have a traits_type nested type:
5.6/gcc_64/include/QtCore -I. -I../../../../Qt/5.6/gcc_64/mkspecs/linux-g++ -o main.o ../qjson-test/main.cc
In file included from ../qjson-test/main.cc:4:0:
../qjson-test/json.hpp: In instantiation of 'nlohmann::basic_json<ObjectType, ArrayType, StringType, BooleanType, NumberIntegerType, NumberUnsignedType, NumberFloatType, Al

[2016-07-22 12:42] nlohmann commented on #274
It seems as if `typename string_t::traits_type` is not available if `string_t` is of type `QString`. I do no know whether it is possible to create suitable string stream for `QStrings`.

I thought about changing the `dump` functions return value to `std::string`, but this would also not help, because there is no implicit conversion from `QString` to `std::string`. I am currently clueless whether t

[2016-07-22 12:47] nlohmann commented on #284
Hi @rianquinn, this sounds interesting!

Did you see this paragraph in the README which could be relevant?

How would you deactivate floating-point support? Did you try setting `number_float_t` to a different type? If possible, I would like to avoid getting to the `#ifdef`-hell...

[2016-07-22 13:00] mlutken commented on #274
Hi again

Since we really would like to use this at work, I spent today hacking a bit in your code.
basically I introduced a Policy class as a template parameter to abstract the problems away :).

Right now the policy class is itself a template, which is probably not strictly necessary.
It work and I will attach my code so far for you to look at.

My only (small) "problem" is the string literal op

[2016-07-22 14:08] gregmarr commented on #274
Do you know what version of the library you used as your starting point?  There's a lot of differences that don't look like they're things that you would have made.

[2016-07-22 14:11] nlohmann commented on #274
@mlutken I had a brief look at your code - I am not sure about the overhead of the abstraction, and I am also unsure whether QStrings justify adding another template parameter... Can you comment on that?

[2016-07-22 15:46] mlutken commented on #274
Well. You already have a lot of template parameters. One of which is the string type. Seems that you can only use at with std:: string types... I really do prefer std:: stuff, but honestly std::string is really not adequate for many applications. QString is probably not perfect either, but it has all the things that std::string is missing like unicode (UTF-8 in particular).

[2016-07-22 15:46] mlutken commented on #274
This I believe is the version I used as starting point.
[json.hpp.zip](https://github.com/nlohmann/json/files/378567/json.hpp.zip)

[2016-07-22 15:52] rianquinn commented on #284
The perfect solution would prevent float / double types / instructions from being compiled into the code. The reality is, so long as the code is not executed, it's fine. I did not try setting number_float_t to a different type, but my guess is it would collide with your existing unsigned / signed ints. The question is, When a JSON string is read, and it sees a "42" and not a "42.0" does it use int

[2016-07-22 16:06] gregmarr commented on #274
@nlohmann Is this a bug?
[code]
s is copied into m_buffer, but then m_content, m_start, and m_cursor are set to point to the passed in string rather than the internal string.

[2016-07-22 16:23] gregmarr commented on #274
There is definitely a performance concern here:
[code]

The first three introduce additional copies of the string which are not necessary StringType is std::string (#1) or when LexerStringType and StringType are the same (#2 and #3).  Changing them to const & would help there.  I'm not sure about #4. I think it's okay.

FYI, you have a typo in a few places, there is only one t in literal.

I can s

[2016-07-22 17:35] mlutken commented on #274
Lexer seems to assume const char* is that not correct?
I did not dig too deep into that part, just looked like it would be hard to make it work with QString. QString "char" type is 16 bit and called QChar which in itself is a class.... so using a for ( auto c: string_t ) will iterate those... Might be possible to get to work..

[2016-07-22 17:36] mlutken commented on #274
#4 is the same your original code so that should execute at same speed. Right ?

[2016-07-22 17:39] mlutken commented on #274
I don't think there are any performance problems in #1, #2, #3 since those function will be inlined and should completely go away. We could try and make them take and rvale reference and call std::move, but I think it does not make a difference. I will try investigate.

[2016-07-22 17:41] mlutken commented on #274
The bug you are asking about:
        /// constructor with a given buffer
        explicit lexer(const string_t& s) noexcept
            : m_stream(nullptr),
              m_buffer(StringPolicyType::toLexerStringtype(s))
        {
            m_content = reinterpret_cast<const lexer_char_t*>(m_buffer.c_str());
            assert(m_content != nullptr);
            m_start = m_cursor = m_content;

[2016-07-22 18:08] gregmarr commented on #274
Yes, that's why I noticed it, pointing it out to @nlohmann in case he didn't notice.

[2016-07-22 18:15] gregmarr commented on #274
Okay, so #1-#3 are currently only used in places that are already making a copy, so while it has the potential to be expensive in general, it probably isn't right now.  However, adding const & on the output of those functions for the String version wouldn't cost anything.

[2016-07-22 18:20] mlutken commented on #274
Do you mean like this:
    static const StringType& toString(const std::stringstream& ss)
    {
        return ss.str();
    }

?

[2016-07-22 18:23] gregmarr commented on #274
That would work for #2 and #3.  It would work for #1 as long as StringType is std::string.  It might get a bit tricky with other types, so maybe this is sufficient

[code]

In any case, it's up to @nlohmann as to whether he wants to pursue this further.

[2016-07-22 18:30] gregmarr commented on #274
I was just thinking this may not need to be another template parameter.
You could just have the helper template class, and specialize it for QString.

[2016-07-22 18:54] mlutken commented on #274
Yes, that was my first idea. This seemed simpler and less QString specific.... But both methods are fine with me :)

[2016-07-22 19:00] mlutken commented on #274
static const StringType& toString(const std::stringstream& ss)
{
return ss.str();
}

This will not work, since then we return a reference to a temporary, which is not good :)

I am a little puzzled why you are so concerned about these function making copies.
I feel pretty sure that with any modern compiler none of these functions will end up being real function calls in the finally generated machi

[2016-07-22 19:11] gregmarr commented on #274
Ah, I forgot that stringstream::str returns by value instead of by reference.

I know that I would expect many things to be inlined and copies elided, but there have been many times where things don't always work as one would expect.

I was worried mainly about places where no copy at all was currently done, but it doesn't seem that there are in fact any of those, and there's always a copy being m

[2016-07-22 19:22] mlutken commented on #274
This one:
static const std::string & toString(const std::stringstream& ss)
{
    return ss.str();
}

Will make a copy, which will in reality be moved since it's std::string and the returned "copy" is a rvalue reference from which the final destination object can simply steal the internal pointer to the actual string data.

And a function like this:
    static LexerStringType toLexerStringtype(cons

[2016-07-22 19:41] nlohmann commented on #274
@gregmarr This surely is a bug, and the current test suite did not find it. I added a test case and committed a change to the `develop` branch.

[2016-07-22 19:47] gregmarr commented on #274
Great.  Thanks to @mlutken for finding it.

[2016-07-22 19:52] nlohmann commented on #284
You're right - setting `number_float_t` to an integer type yields collisions. So far, I do not see a simple solution to exclude any floating-point numbers from the class.

[2016-07-23 07:33] nlohmann commented on #274
My thoughts on this:

- The code must stay independent from any QT header (I am not sure whether it is possible to define something like `template<> class StringPolicy<QString>{ ... };` without providing a type `QString`).
- I would really like to avoid an additional template parameter.
- It would be nice if other string types like `std::wstring`, `std::u16string`, or `std::u32string` could be sup

[2016-07-23 09:14] mlutken commented on #274
We could simply provide the template that has the QT policy class in a separate header so only people needing this would include it.

We could reduce the overall number of template parameters by putting more into policy classes or just into this one. Seems that at least the string type should be included here. That way we are back to same number as before.

By the way: What other types of string d

[2016-07-24 08:42] nlohmann commented on #274
Currently, only `std::string` is supported, but I'm working to allowing different allocator types.

[2016-07-24 09:17] nlohmann commented on #283
As the discussion in #278 got quieter, I extended the `value` function accordingly.

[2016-07-24 09:18] #283 closed

[2016-07-24 17:46] clwill commented on #283
Thanks so much!

Unfortunately, the project I'm currently embroiled in requires CUDA, and their tools only work on VS 2013 (until they release 8.0). And your great code doesn't compile over there... <darn it>

I'll be back to your library when CUDA releases 8.0 in August.

[2016-07-24 22:23] a-x- opened #285 "Error on the Mac: Undefined symbols for architecture x86_64"
I installed json with brew (brew tap nlohmann/json && brew install nlohmann_json).
then i wrote hello world:
[code]
finnaly i ran clang: `clang -std=c++11 -O3 compare-vectors.cpp -o compare-vectors`

[code]

----

Apple LLVM version 7.3.0 (clang-703.0.31)
Target: x86_64-apple-darwin15.5.0
Thread model: posix

[2016-07-24 22:40] nlohmann commented on #285
This is very strange, because all code is checked by Travis, including Xcode 7.3 (see https://travis-ci.org/nlohmann/json/jobs/146965482), so I currently cannot reproduce the error.

Could you please post the complete file `compare-vectors.cpp`. Furthermore, which compiler options are you using, because Homebrew requires to set an include directory which is missing in your example.

[2016-07-24 23:09] a-x- commented on #285
i simplified file:
[code]
[code]
`clang -std=c++11 -O3 compare-vectors.cpp -o compare-vectors`

[2016-07-25 05:45] nlohmann commented on #285
Could you try to execute `brew test nlohmann_json`?

The error message seems similar to issue reported here: http://stackoverflow.com/questions/19637164/c-linking-error-after-upgrading-to-mac-os-x-10-9-xcode-5-0-1 - you may want to try to add `-stdlib=libc++` to the compiler flags.

[2016-07-25 08:32] zyinter2008 opened #286 "can function dump() return string in the order I push in the json object ?"
the program like this:
    json obj = { {"result", "OK"}, {"model", "AAA" } };
    string str = obj.dump();
which i want get { {"result", "OK"}, {"model", "AAA" } }, but it always return {  {"model", "AAA" }, {"result", "OK"} }

[2016-07-25 09:20] markand commented on #278
What about an overload of `value()` that takes the expected value type as additional argument, thus:

1. If the property is missing, return the default value
2. If the property is there but not as expected type, return the default value.

Alternatively, we can just add a function that takes a json object as default value and compare the types directly from the json default value argument.

[code]

[2016-07-25 10:49] a-x- commented on #285
`brew test nlohmann_json` passed correctly.

i tried both `-stdlib=libc++` and `-stdlib=libstdc++`.

i use `xcode.app` now, which uses some sort of magic for running `clang` underhood

it's not ideal but i can live with it

[2016-07-25 11:43] nlohmann commented on #286
This is not possible. JSON objects are, by definition, unordered set of key-value pairs. In the library, I use a `std::map` to store objects, so the keys are always ordered alphabetically. You may want to try if you use https://github.com/nlohmann/fifo_map as `object_t`.

[2016-07-25 11:43] #285 closed

[2016-07-31 13:03] nlohmann commented on #278
@markand I like this approach. I'll have a look.

[2016-07-31 13:55] nlohmann commented on #278
I implemented the proposal of @markand with a slight change: instead of having the user provide a type, the type is derived from the default value. There are two cases:

1. A value is found for the given key which matches the type of the default value; return the value at the key.
2. Return the default value otherwise.

An exception is only thrown if the function is called on a JSON value which is

[2016-07-31 14:12] nlohmann commented on #276
While fixing #144, the following comment has been added to the operator ValueType() function:

I don't think this issue can be fixed without breaking the #144.

[2016-07-31 14:13] nlohmann commented on #274
Here is an old issue #216 where an issue with `std::wstring` was reported.

[2016-07-31 14:57] nlohmann commented on #220
It seems that no one has an idea about this.

[2016-07-31 19:22] nlohmann commented on #229
Is there any further interest in this issue?

[2016-07-31 22:33] mireiner commented on #229
What does 'further interest' mean? I'm still very interested in this topic. Are new pretty printing enhancements already implemented? In which version are they available? Is there any documentation or example available?

[2016-07-31 23:28] jackb-p commented on #278
This solves the issue for me. To me it doesn't matter whether it's a new function (and I don't really know whether it should be :confused:)

[2016-08-01 05:53] nlohmann commented on #229
Nothing new is implemented, but I would have hoped for more ideas or proposals.

No approach so far really seems nice. Furthermore, when `dump()` is extended, these changes may not be available if the stream version `std::cout << j;` is used. I really would like to have a nice way to do this, because the extension alone does not justify an "ugly" fix.

[2016-08-01 06:04] whackashoe commented on #229
imo this seems like something a helper library should handle. As long as someone has access to a tree of json objects it should be pretty trivial to customize how you want them printed out. It'd seem to make most sense to default to the simplest/most compact dump as that covers 99% of use cases and require people to do `std::cout << prettyprint::whitespace_galore(json)` or whatever. You could actu

[2016-08-02 15:47] mariobadr opened #287 "Incorrect parsing of large int64_t numbers"
Hello,

I use dynamic instrumentation to gather information about a program, and then output it using your json library to a file. When I parse the file into a different application using your library, I get different values. Below is a minimal example:

**_main.cpp_**
[code]

**_test.json_**
`
{
  "call": "pthread_mutex_lock",
  "id": 8492065431569638403,
  "object": 139898772169632
}
`

_**Outpu

[2016-08-02 15:56] mariobadr commented on #287
Sorry, just noticed #178 and tried out version 2.0.2 and everything works fine now. Thanks for the awesome library!

[2016-08-02 15:56] #287 closed

[2016-08-02 19:17] nlohmann commented on #287
No worries! :)

[2016-08-04 08:14] vladimirgamalian opened #288 "Silently get numbers into smaller types"
This code:
[code]
prints
[code]
Probably, it would be better, if `get` thrown some exception (maybe `std::out_of_range`).

[2016-08-04 08:39] whackashoe commented on #288
If you are grabbing smaller widths then you must know that the numbers will be small.

[2016-08-04 08:53] vladimirgamalian commented on #288
@whackashoe yes, but the same rule can be apply to get number from a string, nevertheless we have an exception in that case. And, in most cases, json comes from untrusted sources, so we should check all the values from it. For numbers it can be:

[code]

[2016-08-04 09:43] whackashoe commented on #288
If the data you are getting is untrusted, then you must pepper with checks anyways. May as well just read it into the largest width size number you have then check if you can cast downwards from there. Something expected to be a number but is actually "0234hnnnng111111" is I guess exceptional - it isn't a number at all- whereas rest of C++ historically thinks overflow isn't exceptional. I don't un

[2016-08-04 15:07] vladimirgamalian commented on #288
@whackashoe I understood the idea. Maybe my experience with another libs, with separate methods (`get` for strict extraction and `to` for best try conversion) misled me.

[2016-08-04 15:19] whackashoe commented on #288
It's just my opinion on it, very subjective :dancers:

[2016-08-04 18:27] nlohmann commented on #288
[RFC 7159, Section 6](https://tools.ietf.org/html/rfc7159#section-6) states:

and

That said, JSON does not *require* a library to support a specific range for numbers, but *proposes*  to use doubles for floating-point numbers and some type that is able to cope with integers in the range [-(2^53)+1, (2^53)-1].

The library follows this proposal closely, as documented for [integers](https://nlohman

[2016-08-04 18:28] #288 closed

[2016-08-04 20:16] markand commented on #278
It is very nice.

@jackb-p a behaviour change in a public function is considered as breaking change and thus should require a major version upgrade (if following semantic versioning).

For me there is no problem if it is a new function, it's much more explicit.

[2016-08-04 21:10] nlohmann commented on #278
I wouldn't mind putting a changed function into the 3.0.0 release. As #244 would also introduce changes to the public API, a major release should be not too far away.

[2016-08-05 00:37] vladimirgamalian commented on #288
@nlohmann so there is no difference between

    int16_t v = j["foo"].get<int16_t>();

and

    int16_t v = j["foo"];

right ?

And if we have to always test if number (from untrusted sources) is not float, than get them into in64_t, check their range, and cast to smaller type, probably it can be subject to have an additional method for strict cast? (and still have non strict conversion to follow

[2016-08-05 05:16] nlohmann commented on #288
Yes, these lines are equivalent, because `operator T()` calls `get<T>()`. Alternatively, you could write `auto v = j["foo"].get<int16_t>;` if you do not want to repeat the type.

* * *

Numbers are parsed such that the "best" fitting type is used in the following order

- unsigned integer (`uint64_t`)
- signed integer (`in64_t`)
- floating-point number (`double`)

If casting to double would result

[2016-08-08 11:56] markand commented on #244
@whackashoe there are various reasons why we should add own exceptions. For example when you access a property that does not exist or is it invalid, you can throw an exception like `missing_property` or `invalid_property` where you can bundle the property name which is valuable for the user of the library.

The general error message that comes with `what()` is always handy, but sometimes you want

[2016-08-09 09:40] kawing-chiu opened #289 "Horribly inconsistent behavior between const/non-const reference in operator [] ()"
Things like
[code]
works nicely and as expected. However, if `json` is a const reference, the above code will fail by **assertion**. Why is it designed like so? Shouldn't it be better and more consistent to at least throw a `domain_error` instead of fail by assertion? It took me more than one hour to debug this issue when I pass the above json by const reference to another function to extract data

[2016-08-09 13:06] theodelrieu opened #290 "Support for iterator-range parsing"
Hi, it would be handy to add an overload to the `parse` method.

In my code, I deal a lot with `vector<uint8_t>` when communicating with my server.
However I sometimes have to send JSON, and I must convert the buffer to a `std::string`, which is unfortunate.

I know I could typedef basic_json and use `std::basic_string<uint8_t>` as `StringType`.
However, other parts of the code uses the `std::stri

[2016-08-09 15:29] nlohmann commented on #289
Neither version of `operator[](key)` checks if the given key exists and only throw `std::domain_error` when called on a JSON value that is not of type object. Therefore, your code will - in both cases - only catch exceptions indicating that `json` is not a JSON object. The behavior differs in case `key` is not stored in the object:

- The [nonconst version](https://nlohmann.github.io/json/classnlo

[2016-08-09 15:39] nlohmann commented on #290
I think the current implementation would not benefit from an iterator-range access: Inside the parser, I employ a lexer which relies on access to the input via a pointer of type `lexer_char_t*` (`unsigned char*`). For `std::string`, this can be done with casting the result of `c_str()`, and `std::istream`s are copied line by line to a buffer of type `std::string`.

To process a `std::vector<uint8_

[2016-08-09 18:48] mireiner commented on #229
hi nlohmann,

I don't think we come together here.

Because my wishes are so much lesser than yours. I only ask for a tiny feature for arrays to stay always in one line. But your approach seams to be: Either go all the way and make all aspects of serializing JSON values configurable or just stay at it is now.

The other problem is that I'm a beginner / hobbiest programmer and no expert for json ei

[2016-08-09 19:23] nlohmann commented on #229
@mireiner Thanks for checking back! I understand your request, but please understand that I must try to make everyone happy with the API (starting with myself). I shall continue to think about a nice and general interface and let you know about the updates.

[2016-08-10 13:08] theodelrieu commented on #290
So only contiguous containers of 1 byte integrals are supported I believe? (for now at least)
I don't know if counting on the `data()` method is a good thing, what if an user gives a homemade vector, or a `char[]` ?

Maybe it's better to use methods defined in the [Container Concept](http://en.cppreference.com/w/cpp/concept/Container), and use the `std::begin` method. We could `static_assert` that

[2016-08-10 13:25] theodelrieu commented on #290
By the way, we can check for contiguity with the Iterator overload too, which removes some `declval` horror, so I think the iterator prototype is still correct.

Maybe we could add both ?

[2016-08-10 20:56] nlohmann commented on #290
This looks good!

So far, parsing a string or an input stream could rely on an end of string or end of file mark. For this overload, one would need to pass a length to the parser - I guess `std::distance(std::begin(buf), std::end(buf))` would do the job.

Shall I open a feature branch for this?

[2016-08-10 20:57] nlohmann commented on #284
Any idea how to proceed on this?

[2016-08-10 21:03] nlohmann commented on #278
Any further opinion on this?

1. Change `value()` to the described semantics (return the default value if the type at `key` does not match the type of the default value)?
2. Leave `value()` as is and implement the described semantics in a new function for which we would need a name?
3. Anything else? ;)

I currently prefer the first option, because the change affects a corner case that no-one real

[2016-08-10 21:07] rianquinn commented on #284
I think the best thing to do is probably close the ticket. A couple of days ago I grabbed the source and gutted anything with "float" or "double". It only took about 5 mins, and the resulting code worked _great_. Based on those results, this implementation is perfect for what we need it for, but the only way I know to implement this more generically is to use #defines which I would agree would clu

[2016-08-10 21:09] nlohmann commented on #284
This is fine with me. Thanks for the quick response, and maybe we find way to cope with your usecase in a general way!

[2016-08-10 21:09] #284 closed

[2016-08-10 21:20] cezheng commented on #278
Do you mean replacing `value` with `value_with_type`'s implementation? I wouldn't mind either way since all I want is a nothrow version of `value` though.

[2016-08-10 22:44] jackb-p commented on #278
First option sounds good to me then!

Get Outlook for Android<https://aka.ms/ghei36>

From: Niels Lohmann
Sent: Wednesday, 10 August, 10:03 p.m.
Subject: Re: [nlohmann/json] Do not throw exception when default_value's type does not match the actual type (#278)
To: nlohmann/json
Cc: Jack, Mention

Any further opinion on this?

Change value() to the described semantics (return the default value if t

[2016-08-10 22:48] jackb-p commented on #278
Option 1 sounds good to me then.

[2016-08-10 23:41] Dka8 commented on #289
Hello!
I think I have a solution how to

In that metod (string 3616):
[code]
We should simply change this:
[code]
to something like this:
[code]
It works pretty nice for me :-)

[2016-08-10 23:52] gregmarr commented on #289
That's exactly what nlohmann said he doesn't want to do

[2016-08-11 03:17] kawing-chiu commented on #289
Well, I think this problem is not too hard, but it might require some API change. To see what is the appropriate behavior here, let's learn from how others do it.

Since JSON originates from and is heavily used by high-level scripting languages, we consider Python and Javascript's handling of json here (these two languages even have json functionalities built into the language, and these functiona

[2016-08-11 03:43] gregmarr commented on #289
This is *exactly* why the test isn't there.

The assertions are removed when you build with NDEBUG, so there are no assertions when building for production.  They're debugging aids.  Therefore, ignore them.

If the user of the library needs to know whether or not the desired field is there because it's reading from a const object constructed from an unknown source, then it is up to the user of the

[2016-08-11 03:49] gregmarr commented on #289
That is simply not possible.  It would mean that you could not do this:

[code]

[2016-08-11 04:57] kawing-chiu commented on #289
@gregmarr This is not what I mean. I mean 'the const part' should match, of course. In our specific case, it means the behavior on *reading*.

[2016-08-11 05:16] nlohmann commented on #278
@cezheng Yes, this is what I mean with option 1. Note it would still thrown when applied to a JSON type other than an object.

[2016-08-11 05:26] nlohmann commented on #289
@Dka8 The fix you describe is (more or less) the code of the [`at`](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a7ed92d56cb313b243c1917696ffdf074.html#a7ed92d56cb313b243c1917696ffdf074) function which offers checked access to the object. The `operator[]` function skips this check, just as `std::vector` or `std::map` do.

[2016-08-11 05:28] gregmarr commented on #289
I confused your post with dka8's post.
What exactly are you proposing then?

[2016-08-11 05:29] nlohmann commented on #289
@gregmarr I propose to leave everything as is:
- `at` for checked access
- `operator[]` for unchecked access

[2016-08-11 05:39] nlohmann commented on #289
@kawing-chiu I am aware how other languages cope with JSON, and the motivation for this project was "What if JSON was part of Modern C++?". Where possible, I tried to make JSON feel like a part of the STL and basically combined the interfaces of `std::vector` and `std::map`. Both offer with `at` checked access to the elements. `std::vector` also has `operator[]` for both const and nonconst access

[2016-08-11 05:52] gregmarr commented on #289
There is no need for a special preprocessor symbol, assert comes with one as part of the standard, as I mentioned.

I agree with leaving things as is.

[2016-08-11 05:55] nlohmann commented on #289
@gregmarr I agree. I think the main issue of @kawing-chiu is that they did not _expect_ an assertion in this case. I do mention assertions in the README - I am not sure what I can do to avoid such confusions.

[2016-08-11 07:33] theodelrieu commented on #290
Sure!

You want the user to give the length to parse?
Could you show me what prototype you have in mind?

[2016-08-11 07:50] nlohmann commented on #290
If `std::distance` can find out the length, then there is no need for the user to provide the length. (Unless we want to allow for a totally generic `parse(const char*)`.

I do not have a prototype in mind. I would just implement and integrate your proposal into a feature branch so we can find out whether we oversaw a dependency.

[2016-08-11 07:51] kawing-chiu commented on #289
@nlohmann OK, now I see why. Actually, I think Option 1 is the best of three and it make some sense. If we're to follow STL's lead, then just follow as close as possible...

Another possibility I can think of is to define subclass of `std::logic_error`, throw it and let the user know what happen instead of the assertion error.

Either way, I think there should be a section dedicated to it in the r

[2016-08-11 07:55] theodelrieu commented on #290
Oh ok, I misunderstood what you wanted.
If a user wants to use `parse` with a `const char*`, I think the contiguous iterator-range overload does the job pretty well

[2016-08-11 08:31] nlohmann commented on #289
I think providing a function in the flavor of `std::vector` and offer unchecked access also for objects is more consistent than not allowing const access with `operator[]` at all. Anyway, I think the larger issue are the assertions. I don't think throwing an exception is a solution, because this again would introduce a check...

There is currently a [notes section in the README](https://github.com

[2016-08-11 08:47] kawing-chiu commented on #289
Exceptions are not like checks. They are [zero cost](http://stackoverflow.com/questions/13835817/are-exceptions-in-c-really-slow) on the 'normal path'. And unlike assertions they can be catched and won't make your server crash.

As an example: [`std::promise::get_future()`](http://www.cplusplus.com/reference/future/promise/get_future/) uses various kinds of `future_error` exceptions to indicate so

[2016-08-11 08:53] nlohmann commented on #289
With

I meant that one would still need code like

[code]

Or did you mean to have a different assertion macro that throws, so that check would not be executed in production?

[2016-08-11 09:11] kawing-chiu commented on #289
I don't understand the point. You already have it in your `assert()`
[code]
So isn't it just the same in terms of overhead??

[2016-08-11 09:13] nlohmann commented on #289
OK, so you meant this:

:)

[2016-08-11 09:17] nlohmann commented on #289
Ok, so you propose to replace the vanilla `assert` by a function that throws some exception instead. And this function would be a no-op in production, right?

[2016-08-11 09:34] kawing-chiu commented on #289
Well, not exactly. I mean we use the exception for both development and production, like `std::promise::get_future()`.

But since there's `at()`. What really needs to be done I think is to add a section to readme to clarify things and warn the user. At least say explicitly that [] may assert.

is not quite enough. 'There is a minefield'. But where are the mines?

[2016-08-11 16:03] antonovvk opened #291 "Support for integers not from the range [-(2**53)+1, (2**53)-1] in parser"
Currently the test below fails:
[code]
And this is the internal inconsistency.
As far as I know, RFC does not require JSON integers to be in any range.
I think that internal consistency is more important than possible non-interoperability with third-party JSON parsers.

[2016-08-11 16:18] #291 closed

[2016-08-11 16:19] antonovvk commented on #291
Sorry, I was using v1.1.0 and haven't noticed that this is fixed in newer versions.
Thank you for the great lib!

[2016-08-11 18:20] nlohmann commented on #291
No problem - when I saw the title, I though "Man, didn't we already fix this?" ;-)

[2016-08-11 22:38] adamierymenko opened #292 "Equality operator results in array when assigned object"
`an_object = an_object;`

Afterwords `an_object` is an *array* not an object. Easy to test.

[2016-08-11 22:45] #292 closed

[2016-08-11 22:46] adamierymenko commented on #292
Never mind... weird type related bug in my code. Very obscure.

[2016-08-14 15:49] nlohmann commented on #290
I started a feature branch and started with a constructor for the `parser` class that takes an iterator range, see https://github.com/nlohmann/json/blob/feature/iterator_range_parsing/src/json.hpp.re2c#L8195.

It currently only checks if the iterators are random-access. This is, however, not sufficient to guarantee contiguous storage, and I have not found a way to enforce this in C++11. However, f

[2016-08-14 18:08] gregmarr commented on #290
This is not a static property, but a runtime property, unfortunately.  For example, std::deque can be either contiguous or not depending on the size of the deque.

[2016-08-14 19:39] nlohmann commented on #290
@gregmarr Thanks for clarifying. So I think the only way to cope with this is to make clear in the documentation that the behavior is undefined for iterator ranges with non-contiguous storage. Or any better idea?

[2016-08-14 19:45] gregmarr commented on #290
Probably.  You could probably have an assert that you get the same address for begin iterator plus range length, and the end iterator.

[2016-08-14 21:41] nlohmann commented on #290
I added an assertion to do the check from the Stack Overflow article:

[code]

(Any idea how to get the `int i = 0;` inside the lamdba? Making it a static variable did not work)

[2016-08-15 11:57] nlohmann commented on #290
(One way would be to pass `std::pair<bool, int>` to `std::accumulate` and do use this type are result.)

[2016-08-15 20:46] nlohmann commented on #290
I added a [first draft](https://github.com/nlohmann/json/commit/5e67f7af01440b6f91e4aae5bfc792202f6cec8f#diff-d525c458d12b63b74e3cf18acbbe25bbR6015) of the deserialization function. Feedback is greatly appreciated. In particular, it would be nice to maybe weaken the preconditions.

[2016-08-16 08:54] clarkk opened #293 "Q: Is it possible to build json tree from already UTF8 encoded values?"
Is it possible to build a JSON tree from already UTF8 encoded strings?

eg
`utf8 encoded string with Ã¦Ã¸Ã¥`

[2016-08-16 12:07] theodelrieu commented on #290
The 1 byte precondition can be enforced at compile time.

[code]

I don't know if asserting for non-empty range is a good choice, maybe returning a 'null' value would be better?

[2016-08-16 12:26] nlohmann commented on #290
@theodelrieu Right, checking the size can be done at compile time, I will change this. For an empty range, I would rather throw the same assertion as the parser would, but this would require creating some fake data - returning `null` would be problematic, because it would hide potential parse errors.

[2016-08-16 12:29] nlohmann commented on #293
I am not sure what you mean. You can parse any valid JSON text with `json::parse()`, including UTF-8 encoded strings. You can also create a JSON object with type string by calling the constructor with `std::string` or `const char[]`.

[2016-08-16 13:12] theodelrieu commented on #290
I saw you throw some exceptions to indicate parse errors, we might reuse one of those exceptions in this case?
Since we do not assert when a parsing error is encountered (because of invalid json), and since an empty value is an invalid json, I think it would be consistent with the rest of the invalid json handling.

[2016-08-16 16:54] gnzlbg opened #294 "Strip comments / Minify"
While comments are not part of JSON, some people (particularly those writting JSON files by hand sometimes add comments to them). That makes those files not JSON anymore. The typical solution when one wants to process one of those files as JSON is to "minify" them first.

Is it possible to strip comments / minify json files before parsing them as json?

[2016-08-16 19:37] marsh0 opened #295 "warning C4706: assignment within conditional expression"
There is a few lines like:

    if (keep and (not callback or (keep = callback(depth++, parse_event_t::object_start, result))))

That are causing warnings and make projects that treat warnings as errors unable to compile without fixing it or disabling warnings in the code.

Microsoft Visual Studio Compiler 2015

[2016-08-16 20:26] nlohmann commented on #294
For this library, we do not plan to support any input which is not compliant to RFC 7159.

[2016-08-16 20:31] nlohmann commented on #295
I understand the warnings, but they seem to be uncritical and rather pedantic. A solution would be to either restructure the code by moving the assignment out of the conditional and make it less readable or to add `#pragma`s and make the code even less readable. Any other suggestions?

[2016-08-16 20:33] nlohmann commented on #290
I see if I can find a nice way to throw a parser error exception for an empty range.

Apart of the assertions, would this fix your original need?

[2016-08-16 20:38] nlohmann commented on #295
Just to better understand MSVC at warning level 4: Would

[code]

fix this issue?

[2016-08-16 20:44] marsh0 commented on #295
Yes that fixes the issue.

It could be rewritten I do not think it makes it any less clear, (I personally find that line with increment depth in the if a bit confusing to begin with. (But I am not a super experienced coder). )

For a easy fix you could just add:

#ifdef _MSC_VER
#pragma warning(push)
#pragma warning(disable:4706) // assignment within conditional expression
#endif
...

#ifdef _MSC_

[2016-08-16 20:48] nlohmann commented on #295
Ok. I think adding some `!= 0` is a bit nicer than adding another pragma in an ifdef. I wonder why MSVC is not silenced by another pair of parentheses like Clang.

Thanks for reporting! For a MSVC beginner - can you tell me how to compile a CMake project with this level of warnings?

[2016-08-16 20:50] nlohmann commented on #274
Any news on this?

[2016-08-16 20:53] marsh0 commented on #295
Sorry to say I do not use CMake nor no how. I just included the source file in my visual studio project.

That being said Warning level 4 is /W4 or even better EnableAllWarnings is /Wall.

[2016-08-17 00:05] gnzlbg commented on #294
That's fine! I think I'll just write a spirit parser to match and strip `// inline` comments (which is what I just need) in a pre-processing step tomorrow. I think that would be easier than trying to reuse the json parser of this library and extending with `// inline` comments (or would something like this be "easier"?).

[2016-08-17 05:33] nlohmann commented on #294
You could edit file src/json.hpp.re2c. It contains a [re2c](http://re2c.org/) lexer (see function basic_json::lexer::scan) and all you would need to do is to add a regex for comments like `"//"[^\n]*` or so.

[2016-08-17 08:32] theodelrieu commented on #290
Yes!

By the way, you were talking earlier about enhancing the `std::string` overload.

[code]

Do you have any plan to do so? It would be great when one wants to parse the whole buffer.
(This is a reason why the standard library's algorithms are a bit annoying, requesting iterators everytime).

I can create a new issue for that though.

[2016-08-17 09:31] nlohmann commented on #290
What do you mean? An overload for a type `T` and call the parser with `begin()`/`end()`? Or specifically a parse function for `std::string`?

[2016-08-17 09:34] nlohmann commented on #295
Thanks! I shall add this to the AppVeyor build to see what else MSVC is warning about.

[2016-08-17 11:46] theodelrieu commented on #290
I'm talking about your first comment:

[2016-08-17 17:14] marsh0 opened #296 "[Improvement] Add option to remove exceptions"
It would be nice to have the option to compile without exceptions for use on platforms where exceptions cannot be enabled., such as consoles etc.

Mainly for the reasons listed here: http://programmers.stackexchange.com/questions/113479/are-there-any-real-world-cases-for-c-without-exceptions

[2016-08-17 19:31] nlohmann commented on #296
Instead of an exception, should the library just call `exit()` or `abort`?

[2016-08-17 19:33] marsh0 commented on #296
It could assert, and if that fails simply crash. Crash hard crash early.

[2016-08-17 20:10] nlohmann commented on #296
This should be done together with #244, because then we have to touch all exceptions anyway.

[2016-08-17 20:11] nlohmann commented on #296
Is there a more elegant way than to use preprocessor macros for this?

[2016-08-17 20:40] nlohmann commented on #295
I ran an [AppVeyor build](https://ci.appveyor.com/project/nlohmann/json/build/1145) with `/Wall` flags. All output is in the [log.txt](https://github.com/nlohmann/json/files/423582/log.txt) file.

[2016-08-17 21:15] nlohmann commented on #295
@marsh0 Could you please check if the warnings disappeared?

[2016-08-17 22:25] marsh0 commented on #296
The way that link details seems reasonable to me. At least the macro should only need to be used once with the try catch. Using -fno-exception may work with the standard library but it will still fail to compile on any try catches or throws in your own code.

I have seen projects where you can define a preprocessor to remove exceptions. Though I think most libraries either support them or dont. Th

[2016-08-18 17:53] marsh0 commented on #295
Yup, looks good now! Thanks!

[2016-08-18 18:05] maksis commented on #289
C++ developers are still likely to work with `const std::map` and I don't think that using a different approach in this library makes them any less confused. I found a few caveats from my code where `operator[]` was used with const objects and I'd much rather prefer compiler errors in such cases (and consistency with `std::map`).

At least the behavior of both operators is consistent as neither of

[2016-08-18 21:06] #295 closed

[2016-08-18 21:13] nlohmann commented on #295
Thanks for checking!

[2016-08-18 21:14] nlohmann commented on #293
@clarkk Could you please clarify?

[2016-08-18 21:16] clarkk commented on #293
just close the issue.. it was late when I wrote it :)

[2016-08-18 21:16] nlohmann commented on #274
@mlutken Did you have the chance to have a look at this?

[2016-08-18 21:17] #293 closed

[2016-08-19 01:21] kawing-chiu commented on #289
I agree with @maksis . I think that is the exact reason why `std::map` does not have a `const operator[]`.

[2016-08-19 07:17] dv1 opened #297 "Add StringView template typename to basic_json"
Currently, basic_json expects one string type, which is used for everything - arguments, temporary strings, etc. This may be inefficient if data is available as some sort of a "string view". For example, if a C API offers a const char\* value and a length integer, then it is possible to wrap these in a boost::string_ref instance. Since the JSON parser does not modify the source string, it would be

[2016-08-19 07:49] nlohmann commented on #297
I don't fully understand. Where exactly would this be added?

[2016-08-21 10:46] nlohmann commented on #290
@theodelrieu I just committed some more changes. There are now the following overloads for the `parse()` functions:

1. `const char*`
2. `std::istream`
3. C-style array (elements must be 1 byte)
4. iterator range (elements must be 1 byte, range must be contiguous)
5. container (elements must be 1 byte, container storage must be contiguous; delegated to item 4)

The last two items allowed to clean

[2016-08-22 09:50] theodelrieu commented on #290
Great!

I just have a few questions left:
- Is the '\0' mandatory for `parse` to work properly?
We should remove this constraint, users should not have to take the '\0' into account IMHO
Internally, you could rely on a pair `pointer, size`, instead of the '\0'

- I think you can remove the `parse(char const[])` overload if you modify the `enable_if` condition in `parse(const ContiguousContainer&)`

[2016-08-22 10:01] nlohmann commented on #290
Without adding `\0`, I ran into invalid reads. I need to check in the debugger why the lexer seems to read one character past the given limit. I hope it's just a stupid error on my side.

I shall try the other two proposals.

[2016-08-22 10:54] theodelrieu commented on #290
Cool!

For the last proposal, I forgot to add an `is_integral<>` check.

[2016-08-22 19:42] nlohmann commented on #290
I integrated the latter two proposals and now shall have a look at the null byte.

[2016-08-22 20:05] nlohmann commented on #290
Ok, the null byte is most probably not necessary. It seems I was using the `YYLIMIT` variable from re2c in a wrong way all the time: it must point to the last element of the buffer and not to the element past the buffer. Therefore, the lexer always read the input until the null byte of the passed strings. I need to fix this and then everything shall be fine.

[2016-08-23 12:45] gnzlbg opened #298 "Document the best way to serialize/deserialize user defined types to json"
It would be nice to add an example to the documentation about the best ways to make an user defined type serializable/deserializable to json. For example, given:

[code]
- Is it possible to make json serialization/deserialization without modifying `point` itself?
- Are there any customization points to allow this?

For example, to serialize `point` I think it should probably be enough to:
- define

[2016-08-23 20:41] nlohmann commented on #290
I fixed the lexer so trailing null bytes are no longer necessary.

The following test cases work:

[code]

[2016-08-23 20:51] nlohmann commented on #290
There is still an error building with MSVC (see https://ci.appveyor.com/project/nlohmann/json/build/1166) when the null byte is missing in a C-style array. I shall investigate this tomorrow (or would be happy for hints and advices).

[2016-08-23 21:03] gregmarr commented on #290
[code]

This is the one that's failing, and it's just a raw array of 4 integers.  There is no null byte at the end to terminate the parse.  You need to explicitly add the 0 element.

[2016-08-23 21:09] nlohmann commented on #290
@gregmarr I saw this as well, but did not want to change anything tonight, because Valgrind and Clang's Address Sanitizers did not complain. And would `std::distance(std::begin(v), std::end(v))` not be `4` and behave the same as a `std::vector` or `std::array`?

[2016-08-23 21:14] gregmarr commented on #290
I'm assuming this is using the char * overload.

[2016-08-23 21:21] nlohmann commented on #290
With Xcode Version 8.0 beta 2 (8S162m),

[code]

uses the

``cpp
static basic_json parse(const ContiguousContainer& c,
                            const parser_callback_t cb = nullptr)
[code]

[2016-08-24 08:48] theodelrieu commented on #290
I tried on VS2015, I think this is a MSVC bug.
It chooses indeed the `const CharT*` overload.

Here is a small test to reproduce

[code]

Here the first overload binds to everything and should always be taken, but MSVC considers the second to be a best match.

[Here](http://coliru.stacked-crooked.com/a/1327161bb8cbb145) is a test with GCC.

I don't know if there is a workaround, but if it's a conf

[2016-08-24 13:33] gregmarr commented on #290
I believe that MSVC is correct here.  The second template is more specialized that the first, so it's selected.

http://en.cppreference.com/w/cpp/language/function_template

[code]

[2016-08-24 16:07] theodelrieu commented on #290
I truly believe this is a MSVC bug:

Here we pass a `uint8_t[]` to the function, not a pointer.
The compiler should consider the forwarding reference overload the best match,
since the `const CharT *` one requires an array-to-pointer conversion.
Clang and GCC both choose the right overload.

I cannot find the exact quote on cppreference about `T&&` binding rules for now, I will try again later.

[2016-08-24 16:42] gregmarr commented on #290
That's an interesting question.  Template overload resolution is indeed a bit of black magic.

From the same page as above:

P is the function parameter type (ContiguousContainer&&, CharT const *)
A is the argument passed to the function (uint8_t[4])

Before deduction begins, the following adjustments to P and A are made:
1) If P is not a reference type,
a) if A is an array type, A is replaced by

[2016-08-24 16:55] nlohmann commented on #290
As a matter of fact, I committed a version where the two functions in question are in a different order: no change...

[2016-08-24 17:47] theodelrieu commented on #290
Indeed it is tricky, I think we need a language lawyer on this one, we can post an example code on StackOverflow?

For now, we can remove the `CharT const*` overload for the release, and try to find a workaround later?
Users would still be able to parse a `char *` by calling the iterator overload.

What's your take on that?

[2016-08-24 18:20] nlohmann commented on #290
@theodelrieu It would be nice to have more opinions on this, so I'm fine with any code on Stack Overflow.

Meanwhile, I tried the following: I changed the `CharT const*` function to

[code]

Calling this function with `json::parse("\"\\ud80c\\udc60\"")` gives:

[code]

[2016-08-24 18:27] nlohmann commented on #290
Adding the C array overload (and removing the experiment from my previous comment)

[code]

makes it worse:

[code]

[2016-08-24 19:12] nlohmann commented on #290
I made another experiment, but now run in another strange MSVC compiler error (https://ci.appveyor.com/project/nlohmann/json/build/1168):

[code]

After googling a bit, this may be a known MSVC issue...

[2016-08-24 19:28] nlohmann opened #299 "Coverity scan fails"
The recent [coverity scan build](https://travis-ci.org/nlohmann/json/jobs/154004878#L558) failed:

[code]

I can reproduce the error locally, but the log file gives no information on the error. The only change made since previous successful builds was the split of the unit tests into several compilation units.

[2016-08-24 20:19] nlohmann commented on #298
I currently have not looked into this. Though I haven't used it yet, it seems [cereal](http://uscilab.github.io/cereal/) is the library to check out if you want to serialized to JSON with C++11. As you pointed out, there may be a recipe for doing this with this library.

[2016-08-25 08:45] gnzlbg commented on #298
I am currently using this already for array-like/container-like user-defined types (by modifying my types slightly to make them look like containers).

If you are interested in having this functionality in the library let me know and I will come up with a proposal that we can refine first here before I start implementing it.

The rough idea would be to:

- add two [customization points (as recomme

[2016-08-25 12:58] theodelrieu commented on #290
I am working on a workaround right now, I think we can help MSVC a little

[2016-08-25 14:44] theodelrieu commented on #290
My workaround compiles.
However, tests fail on ` friend std::istream& operator<<(basic_json& j, std::istream& i)` invocation, but this might be unrelated to the current issue.

The following code is a POC, I hope we can tweak it to make it cleaner.

[code]

The IsPointer trick is ugly, especially since we have to give it to every parse_impl overload.
I would like to know if the tests failures are

[2016-08-25 14:47] nlohmann commented on #290
Do I understand correctly that you need the `IsPointer` thingy because MSVC fails using `std::is_pointer` inside the templates?

[2016-08-25 14:48] nlohmann commented on #298
Nice idea! Are you aware of approaches like https://github.com/Loki-Astari/ThorsSerializer/blob/master/doc/full.md which seem to have found also a simple way for serialization?

[2016-08-25 14:53] theodelrieu commented on #290
In `parse(T&&)`, I use std::is_pointer, since there is only one overload of `parse`, T is deduced as `uint8_t(&)[4]`.
So in this method, `std::is_pointer` returns false.
This leads to the construction of `IsPointer<false>`, which prevents MSVC to choose the pointer overload, since it requires `IsPointer<true>`.

[2016-08-25 15:46] nlohmann commented on #290
Just a question: Why do you need to wrap the result of `std::is_pointer<typename std::remove_reference<T>::type>::value` inside the type `IsPointer` - couldn't you just pass a `bool` to `parse_ impl`?

[2016-08-25 16:03] theodelrieu commented on #290
You mean something like : `parse_impl<true>(stuff...)` ?

The `parse_impl` definition would look like that:
[code]

But you cannot partially specialize methods, so I need to wrap the bool in an empty struct.

[2016-08-26 10:22] gnzlbg commented on #298
Yes, Boost.Hana and Boost.Fusion allow to do it this way by adapting types to become tuple sequences. (e.g. see `BOOST_FUSION_ADAPT_STRUCT_...` macros). These work for simple structs fine, but if you need more complex initialization, at the end of the day you are going to have to write the `from_`/`to_` logic somewhere.  For example if you have:

[code]

and want to serialize only `a` and compute

[2016-08-27 14:05] loustak opened #301 "Exception line"
Hello,
it's not an issue but since I found no place to post my question I put it here.
So my question is, is it possible to get the line where the exception was throw in the file ?
For exemple in this file:
`{
    "none" {
        "name": "holaaaaa"
    }
}`
I would like the exception to return 2 for exemple.
Thanks.

[2016-08-29 20:07] gregmarr commented on #272
We're not quite back at the performance of V1.0.0 yet.
One more minor change:
[code]

[2016-08-29 20:08] gregmarr commented on #272
@nlohmann PTAL

[2016-08-29 20:37] nlohmann commented on #301
With issue #244, the exceptions will be overworked and parse errors will be annotated with a byte count to indicate the error location.

[2016-08-30 13:32] theodelrieu commented on #290
I found a better way to fix the issue, your experiment failed to compile because of the last template line:

[code]

Changing to `sizeof(typename std::remove_pointer<CharPT>::type)` makes it compile.
The tests fail but this could be a mistake in the `operator<<` implementation

[2016-08-30 17:11] nlohmann commented on #290
@theodelrieu I comitted your proposed change (6e6e1c9) and all tests succeed.

[2016-08-31 08:26] theodelrieu commented on #290
I rebuilt using ninja, and launched ninja test.
Everything passes, I guess I ran tests in a bad folder or something like that.

Well, I have no remarks left, how about you?

[2016-08-31 08:49] nlohmann commented on #290
I think the branch can be merged, unless you have any further remarks.

[2016-08-31 10:03] theodelrieu commented on #290
I'm fine for merging it!

[2016-08-31 18:28] nlohmann commented on #290
Commit 776880b merged the feature branch. This ticket can be closed and will be part of the 2.0.3 release.

Thanks everybody for the constructive discussions!

[2016-08-31 18:28] #290 closed

[2016-08-31 18:31] nlohmann commented on #289
The assertions are now mentioned in the README and the documentation of the function. Furthermore, the release notes for 2.0.3 will also mention the existence of assertions in the project and how to disable them.

[2016-08-31 18:31] #289 closed

[2016-09-01 21:33] gregmarr commented on #272
Thanks a lot, we'll give this a shot.

[2016-09-02 00:13] jomade opened #302 "Parsing of floats locale dependent"
With version 2.0.3, the following code:

[code]

yields the following results (read in the debugger):
`curr_locale = "nb_NO.UTF-8"`
`j = 0`
`k = 0.100000001`

Thus, the decimals are truncated in the Norwegian locale. This is rather unexpected, and should IMO not happen.

I think it originates from the parser calling strtod which is locale dependent.