[2013-12-11 08:12] nlohmann opened #1 "Runtime error in Travis job"
Something in the C++11 object handling seems to be broken.

[2013-12-11 08:13] nlohmann opened #2 "Test case coverage"
It would be nice to measure the test case coverage somehow.

[2014-12-19 17:10] nlohmann opened #3 "Drop C++98 support"
Supporting both C++98 and C++11 at the same time makes maintenance harder.

[2014-12-19 17:11] nlohmann opened #4 "Add unit tests"
The [Catch Unit Test Framework](https://github.com/philsquared/Catch) should help to avoid future bugs. The current way of testing does not make sense.

[2014-12-28 10:18] #1 closed, assigned to nobody

[2014-12-28 10:18] #3 closed, assigned to nobody

[2014-12-28 10:18] #4 closed, assigned to nobody

[2014-12-28 22:22] #2 closed, assigned to nobody

[2015-01-05 16:27] hrobeers opened #7 "unique_ptr for ownership"
Since you're using C++11, wouldn't it be better to manage object ownership using unique_ptr?

I will issue a pull request when I start using your library.

[2015-01-05 18:21] nlohmann opened #8 "free functions for explicit objects and arrays in initializer lists"
Currently,

[code]

will be treated as object, and there is no way to express it as array of two arrays with two strings each.

As [tgockel](http://www.reddit.com/r/programming/comments/2rbj96/json_for_modern_c_what_if_json_was_part_of_modern/cnel666) points out:

Such free functions could solve the above problem:

[code]

[2015-01-05 18:26] nlohmann opened #9 "move code into namespace"
The code should be moved into a namespace not to pollute the global namespace.

[2015-01-05 18:33] Iwan-Zotow opened #10 "UTF-8 encoding/deconding/testing"
It is unclear how parser handles non-ascii strings. It would be nice to have it and have a statement about the i18n

[2015-01-05 18:46] nlohmann opened #11 "possible double-free in find function"
[mr_ewg](http://www.reddit.com/r/programming/comments/2rbj96/json_for_modern_c_what_if_json_was_part_of_modern/cnembo4) points out:

This needs to be checked.

[2015-01-05 19:56] nlohmann opened #12 "string parser does not recognize uncompliant strings"
The Readme currently states:

And in fact, anything between two unescaped quotes will be treated as strings. However, the JSON standard is very explicit how a string may look like:

![](http://json.org/string.gif)

As long as the class does not implement this string specification, the class is not fully JSON compliant.

[2015-01-06 06:12] tanadeau opened #13 "Add to_string overload for indentation"
Create an overload of the `to_string` member function that handles indentation (spaces) and line breaks.

[code]

[2015-01-06 06:15] kelvinh commented on #13
Yeah, I think this is needed when saving a json object to file, it is a great mess if there is no indentation and line breaks.

[2015-01-06 11:03] hrobeers commented on #7
Let's quote Reddit again ;)

[–]hrobeers 3 points 13 hours ago
If I'm not mistaken, there is no memory overhead because it just stores the raw pointer internally. But there could be a little runtime performance overhead when using another deleter. So when using the default deleter instead of manually call delete, there is no overhead.

[–]Splanky222 3 points 12 hours ago
No overhead with regular d

[2015-01-06 15:59] hrobeers commented on #7
This would also fix issue #11

[2015-01-06 17:41] #9 closed

[2015-01-06 18:05] nlohmann commented on #11
Closed by pull request #14.

[2015-01-06 18:05] #11 closed

[2015-01-06 18:07] nlohmann commented on #7
Alright - I understand that using unique_ptrs will be really nice. However, it seems as if the situation where pointers are inside a union makes the code quite difficult to port to unique_ptr in case we start swapping and moving. At lease this is what I take away from http://stackoverflow.com/questions/24713833/using-a-union-with-unique-ptr

I may need some more time to really understand the probl

[2015-01-06 18:20] nlohmann commented on #12
Also http://re2c.org may help (as pointed out by [drac667](http://www.reddit.com/r/cpp/comments/2rbhn3/json_for_modern_c_what_if_json_was_part_of_modern/cng4w8n)).

[2015-01-06 18:33] hrobeers commented on #7
Yes it is indead true that smart pointers cannot be used inside unions. I missed the fact that you were heavily relying on a union, so using unique_ptrs is not possible.
When I start using your library, I'll try to find some other ways to manage memory.

Thanks for sharing this code, it looks really nice!

[2015-01-06 19:27] nlohmann commented on #7
Thanks! Until then, we have to rely on Valgrind that no memory is leaked ;-)

[2015-01-06 20:46] nlohmann commented on #13
I implemented a pretty-printing serialization. For that, I renamed the function `to_string()` to `dump()` and used the syntax of Pythons `json.dumps()` (see https://docs.python.org/2/library/json.html#json.dump).

This function takes an integer as parameter:
- If the parameter is -1, no pretty printing is done and the result is the same as before.
- If the parameter is 0, then newlines are added a

[2015-01-06 20:52] #13 closed

[2015-01-06 20:59] tanadeau opened #15 "Don't return "const values""
In member functions like `dump` and `type_name`, return `std::string` instead `const std::string`. Returning const values cause unnecessary copies to occur.

[2015-01-06 21:00] nlohmann opened #16 "create a header-only version"
As wished in http://www.reddit.com/r/cpp/comments/2rbhn3/json_for_modern_c_what_if_json_was_part_of_modern/cnelnzq:

And as I wrote:

[2015-01-06 21:05] #15 closed

[2015-01-06 21:06] nlohmann commented on #15
Thanks for the hint!

[2015-01-06 22:12] nlohmann commented on #10
I'll have a look once I have a better parser (see #12)

[2015-01-06 22:27] cmaloney opened #17 "Improper parsing of JSON string "\\""
Currently the parser assumes if a '\' is before a double quote, the double quote isn't the end of the string.

Note that there are more complicated cases like this (and their expansion) which need to be handled properly which probably will take more code to support properly: ("\\\"", "\\\\") of arbitrary length. A reverse search which checks if the number of '\' preceding the quote is even or odd

[2015-01-08 07:37] PaulFreund commented on #16
It can improve compile time when precompiled headers are used and allows easy include only usage. The cpp file always has to be supplied to the compiler (which is mostly done by build tools that assume everything in one root) and therefore encourages adding the source directly in projects instead of just pulling them from a central include path.

Unfortunatly the cpp world has no ultimate solution

[2015-01-08 07:47] PaulFreund commented on #9
While I encourage the use of namespaces and understand the current naming, I'd suggest using something more expressive. Without knowing the original origin of this code the namespace nlohmann might become meaningless, especially as you already have a bunch of forks that might differ with time.

On the other hand I admittedly don't have a better idea.

[2015-01-08 08:18] daminetreg commented on #16
Have you already seen biicode ? They are really active in bringing a dependency solution for C++.

[2015-01-08 08:28] PaulFreund commented on #16
I've seen it and it seems pretty cool, but I don't want to rely on proprietary tools. I couldn't find a statement about escrow or plans for worst case.

[2015-01-09 15:32] #17 closed

[2015-01-09 17:17] nlohmann commented on #16
@PaulFreund - could you check if the file `header_only/json.h` suits your needs?

[2015-01-09 17:24] nlohmann opened #20 "make the type of the used string container customizable"
As proposed in http://www.reddit.com/r/cpp/comments/2rbhn3/json_for_modern_c_what_if_json_was_part_of_modern/cnh7ox4, it would be nice to template the string container that is used inside the json class.

[2015-01-09 18:12] Teemperor commented on #16
Should we really push the generated header only version to the repository? It's a generated file similar to a binary and should be hosted somewhere else.

[2015-01-09 19:30] nlohmann commented on #16
I thought about it and thought the way [Catch](https://github.com/philsquared/Catch) are doing it is reasonable. In the end, creating the header requires tools such as `cat` and `sed`. While they may be standard on some machines, they are not for Windows. Once the code is reasonably stable, one could think about using GitHub's release feature.

@Teemperor, what do you think?

[2015-01-10 17:06] Teemperor commented on #16
I think a release on Github from time to time is the best solution right now. It's just slightly more work compared to pushing the header file to git and it keeps the repository clean.

If we want this automated, we could also just run the header generation on a external server and serve it over HTTPS (or use the Github API to create releases).

[2015-01-10 21:28] cmaloney commented on #17
Thanks for fixing this!

[2015-01-10 22:31] cmaloney commented on #7
For the json::iterator and json::const_iterator you can use optional types (Like std::optional which was unfortunately dropped from c++14), as a replacement for the explicit new / delete calls. Also can give a slight speed boost because it eliminates a indirection. std::unique_ptr would work as well though / take less additional boilerplate.

[2015-01-11 14:17] nlohmann commented on #10
With pull request #22, this issue should be addressed.

[2015-01-11 14:18] nlohmann commented on #16
Apart from the issue of how to publish the header-only version, I think we are done here.

[2015-01-11 14:54] Teemperor opened #25 "Custom allocator support"
Similar to a STL container json should support a custom allocator.

[2015-01-11 15:30] PaulFreund commented on #16
Sorry for the late reply. Unfortunately just copying header and source together won't be enough. While free functions could be inlined, the member functions that are defined outside of their class declarations can't.

From my point of view there are only upsides for developing the library completely header only but I understand that it might also be a matter of taste.

[2015-01-11 18:37] nlohmann commented on #16
Thanks @PaulFreund for your reply.

As I have no experience in creating a header-only version, I assumed that copying the sources would be enough. Can you give me more insights why this is not sufficient or point me to sources that explain how to do this properly?

[2015-01-13 08:26] edi9999 opened #27 "Creating an empty array"
I'm using the following code right now:

[code]

However, if the for loop doesnt happen, I would like to return an empty array (eg `[]`)

Is they an other way to get this behaviour without doing `json customers= json::parse("[]");`  ?

[2015-01-13 08:57] Teemperor commented on #27
I assume this is fixed by fixing #8

[2015-01-13 09:49] nlohmann commented on #27
@Teemperor is right - this shall be fixed with issue #8. I hope to do this by tomorrow.

So far, you could try

[code]

to tell the class to create an empty JSON array.

[2015-01-13 18:06] nlohmann opened #28 "segmentation fault when iterating over empty arrays/objects"
From an email:

The proposed code fix:

[code]

[2015-01-13 18:07] nlohmann commented on #28
The bug can be reproduced with the following code:

[code]

[2015-01-13 18:07] #28 closed

[2015-01-16 13:45] Zoadian commented on #16
you'll get duplicated symbols if you include it more than once

[2015-01-17 23:04] alvarolb opened #30 "Cannot encode long numbers"
I cannot encode a unsigned long or unsigned long long value without casting it to int, with its corresponding overflow. It is required, i.e., for storing a timestamp in milliseconds from epoch.

[2015-01-18 00:09] alvarolb opened #31 "Avoid using spaces when encoding without pretty print"
When encoding the JSON string with the dump method, it will insert some spaces (after ":" or ",") even without pretty print active. It will add some undesired extra bytes when the data is just going over the wire. In my case it is important as I am encoding JSON Web Tokens (JWT), and every byte its important as the token is being transmitted in every request.

[2015-01-18 09:44] nlohmann commented on #31
Good point! Those spaces should not be there. I'll fix it.

[2015-01-18 09:58] #31 closed

[2015-01-18 09:59] nlohmann commented on #30
That is indeed a problem. I try to fix it soon.

[2015-01-20 02:55] lonerwolf opened #32 "find is error"
json o;
o["foo"] = 23;
o["bar"] = false;
o["baz"] = 3.141;

// find an entry
if (o.find("foo") != o.end()) {
  // there is an entry with key "foo"
}

in my example

key:"Heart_COL"
type:"HEX"
val:"DF01140234340000"

auto it = jsonData.find("type");
std::cout << *it << '\n';
the printf data is "Heart_COL"

[2015-01-20 02:56] lonerwolf commented on #32
@nlohmann

[2015-01-20 09:08] nlohmann commented on #32
I'll check tonight.

[2015-01-20 16:35] nlohmann commented on #32
I do not really understand your problem. I tried the following code:

[code]

What did you try to achieve in your code? What went wrong?

[2015-01-21 16:45] nlohmann commented on #30
I changed the data type for integers to `int64_t`, so numbers between -9223372036854775808 and 9223372036854775807 can be stored and parsed. This should close this issue.

[2015-01-21 16:45] #30 closed

[2015-01-21 16:46] nlohmann commented on #32
@lonerwolf, could you please comment?

[2015-01-21 19:27] nlohmann commented on #16
You are right. I did not check for a case where the header is included in several files. :-(

[2015-01-24 19:41] nlohmann commented on #8
The array

[code]

can now be created with

[code]

Thereby `json::array` and `json::object` are functions to force a type in an initializer list.

[2015-01-24 19:41] #8 closed

[2015-01-24 19:42] nlohmann commented on #27
There now is a function `json::array()` to create an empty array. It can also be used with an initializer list (e.g., `json::array({"foo", "bar"})`) to explicitly create the array `["foo", "bar"]` rather than the object `{"foo": "bar"}`.

[2015-01-24 19:42] #27 closed

[2015-01-24 19:43] nlohmann commented on #32
I close this issue until the problem is clear.

[2015-01-24 19:43] #32 closed

[2015-02-04 21:53] DanTheColoradan commented on #16
:+1: for header only version.

[2015-02-09 17:44] cdaylward commented on #16
:+1: for header-only version. I'm very happy with this library but I had to do my own temporary patching (inlining) so that I could use it in my own header-only libraries.

[2015-02-18 23:07] nlohmann commented on #25
Fixed in latest release: the template version allows for user-defined allocators now.

[2015-02-18 23:07] #25 closed

[2015-02-18 23:07] nlohmann commented on #16
Fixed in latest commit: the class is now header-only.

[2015-02-18 23:07] #16 closed

[2015-02-18 23:08] nlohmann commented on #10
Fixed in latest commit: UTF-8 is now supported.

[2015-02-18 23:08] #10 closed

[2015-02-18 23:08] nlohmann commented on #12
Fixed in latest commit: re2c is used.

[2015-02-18 23:08] #12 closed

[2015-02-18 23:09] nlohmann commented on #20
Custom string classes are in principle supported via templates. However, the usage of string literals makes some problems. Unfortunately, I cannot fix this.

[2015-02-18 23:09] #20 closed

[2015-02-19 01:03] DanTheColoradan commented on #16
:clap:

[2015-02-22 21:29] #7 closed

[2015-02-28 15:27] jrandall opened #37 "dumping a small number_float just outputs 0.000000"
I expected that small doubles would be represented in dumped JSON as a javascript number in scientific notation, but instead it just appears as `0.000000`

Example:
[code]

Expected output: `d=1.23456e-89 j=1.23456e-89`

Actual output: `d=1.23456e-89 j=0.000000`

Looking at the json code, it appears this is due to using `std::to_string()` for all numbers, which is equivalent to `sprintf("%f", ...)

[2015-03-01 01:44] luxe opened #39 "Printing attribute names"
What would be the best way to iterate over a json object and print the attribute names?
My goal would be to have something like this:

**example json:**
[code]
**example printing code:**
[code]

**example results:**
[code]

Not everything has an attribute name, in which case, it could return an empty string, throw an exception, or return std::optional.

I thought this might be easy to implement, b

[2015-03-04 12:38] gnzlbg opened #42 "Use of deprecated implicit copy constructor"
Appears when `-Wdeprecated` is enabled on clang.

[code]

There are also some warnings involving floating point comparisons when `Wfloat-equal` is enabled:

[code]

[2015-03-04 13:23] gnzlbg opened #43 "Compilation error due to assuming that private=public"
The snippet to reproduce the error:

[code]

what the error looks like:

[code]

This is not catched by the unit tests because they are compiled by defining `private=public`.

A "better" way to do that could be  to have a separate file only for those tests that "need" `private=public`.

This _might be_ clang 3.6 specific, since I'm the only one who seems to be having problems.

I worked around thi

[2015-03-04 15:19] sunbing81 commented on #39
Or just follow the convention of STL map, i.e., returning a (key, value) pair instead of the key only, when enumerating the json object.

[2015-03-04 15:44] amirmasoudabdol opened #44 "Problem getting vector (array) of strings"
Considering the JSON below,

[code]

 I want to get a vector of string. I realized that I could only use `auto a = json["name"]` and then process it using for-range loop. However, if I want to explicitly define the return type then I will get an error. For instance, both `vector<string> names = j["names"]` and `vector<string> names = j["names"].get<vector<string>>()` will give me an error:

[code]

[2015-03-06 02:20] nlohmann commented on #44
Dear Amir,

thanks for reporting! It sure looks like a bug. I shall have a look once I'm back from holidays.

All the best
Niels

[2015-03-06 02:21] nlohmann commented on #39
Dear @luxe,

thanks for reporting! I shall have a look once I'm back from holidays.

All the best
Niels

[2015-03-06 02:24] nlohmann commented on #43
Dear @gnzlbg,

thanks for reporting! It sure looks like a bug. I shall have a look once I'm back from holidays.

All the best
Niels

[2015-03-06 02:26] nlohmann commented on #42
Dear @gnzlbg,

thanks for reporting! It sure looks like a bug. I shall have a look once I'm back from holidays.

All the best
Niels

[2015-03-10 14:23] gnzlbg opened #45 "Add count member function"
A typical operation is to find if a `json` object has a given key, this is typically done like:

[code]

The standard containers (`std::map`, `std::set`,...) offer a `count` member function that counts the number of occurrences of a key, such that one can:

[code]

It would be nice to have something similar since this is a very common operation.

[2015-03-10 16:01] gnzlbg opened #46 "Key iterator"
When iterating over a `json` object, e.g. using a range-based for loop, one only gets the values, and it is impossible right now to get the key of each value. It would be nice to be able to iterate over the keys, since this allows you to get the value afterwards if you want too.

Another alternative is a key.value pair iterator like map.

[2015-03-10 16:02] gnzlbg opened #47 "Erase key"
Right now there is no way of erasing a key.

[2015-03-10 16:38] isaach1000 commented on #46
The problem with giving access to the key is that not all json objects are composed of key-value pairs. For example, an array is a valid json object but has no keys other than its indices. I have been able to successfully retrieve the keys for a json object by copying the object to a string to object map and iterating through that, though I agree that a more comprehensive solution is necessary.

[2015-03-10 16:39] isaach1000 commented on #46
By string to object map I mean string to json object.

[2015-03-10 17:18] gnzlbg commented on #46
The following is a valid json object: `{ "a", 3, 5.0, "b" : {"c" : 2, "d" : 3} }`.

When iterating over it we get: `"a", 3, 5.0, {"c" : 2, "d" : 3}`, these are just json object themselves.

I would lie to somehow be able to get the keys of these objects: `nil, nil, nil, "b"`.

The easiest solution I can think of is for every json object to have a `key()` method (and maybe also a `bool has_key()` m

[2015-03-10 17:36] gnzlbg commented on #46
Do you mean `std::map<std::string, json>` ?

Like this:

[code]

[2015-03-10 17:51] isaach1000 commented on #46
The key method used to be part of the iterator class but was recently deprecated. This problem of getting the key is part of a much larger problem, namely that json isn't statically typed but C++ is. This issue is cannot be resolved through inheritance because each type implements a different interface. The best solution I can think of is to allow the user to cast the iterator to a pair and throw

[2015-03-10 17:53] gnzlbg commented on #46
Right now `operator[](int)` throws when used on {`key : value`, ...} objects. It only works on arrays. I think a `key_value()` method that returns a range with `key/value` iterators, and that throws if the object is an array, solves the problem.

[2015-03-10 17:57] isaach1000 commented on #46
@gnzlbg

Yes

[2015-03-10 18:08] isaach1000 commented on #46
@gnzlbg

Eventually, the user needs to decide whether the iterator refers to a key and value or to a key alone. Therefore, I'm suggesting something much simpler to resolve the issue.

Consider this example from the readme:

[code]

Here is my solution:

[code]

[2015-03-10 18:17] gnzlbg commented on #46
How would you use that with range-based for?

[2015-03-10 18:27] gnzlbg opened #48 "Use non-member begin/end"
Right now the library uses member-functions `.begin()` and `.end()` when serializing sequences: see e.g. [here](https://github.com/nlohmann/json/blob/master/src/json.hpp#L441).

As a consequence some types cannot be serialized.

[2015-03-11 12:46] amirmasoudabdol commented on #39
That would be really useful. Even if you know the keys beforehand, being able to iterate over them will save a lot of lines.

[2015-03-11 15:18] isaach1000 commented on #46
Okay that is a good point. How about just having the json object return a pair iterator if it is an object, but a vector iterator if the it is an array?

[2015-03-17 22:06] DanTheColoradan opened #49 "Confused about iterating through json objects"
If I have:

[code]

And I want to iterate through each, how would I do so?

My attempt so far has been similar to the following:

[code]

I've tried it a a few ways including - for example - creating a string for `new_currency[ "country" ]` first and then storing it in it like `new_currency[ "country" ] = my_string`, but I get errors such as:

[code]

or

[code]

Could you provide some guidance? I

[2015-03-18 00:01] DanTheColoradan commented on #49
Here is an [extended example](https://gist.github.com/DanTheColoradan/58cc137d39dbf758d2ed).

[2015-03-18 02:13] nlohmann commented on #49
Dear @DanTheColoradan

Thanks for reporting. I'll check your issue once I'm back from holidays (next week).

All the best
Niels

[2015-03-20 09:31] gnzlbg commented on #49
Duplicate of #43 .

[2015-03-20 09:32] nlohmann commented on #49
Thanks! I'll fix it as soon as possible.

[2015-03-20 09:34] gnzlbg commented on #49
@nlohmann No rush, we have a workaround. Enjoy the holidays :P

[2015-03-20 15:07] DanTheColoradan commented on #49
Thanks @gnzlbg! And I agree @nlohmann, the workaround is pretty simple so enjoy your vacation :) A new season is upon us.

[2015-03-22 16:30] #48 closed

[2015-03-22 17:52] nlohmann commented on #42
I currently found no elegant solution to the floating point comparison, and I am not yet sure whether this is an actual issue, because I don't want to do arithmetic inside the JSON values, but only check if two JSON numbers encode the same value... Any comments?

[2015-03-22 18:07] #45 closed

[2015-03-22 18:18] #43 closed

[2015-03-23 08:26] gnzlbg commented on #42
`bool approx(T a , T b) { return a > b || a < b; }`. By using approx for floating point comparison everywhere we can at least change it easily later if something better comes up.

[2015-03-23 14:38] jrandall commented on #37
Any issues with this that I could address to get it merged?

[2015-03-23 14:40] nlohmann commented on #37
I was on holiday... I'll check this issue tonight.

[2015-03-23 19:15] #37 closed

[2015-03-23 19:44] nlohmann commented on #44
I could reproduce the bug.

[2015-03-23 21:55] nlohmann commented on #44
Unfortunately, I cannot find a solution right now. I'll check again later.

[2015-03-23 22:03] #42 closed

[2015-03-23 22:04] nlohmann commented on #42
Thanks!

[2015-03-24 09:53] suy opened #50 "Supported compilers"
Hi.

There is no documentation on what compilers are supported, or which C++ features are required. I've tried to include the header in a project with MSVC 2013, and I get plenty of compile errors (with MinGW it compiles fine). I know MSVC might not have good enough C++11 support, so that's somewhat expected. I'm wondering, though, if anybody has attempted some newer pre-release of MSVC and if it

[2015-03-24 15:51] #47 closed

[2015-03-24 15:53] gnzlbg commented on #49
This issue should have been closed by https://github.com/nlohmann/json/commit/bb2671df11a33006869212a436766736eb4c4204.

[2015-03-24 16:47] nlohmann commented on #46
Hi there,

an earlier version of the library had `key()` and `value()` member functions for the iterators/const_iterators. However, these functions were not available for the reverse_iterators/const_reverse_iterators, because the `std::reverse_iterator` adaptor seems not to inherit user-defined functions from the iterator class.

There are several ways I can think of approaching the issue:

1. Add

[2015-03-24 17:01] gnzlbg commented on #46
You can have your own reverse iterator that inherits from
`std::reverse_iterator`. You can then forward to the `key` and `value`
functions of your non-reversed iterator by using the `protected` function
`current()` from `std::reverse_iterator`, which allows you to get the
underlying iterator.

On Tue, Mar 24, 2015 at 5:48 PM, Niels <notifications@github.com> wrote:

[2015-03-24 17:12] nlohmann commented on #46
Very good point! I'll check...

[2015-03-24 17:14] nlohmann commented on #39
This is related to #46 and #49. I have an idea how to solve it. Stay tuned...

[2015-03-24 17:18] nlohmann commented on #50
Hi @suy,

thanks for checking by. Unfortunately, MSVC's C++11 support is still very bad. I got some pull requests where the library has been "fixed" to compile, but these changes were a preprocessor nightmare. I would also like to know how more recent versions behave.

I agree that a documentation of supported compilers would be really useful. I shall add a table to the README file and hope to get

[2015-03-24 17:44] luxe commented on #39
Yay!

[2015-03-24 18:53] nlohmann commented on #46
I added a `key()` and `value()` function to the iterator/const_iterator class. However, I can't manage to inherit from the reverse_iterator class. I tried the following code:

[code]

but it seems as if `base()` is unknown. Any ideas?

[2015-03-24 20:44] gnzlbg commented on #46
Have you tried `this->base()` ?

On Tue, Mar 24, 2015 at 7:53 PM, Niels <notifications@github.com> wrote:

[2015-03-24 20:49] gnzlbg commented on #46
With some hindsight now I think that creating your own reverse iterator is
completely unnecessary since those using a reverse iterator can just call
`key/value` via `it->base()->key()/value()` right?

That might be problematic when writing generic code, but it is also pretty
easy to write non-member non-friend `key(it)/value(it)` functions that just
forward the call for normal iterators, and overl

[2015-03-24 21:10] suy commented on #50
El Tuesday 24 March 2015, Niels escribió:

That's what I've always been told, and in this case I can confirm. Many errors
were repeated (e.g. the lack of understanding of no_except), but the compiler
stopped at the 100th error. So yeah, very problematic.

My version was 2013. I've read that people are happy about the 2015 pre-
releases, but I don't have access to that myself.

Thank you! Any menti

[2015-03-26 10:24] krisztiantobias opened #51 "Do not use std::to_string"
This is simply wrong:
[code]

The to_string use std::locale what can change the point to comma (happened with us, because in QT the QApplication create change this) what is not good for json. You have to use always point instead of comma (json rpc standard)

[2015-03-26 10:31] nlohmann commented on #51
Thanks for the hint. I'll check.

[2015-03-26 15:29] nlohmann commented on #51
Hi @krisztiantobias,

the current code does not use `std::to_string` to create a serialization of floating-point numbers any more, but the following snippet (see https://github.com/nlohmann/json/blob/master/src/json.hpp.re2c#L2016):

[code]

Do you see the same issue there? If so, wouldn't prepending

[code]

fix the issue?

[2015-03-26 17:00] nlohmann commented on #46
With `this->base()` it worked. I committed the changes.

[2015-03-26 17:01] nlohmann commented on #46
All iterators have now member functions `key()` to retrieve the key for objects and `value()` to retrieve the value. This should fix the mentioned issue.

[2015-03-26 17:01] #46 closed

[2015-03-26 17:01] nlohmann commented on #49
All iterators have now member functions `key()` to retrieve the key for objects and `value()` to retrieve the value. This should fix the mentioned issue.

[2015-03-26 17:01] #49 closed

[2015-03-26 17:01] nlohmann commented on #39
All iterators have now member functions `key()` to retrieve the key for objects and `value()` to retrieve the value. This should fix the mentioned issue.

[2015-03-26 17:01] #39 closed

[2015-03-26 17:01] gnzlbg commented on #46
Thanks, i'll give it a try :)

[2015-03-26 17:03] DanTheColoradan commented on #49
Awesome. Thank you!

[2015-03-26 17:04] gnzlbg opened #52 "Document erase, count, and iterators key and value"
Add examples in the documentation for:
- erase(iterator)
- count(iterator)
- and for the usage of iterators key()/value() member functions

[2015-03-27 08:21] amirmasoudabdol commented on #39
That's great. Thanks!

[2015-03-27 08:37] krisztiantobias commented on #51
It's fix that, but very ugly I think. In our code I fix that with this:

Before dump:
[code]
And in dump:
[code]

[2015-03-27 14:10] MPolovyi commented on #50
@suy I've just tried with the 2015 (actually, 2014, but nonetheless the latest version), and it gave me much less errors then the 2013. But the "iterator" error you reposted is still there.

if anybody is interested, I include the output of errors... can't really say why they arise, or what are they about - cpp is not my best side :)

1>stdafx.cpp
1>\json.hpp(144): error C2061: syntax error: ident

[2015-03-27 16:11] #52 closed

[2015-03-27 16:13] nlohmann commented on #51
In fact, the above code already fixed another issue (#37) and stems from #38. Therefore, I'd like to stick with it rather than changing it to `to_string()`.

[2015-03-27 16:13] #51 closed

[2015-04-06 04:21] luxe opened #53 "Why are elements alphabetized on key while iterating?"
Let's say I have the json from the example readme:
[code]
I will iterate over it the following way:
[code]
I would expect this:
[code]
Instead, I get:
[code]

Why is this the default?  Can it be turned off?

[2015-04-06 14:51] nlohmann commented on #53
They are ordered by key, because they are internally stored in a container of type `std::map<std::string, nlohmann::json>` which by default uses `std::less<std::string>` as order. This default can be overridden by setting a different template parameter `ObjectType`. To be able to compile the code, this type has to conform to the [AssociativeContainer](http://en.cppreference.com/w/cpp/concept/Assoc

[2015-04-06 23:05] ivan-kryukov opened #54 "Numbers as keys"
I know this isn't strictly `json`-compliant, but I would love to have numbers as keys.

Say I try:
[code]
I would like to be able to:
[code]
In order to get:
[code]

I think the strength of `json` is that it can take a little bit of abuse.
Thanks.

[2015-04-06 23:30] irazasyed opened #55 "Serialize/Deserialize like PHP?"
Hi,

Is there a way we could Serialize the output like PHP's [Serialize](http://php.net/manual/en/function.serialize.php) version?

Currently it outputs in one line as a string. Would be helpful if it could support additional method such as this one.

Let me know!

Thanks.

P.S Kudos for the awesome work you've done. Very nice, clean and easier to use!

[2015-04-08 09:22] drewpts opened #56 "Removing item from array"
Hi. Thanks for great lib!
Is there support for removing item/items from array?

E.g.:
[code]
    $ ./a.out
    terminate called after throwing an instance of 'std::runtime_error'
    what():  cannot use at with array

[2015-04-08 09:25] mkwork commented on #56
Anyway, copy-pasted code detected. There are lying comments and wrong error message in this method.

[2015-04-08 15:04] nlohmann commented on #56
There is currently no function to delete elements from an array. This should be offered to have a "symmetrical" feature set compared to objects.

The text of the exception you reported is correct: the type of `j["name"]` is an array, therefore "cannot use at with array" is correct.

[2015-04-08 18:07] mkwork commented on #56
Hm, but there isn't used ```at()```? Or i missunderstood you.

[2015-04-08 18:16] nlohmann commented on #56
Oops... I'll fix that... :-)

[2015-04-08 20:31] nlohmann commented on #44
The last commit (1bdb6acb1fb003a9bb8cb7771618f1630e78f7d0) fixed this issue. The following code compiles as expected:

[code]

[2015-04-08 20:31] #44 closed

[2015-04-08 20:32] #53 closed

[2015-04-08 20:35] nlohmann commented on #54
Dear @ivan-kryukov, thank you for your proposal. As such an extension would not be JSON compliant, it would be out of scope of this library. I understand that there is a use case for anything thinkable, but I am afraid I would make my code less predictable and maintainable when I would leave the constraints of JSON.

[2015-04-08 20:35] #54 closed

[2015-04-08 20:43] nlohmann commented on #55
Dear @irazasyed, thanks for the interest in the project!

Do I understand correctly that you would like support to serialize (viz. dump) arbitrary data structures to JSON? If so, I feel that this is a very complex task, and I currently have no plans in realizing this. If this is what you are looking for, I suggest looking at the http://uscilab.github.io/cereal project.

Let me know if I misunderst

[2015-04-08 21:31] nlohmann commented on #56
Fixed the comment in 1bdb6acb1fb003a9bb8cb7771618f1630e78f7d0.

[2015-04-08 21:41] irazasyed commented on #55
Hi @nlohmann, Thanks for the response.

Check this example: http://ideone.com/TymHJI If you pass an array, the PHP's serialize function dumps the data into a string while keeping the data type (Such as `s` = String, `i` = Int, `a` = array, `b` = bool & so on). So when we deserialize, we have the format back to same as how it was previously sent, could be an object, array, class, collection or even

[2015-04-09 08:02] amirmasoudabdol commented on #44
Thanks! :)

[2015-04-09 15:56] nlohmann commented on #55
If I understand you correctly, then you want to be able to dump a JSON value to the format of PHP's serialize function, right?

[2015-04-09 16:13] whackashoe commented on #55
Should be able to write a serialize function pretty easily I think.

Loop through all keys, do each of the is_X functions to determine what to prepend to its value.

Unserializing I think would be slightly more difficult. You'd have to make a structure that had a pointer to the actual data, as well as some bits to say what the type of data its pointing to is called.

[2015-04-09 16:17] nlohmann commented on #55
What advantage would that serialization format over the standard JSON serialization format?

[2015-04-09 16:38] irazasyed commented on #55
@nlohmann Exactly! That's what i want to do as the API built using PHP sends data encrypted as well as accepts encrypted data. Now that encryption function serializes the data with json encode and likewise deserializes when passed to the decryption (later json decodes).

As far as the advantage is concerned, it would mostly be useful for people working with PHP i believe. To exchange the data with

[2015-04-09 16:39] irazasyed commented on #55
@whackashoe Yep! I'm implementing that already. Core feature would be better maybe.

[2015-04-09 16:41] nlohmann commented on #55
I know that it would be easy, but it would be out of scope of JSON, and I understand that in the end JSON could be used for the same purpose.

[2015-04-09 16:59] nlohmann commented on #56
84195daf287a06d68ec0a1e0434b90eb44adb41b implements an erase functions for arrays:

[code]

This function removes the element at the given index `pos`. All following elements are moved forward. If `pos` is an invalid array index, `std::out_of_range` is thrown.

Compared to the initial example, I decided against passing a value to delete, because a value can occur multiple times and the result coul

[2015-04-09 16:59] #56 closed

[2015-04-09 17:03] drewpts commented on #56
@nlohmann my thanks!
I'll check it up by my side.

[2015-04-09 17:05] irazasyed commented on #55
No problem. I understand.

BTW Tried to compile this with C++11 and it always ends up with lot of errors. Ended up moving to another library though. I see it was also reported already in #50 issue.

Thanks for your time though.

[2015-04-09 17:05] #55 closed

[2015-04-09 17:05] nlohmann commented on #55
I think it would be cleaner to leave PHP-specific transformations within PHP. Doesn't it boil down to:

[code]

[2015-04-09 17:07] nlohmann commented on #55
@irazasyed ,

sorry for hearing about the compilation troubles. It's a pity that MSVC does such a lousy job in terms of C++11...

[2015-04-09 17:09] irazasyed commented on #55
Well as i said, The API which i use sends/receives only encrypted data. And unfortunately that encryption function has hardcoded the serialization functionality already, due to which I'm being forced to follow their standard methods to serialize the data in C++, JSON encode, etc. Otherwise, I would've sent the data as JSON encoded already & in PHP serialize/deserialize.

[2015-04-09 17:10] irazasyed commented on #55
@nlohmann No problem :)

Stared your project, definitely useful and would use in some other projects :+1:

[2015-04-09 17:21] #50 closed

[2015-04-09 17:38] mkwork commented on #56
Wow, thanks for so fast issue fix :)

[2015-04-09 17:44] ivan-kryukov commented on #54
Fair enough. Thanks for the great library. I hope it will be pulled into the standard `C++` library at some point.

[2015-04-09 17:53] nlohmann opened #57 "erase elements using iterators"
Just as other containers, iterators should be used to identify the element to be deleted from a container.

[2015-04-09 22:17] nlohmann commented on #57
- [x] implement `erase(pos)` and `erase(first, last)` for array and object
- [ ] implement `erase(pos)` for other values (only allowed for `begin()` iterator - would result in null object)
- [ ] finish test cases

[2015-04-11 13:48] nlohmann commented on #57
Done.

[2015-04-11 13:48] #57 closed

[2015-04-11 16:34] suy commented on #50
Thank you!

[2015-04-12 08:57] drewpts commented on #57
Wow, thanks for such fast work!

[2015-04-12 16:50] nlohmann opened #58 "Get coverage back to 100%"
There are currently some lines that are not covered by test cases:

- [x] https://coveralls.io/builds/2320536/source?filename=src%2Fjson.hpp#L4168
- [x] https://coveralls.io/builds/2320536/source?filename=src%2Fjson.hpp#L4152
- [x] https://coveralls.io/builds/2320536/source?filename=src%2Fjson.hpp#L4185

[2015-04-19 06:36] miloyip opened #60 "Double quotation mark is not parsed correctly"
In JSON, double quotation mark in a JSON string is escaped as `\"`, such as
[code]
should be escaped as `"foo"`. But this library did not handle it and parsed it as `\"foo\"`.

I reproduced the bug with the following test case:
[code]

Results:
[code]

[2015-04-21 00:24] jgod commented on #60
:+1: I noticed this too. I've been manually escaping my strings

[2015-04-21 20:10] nlohmann commented on #60
The problem is the [`escape_string`](https://github.com/nlohmann/json/blob/master/src/json.hpp.re2c#L2189) function that seems to escape strings to strictly. I would be glad about help how to improve the function.

[2015-04-21 20:37] nlohmann commented on #60
@miloyip @jgod , could you try https://gist.github.com/nlohmann/84625311b4801cee5420 ?

[2015-04-24 20:07] #60 closed

[2015-04-24 23:22] nlohmann opened #61 "Complete brief documentation"
The following functions are not yet documented:

- [ ] type
- [ ] push_back
- [ ] operator+=
- [ ] swap
- [ ] find
- [ ] count
- [ ] dump
- [ ] parse
- [ ] operator==, operator!=, operator<, operator<=, operator>, operator>=
- [ ] std::swap
- [ ] std::hash
- [ ] operator<<, operator>>
- [ ] operator"" _json

[2015-04-25 17:50] smiley opened #62 "Windows/Visual Studio (through 2013) is unsupported"
I was about to use this for a C++ project in Visual Studio 2013, but the header fails compilation entirely, thanks to a myriad of errors:

[code]

This is on VS2013, and as far as I know it supports [90% of the standard](https://msdn.microsoft.com/en-us/library/hh567368.aspx?f=255&MSPPError=-2147217396) (but not some of what you're using here, like `noexcept`).

Are you planning to support Visual

[2015-04-25 18:41] nlohmann commented on #62
Hi @smiley,

I already had several requests about MSVC support, but even the 2015 version still lacks full C++11 support (see #50). As one of the goals of this project is to embrace "Modern C++", I do not plan to remove those features that are not supported by MSVC, I'm sorry :-)

I'm happy to link to forks that support MSVC though ;-)

All the best
Niels

[2015-04-25 20:53] smiley commented on #62
I understand that and you shouldn't remove features to support another compiler, but some of the uses don't seem to be necessary. If you remove them, or use simplified forms of them, you can support VS2015+ without sacrificing the clarity & cleanliness of the code.

For example, [line 137](https://github.com/nlohmann/json/blob/master/src/json.hpp#L137) (the first error) makes a type-aliasing decla

[2015-04-25 21:12] nlohmann commented on #62
I addressed the issue with the (admittedly superfluous) type alias and also included `<ciso646>` for the operators. If there are other issues that can be fixed so easily, please let me know.

[2015-04-25 21:19] nlohmann commented on #50
Hi @suy and @MPolovyi, I made some changes for ticket #62 which may affect MSVC support. Maybe you can check whether MSVC 2015 support is now better.

[2015-04-26 22:04] nlohmann commented on #62
I added a CMake file and enabled AppVeyor again. Though I chose MSVC 2015, the build is still failing (see https://ci.appveyor.com/project/nlohmann/json/build/370). As I am neither an expert in MSVC nor CMake, I am clueless how to proceed. Maybe you have an idea. (This also affects issue #50).

[2015-04-26 23:11] smiley commented on #62
It looks like it still uses Visual Studio 2013 (VS12 is 2013, VS13 is 2015).

How is the project (.vcxproj) configured? A project can still be run with a newer version of Visual Studio but compiled with an older one.

[2015-04-27 19:50] nlohmann commented on #62
It is all configured through the [appveyor.yml](https://github.com/nlohmann/json/blob/master/appveyor.yml) and [CMakelists.txt](https://github.com/nlohmann/json/blob/master/CMakeLists.txt) files. Do you have an idea what needs to be changed?

[2015-04-27 20:45] nlohmann commented on #62
I made a change and tried again: https://ci.appveyor.com/project/nlohmann/json/build/372. It now seems to use Microsoft Visual Studio 14.0. However, there are still 100s of errors. :-(

[2015-04-27 21:25] nlohmann commented on #62
Appveyor now runs with 19.0.22609.0 (Visual Studio 2015 CTP 6). There are still [100s of errors](https://ci.appveyor.com/project/nlohmann/json/build/375), but maybe some of them can be fixed easily. Help would be greatly appreciated!

[2015-04-28 04:56] smiley commented on #62
I'll look into it tonight, maybe I could resolve more of these.

[2015-04-30 11:54] JeffAbrahamson opened #64 "Compilation results in tons of warnings"
╭╴ (master=)╶╮
╰ jeff@siegfried:json $ uname -a
Linux siegfried 3.16.0-33-generic #44-Ubuntu SMP Thu Mar 12 12:19:35 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
╭╴ (master=)╶╮
╰ jeff@siegfried:json $ make
g++ -std=c++11  -Wall -Wextra -pedantic -Weffc++ -Wcast-align -Wcast-qual -Wctor-dtor-privacy -Wdisabled-optimization -Wformat=2 -Winit-self -Wmissing-declarations -Wmissing-include-dirs -Wold-style-

[2015-05-01 09:57] nlohmann commented on #64
Hi @JeffAbrahamson, thanks for reporting!

I switched on the warnings to see whether there are warnings in the `json.hpp` header. The warnings you see all affect the [Catch](https://github.com/philsquared/Catch) unit test framework, and I think [this ticket](https://github.com/philsquared/Catch/issues/407) addresses this issue.

All the best
Niels

[2015-05-01 09:57] #64 closed

[2015-05-01 17:16] suy commented on #62
In case it's helpful: Microsoft has released [VS 2015RC](http://blogs.msdn.com/b/vcblog/archive/2015/04/29/visual-studio-2015-rc-now-available.aspx) with a [table of the C++ features supported](http://blogs.msdn.com/b/vcblog/archive/2015/04/29/c-11-14-17-features-in-vs-2015-rc.aspx). I don't have that much experience with heavy template use, so I haven't given a try yet. I will probably do, but is

[2015-05-01 20:32] jwaterloo opened #65 "Wishlist"
A common use case in web development is the need for flatten and unflatten functions, that is the ability to flatten a json object into a map of javascript assignment strings and vice versa.

{
"member1" : true,
"member2" : "Hello World",
"member3" : [1, {"member4" : 4, "member5" : 6.5}, 3]
}

into

prefix "whatever"

key = whatever.member1
value = true
key = whatever.member2
value = "Hello World"

[2015-05-02 01:17] robertramey opened #66 "Consider submitting this to the Boost Library Incubator"
www.blincubator.com

Robert Ramey

[2015-05-02 18:34] mlund opened #67 "Keys when iterating over objects"
I'm trying to iterate over a json input file containing an unknown number of molecules (see below). For each of these the key is the name which I currently have found no way to extract. Is this possible?

Code:
[code]

[2015-05-02 19:21] mlund commented on #67
Found one solution,
[code]
which returns a `std::map` where `first` and `second` represents name and value. Don't know if this extra complication warrants a `name()` function in `basic_json` or not.

[2015-05-03 13:16] nlohmann commented on #67
Unfortunately, there is no way for a JSON value to "know" whether it is stored in an object, and if so under which key. All you can do is to use the `json::iterator` class which has a `key()` and `value()` member function to access the key and the value when you iterate over an object.

For your code:

[code]

(Here, `it` would be of type `json::iterator`.) This prints

[code]

I hope this helps!

[2015-05-03 13:16] #67 closed

[2015-05-03 13:22] nlohmann commented on #62
This sounds interesting. It seems, however, that AppVeyor has not updated to that version yet.
![appveyor](https://cloud.githubusercontent.com/assets/159488/7445190/3cbcefa0-f1a8-11e4-9189-a6ce89dc1c92.png)

[2015-05-03 13:42] nlohmann commented on #65
Hi @jrandall, thanks for the input. I have an idea what you mean, and I have an idea how to realize it. Could you give me some references for PHP and jQuery so I can check?

[2015-05-03 16:14] mlund commented on #67
This will work nicely, thanks!

[2015-05-03 19:29] soonhokong opened #68 "errors in g++-4.8.1"
g++-4.8.1 generates the following two errors while g++-4.9.2 does not generate any error (OS: ubuntu-12.04).

[code]

[2015-05-03 19:31] nlohmann commented on #68
Thanks for reporting. I'll have a look soon.

[2015-05-03 19:36] nlohmann commented on #68
I can reproduce this error with `Homebrew gcc48 4.8.4`.

[2015-05-05 23:29] EricMCornelius opened #70 "Handle infinity and NaN cases"
http://en.cppreference.com/w/cpp/io/c/fprintf

snprintf will format infinity and nan doubles as Inf/Infinity or nan/nan(char_sequence) respectively.  This  can break the validity of a json.dump() document: https://github.com/nlohmann/json/blob/1580eee4ed36cce2251c42ced420807abe8fa35f/src/json.hpp#L2279

You can check for infinity/nan w/ std::isinfinite/std::isnan - not sure what you'd like to actu

[2015-05-05 23:40] EricMCornelius commented on #70
Looking into what others do, it seems the ECMAScript 5.1 specification explicitly specifies stringifying +/- Infinity and NaN as null.

    NOTE 4 Finite numbers are stringified as if by calling ToString(number). NaN and Infinity regardless of sign are represented as the String null.

http://www.ecma-international.org/ecma-262/5.1/#sec-15.12.3

Of course, 'the String null' is pleasantly ambiguous.

[2015-05-06 05:33] nlohmann commented on #70
Hi @EricMCornelius, thanks for the note. I'll check it tonight. All the best, Niels

[2015-05-06 17:52] #70 closed

[2015-05-06 17:55] nlohmann commented on #68
This is a bug in GCC, see [here](http://stackoverflow.com/questions/19559235/stdvectorerase-and-const-iterators-with-g) and [here](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=57158). I see what I can do to circumvent it.

[2015-05-06 18:18] #68 closed

[2015-05-06 18:41] nlohmann commented on #68
The reason was that `std::vector::erase` was not implemented for const iterators before GCC 4.9. I could circumvent this in my code.

[2015-05-06 18:42] nlohmann commented on #68
dreal/dReal.jl#2 and dreal/dreal3#97 - this bug is now fixed; the code compiles with GCC 4.8.

[2015-05-06 19:44] nlohmann commented on #62
AppVeyor now has "Visual Studio 2015 RC" (MSVC 19.0.22816.0) as option. The errors seem to be the same: https://ci.appveyor.com/project/nlohmann/json/build/397. Can anyone support this?

[2015-05-06 20:41] soonhokong commented on #68
@nlohmann, thank you very much!

[2015-05-07 09:19] suy commented on #62
Yes, I tried with Visual Studio locally and the errors seem the same. Just in case, a quick copy and paste:

https://gist.github.com/suy/99d2efc63a8711e4bdf5

[2015-05-09 10:17] nlohmann commented on #62
Thanks for trying. So I can take home that even Visual Studio 2015 is unable to compile the code.

[2015-05-09 11:07] smiley commented on #62
I managed to take this down to one error by removing all `basic_json::` references. Looks like this in-class, same-class referencing was tripping up MSVC, and without it the compiler still knows to use the in-class match when searching for the symbol.

Now all I'm left with is this:

[code]

[code]

[2015-05-09 11:10] nlohmann commented on #62
@smiley, that sounds interesting! How did you remove the references? Did you replace `basic_json` with the lengthy template list or did you use a typedef or ´using`?

[2015-05-09 11:16] smiley commented on #62
I really did just remove `basic_json::` [from every `using` statement](https://github.com/smiley/json/commit/90c7c96b5fe937b435a2e613404db0de3e0b2781), and made sure Visual Studio actually picked the right class by hovering over it & seeing the mentioned class. (It also compiled fine and had nothing with that same name in the global namespace)

I still kept the redundant statements, though, as a s

[2015-05-09 11:20] nlohmann commented on #62
How cool! :+1:

The remaining error seems to be an issue with the delegating constructor, right?

[2015-05-09 11:34] smiley commented on #62
It seemed like it, but if I replace the constructor call with the body of the called constructor, it still throws the same error so looks like `typename std::enable_if<std::is_constructible<string_t, V>::value, int>::type = 0` is the culprit. :-/

[2015-05-09 11:38] smiley commented on #62
Also, I have no idea why but AppVeyor still has trouble with this, even on VS2015 RC: https://ci.appveyor.com/project/smiley/json

The version number matches, but locally this compiles fine on my end. No idea why that happens.

[2015-05-09 13:22] nlohmann commented on #58
Fixed the string handling and removed yyfill() macro from coverage.

[2015-05-09 13:22] #58 closed

[2015-05-09 14:03] smiley commented on #62
This is odd. If I remove the `enable_if` condition or force it, errors happen and lines like this fail to work:
[code]

But if I remove the constructor altogether, that line -- and actual string uses -- work perfectly. @nlohmann, is there a need for this implicit constructor?

(And while we're discussing strings, what about Unicode support?)

[2015-05-09 18:25] nlohmann commented on #62
You're right - without the constructor, all tests run without problems. I'll see if I can find out why I added it in the first place.

What you mean with Unicode support? There are plenty of test cases parsing all kinds of Unicode characters.

And I don't know what you mean with AppVeyor and `std::vector`.

[2015-05-09 19:05] smiley commented on #62
Earlier I said that I have no idea why AppVeyor still fails at compiling this, but then I noticed the `std::vector`-based examples (e.g.: make json array from `std::vector`) don't compile for me as well, so the interoperability with STL containers doesn't work for some reason.

I haven't looked at test cases, but if I pass on `wchar_t`, `char16_t` or `char32_t` it treats them as boolean values for

[2015-05-24 17:06] RossBencina commented on #62
This is a great library. I got it compiling with MSVC2013 with some reasonable changes and a few hacks. Basic functionality appears to be working. I have not run the unit tests.

Here is the full set of patches that I applied:
https://github.com/nlohmann/json/compare/master...RossBencina:msvc2013-patch

The patches fall into the following categories:

- Missing language/library support:
 * 262a7da

[2015-05-24 18:04] nlohmann commented on #62
Hi @RossBencina, thanks for the deep analysis. I shall have a closer look. The `typename` stuff shall definitely be applied in master. Do you know how the situation in MSVC 2015 looks like?

[2015-05-24 18:27] RossBencina commented on #62
@nlohmann No problem. I'm not eactly sure about MSVC 2015. RC1 was released last month. There is a supported language features table here: http://blogs.msdn.com/b/vcblog/archive/2015/04/29/c-11-14-17-features-in-vs-2015-rc.aspx

Of relevance to json library, the following are added in MSVC2015 (according to the above link):
 * user defined literals
 * unrestricted unions
 * noexcept

According to

[2015-05-24 18:34] RossBencina commented on #62
@nlohmann I just looked at the [Appveyor link you posted above](https://ci.appveyor.com/project/nlohmann/json/build/397). I think those `typename` fixes I suggested will help.

[2015-05-25 06:47] suy commented on #62
El Sunday 24 May 2015, Ross Bencina escribió:

This is great to read. In the testing I mentioned in the previous messages, I
did get less errors sprinkling typename's here and there, but since templates
are not my thing, I could not really now if I was doing it right.

I'll have a look at your commits and try to see if I can get it built with the
tests passing under MSVC2015.

--
Alex (a.k.a. suy)

[2015-05-26 21:30] benbo75 opened #76 "dump() / parse() not idempotent"
If you construct a string of the JSON payload using `dump()` and then use `parse()` to deserialize it, the contents of the former object don't match the latter when there are escape characters.  Example pseudo-code

    void test_case()
    {
        nlohmann::json fields;
        fields["one"] = std::string("one");
        fields["two"] = std::string("two three");
        fields["three"] = std::s

[2015-05-28 09:53] drewpts opened #77 "Invoking is_array() function creates "null" value"
Hello.
[code]
After invoking such function on json object data with key SUBPR_DESCR appearing with value "none".

![2015-05-28 12 46 21](https://cloud.githubusercontent.com/assets/10561098/7857293/059ef150-0538-11e5-9de7-c8f5f48a1c11.png)
![2015-05-28 12 46 31](https://cloud.githubusercontent.com/assets/10561098/7857292/059dab10-0538-11e5-96b0-030987fc02c6.png)

[offtop] Lol, horrible char * to st

[2015-05-29 10:38] drewpts commented on #77
I just faced similar behaviour with method is_null(): if no value in object **O** under "foo" key invoking O["foo"].is_null() creates such value (see screen):
![2015-05-29 13 35 50](https://cloud.githubusercontent.com/assets/10561098/7881081/f0e1c302-0607-11e5-98c7-4a5ee0eb531d.png)

Thank you for you attention!:)

[2015-05-29 11:25] drewpts opened #78 "Incorrect behaviour of basic_json::count method"
Hello again. :)
If we have code:
[code]

Accordingly to comment:
[code]
we should got "2" in program output. By I got "1".

[2015-05-30 09:53] nlohmann commented on #78
No, `1` is the correct result, because an object is a mapping of keys to values. Hence, a key can only occur once on the mapping.

The standard `nlohmann::json` uses `std::map` to implement JSON's object. You could, if you like, use `std::multi_map` instead. Then, the result would indeed be `2` (to the price that the container is not compliant JSON any more).

[2015-05-30 09:53] #78 closed

[2015-05-30 12:02] drewpts commented on #78
I understood. Sorry.

[2015-05-30 13:18] nlohmann commented on #78
No worries!

[2015-05-30 13:27] nlohmann commented on #77
What you try to do is to find out whether an object stores a value for a key. For that, you could try `j.count("subprojects") == 0`.

However, `j["subprojects"]` has a different semantics: If a key `subprojects` is stored in `j`, it returns a reference to that object. But if it does not, it creates a `null` value for that key. While this may make little sense when combined with `is_null()`, it hel

[2015-05-30 13:27] #77 closed

[2015-05-30 14:46] nlohmann commented on #76
I cannot reproduce the error. I added the following lines to the unit tests:

[code]

Am I missing something?

[2015-05-31 13:47] benbo75 commented on #76
Sorry for the mistake.  My local repo was out of date; the current version of the code does not have this problem.

[2015-05-31 13:47] #76 closed

[2015-05-31 15:21] nlohmann commented on #76
No worries!

[2015-06-03 18:50] Ingener74 opened #80 "MinGW have no std::to_string"
c:/Users/Pavel/workspace/Jupiter/3rdparty/json/src/json.hpp:2015:24: error: 'to_string' is not a member of 'std'

please use somethink like that:
template<typename T>
std::string to_string(T t){
    std::stringstream s;
    s << t;
    return s.str();
}

sorry. my english is bad

[2015-06-03 18:55] nlohmann commented on #80
Thanks for reporting! Does the rest of the code compile? I am asking, because I do not want to add changes, before knowing that MinGW can work in principle. Furthermore, what version of MinGW and compiler do you use?

[2015-06-03 19:00] Ingener74 commented on #80
bash-3.1$ g++.exe --version
g++.exe (GCC) 4.8.1
Copyright (C) 2013 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

i am compile with -std=c++11 option

and i have another some errors with MinGW
c:/Users/Pavel/workspace/Jupiter/3rdparty/json/src/json.hpp: In member

[2015-06-04 06:14] Ingener74 opened #82 "lexer::get_number return NAN"
![screenshot_2015-06-04_09-12-02](https://cloud.githubusercontent.com/assets/3167594/7978072/1d45ec8e-0a9a-11e5-98b9-2a98637a0436.png)

[2015-06-04 06:31] nlohmann commented on #80
Could you please try whether it works now?

[2015-06-04 06:33] nlohmann commented on #82
Could you please provide more information. From the screenshot, I do not understand where the NAN occurred. Maybe a small example of an input JSON and the code you are using would help.

[2015-06-04 06:34] Ingener74 commented on #80
Ok. Thank's. I'll try at home a couple of hours.

[2015-06-04 06:38] Ingener74 commented on #82
Example json on screenshot, is Box.json. get_number fail on ["origin"]["x"]
in top right you can see pointers values.
strdot return 0, but m_start and endptr not equal, end get_number method returns NAN, maybe strtod fail, or work wrong? i can't yet understand.

[2015-06-04 06:42] nlohmann commented on #82
I see. However, I cannot reproduce this - there are several test cases to check get_number. Could you attach the JSON file and give me more information:

- What exactly are you calling?
- What OS/compiler do you use?

[2015-06-04 06:50] Ingener74 commented on #82
I call next
[code]
this in >> operator when json parse file

Computer where i repeat error is
OS: Xubuntu 15.04
uname -a: Linux pavel 3.19.0-16-generic #16-Ubuntu SMP Thu Apr 30 16:09:58 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Compiler: g++ (Ubuntu 4.8.4-1ubuntu15) 4.8.4

[2015-06-04 06:51] nlohmann commented on #82
Could you please also attach the JSON file (or email it to me)?

[2015-06-04 06:52] nlohmann commented on #80
I could compile it with `i586-mingw32-g++ (GCC) 4.8.0` for OS X (from http://crossgcc.rts-software.org/doku.php?id=compiling_for_win32).

[2015-06-04 12:46] Ingener74 commented on #82
I try simple example
[code]
[code]
and got output
[code]
I found out that the reason is not the compiler, not in your library, and not in the json file because another program on this computer with this file it works. But I do not understand why it does not work here. It may be needed to determine what is or to declare further

[2015-06-04 12:48] Ingener74 commented on #82
maybe some compilation flags needed?

[2015-06-04 16:07] Ingener74 commented on #80
i try
[code]

[2015-06-04 16:19] Ingener74 commented on #80
if delete
[code]
compiles and works fine

[2015-06-04 17:43] nlohmann commented on #80
I adjusted the code in the last commit. I should compile now with MinGW.

[2015-06-04 18:00] Ingener74 commented on #80
Thank you. It helped :)

[2015-06-04 18:00] #80 closed

[2015-06-04 18:18] nlohmann commented on #82
Thanks for the details. However, I cannot reproduce them - with the latest commit, I added a test case of the code you posted above, and it succeeds on OSX and Linux.

[2015-06-04 18:23] nlohmann commented on #82
I also tried the file you sent me with this code:

[code]

Compiled with `g++ test2.cpp -o test2 -std=c++11 -Isrc`

[2015-06-04 18:41] kepkin commented on #62
Regarding 03b0d1d
There are two constructors with the same signature:
 - one for implicit string
 - and implicit array just ~40 lines before

[code]

If for instance, you change second constructor to ```inline basic_json(const V value)```, it compiles.

[2015-06-04 18:45] nlohmann commented on #62
That's good to hear! I'll have a look to clean this up in the master branch.

Furthermore, `snprintf` is not used any more, so that is another thing that won't be a problem any more.

[2015-06-04 18:51] kepkin commented on #62
Oh.. this template magic really puzzles me. I've just moved up ```string (implicit)``` constructor, so it's the first _templated_ constructor and it also works (without changing signature).

Even though some basic functionality works, I still can't compile unit tests.

[2015-06-04 18:53] nlohmann commented on #62
Can you try leaving the order as is and add the line `not std::is_constructible<string_t, V>::value and` to the implicit array constructor to remove the ambiguity?

[2015-06-04 18:59] kepkin commented on #62
No it's not working.

[2015-06-04 19:02] nlohmann commented on #62
That's too bad. By the way, I added some of the fixes listed above in the last commit.

[2015-06-04 19:09] nlohmann commented on #62
(Still errors... With MSVC 2015: https://ci.appveyor.com/project/nlohmann/json/build/430)

[2015-06-04 19:16] nlohmann commented on #65
Without more information, I close this issue for now.

[2015-06-05 05:58] Ingener74 commented on #82
Sorry Niels. Problem was in my library :)

[2015-06-05 07:54] Ingener74 commented on #82
Niels sorry again. Found an error which indirectly touches your library function in some rare cases, it does not work properly due to the fact that you have a different locale, and she considers the comma separator instead of a period, and then the library does not begin to parse correctly.It helped me next
[code]

[code]
I found the solution here http://www.thecodingforums.com/threads/how-to-make

[2015-06-05 10:14] jrandall commented on #65
@nlohmann it looks like you replied to me instead of @	jwaterloo by mistake. @jwaterloo, perhaps you can provide the references for PHP and jQuery that Niels is looks for?

[2015-06-05 10:30] nlohmann commented on #65
Oops, my bad...

[2015-06-05 21:23] nickdesaulniers opened #83 "range based for loop for objects"
Note that the readme recommends this syntax for iterating key/value pairs of an object:
[code]

If we try to iterate an nlohmann::json object using a range based for, we only seem to get the value:

[code]
prints:
[code]

Using [some fancyness](http://stackoverflow.com/a/6963910/1027966), it should be possible to provide an API similar to std::map et al for iterating key value pairs of an object.

[2015-06-05 21:46] nickdesaulniers opened #84 "static library build"
I'm trying to build this as a static lib that I can link to, but must admit I'm out of my depth.  Is it possible?  I've added the usual cmake commands but am getting various errors.  If I try to build the archive manually, I get that it's empty.  If I compile `src/json.hpp` to an object file, it's only 200B in file size, which seems wrong, `objdump` doesn't print any symbols from it, and `ar` comp

[2015-06-05 23:26] vpetrigo commented on #84
@nickdesaulniers You can not compile the `json.hpp` because it's just header file. You have to include it in you source files and then build your own library by using `ar` if you wish. It happens because header files contain only definition, templates or inline functions (if we talk about class definition), templates and so on which will be placed where you want to use them in your code.

So, for

[2015-06-05 23:31] nickdesaulniers commented on #84
ah, so that's why `inline` is everywhere.  Thanks for explanation Vladamir, I appreciate it!

[2015-06-05 23:31] #84 closed

[2015-06-06 22:27] kepkin commented on #62
I've made some progress: f2ae9e989 but commented some unit tests to make the process iterative.

The hardest part left is iterators. I think I'll just have to rewrite it a little bit. MSVC behaves differently in choosing overload between:
[code]
and
[code]

Inside a templated method MSVC will always choose the first variant. I've checked how std::vector iterators are written and it turns out that

[2015-06-07 18:54] nlohmann commented on #83
I understand what you mean. I would need to overwork the iterators - I'll check how much effort this would mean. One aspect that needs to be addressed is the fact that the same approach needs to be applicable likewise to arrays. There, it would be cumbersome to access the value with `pair.second`. What do you think?

[2015-06-07 18:56] nlohmann commented on #84
Thanks @vpetrigo for the explanation. In fact, the class makes heavy use of templates to be applicable in many scenarios where we know little about the values we want to store to JSON, but can rely on the fact that they are some kind of STL containers.

[2015-06-07 19:21] nlohmann commented on #82
I see the problem. The linked solution is not really an option, because setting the locale affects the whole program, and not just the JSON class. I see if I can find a different approach.

[2015-06-08 05:39] #82 closed

[2015-06-08 16:18] nickdesaulniers commented on #83
Yeah, it would be preferable to not have to access the value of array elements through a std::pair.  Do note that in JavaScript, arrays *are* objects with numeric unsigned monotonically increasing keys.  I'm not sure how much of that applies to JSON; it might be weird for the array iterator to be:

first | second
== | ==
0 | "hello"
1 | "world"
2 | "foo"

[2015-06-11 15:34] mlund commented on #83
This is essentially what I was after in issue #67 and would be happy to see map-like behavior for range based loops.

[2015-06-11 20:31] nlohmann commented on #83
Hi @nickdesaulniers and @mlund, I thought about the issue and came to the following idea I would like to discuss with you:

I learned the types of the objects that are created in a range-based for are determined by the return value of `iterator::operator*()`. There, I currently return `reference` which is a typedef for `basic_json &`. To allow the access to the key during iteration, I would replac

[2015-06-11 21:43] nickdesaulniers commented on #83
lgtm, but to be consistent with std::map I would prefer i.first and i.second.

[2015-06-12 08:45] mlund commented on #83
Both have merits; I'm personally in favour of the wrapper due to the cumbersome pair for arrays. std-like behaviour is appealing, though, and I wonder if one could return a `std::pair`-derivative for arrays that can be implicitly converted into the data type, i.e. `int` or `string` in the examples above?

[2015-06-15 12:41] arnaudbrejeon opened #89 "Nonstandard integer type"
Hi,

the following does not build on OSX with C++14:

    #include "nlohmann.json.hpp"
    using json = nlohmann::basic_json<std::map, std::vector, std::string, bool, int32_t, float>;
    int main(int argc, const char * argv[]) {
        json j;
        j["int_1"] = 1; << Conversion from 'int' to 'nlohmann::basic_json<std::map, std::vector, std::__1::basic_string<char>, bool, int, float, std::allo

[2015-06-15 13:37] kepkin commented on #62
nlohmann, what do you think about my PR https://github.com/nlohmann/json/pull/88 ?

[2015-06-15 13:39] ropuls opened #90 "is_integer and is_float tests"
Hi Niels,

excellent library, thanks!

would it be possible to add two more members, namely:

[code]

that would be extremly helpful when it comes to serializing json i.e. via msgpack or saving a json into mysql.

Thanks and Cheers,
  Roman

[2015-06-15 14:32] nlohmann commented on #62
Hi @kepkin, thanks for the PR. I didn't find the time to look at it, yet. I hope to come to this on Wednesday.

[2015-06-15 14:34] nlohmann commented on #90
I often had the same idea, but thought that nobody else would need this ;-)

[2015-06-15 14:37] #90 closed

[2015-06-15 14:44] ropuls opened #91 "access by (const) reference"
Hi Niels,

yet another question. I try to avoid copying whereever possible (during serialization). So when:

[code]

the compiler tells us:
[code]

with a static cast:

[code]

the compiler is happy, but apparently returns a reference to a temporary, so s is dangling.

Have you got any hints on how to access underlying memory (for string, int, ...) so we can avoid copying the values?

would
[code]

[2015-06-15 14:45] ropuls commented on #90
excellent, thanks a lot!

Cheers,
  R.

[2015-06-15 14:45] nlohmann commented on #89
I understand the problem - it is a conflict with the solution to issue #71. I see what I can do.

[2015-06-15 17:45] #89 closed

[2015-06-15 17:46] nlohmann commented on #89
Your code example should work now - I added a respective test case.

[2015-06-15 18:10] nlohmann commented on #91
Hi Roman,

I actually haven't thought about this yet. I'll see what I can find out.

Cheers,
Niels

[2015-06-15 18:11] yatagarasu25 commented on #91
Roman, temporary object return should be handled by RVO, which is in C++ since 199x, so I think you are overoptimizing and there is no need in storing values in const references here.

[2015-06-15 18:42] arnaudbrejeon commented on #89
It's working perfectly. Thank you for your super-fast feedback.

[2015-06-16 06:22] ropuls commented on #91
Hi Igor, Nils,

RVO is not the point. If you're i.e. serializing a json struct into something else, you currently have to take copies of all keys and values inside the json structure for no good reason. Instead, it would be desirable to just reference keys and values without actually copying them. This is completely unrelated to RVO.

Examples where you want to have that behaviour is when
- writin

[2015-06-16 20:24] andreihu commented on #91
Hi Nils,

Here is a suggestion for the functionality:

In the json class, the following public interface could be supported:

[code]

The corresponding private implementation:

[code]

plus an accessor for object keys in the iterator classes:

[code]

Some remarks:
- Pointers are returned instead of references because the method can be noexcept, plus a returned reference can be part of an expressi

[2015-06-16 20:31] nlohmann commented on #91
Hi all,

I thought about the issue and I think I have a solution:

With code like

[code]

you would get a const reference to the types of `basic_json`.

For `json::string_t`, this function would be implemented as follows.

[code]

Note that `string_t*` is only used to choose the correct version of `get_impl_ref`.

What do you think? Is this what you want? If so, I can add this for the value types

[2015-06-16 20:35] nlohmann commented on #91
Hi @andreihu,

it seems our posts overlap ;-)

I like your approach, because it's much simpler than my way with const references. However, I have a bad feeling about returning non-const pointers to the member variables. Furthermore, I'd rather raise an exception in case of a type error than to silently return a null pointer - but that may be personal taste.

Anyway - now that there are two proposa

[2015-06-16 20:42] nlohmann commented on #83
I currently see whether I can use an approach similar to `std::vector<bool>::reference`. Once I found a way to return a proxy object, I still can add members `first` and `second` to mimic the `std::pair` approach.

[2015-06-16 20:42] nlohmann commented on #65
Hi @jwaterloo, thanks for the input. I have an idea what you mean, and I have an idea how to realize it. Could you give me some references for PHP and jQuery so I can check?

[2015-06-16 21:11] ropuls commented on #91
Hi Niels, Andras,

@nlohmann: sorry mistyping your name all the time, fixed now!

both version have their advantages. As usual, it all comes with some cost, which is responsibility here if one is dealing with raw pointers.

*Pointer Access*
- exception freeness enables you to write exception-free code (assuming -fnoexcept)
- non-const access to underlying pointers may enable some in-place processi

[2015-06-16 21:21] nlohmann commented on #91
Hi Roman,

good point for having them both, and good point with RTTI - I shall remove all the `typeid` stuff.

One question: What do you mean with "might even serve as foundation for internal handling"?

Cheers
Niels

[2015-06-16 21:44] ropuls commented on #91
Hi Niels,

I saw a lot of switch statements inside the code and asked myself if pointer-based members could somehow unify access and spare code - not sure about that. Will come back in another ticket, if so.

Cheers,
  Roman

[2015-06-17 00:37] jwaterloo commented on #65
On 6/16/2015 4:43 PM, Niels wrote:

http://api.jquery.com/jQuery.param/

  jQuery.param()

|// >=1.4:|
|$.param({ a: { b: 1, c: 2 }, d: [ 3, 4, { e: 5 } ] });|
|// "a[b]=1&a[c]=2&d[]=3&d[]=4&d[2][e]=5"|

In our case
map<string, ?>
key -> value
a[b] -> 1
a[c] -> 2
d[] -> 3
d[] -> 4
d[2][e] -> 5
or
a.b -> 1
a.c -> 2
d[] -> 3
d[] -> 4
d[2].e -> 5

see also http://api.jquery.com/jQuery.ajax/ which is

[2015-06-17 07:05] andreihu commented on #91
Hi Niels, Roman,

My 2 cents on the ptr/ref based accessors:

1. C++ has the long standing legacy of providing zero overhead abstractions, if possible. In my understanding my get_ptr proposal is that one. It's more or less analog to the std::vector's operator[] and at(). The first is the fast, simple, non-throwing version, the second one is the safer throwing.

2. Usage:

The good point with retur

[2015-06-17 07:20] ropuls commented on #91
@andreihu: agree

@nlohmann: in case you'd agree, would you need help? If so, please advise (I guess some enable_if is needed to make overloads work on the public API for the get-family).

Thanks and cheers,
  Roman

[2015-06-17 17:15] kepkin commented on #83
Neils, I would really appreciate if you check my iterator reimplementation before doing your changes with iterators, if you didn't begin. Otherwise I may have hard time to merge my changes in https://github.com/nlohmann/json/pull/88. If you want I may create a separate pull request just for iterators.

[2015-06-17 21:37] nlohmann commented on #83
Hi @kepkin, sorry for letting you wait. I did not find the time to look at your PR yet. I really appreciate any work that helps us getting closer to a MSVC build. But since I would like to avoid too many conditionals or other "hacks", I really would like to take some time investigating. I haven't made any changes with respect to this issue yet, and I will not commit anything related to iterators b

[2015-06-17 21:51] nlohmann commented on #91
Hi all, thanks a lot for the lively discussion. I really appreciate this! I will have time on the weekend to integrate the ideas.

Until then, I would like to clarify some questions from my side:

1. We agree that `T get()` remains as is to explicitly ask for copies of the stored values, including conversions where possible and exceptions in case of incompatibles.
2. To allow for implicit type con

[2015-06-17 21:55] nlohmann commented on #65
Thanks. I'll have a look and maybe come back if I have some questions. Until then, I would appreciate more concrete examples.

- What kind of functions would you expect?
- What should be the input?
- What should be the output?

[2015-06-18 06:46] ropuls commented on #91
Good day,

my naive approach when seeing a
[code]

is that you get exactly that T that you specify, or a compiler error if that T is not available. If somebody says:

[code]

then IMO he shall be served with a ```const copy``` of the string, even if it most likely makes no sense.

The same applies to question 4) *non-const references*, i.e:

[code]

would be perfectly fine for me, as it does not t

[2015-06-18 08:06] likebeta opened #92 "init error"
code:
[code]
output:
[code]

It is strange  in case 1,  why get this result?

[2015-06-18 09:04] ropuls commented on #92
Hi,

in 1), you're initializing the reward with an object type (aka map). This is exactly the same as initializing a map like this:
[code]
the result will be: ```val```, not ```xxx```. This is due to the fact that the map will not replace key's value if it's already present during brace-initialization.

Assuming you want reward to be an array of objects, you would need to:

[code]
which gives you

[2015-06-18 10:25] likebeta commented on #92
Think you very mush. It is very helpful to me. Now I know the reason. I was hoping for yourexample!

If for some reason, I just want a result as `{"limit":1000,"reward":[["chip",1000],["chip",2000],["chip",3000]]}`, how to make it? Must I use `json::array`?

Thanks again

[2015-06-18 19:27] TmsKtel opened #93 "reverse_iterator operator inheritance problem"
int main()
    {
          json a = {1, 2, 3};
          json::reverse_iterator rit = a.rbegin();
          ++rit;
          return 0;
    }

gives:
error: ‘std::reverse_iterator<_Iterator>& std::reverse_iterator<_Iterator>::operator++() [with _Iterator = nlohmann::basic_json<>::iterator]’ is inaccessible
with g++
and
error: 'operator++' is a private member of 'std::reverse_iterator<nlohmann::basi

[2015-06-19 06:06] nlohmann commented on #92
Hi @likebeta,

the problem is that C++ only supports `{` and `}` in initializer lists. For JSON, however, it would be convenient to have two different sets of braces to differentiate between objects and arrays. To this end, I decided to process initializer lists as follows:

1. If a list contains only elements which are itself lists with two elements *and* each of the two-element lists has a strin

[2015-06-19 06:06] #92 closed

[2015-06-19 06:12] nlohmann commented on #93
Thanks for the hint - this was a stupid mistake...

[2015-06-19 06:25] likebeta commented on #92
@nlohmann @ropuls Think you very mush!

[2015-06-19 08:53] mlund opened #94 "static analysis warnings"
Hi!
I recently ran the static analyser tool `cppcheck` on some code using `nlohmann::json` and got the following warnings.

[code]

[2015-06-19 09:40] vinnitu opened #95 "v8pp and json"
It will be very useful to add conversion between json and v8pp (https://github.com/pmed/v8pp)
What do you think about?

[2015-06-19 10:27] TmsKtel commented on #93
Thank You for Your quick reaction, this solves the problem mentioned above.
However, it seems, that ++ returns an std::reverse_iterator, and not a json::reverse_iterator.

    int main()
    {
	    json a = {1,2,3};
	    json::reverse_iterator rit = ++a.rbegin();
	    return 0;
    }

trying to compile the above code gives the following error:
error: no viable conversion from 'std::reverse_iterato

[2015-06-20 11:51] nlohmann commented on #93
This is strange.

[code]

works... I'll check.

[2015-06-20 12:38] nlohmann commented on #94
Hi @mlund, thanks for the report. Is it possible to also get the file t.cpp?

[2015-06-20 12:47] mlund commented on #94
Sure, it's not overly elaborate :-)
[code]

[2015-06-20 12:49] nlohmann commented on #94
Indeed... Thanks. :-)

[2015-06-20 12:58] nlohmann commented on #95
I am not sure what you mean. Could you provide an example for which input which output should be generated?

[2015-06-20 14:15] nlohmann commented on #94
Unfortunately, I cannot reproduce the warnings with Cppcheck 1.68 on OSX. Furthermore, the line numbers you reported do not match the json.hpp on Github. Could please you attach the json.hpp you used?

[2015-06-20 16:21] mlund commented on #94
I'm using `json.hpp` from a few days ago -- attached -- as well as cppcheck 1.69, also on OS X.
(sorry for copying everything -- is there another way on github?)

[code]

[2015-06-20 18:36] kepkin commented on #94
@mlund just write hash code of the commit you are using. Github will create an url automatically.

You can get hash code like this:
`git rev-parse HEAD`

[2015-06-22 12:14] TmsKtel commented on #93
int main()
    {
    	json a = {1,2,3};
    	json::reverse_iterator rit = a.rbegin();
    	++rit;
    	json b = {0,0,0};
    	std::transform(rit,a.rend(),b.rbegin(),[](json el){return el;});
    	std::cout<<b <<std::endl;
    	return 0;
    }
compiles, and the output is : [0,1,2]
but trying to compile

    int main()
    {
    	json a = {1,2,3};
    	json b = {0,0,0};
    	std::transform(++a.rbegi

[2015-06-22 19:10] nanoant opened #96 "17 MB / 90 MB repo size!?"
Even 17 MB download is not really that big, it is really unexpected to download that much for single-header json library. Moreover once cloned it takes 90MB on the disk, even more surprising.

And the reason for that are these benchmark test files introduced by cb873a42ed258871d3e8768bf27b8ff1209c89f7. Is it really good to put such large files in the repo!? Unfortunately once you have put it then

[2015-06-22 19:15] nlohmann commented on #96
Hi @nanoant,

any idea how to reorganize without fragmenting stuff around into other repos or to other sites? I understand your concern, but at least now everything is in one place. In particular, the benchmark helped to improve at least one pull request.

Cheers,
Niels

[2015-06-22 19:23] nanoant commented on #96
@nlohmann My concern is just these huge benchmark input files that blow the repo size, these may be just moved out from the main repo to some other repo, and then cloned on first benchmark run (in Makefile). Anything else is already pretty small.

Right now I am probably going for embedding `json.hpp` directly into our repo rather than using submodule for this reason.

[2015-06-22 19:24] nlohmann commented on #96
Would a special development branch help? Then I could move most of the stuff from there and leave the master branch small. (Sorry, I have little experience with Git.)

[2015-06-22 19:51] nanoant commented on #96
@nlohmann I think the problem is that once the object (huge file) is there in the repo then there is no difference in which branch it resides, the clone will still fetch whole repo including huge file.

I was able to reduce repo size to 3.4 MB with recipe taken from: http://manuel.manuelles.nl/blog/2011/12/22/shrinking-your-git-repository/

But still this is lots of effort, so I probably you shoul

[2015-06-22 21:30] nlohmann commented on #61
Closed this issue: The documentation is no longer maintained in the Wiki, but as Doxygen documentation here: http://nlohmann.github.io/json

[2015-06-22 21:30] #61 closed

[2015-06-22 21:35] nlohmann opened #97 "Adjust wording to JSON RFC"
The [JSON RFC](http://www.rfc-editor.org/rfc/rfc7159.txt) uses the wording "primitive types" (strings, numbers, booleans, and null) and structured types (objects and arrays). Throughout the documentation of the code, different descriptions are used ("compound value", "atomic value", etc.) This needs to be adjusted and unified.

[2015-06-23 08:46] andreihu commented on #91
Hi Roman, Niels,

 My thoughts (i am following Niels's bulletpoints).

1. Agreed. This will keep backwards compatibility, and covers majority of use cases.
2. Agreed.
3. I am a bit ambivalent about the get_ref(). Since the majority of the use cases are covered by get<T>(). The remaining <1% (mostly performance-minded) use cases are covered by get_ptr() in an adequate non-throwing way. I feel this

[2015-06-23 14:30] mlund commented on #94
Ahh, I simply downloaded the header from the github webpage, but I get the above warnings on commit 48545f5b180c633b94fe15f629be9fd3a633e065 with the command `cppcheck t.cpp --enable=warning --std=c++11`. I use cppcheck 1.69 installed through macports on os x mavericks.

[2015-06-24 13:06] TmsKtel opened #98 "json float parsing problem"
int main()
    {
    	std::string s = "{\"num\" : 1.0}";
    	json p = json::parse(s);
    	json a = p["num"];

    	if(a.is_number_integer())
    	{
    		std::cout<<"this is int\n";
    	}

    	if(a.is_number_float())
    	{
    		std::cout<<"this is float\n";
    	} else
    	{
    		std::cout<<"this is not a number\n";
    	}

    	return 0;
    }

The above code complies without problem, but

[2015-06-24 13:09] nlohmann commented on #98
This is correct. The parser will store number values as integers where possible. `1.0` will hence be treated as `1`. JSON itself has no concept of "number type", so there is no way to "force " a library to choose a specific type. I am sorry about the inconvenience.

[2015-06-24 13:12] TmsKtel commented on #98
Ah alright.
Thank You for feedback.

[2015-06-24 13:12] #98 closed

[2015-06-24 13:13] nlohmann commented on #98
(As a background: The parser needs to decide how to store a read number. Without knowing whether it is a floating-point or integer number, I chose the following strategy:

1. Convert the number-string to a float.
2. Convert the number-string to an integer.
3. Compare the integer with a conversion of (1) to an integer.

If (3) does not yield precision loss, value (2) is used (integer). Otherwise, v

[2015-06-24 13:19] nlohmann commented on #91
Hi there,

I implemented a `get_ptr` function which a returns a pointer to the value member (or the null pointer, if the desired pointer type does not match the value type). I also extended the `get` function to be call with pointer types.

I would be glad for feedback on 40312fb. You may also want to check out the documentation at http://nlohmann.github.io/json/classnlohmann_1_1basic__json_a2efda

[2015-06-24 13:24] nlohmann commented on #94
This is strange. Here is my output with cppcheck 1.70 (trunk version installed via Homebrew on OSX 10.11):

[code]

[2015-06-24 19:58] nlohmann commented on #93
Interestingly, all code mentioned here compiles if you comment out the classes `reverse_iterator` and `const_reverse_iterator` and change the forward declarations in the beginning of `json.hpp` to

[code]

However, the functions `key()` and `value()` which are available for `iterator` and `const_iterator` are not available to `reverse_iterator` or `const_iterator`. And I have no idea how to add th

[2015-06-24 20:28] nlohmann commented on #93
I asked StackOverflow for help: http://stackoverflow.com/questions/31036364/inherit-all-functions-from-user-defined-iterator-in-reverse-iterator

[2015-06-24 20:33] gregmarr commented on #93
When creating your reverse_iterator derived class, you should only need to implement those members that return std::reverse_iterator and make them return your own iterator type instead.

[2015-06-25 07:34] ropuls commented on #98
Hi Niels,

stupid question, but why not make the decision based on the presence of a floating point separator (aka a dot). In my understanding, the parser will have a character representation of the number at some point, or may conditionally branch when encountering a dot inside a number.

i.e.
- "1" => int
- "1.0" => float
- "1.2" => float
- "1." => float

Thanks and cheers,
  R.

[2015-06-25 11:18] TmsKtel commented on #98
+1 for that.
I would personally expect 1.0 parsed to be a floating point. As You can see I immidiately thought this was a bug without looking into the parser.

[2015-06-25 22:07] ajmetal opened #99 "'noexcept' : unknown override specifier"
Visual Studio won't compile my project with the json.hpp header because of 92 errors, mostly this one.

Am I missing something?

[2015-06-26 13:15] kepkin commented on #99
You should use Visual Studio 2015, which support `noexcept` keyword. Moreover this lib still doesn't compile under windows. You may check out this PR https://github.com/nlohmann/json/pull/88

[2015-06-27 09:27] nlohmann commented on #98
It's not that simple:

"10E-3" = 0.01 (not containing a dot, but negative exponent)
"1000E-3" = 1 (not containing a dot, but negative exponent)
"1.1E3" = 1100 (containing a dot and positive exponent)
"1.147E2" = 114.7 (containing a dot and positive exponent)

I understand your idea, but since JSON does not specify a format for numbers, a JSON library cannot guarantee that it stores numbers in the

[2015-06-27 09:28] nlohmann commented on #99
Hi @ajmetal,

as @kepkin said, Visual Studio support is still suboptimal, and I am investigating how to get the code running without making too many changes.

Sorry for the inconvenience,
Niels

[2015-06-27 09:28] #99 closed

[2015-06-27 16:43] #97 closed

[2015-06-27 17:02] nlohmann commented on #94
I downloaded file `json.hpp` form 48545f5, but the line numbers still do not match your initial report.

@mlund, could you please repeat your cppcheck call and post the output together with the version of `json.hpp` you are using?

[2015-06-27 17:03] nlohmann commented on #95
Hi @vinnitu, I am not sure what you mean. Could you provide an example for which input which output should be generated?

[2015-06-27 17:05] nlohmann commented on #91
Hi @andreihu, @ropuls, @yatagarasu25,

it would be great to get feedback on 40312fb. I implemented a way to get pointers to the value members. If the interface is OK, I would like to close this issue. Or do we need additional calls for references?

All the best,
Niels

[2015-06-27 17:06] nlohmann commented on #93
Hi @gregmarr, unfortunately, I do not understand what you mean. I described my problem at http://stackoverflow.com/questions/31036364/inherit-all-functions-from-user-defined-iterator-in-reverse-iterator - maybe you can help?

[2015-06-27 17:11] nlohmann commented on #65
Hi @jwaterloo, could you be so kind and give me more concrete examples?

[2015-06-27 21:51] mlund commented on #94
Thanks for the persistence; my terminal output is for the 48545f5 checkout is shown below.
I wonder if the output is dependent on the available compilers on the system?

[code]

[2015-06-27 21:52] mlund commented on #94
oh and here's the checksum,
[code]

[2015-06-28 11:42] nlohmann commented on #94
This is all weird... If I execute cppcheck (Cppcheck 1.70 dev on OSX 10.11) on the very same files, I get no warnings at all.

If I look at the warnings you report, I am puzzled. The last warning (line 4677) for instance, warns about the following functions to throw:

[code]

Interestingly, line 4667 is the switch statement...

Anyway. What I take away from the other messages is that I have to man

[2015-06-28 11:44] nlohmann commented on #94
(Oh, stupid me... The function described above indeed can throw, because the constructor for `std::string?  can. Sorry about that.)

[2015-06-28 12:09] andreihu commented on #91
Hi Niels,

 Thx for the modifications, i think it's ok. I don't think that we need reference based overloads. However i suggest you to reconsider adding pointer based overloads to get<> (see my previous comment on reasons).

Regards
 Andras

[2015-06-28 12:18] nlohmann commented on #94
An update: I downloaded cppcheck and compiled it myself and I could reproduce the warnings. It seems that the Homebrew version has issues...

[2015-06-28 12:40] #94 closed

[2015-06-28 12:40] nlohmann commented on #94
I fixed everything that made sense to me. Thanks for reporting!

[2015-06-28 12:42] nlohmann commented on #91
Hi Andras,

so you mean `get<json::string_t*>()` should be disallowed?

Regards
Niels

[2015-06-28 13:15] andreihu commented on #91
Hi Niels,

Yes, the reason is that the same name yields fundamentally different behaviour (implicit conversion and error reporting) for different types and this is might be misleading. That's why i would vote for different names (get<>, get_ptr<>) to clarify the distinction.

Since get_ptr<> implicitly tells that we're getting a pointer, i would prefer to use it as:

[code]

instead of:

[code]

B

[2015-06-28 13:52] nlohmann commented on #91
@ropuls, @yatagarasu25 what do you think?

[2015-06-29 05:54] ropuls commented on #91
Hi Niels,

thanks a lot for the recent additions!

Regarding get_ptr at line 1929: IMO, there shall be

[code]

plus

[code]

If the object itself is *const*, it shall not internally cast to *non-const* (as in line 1939), and shall not expose a non-const pointer (let the user cast the const'ness away, then he's responsible).

 Besides, everything is fine for me, and I appreciate the latest changes

[2015-06-29 18:53] #91 closed

[2015-06-29 18:54] nlohmann commented on #91
Hi @ropuls, I made some changes. It's more code in the end, but it feels better without a `const_cast` in it.

(About the mail: I got it and answer if I find the time.)

[2015-06-29 18:56] andreihu commented on #91
Hi Niels,

Thanks for the effort, i think this is a useful addition.

Regards
 Andras

[2015-06-29 21:40] gregmarr commented on #93
The only way I see to do it is something like this:

using mytype = reverse_iterator;
using mybase = std::reverse_iterator<typename basic_json::iterator>;

mytype &operator++()
{
    mybase::operator++();
    return *this;
}

mytype operator++(int)
{
    return mytype(mybase::operator++(1));
}

and repeating that for these:
operator+=
operator+ (both member and non-member)
operator--
operator--(in

[2015-06-30 03:07] jwaterloo commented on #65
On 6/17/2015 5:55 PM, Niels wrote:

I am not over set on the names

// flatten
std::map<string, string>&& flatten(const json& object_or_array, const
std::string& name);
std::map<wstring, wstring>&& flatten(const json& object_or_array);
std::map<string, boost|std::any>&& flatten(const json& object_or_array,
const std::string& name);
std::map<wstring, boost|std::any>&& flatten(const json& object_or_

[2015-07-01 06:00] likebeta opened #100 "failed to iterator json object with reverse_iterator"
Hello @nlohmann , I've got a problem.

code:
[code]
output:
[code]

Think you for your help!

[2015-07-01 08:49] nlohmann commented on #100
This seems to be related to #93.

[2015-07-01 16:25] minus7 opened #101 "Binary string causes numbers to be dumped as hex"
The following code dumps the value of the `number` field in hexadecimal format (without leading `0x`, but that's not legal json anyway afaik) when there's also a string containing a symbol between `\x00` and `\x1f`.
[code]

The output looks like this:
[code]

Using the latest revision (540c58964dba265453d13c43ffd93a21504c4157)

[2015-07-01 20:08] nlohmann commented on #101
I can reproduce the error. I have no idea yet why the `dump()` function decides to print the number as hex, but the library seems to be confused by the control character inside the string. I'll continue checking.

[2015-07-01 21:08] nlohmann commented on #101
I found the reason for the problem: The control characters need to be escaped as `\uxxxx`. In that part of the code, an internal string stream is configured to print the character as hexadecimal number. This needs to be reset, because otherwise all subsequent numbers would be printed as hexadecimal (`a` instead of `10`).

[2015-07-01 21:09] #101 closed

[2015-07-01 21:20] nlohmann opened #102 "Finish documenting the public interface in Doxygen"
There are several undocumented public functions and types, see http://nlohmann.github.io/json/todo.html. This ticket can be closed if all public functions and types are documented and annotated with examples.

[2015-07-03 09:43] ropuls opened #103 "object field accessors"
Hi Niels,

not sure if this is needed inside the class, however that pattern is widely in use here, and might be of use for other users as well.

[code]

In a real implementation, names would need to be changed, and SFINAE type-checking shall be made if T is generally convertible from json's underlying types. It would also be good to avoid the internal exception, if possible, and have a non-throwi

[2015-07-04 09:08] nlohmann commented on #103
Hi Roman,

thanks for checking back. I understand why such a function would be interesting.

I have one question: What is the advantage of a non-member function `T get(json &value, const std::string &key, T defval = T())` over the member function `T json::get(const std::string &key, T defval = T())`?

As for implementation, I would try to avoid the `try`/`catch` block as follows: I would create fi

[2015-07-04 09:30] nlohmann commented on #100
Hi @likebeta,

thanks for reporting! I can reproduce the error with Clang AddressSanitizer. I'll check on #93 first and see if that also fixes this issue.

All the best,
Niels

[2015-07-05 17:05] nlohmann commented on #100
As far as I understand the issue right now, there seems to be an off-by-one error when using `base()` to link the reverse iterators to the "normal" iterators. I'm on it.

[2015-07-06 21:22] #100 closed

[2015-07-06 21:24] nlohmann commented on #100
Hi @likebeta,

I fixed the code. It seems that I never really understood the relationship between a reverse iterator and its underlying iterator accessed via `base()`. All I needed to do was to decrement the `base()` iterator before forwarding calls to `key()` or `value()`.

I added your initial code as regression test.

Hope that works for you,
Niels

[2015-07-06 21:28] nlohmann commented on #93
Ok, I could fix #100. The problem was that I needed to decrement `base()` before forwarding calls to it.

I made little progress in this issue, but still have problems with in-place usage of `operator++` and `operator++(int)`: There seems to be a problem converting `std::reverse_iterator<json::iterator>` to `json::reverse_iterator`, and I have no idea how to fix this...

@gregmarr , maybe you have

[2015-07-07 02:17] likebeta commented on #100
@nlohmann Well done, Thank you for your help ^_^

[2015-07-07 02:21] gregmarr commented on #93
What code do you have that isn't working?  I won't be able to look at it until Sunday due to vacation, but I can try then.

[2015-07-07 21:47] nlohmann commented on #93
In commit 19d550c, I implemented a `reverse_iterator` and `const_reverse_iterator` which allows to compile all code in this issue (also added it as unit test).

The code is not as pretty as I hoped (I am still waiting for answers on [Statck Overflow](http://stackoverflow.com/questions/31036364/inherit-all-functions-from-user-defined-iterator-in-reverse-iterator)), but it seems OK. I would be glad

[2015-07-07 21:47] #93 closed

[2015-07-13 11:46] semiessessi commented on #62
I would suggest that using MSVC 2015 as a target is optimistic. very few developers are using it yet, or intend to use it next year, or in the near future (the next 3 years). i do not agree with this approach, but its the practical reality we have to deal with.

i will have to get this to work with vs2013 if i want to use it for instance... and possibly 2012 and 2010 too... maybe even gcc 4.2 and

[2015-07-13 20:24] gregmarr commented on #93
I'm having trouble building unit.cpp under VS2015, and I'm not sure why, but this should give you a single implementation for both reverse_iterator and const_reverse_iterator.  There were also some member functions in there that looked like they would be the same as the base class version, so I'm not sure if they're necessary.  Feel free to change any names that you don't like.

    template<typen

[2015-07-13 20:38] smiley commented on #62
I don't think it's *that* optimistic. Visual Studio 2013 & 2015 are the only two editions with free, full (no language restrictions) versions. If someone is going to begin developing for Windows, it'll probably be using VS2015, and recent Windows projects are already starting off with VS2013+ Community. (see OpenRCT2)

Plus, if you're going to use a relatively recent version of GCC to support this

[2015-07-13 22:06] nlohmann commented on #93
Thanks for the code. I'll check!

[2015-07-13 22:11] nlohmann commented on #62
Hi @semiessessi, I would be glad to see solutions that support more compilers. At the same time, I would try to avoid preprocessor-heavy code which tries to circumvent all the shortcomings of too old compilers at all costs. In the end, C++11 is the main requirement, and I do not see how GCC 4.2 can support this (https://gcc.gnu.org/projects/cxx0x.html).

[2015-07-13 22:42] semiessessi commented on #62
yeah, gcc 4.2 might be especially difficult since it would require working
around the lack of C++ 11 in a way that works across everything. it is
possible, but it leaves you with less friendly code in the long run...

i may have to settle for a crusty old C library instead, if only because of
this constraint. :(

On 13 July 2015 at 23:11, Niels <notifications@github.com> wrote:

[2015-07-15 05:28] nlohmann commented on #83
I checked the implementation of the `vector<bool>::reference` and think that approach is not really helpful. A simple way to be able to access `key()` in a range base for could be this one: http://stackoverflow.com/a/14920606/266378: It creates a wrapper which allows to access the iterator rather than the elements themselves. What do you think?

[2015-07-26 09:50] #102 closed

[2015-07-26 12:07] nlohmann commented on #83
Alright, here would be my implementation:

[code]

To use the wrapper, consider the following example code:

[code]

The output is

[code]

I would be happy for feedback, @nickdesaulniers @mlund @kepkin.

[2015-07-27 16:00] nickdesaulniers commented on #83
I think something is wrong with the output? The value of the second and third element should be "bar" and "baz" respectively.  Assuming simple copy+paste error, this looks great!  Nice job!

Maybe a separate issue we can discuss in another ticket; keys in JSON are not sorted, but ordered based on definition.  This becomes apparent when iterating keys of an object.

[2015-07-27 19:17] nlohmann commented on #83
Hi @nickdesaulniers,

thanks for checking by. In fact, there was still a bug in the code. The output should, of course, read:

[code]

If no-one objects, I'll push this to master tomorrow.

About the ordering of keys: please open an issue.

[2015-07-27 19:21] mlund commented on #83
Thanks for this — it looks great.
/ Mikael

[2015-07-27 20:13] nickdesaulniers commented on #83
:rocket: :guitar: :cocktail: :palm_tree:

[2015-07-27 20:18] nickdesaulniers opened #106 "maintaining order of keys during iteration"
keys in JSON are not sorted, but ordered based on definition. This becomes apparent when iterating keys of an object.  For example, in JavaScript, with an object literal:

[code]

prints

[code]

For example, I believe most JS JITs keep separate shapes for object with the same properties but defined in different orders.

[2015-07-27 20:46] nlohmann commented on #106
When I understand you correctly, JavaScript remembers the order in which values are defined and preserves it during iteration and serialization.

However, [RFC 7159](http://rfc7159.net/rfc7159) states:

(emphasis added) and

#### The status quo

As the `basic_json`class by default relies on `std::map`, we do not preserve the order of definition, but internally order values with respect to `std::ma

[2015-07-28 08:57] fx-lange commented on #106
Hi there, great work!

I'm currently using jsoncpp and looking for an alternative which should keep track of the insertion order. Otherwise I would need to somehow somewhere keep track of the order myself. I'll check out your json lib anyway (like the intuitive syntax). Your link suggests to use a map and a vector but to integrate that sounds like a lot of work ... Any better ideas?

[2015-07-29 08:15] vpetrigo opened #107 "[clang-3.6.2] string/sstream with number to json issue"
Dear Niels,

I have a library for working with some translate API. By using curl I form request to the server and obtain a string in the format `{"code":200,"lang":"ru-en","text":[hello]}`. After a while I met the issue that my library which had been build with clang dropped with `Segmentation fault` error.
Below my test code which works well with `g++ (4.9.2 and 5.2.0)`, but not with `clang++ (3.

[2015-07-29 08:59] nlohmann commented on #107
Hi Vladimir,

unfortunately, I cannot reproduce this. I tried with Clang 3.6.2 from Homebrew (package `llvm36`) and could compile and run your code successfully. Which OS are you using?

Cheers,
Niels

[2015-07-29 11:34] vpetrigo commented on #107
Niels,

That is a little bit strange. I logged in Linux and this bug with did not take place there.
OS where I was able to do this bug was Windows with MSYS2 package.
And this bug takes place only when I try to serialize json data via `dump()` method.

[2015-07-30 06:29] vpetrigo commented on #107
I made some drill and found that clang build in MSYS2 failed when it tried to call `strtold()` function.
![gdb](https://cloud.githubusercontent.com/assets/5689770/8977007/5a40f424-369d-11e5-807d-cd61c426e9eb.png)
It is quite strange because `gcc` and `clang` use the same libraries.

[2015-08-04 11:59] maksis commented on #107
I'm having issues with parsing numbers as well, but with MSVC 2015.

Seems like strtold considers the trailing comma to be part of the number, causing endptr to go past m_cursor, so the function get_number() returns NAN.

[2015-08-04 12:01] nlohmann commented on #107
Can you provide me with a concrete example?

[2015-08-04 13:06] maksis commented on #107
Not yet, because parsing the same string seems to work ok in a clean project...

[2015-08-04 13:37] maksis commented on #107
This seems to depend on the current system locale. If I change the number format from Finnish to US and run the program, the comma won't be included in the number. Parsing works correctly in a clean Win32 console project regardless of the locale though.

[2015-08-04 16:13] nlohmann commented on #107
I made a change in the string-to-float conversion to make it locale-independent. Could you please check if the issue still exists, @maksis?

[2015-08-04 16:23] maksis commented on #107
It seems to work correctly now

[2015-08-04 16:48] vpetrigo commented on #107
@nlohmann thank you! Now it works fine.

[2015-08-04 18:09] nlohmann commented on #107
However, the build on ApoVeyor fails. :-(

[2015-08-04 19:13] vpetrigo commented on #107
As I can see it is because of the quite big precision of returned value. Is it the case to use something like this:
[code]

[2015-08-06 12:17] ajneu opened #108 "vector<json> copy constructor really weird"
Hi there!

Try guess the output of the following:
[code]

It aborts!!!!! and gives me this
[code]

Changing the constructor to
[code]

gives me the expected output:
[code]

What's going on here??
I thought things like the copy constructor should behave in a standard way. (Or is my compiler buggy?? I'm using: gcc c++ (Debian 4.9.3-3) 4.9.3; and compiling with `-std=c++14`)

Thanks

[2015-08-06 12:39] ajneu commented on #108
Also: if I put objects of type  `json` into a vector vector, then iterating through and putting the dereference into `boost::any`
[code]

I get:
[code]
.
.

Is it safe if I do
[code]
and then extract with
[code]
???

Cause I'm trying something along those lines (plugging in the type `json` into a signaling-layer I've coded ... and getting strange behaviour).

Thanks for any tipps and suggestions.

[2015-08-06 19:24] nlohmann commented on #108
Hi @ajneu,

I could reproduce your reported behavior on the first issue with the following compilers (all OS X):

- GCC 5 (g++-5 (Homebrew gcc5 5.2.0) 5.2.0)
- clang version 3.4.2 (tags/RELEASE_34/dot2-final)
- clang version 3.5.1 (tags/RELEASE_351/final)
- clang version 3.6.2 (tags/RELEASE_362/final)

However, with Xcode Version 7.0 beta 4 (Clang Apple LLVM version 7.0.0), I can run the code and

[2015-08-06 19:29] nlohmann commented on #107
Unfortunately, this does not help. The issue is the following

[code]

The Windows build fails to parse the number `4.9406564584124654e-324`. See https://ci.appveyor.com/project/nlohmann/json/build/554.

[2015-08-06 20:21] ajneu commented on #108
Wow, I'm stunned!
I kindof thought that your json has some magic (I've just started giving it a try), but I'm rather surprised that you seem to be leaning towards compiler-issues...

I suspect it's something with list-initialization...
[code]

Be sure to try and compare that with this one:
[code]

[2015-08-06 20:26] ajneu commented on #108
Oh hang on... (I wrote too quickly).

This also asserts and aborts:
[code]

[2015-08-06 20:31] ajneu commented on #108
Maby we should get some guys from gcc and clang bugtracks to have a look at this? ;)

(I wonder what maximal simplification (transformation) one could do to the class `basic_json`, to still have this strange behaviour...)

[2015-08-06 20:37] nlohmann commented on #107
I reverted the fix. It has some unpredictable behavior, and compatibility to MSVC would break.

[2015-08-06 20:37] nlohmann commented on #107
:-(

[2015-08-06 21:05] nlohmann commented on #83
There is currently still an issue with the code for the wrapper: The previous builds on Travis all failed due to a segmentation fault.

[2015-08-09 09:08] ajneu commented on #108
Hi Niels,

ok tried a few things here...
I modified `/usr/include/c++/4.9.3/debug/vector` (backuped it first!
      &nbsp; &nbsp; &nbsp; Note: this is the gcc `debug/vector`, which needs `#define _GLIBCXX_DEBUG` [\*\*\*]),
to `cout` the info on which `vector` constuctors get called (and also output the `size()` of the constructor arguments).
      &nbsp; &nbsp; &nbsp; [\*\*\*] At the very top of m

[2015-08-09 09:32] nlohmann commented on #108
Hi @ajneu,

thanks for the diagnosis! Indeed I allow a vector of `json` objects to initialize a `json` object. The respective constructor for this should be

[code]

The idea was to support conversions like

[code]

Maybe this is over-engineered. But it could also be useful...

Do you have a proposal how to fix this?

Cheers,
Niels

[2015-08-09 11:08] ajneu commented on #108
Hi Niels,

ok I agree this could be useful.

Ultimately this issue is thus not a bug; and just confirms: users (such as me) have to know and understand libraries before using them.

So **I don't think a fix is needed here**. It's my job as a user to understand that there is a conversion from "vector of json" to "single json"; and it's our job as C++ coders to understand the details of C++:

[C++11

[2015-08-11 01:52] brianbreitsch opened #109 "error: unterminated raw string"
G++ 4.8.2

I'm not 100% sure that I'm doing things correctly--nevertheless, the first error I get when running `make` is:

[code]

[2015-08-11 04:51] tjuliuyou opened #110 "insert json array issue with gcc4.8.2"
The task may like this:

[code]
when I try to insert json to `_task`

[code]
I get this error when using gcc4.8.2 (but worked when using clang3.6)

[code]

[2015-08-11 16:36] nlohmann commented on #109
I'll check this. If I remember correctly, this error occurs in the following constellation:

- g++-4.8
- Catch (the unit test framework) we use
- C++11 raw strings

If you cannot compile the unit tests, the library will still work. I'll check if there is anything I can do to fix this.

[2015-08-11 16:39] nlohmann commented on #110
Thanks for reporting. I'll see if I can reproduce the error.

[2015-08-11 17:19] ajneu commented on #108
(The bug label can be removed. All is good, except perhaps for the behaviour of Xcode Version 7.0 beta 4, that you describe above)

As mentioned above, if you could briefly comment on the possibilities of verifying parsed json (if the fields and keys conform to what one expects); and the rationale behind `j << std::cin` (instead of `std::cin >> j `), I'd appreciate it.

[2015-08-11 17:19] #108 closed

[2015-08-11 18:46] nlohmann commented on #108
Hi @ajneu, thanks for checking back. I'll keep you up to date!

[2015-08-17 20:12] dariost opened #112 "Compile error with g++ 4.9.3 cygwin 64-bit"
I've tried to compile the following code
[code]
with g++ 4.9.3 on cygwin 64-bit (I'm using Windows 10)
[code]

This is the compiler output
[code]

[2015-08-18 09:34] tomus85 opened #113 "Returning any data type"
Morning,

I know this isn't the right place to ask as I don't have an issue with the library. It's more of C++ support. I have looked everywhere on Google and haven't found a solution. I hope you don't mind helping me out, I would very much appreciated it, cheers :-)

I am creating a caching class in C++ so that It can be used in iOS and Android. I have created a simple class, this class is a sing

[2015-08-19 02:20] zcourts opened #114 "dynamically constructing an arbitrarily nested object"
How would you go about constructing an arbitrarily nested object e.g. a.b.c.d for serialisation?
Something like the following comes to mind but doesn't work:
[code]

where split(...) returns a vector of components from a dot notation string.
I know I can do `record["a"]["b"]["c"]` but they keys or depth aren't known in advance.

[2015-08-21 07:46] #113 closed

[2015-08-22 15:09] vanderlokken commented on #83
Hi. Do you have any plans to add a version of iterator_wrapper which can be constructed from a constant reference?

And by the way in my opinion this name, 'iterator_wrapper', is so-so since it's hard to guess what exactly this thing does. One could expect that an instance of this class can be constructed from an iterator, but it can't. I'd call this class 'member_iterator_range' or something like

[2015-08-26 20:00] #95 closed

[2015-08-26 20:00] nlohmann commented on #114
Hi @zcourts, is this similar to issue #65?

[2015-08-27 00:41] zcourts commented on #114
Hi @nlohmann, I had a look at that before I raised this and I didn't quite think so. It felt almost like the opposite.

Say someone sends me this:

[code]

When I receive that in C++, I want to take it and end up with something similar to:

[code]

For my use case, I'm being told the structure of the JSON the user requires and the possible values. I'm then generating the values based on a number o

[2015-08-31 13:19] alvarolb opened #117 "Find and Count for arrays"
Not sure if this has been already discussed, but I find useful to implement the find and count methods also for arrays. Arrays can store multiple items, so count can be useful to check wether a item is present of how many times it appears. However I don't know if it is easy to develop taking into account that an array can store multiple value types.

[2015-09-07 11:23] ajneu commented on #108
https://github.com/nlohmann/json/commit/bd5d96c4564e37372059dcdae9915e23c381d242#diff-04c6e90faac2675aa89e2176d2eec7d8

Nice to see this! ;)

[2015-09-08 16:05] ColinH opened #118 "Memory leak in face of exceptions"
The constructor often does a two-step initialisation, an `allocate()` followed by a `construct()`. If the `construct()` throws then the previously allocated memory will leak...

            AllocatorType<object_t> alloc;
            object = alloc.allocate(1);
            alloc.construct(object, value);

[2015-09-08 16:45] gregmarr commented on #118
Probably the least intrusive way is to use a temporary unique_ptr with a custom deleter:

        AllocatorType<object_t> alloc;
        auto deleter = [&](object_t *object) { alloc.deallocate(object, 1); };
        std::unique_ptr<object_t, decltype(deleter)> local_object(alloc.allocate(1), deleter);
        alloc.construct(local_object, value);
        object = local_object.release();

Another w

[2015-09-08 18:06] ColinH commented on #118
Yes, either should work, not quite sure which style the author prefers.

[2015-09-22 21:36] ruslo opened #125 "Visual Studio 14 Debug assertion failed"
I've tried to run unit-test with Visual Studio 14 2015 generator and got runtime error:
[code]

Last backtrace entry comes from: https://github.com/nlohmann/json/blob/0a813539894d8a6d688ca6a404966f17b56f6e01/src/json.hpp#L5119

which came from: https://github.com/nlohmann/json/blob/0a813539894d8a6d688ca6a404966f17b56f6e01/test/unit.cpp#L2879

[2015-10-02 09:37] dariomt opened #127 "Question about get_ptr()"
I see the following in the documentation of get_ptr()

"@warning Writing data to the pointee of the result yields an undefined state."

IIUC this means that the following code yields an undefined state:
[code]
i.e. I cannot modify the integer value inside the json

Why is this so?

[2015-10-02 09:50] dariomt opened #128 "Question about get_ref()"
I see there were some discussions about adding get_ref(), but I can't see it in the code.
What happened to get_ref()?

I believe that having get_ref() is convenient and safe. It could merely call get_ptr() and throw if it returns nullptr. It makes it easier to traverse a json object when I'm pretty sure about the types it holds. Otherwise I have to constantly check against nullptr myself.

I'd lik

[2015-10-02 09:53] dariomt commented on #127
In fact, if "writing data to the pointee of the result yields an undefined state", why not simply return a pointer to const **in all cases**, so the compiler will make sure I cannot modify the pointee.

[2015-10-03 09:01] nlohmann commented on #125
Hi @ruslo,

unfortunately, I have no experience with MSVC. There have been numerous attempts to have the code work with MSVC before, but it is breaking again and again (see https://ci.appveyor.com/project/nlohmann/json). It would be great if you could explain to me what is wrong in the code or better propose a fix.

Thanks,
Niels

[2015-10-03 09:21] nlohmann commented on #127
Hi @dariomt,

your code is not wrong in the sense that it would not compile and do what you expect, the warning only states that you _should_ not write to the pointer. A longer discussion about this can be found in #91.

Regards
Niels

[2015-10-03 10:23] ruslo commented on #125
The last time I've tried to figure out what is happening I've noticed a hairy chain of `CHECK` macro expanding. It seems that while doing expand there is an access to the iterator which is equal to `end()` and hence is not dereferencable.

[2015-10-03 10:29] #118 closed

[2015-10-05 07:55] dariomt commented on #127
Sorry, I've read #91 but I still don't get it.
According to the documentation, my code would compile but "yields an undefined state".
What does "undefined state" mean in this context?
Is `value` still valid after the assignment to `p` or not?
i.e. does `value` hold a `json::number_integer_t` equal to 42?

[2015-10-06 19:37] nlohmann commented on #128
After a getter for a value and a pointer I did not follow to implement `get_ref`. But I would be glad to have a PR for that.

[2015-10-06 19:39] nlohmann commented on #127
Sorry about the confusion. It is OK to write to the pointer if you are sure that the underlying JSON object did not change. Once that object changed, the pointer is not valid any more.

[2015-10-07 08:20] dariomt commented on #127
OK, that's much more clear now. Thanks for the clarification.
I suggest improving the documentation to make this point clear.
A good example could help:
[code]

[2015-10-07 08:25] dariomt commented on #128
I'll try to provide a PR including tests and docs.

One question: what would be the preferred form?
`get_ref<const std::string>()`
or
`get_ref<const std::string &>()`

To me get_**ref** is enough to convey that we get a reference, the `&` in the template parameter is redundant (I feel the same way about the `*` required by get_**ptr** by the way).

[2015-10-07 15:06] dariomt commented on #125
I've been taking a look at this issue.
It seems that:
1) CHECK macro is very smart and will detect (lhs op rhs), i.e. the lhs, the rhs and the operator in the expression
2) to provide error messages if will "stringify" lhs and rhs trying to call the streaming operator
3) the streaming operator of the json iterators stream their value as seen in
`friend std::ostream& operator<<(std::ostream& o, con

[2015-10-07 15:47] dariomt commented on #125
Doh! I was not running the tests in the right directory.

Now, after removing operator<< for iterators, I see only two tests failing in Debug mode with VS2015:
[code]
[code]

[2015-10-07 15:52] dariomt commented on #125
Pull Request ready!

[2015-10-07 15:57] dariomt commented on #125
All the test pass in Release mode.
That's a surprise! I'm not sure why those two tests pass in Release but fail in Debug...

[2015-10-07 16:00] gregmarr commented on #125
All the test pass in Release mode.
That's a surprise! I'm not sure why those two tests pass in Release but fail in Debug...

The debug builds in Visual Studio have a lot of extra iterator debugging code.  The release builds just silently ignore various types of iterator errors.

[2015-10-07 16:09] dariomt commented on #125
I'm talking about `CHECK( std::is_nothrow_copy_assignable<json::iterator>::value )`
I didn't expect that the `nothrow` properties of iterators would change between Debug and Release.
It might be that the extra debugging checks of the iterators affect this.

[2015-10-07 16:25] gregmarr commented on #125
json::iterator contains, by default, std::map::iterator and std::vector::iterator.  There's probably something in one of those that would allow a copy construction to throw.  I think that at least in the past the iterator registered itself with the container, which allowed the container to mark the iterators as invalid when the container was destroyed.  This would probably require storing a vector

[2015-10-07 16:27] dariomt commented on #125
OK, it seems that `json::iterator` holds an `ArrayType::iterator`, which in the test is a `std::vector::iterator`. In Debug mode the STL iterators are complex enough to not be `std::is_nothrow_copy_assignable`

I'd suggest removing that check if MSVC in Debug

[2015-10-07 16:28] gregmarr commented on #125
That makes sense to me.

[2015-10-07 16:32] dariomt commented on #125
Another PR ready!

[2015-10-08 11:03] dariomt opened #132 "Splitting source"
Hi,
I appreciate the ease of deploying a single header file.
But, I think it would be better to decouple the different pieces of functionality.

I propose splitting the single json.hpp header file into three parts:
- json_fwd.hpp with only the forward declarations of template basic_json and the alias json
- json.hpp with the definition of template basic_json but without the io (and without the dep

[2015-10-08 13:31] dariomt opened #133 "overload of at() with default value"
My use case is:
- use find() to look for a key
- if the key is not found return a default_value of type T (possibly moved in and out)
- if the key is found return the object converted to type T (only if T is compatible)

e.g.
[code]

What do you think?

[2015-10-08 17:12] dariomt opened #134 "wrong enable_if for const pointer (instead of pointer-to-const)"
Hi ,
The following test fails to compile:
[code]

But this compiles (note the extra const):
[code]

I think that the problem is the additional check for the const overload of get_ptr
`and std::is_const<PointerType>::value`

I think what you intended was to check that the template parameter is a "pointer-to-const" but what you are actually checking is if you got a "const pointer".

I believe the ri

[2015-10-09 12:16] dariomt opened #135 "Bug in basic_json::operator[] const overload"
The following code
[code]
prints
[code]

Allowing a const object to change like this is not a good idea.
I think this is a bug: either the const overload of `operator[]` throws if the key cannot be found, or there is no such const overload (e.g. std::map does not have it).

[2015-10-09 16:23] gregmarr commented on #135
The problem is that json::operator[] const simply chains to array_t/object_t::operator[] using m_value.array/object, which is a const pointer to a non-const object.
For array, instead of doing this:
        return m_value.array->operator[](idx);
This will fix it:
        const array_t *array = m_value.array;
        return array->operator[](idx);

For object, it's a bit more complicated, since as

[2015-10-11 09:56] nlohmann commented on #133
I don't think this is a good idea, because I would like the `operator[]` to "feel" like the one of `std::map`. And there, an exception is thrown if the container does not have an element with the specified key.

[2015-10-11 09:59] nlohmann commented on #132
I don't think splitting is a good idea, because it makes using the code harder. Furthermore, it is hard to draw a line between "core functionality" and io, because implicit conversions and operator overloading are hard to classify.

[2015-10-11 15:07] Ingener74 opened #136 "json.hpp:5746:32: error: 'to_string' is not a member of 'std'"
Hello.
On Android i have this messages

* json.hpp:5746:32: error: 'to_string' is not a member of 'std'
* json.hpp:6911:36: error: 'strtold' is not a member of 'std'

android ndk have no to_strign realization

[2015-10-12 15:34] gregmarr commented on #136
The first one works fine for us, we use the c++-shared library.

We had to add this function to our codebase to handle the second one.
inline long double strtold(const char *nptr, char **endptr)
{
    return strtod(nptr, endptr);
}

[2015-10-13 07:55] dariomt commented on #133
OK, understood.
Would you consider adding this functionality with a different name?

[2015-10-13 07:58] dariomt commented on #132
OK, understood.
Would you consider adding just the header with the forward declarations?
It makes it easier to write code that depends only on the **declaration** of basic_json.

[2015-10-16 09:12] dariomt commented on #134
PR #137 ready!

[2015-10-16 09:15] dariomt commented on #125
Hi!
I don't see anyone assigned to this issue.
Any chance to get PR #131 merged?

[2015-10-16 09:37] arnaudbrejeon commented on #103
I find myself using the "get with default value if missing" quite often as well. It would be a great addition to the member functions. For booleans I use something like this:

static bool getBoolValueWithDefault(const json& jsonC, const std::string& key, const bool& default_value) {
    return jsonC.is_object() == false ? default_value : jsonC[key].is_boolean() ? jsonC[key].get<bool>() :

[2015-10-16 14:29] dariomt commented on #128
I have this ready in my branch get_ref.
But I have created that branch off my master where I have all my other PRs already merged.
Do you know how I can produce a PR with only the actual changes done in my branch?

[2015-10-16 14:39] dariomt commented on #125
In fact I also have the related PR #130 pending review.

[2015-10-16 17:11] dariomt opened #138 "Question: Is the use of incomplete type correct?"
The definitions of `array_t` and `object_t` in json.hpp look like this:
[code]
So it is instantiating the `ArrayType` and the `ObjectType` templates when `basic_json` is still an incomplete type. By default those templates are `std::vector` and `std::map`.
It seems to work, but I wonder, is it correct according to the standard?

Instantiating STL types with incomplete types seems to be prohibited,

[2015-10-16 17:31] gregmarr commented on #138
This is explicitly allowed for vector by N4510 which was accepted for C++17 in May.
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2015/n4510.html

However, that doesn't really apply here, as this is about an object that has a member variable which is a container of an incomplete type.  This doesn't happen here.  basic_json contains a union which has has pointers to these containers.

[2015-10-17 10:34] nlohmann commented on #136
Hey @Ingener74, could you please tell me which compiler you are using?

[2015-10-17 13:41] Ingener74 commented on #136
Hello @nlohmann, i am using arm-linux-androideabi-4.9 toolchain for compiling

[2015-10-17 14:21] nlohmann commented on #136
Could this maybe solve your problem: http://stackoverflow.com/a/27589053 ?

[2015-10-17 15:47] Ingener74 commented on #136
Thanks @nlohmann, i known this solution :) but that about strtold?
I wanted to ask whether it will be added to your library? for android

[2015-10-17 17:16] nlohmann commented on #136
Ok, I'll have a look at `strtold`. It would be easier to check on OSX - is there an OSX version of the compiler you use?

[2015-10-17 17:37] Ingener74 commented on #136
On Mac OS X i use compiler
[code]
but on mac os everythink compiles ok

[2015-10-17 22:05] nlohmann commented on #136
I meant the compiler to create code for Android. Is there a way to cross-compile from OSX?

[2015-10-17 23:28] gregmarr commented on #136
You need the android NDK.

[2015-10-17 23:29] gregmarr commented on #136
Yes, it is available for OS X.

[2015-10-18 06:16] Ingener74 commented on #136
Hello @nlohmann i agree with @gregmarr, you need Android NDK for compiling
https://developer.android.com/ndk/downloads/index.html

[2015-10-19 08:09] dariomt commented on #138
OK, understood.
So if `json_value` had an `object_t` member instead of an `object_t*` then it would be a problem, wouldn't it?

I was wondering why the union stored a pointer instead of an object.
The comment there says `stored with pointer to save storage` but it doesn't mention this issue about incomplete types at all.
In fact I was wondering about that decision: holding a pointer is a trade-off

[2015-10-21 09:57] benloong commented on #109
[bug Preprocessor macros with C++11 raw string literals fail to compile](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=55971)

[2015-10-23 18:17] bebocortez opened #142 "*BEBO.COM"
*bebo.ajc.

[2015-10-23 18:17] bebocortez opened #143 "*BEBO.COM"
*bebo.ajc.

[2015-10-23 18:21] #143 closed

[2015-10-23 18:21] #142 closed

[2015-11-02 04:58] Cleroth opened #144 "Implicit assignment to std::string fails"
Put simply, when constructing a string, you can pass a basic_json:

    std::string s = o["name"];

However, this does not work:

	std::string s;
	s = o["name"];
	s = o["name"].get<std::string>(); // this works

The following compiler errors pop up:

1>g:\files\smoldy_adventure\src\client\units\unitmgr.cpp(53): error C2593: 'operator =' is ambiguous
1>  g:\program files (x86)\microsoft visual stud

[2015-11-02 06:30] nlohmann commented on #144
Thanks for reporting! I'll check the issue soon.

[2015-11-06 07:36] vpetrigo commented on #107
Hello Niels. That issue could be closed, because `Segmentation fault` in MinGW environment with `clang` compiler caused by that issue https://github.com/Alexpux/MINGW-packages/issues/722. Now it is fixed and all works fine.

[2015-11-06 07:36] #107 closed

[2015-11-06 13:40] nlohmann commented on #107
Thanks for getting back and telling me! :-)

[2015-11-11 03:04] renkun-ken opened #145 "Unable to get field names in a json object"
For a json document like the example

[code]

I don't find a method to get the name list of the fields, something like

[code]

so that I can get `"pi", "happy", "name", "nothing", "answer", "list", "object"`.

[2015-11-11 03:08] renkun-ken commented on #145
A simple method is to iterate:

[code]

[2015-11-11 03:08] #145 closed

[2015-11-12 16:39] darkarconio commented on #112
Any status report on this bug?

[2015-11-14 03:48] rigtorp commented on #133
Something equivalent of this would be great. I don't know why the STL doesn't have this. In C++17 there is insert_or_assign(), but no equivalent to python's dict.get() https://docs.python.org/2/library/stdtypes.html#dict.get. JsonCpp have this too http://open-source-parsers.github.io/jsoncpp-docs/doxygen/class_json_1_1_value.html#a28282c9b76fa031eba7a1843c47c16fe
I don't know why the STL missed th

[2015-11-14 07:21] nlohmann commented on #133
I'm on holiday right now. I'll have a look then.

[2015-11-14 09:38] silverist opened #147 "dump() convert strings encoded by utf-8 to shift-jis on windows 10."
when I dump() a json object as follows, the dumped string is converted from "utf-8" to "shift-jis".
How can I do to keep up its encode "utf-8"?

[code]

[2015-11-15 07:26] nlohmann commented on #147
What do you mean? What output do you expect?

[2015-11-15 11:16] silverist commented on #147
sorry, the type of "data" element is not "array" but "string".
(And the string is encoced by "utf-8".)

As the source of json.hpp, dump() seems to call the method at line 4716.
Then,  execute the following section because the type of "data" element is "string", I think.
And I guess the "data" string is converted from "utf-8" to "shift-jis" when execute the following section.
(in other words, conve

[2015-11-16 09:56] nlohmann commented on #147
There are quotes around the array. Therefore, it is treated as string.

[2015-11-17 07:36] rockeet opened #148 ""Json Object" type does not keep object order"
for json: { "b" : "B", "a" : "A" }
The iteration order is by lexical order of keys, but it should be the original order in the json object.

[2015-11-17 08:21] arnaudbrejeon commented on #135
This problem is very misleading. I use a json object for parameter input/output and it ends up with a lot of null objects.
Do you have any idea when it could be fixed?
Thank you.

[2015-11-17 14:00] gregmarr commented on #148
The JSON specification says that the data is stored in an unordered fashion, so any order is acceptable.

[2015-11-17 20:33] nlohmann commented on #148
Hi, @gregmarr is right. JSON does not specify an order in which keys of an object are stored. My library uses an std::map, so the perceived order is lexicographically. This is conforming the JSON specification.

If you can implement a container that preserves the order of keys, you could use this one in the linear via template types.

[2015-11-17 20:34] #148 closed

[2015-11-17 22:50] silverist commented on #147
After all, I misunderstood.
I checked the data which do dump() by hex editor, it is not converted.

The reason why it seems to be converted is that a return value which "char* " points seems to lose when a function exit.
I copy the value which "char* " points by memcpy(), and return the destination value.
Then the return value do not lose, and my problem has been resolved.

Thanks all.

[2015-11-17 22:50] #147 closed

[2015-11-19 04:34] dmartyn-0 opened #149 "Unable to compile on MSVC 2015 with SDL checking enabled: This function or variable may be unsafe."
When this library is compiled under MSVC 2015 with SDL checking on, compilation fails with this error:

C4996 'sprintf': This function or variable may be unsafe. Consider using sprintf_s instead. To disable deprecation, use _CRT_SECURE_NO_WARNINGS. See online help for details.

The error occurs here at line 4694:
![image](https://cloud.githubusercontent.com/assets/9222588/11262352/2955c4f4-8ee3-11

[2015-11-19 05:07] whackashoe commented on #149
snprintf could work. Otherwise, to disable you could do:

[code]

[2015-11-19 05:40] whackashoe commented on #149
From a bit of reading looks like snprintf is a bit variable between os... might it be useful to just skip sprintf altogether and do it manually?

[2015-11-19 06:49] whackashoe commented on #149
heh - i messed up trying to rewrite a character ^^

@nlohmann can you take a look at this and if you're ok with it I can do a pull request, think its perhaps less shitty than alternatives. we can also probably take out include on cstdio but not positive on that.

[2015-11-21 10:08] rockeet commented on #148
Thanks, now I use my gold_hash_map as map, and ignored the compare and allocator.

[2015-11-21 10:13] rockeet commented on #138
The compilation failed when using sizeof(..) in custom map type, I have encountered this issue, and I removed that sizeof(..) in my custom map, which was used for a compile time safe check.

[2015-11-21 10:20] rockeet opened #150 "Wish feature: json5"
As described in: http://json5.org/
And there is a js implementation for json5: https://github.com/aseemk/json5
But I didn't found a good json5 in C++

[2015-11-22 16:04] mbunkus opened #151 "unsigned 64bit values output as signed"
I'm trying to add JSON output to [mkvmerge's](/mbunkus/mkvtoolnix/) identification output. mkvmerge is a tool dealing with Matroska media files, and those in turn use a lot of unsigned 64bit values – e.g. each track in that file has a unique ID that's basically a random 64bit number.

Outputting those results in signed 64bit values being output instead, obviously.

Trivial test case:

[code]

Outp

[2015-11-22 22:22] nlohmann commented on #151
I'm on holiday right now.
I'll check when I'm back in two weeks.

[2015-11-23 08:22] mbunkus commented on #151
No worries, it's not urgent. Enjoy your vacation.

[2015-11-28 12:27] ZahlGraf commented on #136
Hi,

for a current project I compiled this library with Android NDK r10e, (it includes gcc 4.9) together with gnustl-shared library.
The errors mentioned by @Ingener74 are still in the json-lib, thus I created a small patch-file for that.

On android, it adds the function std::to_string (common workaround implementation, found on stackoverflow) and std::strtold (workaround implementation suggested

[2015-11-29 00:46] nlohmann commented on #136
Thanks! I'm on holiday right now and shall have a look then!

[2015-11-30 02:49] rockeet commented on #150
I think the most useful feature is allowing trailing commas, and this feature is very easy to implement.

[2015-11-30 13:43] rockeet opened #152 "json::parse(string) does not check utf8 bom"
Exception thrown when passing an utf8 string with starting bom to json::parse, it should skip the bom mark and treat the string as utf8

[2015-12-01 13:17] stopiccot commented on #150
+1 for trailing commas, I'm full of this nazi parsers

[2015-12-06 14:19] nlohmann commented on #152
I changed the label to "enhancement", because the current behavior is compliant:

(see http://rfc7159.net/rfc7159#rfc.section.8.1)

[2015-12-06 14:24] nlohmann commented on #152
@rockeet, just to be sure - we are talking about the bytes `EF BB BF`? Could you provide an example that triggers the exception?

[2015-12-06 15:35] nlohmann commented on #132
Is there a way to create such a header automatically? I would like to avoid a manual step every time something is changed.

[2015-12-06 15:40] nlohmann commented on #144
Interestingly, the code works using Clang, but I get an error using GCC.

[2015-12-06 15:42] nlohmann commented on #144
Unfortunately, I cannot reproduce the error with GCC or Clang. As I have no access to MSVC, I cannot dig deeper into the error. Do you have any idea what the reason could be that MSVC rejects the code?

[2015-12-06 15:44] nlohmann commented on #134
After merging #137, this issue can be closed.

[2015-12-06 15:44] #134 closed

[2015-12-06 15:48] Cleroth commented on #144
I couldn't really find the reason. I'll check again in a bit.
Meanwhile, VS 2015 is free, and if you don't want the IDE you can get just the compiler: http://blogs.msdn.com/b/vcblog/archive/2015/11/02/announcing-visual-c-build-tools-2015-standalone-c-tools-for-build-environments.aspx

[2015-12-06 15:51] nlohmann commented on #106
You can check out https://github.com/nlohmann/fifo_map - it should work as a replacement of `std::map` and maintains the key's order.

[2015-12-06 16:04] nlohmann commented on #117
These functions could indeed be easily implemented using find (http://en.cppreference.com/w/cpp/algorithm/find) and count (http://en.cppreference.com/w/cpp/algorithm/count) from the STL's algorithms.

However, I am not sure how the `find` function should work for an array, because if an element is stored several times, which iterator shall be returned?

[2015-12-06 16:13] nlohmann commented on #150
I think adding JSON5 support is out of scope of this library. It would require a lot of effort to maintain JSON compliance while offering optional JSON5 support. Furthermore, I do not see a lot of need for JSON5 support.

[2015-12-06 16:13] #150 closed

[2015-12-06 16:15] nlohmann commented on #144
I am not using a Windows system, so trying MSVC is still difficult :-)

[2015-12-06 16:19] nlohmann commented on #149
Hi @whackashoe, thanks for looking into the issue. I would love to see a pull request with your replacement!

[2015-12-06 16:35] nlohmann commented on #136
Thanks @ZahlGraf! I added your patch to the code. @Ingener74, can you please check if this fixes your original issue?

[2015-12-06 16:48] ZahlGraf commented on #136
Thanks :) In the meanwhile I'm using your lib very successfully on an Android project.

[2015-12-06 16:51] ZahlGraf commented on #144
I can confirm this issue with MSVC 2015. The workaround with get<std::string>() works well for me.

[2015-12-06 17:06] nlohmann commented on #151
Hi @mbunkus, could the following fix of setting the type of integers using template arguments for `basic_json` help:

[code]

On my machine, the output is `[18446744073709551615]`.

[2015-12-06 17:40] nlohmann commented on #135
Changing a const object is definitely not OK. However, I think it was a mistake to offer an `operator[]` as `const` function in the first place, because such a function does not exist for `std::map`, and I wanted to mimic the STL containers as close as possible.

I see two options here:
1. Implement @gregmarr 's fix.
2. Make the `operator[]` non-`const`. In this case, one still can use `at`. At th

[2015-12-06 17:59] arnaudbrejeon commented on #135
I would prefer 2 as well.

[2015-12-06 18:18] mbunkus commented on #151
I'm currently doing something similar (I've simply replaced `int64_t` with `uint64_t` in my copy). This works for me in this particular instance as I only need non-negative integers.

In general this is not a solution, though. I cannot mix `json` and `ujson` either; if I try to use an instance of `ujson` with a `json` object or array an exception is thrown when dumping them to a JSON string.

[2015-12-06 18:36] nlohmann commented on #151
Any idea how to fix this? 128 bit integers seem to introduce a boost dependency (or any other third-party code).

[2015-12-06 18:45] mbunkus commented on #151
One possible solution might be to have both a signed and an unsigned integer type stored. Upon parsing check if the value is negative; then use the signed type; if it's positive and `> std::numeric_limits<signed-type>::max()` then use the unsigned type; otherwise use the signed one. Upon creation store the value either in the signed or the unsigned integer depending on the argument's type, remembe

[2015-12-07 19:35] #149 closed

[2015-12-07 20:21] nlohmann commented on #128
Hi @dariomt, sorry for not answering earlier.

As for your first question: I would prefer `get_ref<const std::string &>` - it makes the getting of a reference explicit.

For your second question, I unfortunately have no answer.

[2015-12-07 20:31] nlohmann commented on #133
I think the `insert_or_assign()` would be misleading, because as far as I understood @dariomt, the object shall be left unchanged.

Any name proposals better than `at`?

[2015-12-07 20:32] nlohmann commented on #125
I merged #130 and #131 - is the issue still present?

[2015-12-07 20:54] nlohmann commented on #109
I close this issue, because it does not affect the code as such. I also added a note to the README file that the unit tests cannot be compiled using GCC 4.8.

[2015-12-07 20:54] #109 closed

[2015-12-07 21:04] nlohmann commented on #112
This seems to be an issue with cygwin's GCC, and unfortunately even GCC 5.2 does not fix it: http://stackoverflow.com/questions/33500074/cygwin-g-5-2-to-string-is-not-a-member-of-std :-(

[2015-12-07 21:04] #112 closed

[2015-12-07 21:28] #152 closed

[2015-12-08 01:26] ruslo commented on #125
Yes, version from `master` branch works for me. Though I see that some tests just disabled :) In my opinion not a best way to solve the problems. Anyway seems that it can be closed now.

[2015-12-08 01:26] #125 closed

[2015-12-08 09:58] was4444 commented on #110
[code]
no that interface in `/usr/include/c++/4.8.3/bits/stl_vector.h`

[2015-12-08 16:16] gregmarr commented on #110
Looks like you're using a C++98 library instead of a C++11 library.  The return type of std::vector::insert taking 3 iterators changed from void to iterator in C++11.

[2015-12-08 16:55] nlohmann commented on #110
I can reproduce the error with

[code]

For code

[code]

I get the following error:

[code]

This seems to be the same.

[2015-12-08 17:06] nlohmann commented on #110
This is a bug in GCC, see https://gcc.gnu.org/bugzilla/show_bug.cgi?id=55817. It has not been fixed until GCC 4.9. I shall edit file README and remove GCC 4.8 support.

[2015-12-08 17:13] #110 closed

[2015-12-09 02:30] rigtorp commented on #133
Ah, insert_or_assign is different than want @dariomt is asking. I'm just suggesting to add insert_or_assign, it's added to the container types in c++17. I think at() is good name for what @dariomt  wants and similar to the STL. Maybe at_default() is better? boost::property_tree might give some inspiration: http://www.boost.org/doc/libs/1_59_0/doc/html/property_tree/accessing.html

[2015-12-09 10:40] dariomt commented on #132
I don't think so.
Forward declarations have to be manually synchronized with the definitions.

[2015-12-09 10:42] dariomt commented on #135
+1 for option 2
following the STL convention is good

[2015-12-09 10:55] dariomt commented on #133
maybe `at_or_default()`?

[2015-12-09 11:37] mbunkus commented on #133
The standard containers' `at()` function returns a reference to the member allowing modification. If our new function returns a copy instead (which it has to do in order to be able to return the default value) then I'd rather the function wasn't named `at()` in order to avoid ambiguity.

Qt's [`QList` template class](http://doc.qt.io/qt-5/qlist.html) provides such a function called `value()` inste

[2015-12-09 14:57] luxe opened #154 "prevent json.hpp from emitting compiler warnings"
compiling `json.hpp` with `g++`.
I've enabled some warnings flags, and now get the following:
[code]

It's just `-Wswitch-enum` and `-Wswitch-default`.
Can we suppress these warnings in the library, so I can still apply them to my own code without all the noise?
The Catch testing framework, seems to take a similar approach.
https://github.com/philsquared/Catch/blob/master/include/internal/catch_su

[2015-12-09 15:30] nlohmann commented on #154
This is strange, because all switch statements are either complete or have a default branch. Could it be that your compiler switches require both?

[2015-12-09 15:32] nlohmann commented on #132
I also thought so. I am currently not planning to distribute the code over several files. The 1-file solution is a feature I would like to keep.

[2015-12-09 15:32] #132 closed

[2015-12-09 18:23] luxe commented on #154
Yes, it seems like g++ requires the switch to contain both when flags are used this way.  Not sure about clang.

__Example:__
[code]

Anyway, I agree that these warnings are acting like false positives for the json library.  I don't want to turn them off though for my own code, because I like having as much noise as possible in my unit test builds.  I'm not testing json.hpp itself though, so I'd l

[2015-12-09 21:57] nlohmann commented on #154
Please check. I would not want to alter correct code just to suppress overly pedantic compiler flags...

[2015-12-10 00:57] luxe commented on #154
[code]

Doing this solves my problem and suppresses warnings related to json.hpp.
Whether you want to pass this responsibility on to the users of the library(as I have demonstrated above), or handle it internally, that is up to you.  None of the actual switch statement code would need changed, but it would require wrapping all of the code in the two macros chunks shown above.

calling @philsquared

[2015-12-10 03:37] rockeet commented on #152
Cool, it works!

[2015-12-10 06:33] nlohmann commented on #152
\o/

[2015-12-10 09:47] philsquared commented on #154
I've always striven to keep warnings generated from Catch as close to zero as possible - so have always compiled at highest warning levels.
Sometimes they can be really bizarre - and, when you include multiple compilers into the mix (and I can never test against enough of them) they can be contradictory!
In my experience with your example (enum cases) I initially added all cases, even where that d

[2015-12-10 11:02] philsquared commented on #154
BTW: great to see such a comprehensive test suite using Catch - and with good use of nested sections, no less :-)

[2015-12-10 12:10] Ratstail91 commented on #136
Hi, I just wanted to add that this bug goes a lot deeper than Android; I was getting this issue with a fresh install of MinGW on Windows 10. After chasing proposed changes across the net, I fixed it by manually patching some headers using this:

http://tehsausage.com/mingw-to-string

After these changes, it still wasn't working, but it wasn't because of `_GLIBCXX_HAVE_BROKEN_VSWPRINTF`, but rather

[2015-12-11 07:33] nlohmann commented on #133
Good point with the reference! I guess `value()` would be a good candidate. I see if I can fix something this weekend.

[2015-12-11 07:34] nlohmann commented on #135
I'll see if I can realize option 2 this weekend.

[2015-12-13 11:18] nlohmann commented on #133
What do you think of the following:

[code]

It allows code like `int i = j.value("key_key", 17);` or `j.value("other_key")` to use `null` as default value.

[2015-12-14 07:39] nlohmann commented on #133
I forgot: Of course, the above could could be `noexcept` and also return the default value if called on a JSON value other than an object.

[2015-12-14 08:28] mbunkus commented on #133
I like your proposed implementation.

About returning the default value instead of throwing: from the perspective of least surprise I'd argue that `value()` only makes sense for array and object types. Therefore it should not work for other types.

Note that it's also easier to disallow other types first and to change the API later if users request it to work on other types as well then the other

[2015-12-14 09:49] dariomt commented on #133
As I mentioned in my original post, my use case is more in line with:
[code]
because when I'm looking for a key I already know the type it should have, and I expect that I can get the converted-to-T value if the key is found, or the default-T if it is not found.

To me that's the meaning `value()` conveys.

[2015-12-14 14:22] nlohmann commented on #133
@dariomt

I tried, but with the template I fail to compile a call like `j.value("key", "default string")`, because of

[code]

When I write `j.value("key", std::string("default string"))`, it works.

Any idea?

[2015-12-14 14:26] nlohmann commented on #114
I still do not really know what kind of extension you have in mind. I will not change the parser to process non-standard JSON, because I want the library to be standard compliant.

[2015-12-14 14:27] nlohmann commented on #103
I think this could be solved with #133.

[2015-12-14 14:30] nlohmann commented on #65
I think this change is too complicated and does not really cover JSON core functionality.

[2015-12-14 14:30] #65 closed

[2015-12-14 14:31] #62 closed

[2015-12-14 14:33] nlohmann commented on #138
@dariomt - I could not get the code to compile when adding `object_t` and `array_t` to the union without pointer.

[2015-12-14 14:44] dariomt commented on #133
My guess:
The return statement inside `value()` tries to convert from `basic_json` to `T`, but such conversion is not possible because `basic_json` is implicitly convertible to `std::string` but not to `const char*`. That's why the second case works, because in that case `T` is `std::string`.

My suggestion: add an overload to take care of that case, that creates a `StringType` for the default val

[2015-12-14 14:59] dariomt commented on #138
For that you would need to use containers with support for [incomplete types](http://www.boost.org/doc/libs/1_59_0/doc/html/container/main_features.html#container.main_features.containers_of_incomplete_types), to be able to create [recursive structures](http://www.boost.org/doc/libs/1_59_0/doc/html/container/main_features.html#container.main_features.containers_of_incomplete_types.recursive_contai

[2015-12-14 15:23] gregmarr commented on #133
If using the template, you need to make it deduce a type that is implicitly convertible both to and from value_type.  This means that either you provide the T explicitly as in j.value<std::string>("key", "default string"), or you make sure that the default value is that type, as in j.value("key", "default string"s).  To put the error at the point of use, you could add enable_if as you do in the co

[2015-12-14 15:30] gregmarr commented on #138
As of C++17, std::vector supports incomplete types in containers.  This support was not added to std::map yet.

[2015-12-14 15:33] nlohmann commented on #154
@luxe - I cleaned up the code. Using Clang and GCC, I do not get any switch-related warnings.

@philsquared - Thanks for Catch! :)

[2015-12-14 15:41] nlohmann commented on #154
I just saw that there would be again warnings with `-Wcovered-switch-default`. My previous commit was too optimistic. I shall focus on having a default branch in all switches and do not care about pedantic compiler flags...

[2015-12-14 15:59] #154 closed

[2015-12-14 16:03] nlohmann commented on #136
@Ratstail91, what do you propose?

[2015-12-14 16:11] gregmarr commented on #136
I didn't notice that you'd added the std::to_string overload.  I haven't updated our project to use this version yet, but I suspect that this is going to cause problems for us, as the C++ library that we use for Android (c++_shared, from LLVM) already contains that function.  Also, it is not allowed for user code to add things to the std namespace except in very specific circumstances.  I think th

[2015-12-14 17:49] luxe commented on #154
@nlohmann thanks, appreciate it.

[2015-12-14 20:27] nlohmann commented on #136
Hi @gregmarr, I understand. If you experience problems with the current version, please let me know.

[2015-12-15 07:26] Ratstail91 commented on #136
@nlohmann I'd recommend not adding std::to_string, partially because of what @gregmarr said. Instead, I'd determine what implementations of C++ that this tool is compatible with, and give some advice for those who are having trouble with it, possibly in a help or README file. I'd be happy to write that up myself, since I've dealt with it.

Worst case scenario, you could write a custom function `to

[2015-12-15 07:39] #103 closed

[2015-12-15 07:43] nlohmann commented on #133
I added the function with some documentation and example: http://nlohmann.github.io/json/classnlohmann_1_1basic__json_a26b7e4876af25eae5800ce43f93aaef2.html#a26b7e4876af25eae5800ce43f93aaef2

[2015-12-15 07:43] whackashoe commented on #136
nlohmann::to_string is alternative that makes it easy for those with fucked up stl implementations and is obvious that it acts similar to to_string.

[2015-12-15 08:08] Ratstail91 commented on #136
@whackashoe Adding it to namespace `nlohmann` is an option, but I still don't like it...

[2015-12-15 08:20] arnaudbrejeon commented on #103
Great! Thank you for the good work!

[2015-12-15 08:42] nlohmann commented on #138
I close this issue now as there is nothing that can be done at this point.

[2015-12-15 08:42] #138 closed

[2015-12-15 08:42] nlohmann commented on #138
(Thanks for all the feedback!)

[2015-12-15 12:13] Drealmer opened #156 "token_type_name(token_type t): not all control paths return a value"
Hello,

The function "token_type_name(token_type t)" contains a switch where every case contains a return, but Visual Studio 2015 complains about the function still having a control path that wouldn't return a value. Adding a default to the switch would fix it.

[2015-12-15 12:44] gnzlbg opened #157 "Indexing `const basic_json<>` with `const basic_string<char>`"
I cannot index `const basic_json<>` with a `const basic_string<char>` anymore.

[code]

[2015-12-15 13:14] gnzlbg commented on #157
OK it seems that fixing #135 caused this.

Right now I have a lot of code that passes `const basic_json<>` objects around, `asserts` on debug mode that the elements exists, and uses `operator[] const` to access the elements. Most of the assertions are coalesced, e.g. on object construction, and before loops. In release mode nothing is checked.

The "workaround" proposed on #135 is to use `at` whic

[2015-12-15 13:36] gnzlbg commented on #135
I need unchecked `const` access, and was using `operator[] const` for this. Since it has been removed, I'm stuck with an older version of the library because the proposed "workaround", to use `at`, is not good enough for my use case.

The problem with `at` is that it performs the check on every access, but for my use case I:
- only want to check in debug builds,
- can coalesce lots of checks when

[2015-12-15 13:39] nlohmann commented on #157
Hi @gnzlbg, sorry for the inconvenience. As there are no proper releases yet, I cannot really deprecate functionality, because everything in the master branch is basically just a development snapshot. I hope to have a "proper" 1.0 done soon and finally get some roadmap. Then, deprecating functions can be properly documented.

As for #135, I though quite a while, but better similarity to STL was th

[2015-12-15 13:39] #157 closed

[2015-12-15 13:40] nlohmann commented on #156
I saw this issue, but the error message makes no sense. Adding a default branch just to shut up the compiler is something I would call bad practice as it would just introduce unreachable code.

[2015-12-15 14:01] Drealmer commented on #156
Alright, thanks for your answer and sorry for bothering you.

[2015-12-15 14:56] gnzlbg commented on #157
No worries! I understand the motivation to do as the STL does and can live with an older version. If a method for unchecked `const` access is ever added please cite this issue so that I notice it.

[2015-12-15 16:16] gregmarr commented on #156
In the version that we're using, token_type_name has a default case, so if it doesn't have one now, it was recently removed
                default:
                    return "<parse error>";

I see, it used to be default:, it was just changed to case token_type::parse_error:

The compiler warning about there being a control path that doesn't return is a good thing.  It's only unreachable if you'

[2015-12-15 17:34] nlohmann commented on #136
I removed the hack for MinGW/Android and added a small section to the README file. Thanks everybody for the discussion!

[2015-12-15 17:34] #136 closed

[2015-12-15 17:37] nlohmann commented on #157
If you are sure the key (let's say `mykey`) exists in your object, why don't use `*j.find("mykey")`?

[2015-12-15 17:39] nlohmann commented on #156
@gregmarr, sorry for the confusion - I overworked the switch statements lately as I thought I could get rid of all warnings. However, there seems to always be one compiler flag that yields a warning - even though the code is fine.

In the concrete setting, I did not want to replace the last case by default, because it would, from my point of view, make the code less readable.

[2015-12-15 17:51] gregmarr commented on #156
I'm fine with that, we may just need to add another warning to the list that we already suppress around the header: 4706 (assignment within conditional) and 4996 (function was declared deprecated).  We have our own header that includes json.hpp, which is where we have our fix for the android strtold issue, so that's not a big issue.

[2015-12-15 18:08] gnzlbg commented on #157
This is one of the things i'm doing in a loop (i is an index):

[code]

Using at adds 4 unnecessary checks and looks like this (which is not that
bad):

[code]

Using find it looks like:

[code]

On Tue, Dec 15, 2015 at 6:45 PM, Niels <notifications@github.com> wrote:

[2015-12-15 18:20] gregmarr commented on #157
iterator also has operator->
j.find("files")->find(i)->find("fields")->find(name);

[2015-12-15 18:26] gnzlbg commented on #157
That should work, thanks!

[2015-12-16 08:13] nlohmann commented on #133
Hi there, one more question: What do you think of a second version of `value` which always returns a `basic_json` value and implicitly return a null value as default?

[code]

[2015-12-16 09:08] zcourts commented on #114
It wouldn't be non-standard JSON, my example above was just for illustration the value of "c" would be a standard JSON array of numbers separated by commas.

I don't remember the exact details to be honest. The company has paused the project so it's unlikely I'll need to do this anymore. If the below doesn't clarify what I meant then I'm not sure how else to explain so feel free to close.

I was w

[2015-12-16 10:20] nlohmann commented on #114
OK, now I understand. It seems to be a very narrow use case, and I am not sure whether it could be helpful to anyone else. (Let's hope this includes you ;-))

Thanks for clarifying!

[2015-12-16 10:20] #114 closed

[2015-12-16 10:37] #117 closed

[2015-12-16 10:39] nlohmann commented on #151
This change would result in a even more complicated storage of numbers. At this point, I am not planning to implement this. Sorry for the inconvenience.

[2015-12-16 10:39] #151 closed

[2015-12-16 10:40] nlohmann commented on #128
Any news here?

[2015-12-16 10:43] nlohmann commented on #127
I'll add a comment to the function in a later commit. Thanks for the discussion!

[2015-12-16 10:43] #127 closed

[2015-12-16 11:12] Cleroth commented on #144
Why?

[2015-12-16 11:16] nlohmann commented on #144
I am unable to debug MSVC error messages. If you have any idea how to fix it, I would be happy.

[2015-12-16 12:29] Cleroth commented on #144
The problem is that basic_json can convert to both a `char` and a `const char *`, so MSVC doesn't know which function to call. The only solution I've found is to prevent implicit conversion to `char` (ie. by adding `typename = std::enable_if<!std::is_same<ValueType, char>::value>::type` to `operator ValueType()`).
You could probably easily replicate this by creating a dummy class with two `operato

[2015-12-16 15:26] dariomt commented on #128
My changes already implemented `get_ref<const std::string &>`, so that's good.

However, I'm still trying to get the branch in proper shape to make the PR easy for you, git newbie here  :)

[2015-12-17 15:42] nlohmann commented on #156
Meanwhile, I saw that GCC 4.9 also warns about this.

[2015-12-17 15:52] #156 closed

[2015-12-17 16:51] gregmarr commented on #133
I think this "with default" version would be much more useful now that [] can no longer be used on const objects.  I did a local build of our code with the updated version, and had to do a lot of replacing of foo[key] with *foo.find(key), and would much prefer foo.value(key).

[2015-12-17 17:21] nlohmann commented on #133
Ok, will so.

[2015-12-18 02:27] xboi209 opened #158 "basic_json::iterator::value() output includes quotes while basic_json::iterator::key() doesn't"
I've noticed that when iterating through a json object, calling ````value()```` wraps the string with quotes while ````key()```` doesn't. This should be changed so that either they both be wrapped with quotes or not wrapped at all.

[2015-12-18 08:17] nlohmann commented on #158
Thanks for reporting! I'll check!

[2015-12-18 13:24] EvilPudding opened #159 "Getting member discarding qualifyer"
I know there has been a lot of discussion on this topic in
the issues, but I don't know what conclusion you guys
arrived to, all I know is that I'm need to use json as a
const reference, and what I've been doing to access the
object entries isn't very efficient, what I want to do is:
[code]
But I get a warning that this discards the const qualifier,
so what I'm doing to fix it is the horrible:
[co

[2015-12-19 15:40] nlohmann commented on #133
Another idea for the version without explicit default value: Instead of returning `json()` as default value, I could return `*this`. This would allow a version of `value(key)` that always returns const references.

[2015-12-19 19:08] Furcube commented on #144
GCC 5.3.0 on linux produces similar error. Need to use explicit conversion.

[2015-12-19 19:14] Cleroth commented on #144
Clang 3.7 also reports the error.

[2015-12-19 19:22] Furcube opened #160 "add key name to exception"
I use library to deserialize json to class.
Seem to be simple like this:

[code]

But at will throw out_of_range without actually telling what it could not find. Makes deserialization without touching json.hpp much harder that it could be.

It would be good for exceptions to be more verbose.

Not sure that it will work in all cases, but it works for mine. I've changed json.hpp like this:
[code]

A

[2015-12-20 11:32] nlohmann commented on #158
This is not a bug.

`key()` returns a `std::string` and `value()` returns a `basic_json` object. So the former gives you they key as it was stored, whereas the latter gives you a JSON serialization of the string. This includes escaping characters, see RFC 7159.

So if you want an escaped version of the key, you need to create a JSON value out of it first.

Example:

[code]

Output:

[code]

[2015-12-20 11:32] #158 closed

[2015-12-20 14:38] nlohmann commented on #144
I fixed the code (see https://github.com/nlohmann/json/commit/457bfc2401028a9eb42b738401935d3ad1e1d984) and added test cases. The code compiles for GCC and Clang, but AppVeyor (https://ci.appveyor.com/project/nlohmann/json) fails to compile the code with MSVC. Does anyone have an idea what could be the issue?

[2015-12-20 14:42] nlohmann commented on #159
You may want to have a look at the discussions in #133.

[2015-12-21 03:06] EvilPudding commented on #159
This doesn't suit me at all. From what I gather from
that discussion is that instead of using the operator
that most people who have seen js before are familiar
with (obj["key"]), I'm supposed to use obj.value("key")?
why? I don't understand the reasoning behind it, is it
so you can have it behave like a map would?

I'm using the json objects to be the storage of event
information, and because of

[2015-12-21 08:02] nlohmann commented on #159
Hi @EvilPudding, just to let you know, I reintroduced the const operator[], see http://nlohmann.github.io/json/classnlohmann_1_1basic__json_a8e34088252a3ee6b2377f3a1f26dd1ba.html#a8e34088252a3ee6b2377f3a1f26dd1ba. Sorry for all the inconvenience.

For the implicit conversions (e.g., returning `null` for nonexisting object values), I think mimicking JavaScript would introduce a lot of surprises to

[2015-12-21 08:02] nlohmann commented on #135
Hi all, just to let you know, I reintroduced the const operator[], see http://nlohmann.github.io/json/classnlohmann_1_1basic__json_a8e34088252a3ee6b2377f3a1f26dd1ba.html#a8e34088252a3ee6b2377f3a1f26dd1ba. Sorry for all the inconvenience.

[2015-12-21 08:02] #135 closed

[2015-12-21 08:15] nlohmann commented on #133
After thinking about it for quite a while, removing the const version of `operator[]` was a mistake. I re-added it in a previous commit. I think now the `value` function does not need another version with implicit default value, right?

[2015-12-21 12:42] EvilPudding commented on #159
Your response and modification was quick and
perfect.

The part about the implicit conversions was just a
flavour thing, it would be fun, but probably bring
more problems than it would solve.

Thank you so much!

[2015-12-21 12:42] #159 closed

[2015-12-23 07:24] nlohmann commented on #83
Hi @vanderlokken, the `iterator_wrapper` (I'm not happy about the name either...) now also works for const objects. It is now realized by a static function, but a member function should also be possible. This could allow for code like

[code]

Any better idea?

[2015-12-25 13:12] EvilPudding commented on #83
Why not the javascript way?
[code]
[code]
This would mean the iterator only returns the keys,
and that the lookup for the value would have to be
done inside the loop, which has performance problems
i'm guessing.
It would also make it so the syntax for both objects
and arrays could be the same.

[2015-12-25 22:31] xboi209 commented on #83
@EvilPudding That looks very unnatural in C++. IMO, it should simply be:

[code]

[2015-12-25 23:59] EvilPudding commented on #83
@xboi209 What would be the type of that obj? If
you want to keep natural to C++, then you should
only use the map standard iterator, and access
the key with .first and the value with .second.

C++ programmers are familiar with iterating through
a map, so it wouldn't be a stretch.

[2015-12-26 04:03] xboi209 commented on #83
@EvilPudding The type of obj would be a custom type defined by this library, but using the map container could work as well.

[2015-12-26 09:44] EvilPudding commented on #83
@xboi209 I would hate it if it was done, but
it would work like you're saying, if we were to
extend the map so instead of pairs it takes a
costume pair extension that has key and value
as aliases.

The problem with this solution is that we would
be leaving standard maps, and other C++
programmers would assume we're just using
maps and be lead to false conclusions.

[2015-12-26 09:54] nlohmann commented on #83
I tried to mimic the STL as close as possible. Therefore, JSON objects shall behave as stl::map, and keys/values are available as first/second.

However, I don't like how maps behave with range fors, therefore I added the wrapper.

[2015-12-26 18:05] gregmarr commented on #83
What part of the map range for behavior do you not like?

[2015-12-27 08:55] nlohmann commented on #83
@gregmarr If I do a range for over a JSON object, I only get a reference to the stored object, but have no way to access the key. This is different to when I use iterators explicitly, because I overloaded the iterators with a `key` function.

[2015-12-27 14:32] nlohmann commented on #160
Hi @Furcube, I changed the exceptions accordingly and also overworked the test suite and documentation. I hope you like it.

[2015-12-27 14:32] #160 closed

[2015-12-27 14:32] #133 closed

[2015-12-27 15:12] gregmarr commented on #83
Oh, I thought you meant you didn't like  std::map behavior, not json object behavior.

[2015-12-27 15:52] nlohmann commented on #83
Ok - all that is left open in this issue would be the name of the wrapper. Does anyone has better ideas?

[2015-12-27 16:50] nlohmann commented on #128
Ok - looking forward to it!

[2015-12-28 15:07] glenfe opened #161 "Incorrect C++11 allocator model support"
Here is a preliminary list of issues:
- Your allocator template parameter should be just `class AllocatorType = std::allocator<ValueType>` instead of `template<class U> class AllocatorType = std::allocator`.  i.e. Do not require that the allocator type is a class template with one template parameter.
- You only support stateless allocators; C++ allocators can be stateful. Your `basic_json` constru

[2015-12-28 22:36] nlohmann commented on #161
@glenfe, thanks for your feedback! I copied your items to check them off once they are fixed:

- [ ] Your allocator template parameter should be just `class AllocatorType = std::allocator<ValueType>` instead of `template<class U> class AllocatorType = std::allocator`.  i.e. Do not require that the allocator type is a class template with one template parameter.
- [ ] You only support stateless allo

[2015-12-28 22:58] nlohmann commented on #66
I tried to submit the library, but the form at http://rrsd.com/blincubator.com/submit-your-library/ kept showing "Failed Validation - Library Submission".

Maybe @robertramey knows what could be the issue.

[2015-12-28 23:14] robertramey commented on #66
I'll look into it

[2015-12-28 23:43] gregmarr opened #162 "Unnecessary const_cast"
inline nlohmann::json operator "" _json(const char* s, std::size_t)
    {
        return nlohmann::json::parse(reinterpret_cast<nlohmann::json::string_t::value_type*>
                                     (const_cast<char*>(s)));
    }

The const_cast<char *>() can be removed simply by adding const to the reinterpret_cast.

    return nlohmann::json::parse(reinterpret_cast<const nlohmann::json::str

[2015-12-29 06:28] robertramey commented on #66
please try again.  also please make sure you're registered on the site
before you submit a library.  If it still fails, send me a screen shot
of the form before you submit it.

Robert Ramey

On 12/28/15 2:59 PM, Niels wrote:

--
Robert Ramey
www.rrsd.com
(805)569-3793

[2015-12-29 11:08] nlohmann commented on #66
I forgot to register... I shall try again later today.

[2015-12-29 11:11] nlohmann opened #163 "Provide a FAQ"
As proposed on [Reddit](https://www.reddit.com/r/cpp/comments/3yiw5g/json_for_modern_c_version_100/cyedvg8), it would be a good idea to have a FAQ section.

Possible questions:

- Why does the code not work with GCC 4.8? (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=55817, https://gcc.gnu.org/bugzilla/show_bug.cgi?id=57824)
- Is putting all code in a single header a good idea? (http://stackoverflo

[2015-12-29 11:24] nlohmann commented on #66
The submission worked now. Let's see what comes out of it!

[2015-12-29 11:24] #66 closed

[2015-12-29 11:30] nlohmann commented on #162
Thanks for the hint! (And thanks so much for helping in so many discussions!)

[2015-12-29 11:30] #162 closed

[2015-12-29 12:10] nlohmann opened #164 "std::unorderd_map cannot be used as ObjectType"
The following code does not compile:

[code]

The reason for this seems to be that the definition of `object_t` seems to rely on specifics of `std::map`:

[code]

[2015-12-29 23:53] erichkeane commented on #164
I've been looking at this for a bit, and a 1st run solution isn't that bad.  Just doing SFINAE/enable_if to switch based on unordered_map vs map is pretty easy using is_same or is_base_of.

However, I'm still trying to figure out a way to not break existing code that specializes the ObjectType parameter to a non-std::map container (such as a custom map that has object_t compatible template args).

[2015-12-30 13:05] nlohmann commented on #164
I think one can check via `enable_if` whether the container has a function `hash_function()` to differentiate between `std::map` (`false`) and `std::unordered_map` (`true`). It's not perfect this way, but it could be a first step.

[2015-12-30 16:04] erichkeane commented on #164
Alright, sounds acceptable.  I'm not a HUGE fan of doing it by anything but signature, since the result is overly dependent on the std::map vs std::unordered_map types, but I'll put a pull request together for sdoing it that way in a few hours.  Thanks!

[2015-12-30 19:43] erichkeane commented on #164
I've made an attempt that is ALMOST working.  I differentiate between the two types via SFINAE based on key_comparer and hasher, which makes object_t do exactly what we need it to.

See the commit here: https://github.com/erichkeane/json/commit/90ab92ade1df8d32ea52e7ad302b41c47b783dce

One might think that type-test-validity would work the same way I'm doing it without having to dive into the memb

[2015-12-30 20:36] glenfe opened #166 "Member detector is not portable"
Your `has_mapped_type` definition may be dependent on the C++ implementation providing `int` and `char` of different sizes. It is valid for an implementation to make them the same size.

You can remedy this by changing the return types to types which will be different sizes.

[2015-12-30 22:07] erichkeane commented on #144
@nlohmann : I checked out master with a VM, and get the same issue on Master, so I would say that the issue is NOT with the proposed patch, but with master itself.

[2015-12-30 22:18] erichkeane opened #167 "MSVC 2015 build fails when attempting to compare object_t"
See #144 and #165 for examples of the build.

It seems that the following results in a test to see if a value is streamable in catch.hpp:
unit.cpp:2588 CHECK(*p1 == value.get<test_type>());

This causes a call to operator == in catch.hpp (17771):

    template<typename RhsT>
    ResultBuilder& operator == ( RhsT const& rhs ) {
    return captureExpression<Internal::IsEqualTo>( rhs );
    }

THAT c

[2015-12-30 22:34] Cleroth commented on #144
The patch is on master, I believe.

[2015-12-30 22:43] erichkeane commented on #144
@Cleroth: I mean the latest issue that he's having in AppVeyor.  Even without the std::string::operator= stuff, I get the issue of an ambigious operator <<.

I filed bug #167 to comprehend the issue that is blocking this currently.

[2015-12-30 23:07] erichkeane commented on #167
A few more comments before I call it a day:
1- I find it odd that the == operator is coming from catch, rather than comparing the items as std::map objects.  Do we know what clang/gcc does with these?

2- It seems that the IsStreamInsertable intends for the proper overload to be:

    FalseType operator<<(std::ostream const&, BorgType const&);

BorgType has a CTOR that should just work for that:

[2015-12-31 10:11] palacaze commented on #164
An alternative would be to let the user provide partially defined template types for ```ObjectType``` and ```ArrayType```. This is a little more work for the user but makes it easier to use other containers, provided they meet the requirements. Those requirements may be checked through static asserts.

More specifically, the object type should respect the [AssociativeContainer](http://en.cpprefere

[2015-12-31 16:25] mysyljr commented on #167
1. Because the CHECK(A == B) takes A==B as a macro parameter and turns it into a part of this kind of expression:
__catchResult <=A==B
__catchResult <=A saves A inside and then compares to B in a different way, using a different operator==.
2. This sounds not good. I don't think msvc can be like this. ^_^

[2015-12-31 16:27] erichkeane commented on #167
Ah, thanks!  I missed reading through the macro, and got caught  up by the rest of it!  Thanks!   Hopefully that'll help my debugging today.

[2015-12-31 16:49] mysyljr commented on #167
As to the the familiar error C2593, It's just the compiler has more than one  implicit convertion choices so it doesn't choose anymore. This may help, but I can not figure out where are the choices right now.

[2015-12-31 16:52] erichkeane commented on #167
Ya, this one is pretty annoying.  The super annoying part is that the compiler lists EVERY operator<< overload as ambigious, and I strongly suspect that it is only ambigious between a few choices.  I am going to binary search/build through the code today I think, otherwise no real idea on how to proceed.

[2015-12-31 17:28] mysyljr commented on #167
No, you got it wrong. The list is just all the overloads the compiler search from, which means nothing.
The quickest way to find the one who conflict with BorgType is write these under same namespace of BorgType:
std::ostream s();
s<<T();//where T is the type you want to check
Then compiler will do a real check, then fail, then show a error that point out the conversion may be BorgType ,or be XXX,

[2015-12-31 17:31] erichkeane commented on #167
So, here is something CRAZY interesting that makes me think we're getting some weird bug....

In Master, the existience of this unit test line on test/unit.cpp:11219
nlohmann::basic_json<std::map, std::vector, std::string, bool, int32_t, float> j;

causes the problem to happen.  Additionally, the unordered_map test that was added in #165 does the exact same thing!

If I comment out those lines, (a

[2015-12-31 17:33] erichkeane commented on #167
Additionally, changing that line to match the default template (so that it isn't actually specialized) makes it work.  ANY difference int he template causes the ambiguous operator << issue.

[2015-12-31 17:36] erichkeane commented on #167
@mysyljr : Sorry, missed your last comment until now.  It didnt' come up until I refreshed github for some reason?  What I meant was, in CLANG/G++ in an ambiguous overload situation it will list only the possible ones, not EVERY possible overload.

I'll try your suggestion.

[2015-12-31 17:42] mysyljr commented on #167
@erichkeane My point is that the "sizeof( testStreamable(s << t) )  }; " way makes only an ambiguous error. But the "s<<t" way makes a real execution and will tell what exactly can be the choices, one more error in fact.

[2015-12-31 17:46] erichkeane commented on #167
Ah, good debug tip, thanks! I'll give it a try.  I don't really get much experience with MSVC, so I am just used the clang/gcc error messages.  Seems like compiler error message are a foreign language of their own.

[2015-12-31 17:51] mysyljr commented on #167
I'm using msvc2013 and it's not so much full of magic than gcc. It's only incompatible in details. When you found an error, maybe it's only gcc let it hides.

[2015-12-31 17:55] mysyljr commented on #167
And who designed the BorgType? I'm not sure if I'm right, but I think anything who can be implicit converted to a type and call operator<< will get a bug like this, which seems not fine. ^_^

[2015-12-31 18:05] erichkeane commented on #167
In this case, both GCC and CLANG compile this properly (and both are well known to be extremely standards compliant), so I suspect that the issue is an oddity with MSVC.

I'll note that I added

     void p()
     {
         std::stringstream s;
         s << nlohmann::json::object_t{};
     }
to the namespace with the BorgType struct, and this added zero additional errors.

I DO notice that this

[2015-12-31 18:07] erichkeane commented on #167
BTW, BorgType was generated as a part of the Catch library, here: https://github.com/philsquared/Catch

[2015-12-31 18:29] mysyljr commented on #167
@erichkeane I really think it's a bug of Catch. I'll check it tommorrow.^_^
As to the type that conflicts, I believe that you've got it right. And it's suggesting nothing wrong with our codes.

[2015-12-31 18:38] erichkeane commented on #167
Alright, cool.  I've run out of ideas/thoughts on how to push further, I suspect my lack of experience with MSVC is holding me back.  If you could post any further things you identify when you look at it tomorrow, I'd love the chance to poke at it some more with any additional ideas you get.

[2016-01-01 03:09] mysyljr commented on #167
It's not Catch library's fault. Because only if you define a conflicting implicit conversion operator<< overload in the same namespace of BorgType, you will get an ambiguous error, that happens when you hack into it not when you use it.

Now it suggests that even without BorgType, without CHECK(*p1 == value.get()), you will fail if you do a test "s<<t", for it's ambiguous at json library's design.

[2016-01-01 15:45] nlohmann opened #168 "Add assertions"
As proposed on [Reddit](https://www.reddit.com/r/cpp/comments/3yiw5g/json_for_modern_c_version_100/cyi91og?context=3), the code should be enriched with assertions to document and check the invariants of the functions.

[2016-01-01 17:15] nlohmann commented on #166
Doesn't the C++ standard guarantee `sizeof(char) == 1` and an `int` to have a width of at least 16 bits?

[2016-01-01 17:19] glenfe commented on #166
Yes? A C++ implementation can make sizeof(char) == sizeof(int) == 1 where CHAR_BIT is 16.

[2016-01-01 17:25] nlohmann commented on #167
Hi there! I really appreciate that you're digging into this issue. Unfortunately, I have no idea what goes wrong there... I would love to see the code compile with MSVC again, and if I can help, please let me know!

(And Happy New Year to all of you! :fireworks:)

[2016-01-01 17:26] nlohmann commented on #166
I see... (Even though this would be really odd...)

[2016-01-01 17:28] glenfe commented on #166
Here's one possible fix:
[code]

Also, consider changing the next line to:
[code]

[2016-01-01 17:32] nlohmann commented on #166
That's way more elegant. Thanks a lot for nitpicking on this. And Happy New Year!

[2016-01-01 17:36] #166 closed

[2016-01-01 18:01] nlohmann commented on #164
Hi @erichkeane, thanks for your effort! What do you think of @palacaze 's proposal? It may be more verbose, but it could help to approach issue #161 as well.

[2016-01-01 18:28] erichkeane commented on #164
I really like his proposal, it would definitely save on a whole bunch of future specializations, and make sure that we are properly abstracted.  My concern was solely that since this is a 1.0.0 product, that changing APIs at all would be prohibitive.

I also like the allocation work that he wishes to do, it doesn't seem like it would be that bad!

My question for @palacaze: How do you see the two

[2016-01-01 19:04] erichkeane commented on #161
@nlohmann : I will likely have time in the next week or so, I can start work on this as a part of the changes that were suggested on #164 if you so approve.

[2016-01-01 19:06] erichkeane commented on #167
@nlohmann:You're welcome!  I had a few spare hours with a VM, but unfortunately couldn't come up with the solution.  I PERSONALLY suspect that this is a defect with MSVC.  For NOW, the work around is (on windows), only instantiate a single template of the basic_json object.

I believe that since it isn't a regression, that #144 should be able to be merged.  You could merge #165 if you cared to, ho

[2016-01-01 23:09] erichkeane commented on #161
Started looking a little bit into this, gonna go through the list with questions:

The issue I see trying this is 2 fold:
1- The reason for taking a template option was that the object & array types (not string interestingly) were given this allocator.  Due to #169, this is no longer the case, so I suspect that isn't an issue.
2- The bigger issue is defining the default allocator correctly.  Unlik

[2016-01-01 23:22] gregmarr commented on #161
"rebind the stored allocator instance member variable"

"This increases the size of a the object by quite a bit. The basic_json type is now going to be std::allocator larger"

The way to avoid that is to derive from it instead of having it as a member.  Then the empty base class optimization would cause it to take up no space when it is stateless.

[2016-01-02 00:40] glenfe commented on #161
I'll answer the other questions in a subsequent reply, but, as gregmarr said, the way to avoid increasing storage by `sizeof(Allocator)` for when `Allocator` is stateless, is to use the empty base optimization.

You could achieve that via inheritance, or by pairing the allocator instance with another member by leveraging a type like `compressed_pair`. (`compressed_pair` uses the empty base optimiz

[2016-01-02 00:45] glenfe commented on #161
In C++11 and above, the `pointer` type of a given allocator is not required to be `value_type*` or even of the form `T*`. That is, an allocator's `pointer` type could be a smart pointer. So if you support the C++ allocator model, you have to:

* Not assume that the allcoator's `allocate()` returns a raw pointer
* Store the return value of `allocate()` in object of `pointer` type
* Pass it in `poin

[2016-01-02 01:10] glenfe commented on #161
Even `class Allocator = std::allocator<void>` is fine. You're going to rebind the allocator for every allocation, so the initial `value_type` of the allocator isn't important.

[2016-01-02 07:45] mysyljr commented on #167
I don't know how to push code here but I can show a case to explain what's going wrong. @erichkeane
@nlohmann
If you don't delete the line  test/unit.cpp:11219
nlohmann::basic_json<std::map, std::vector, std::string, bool, int32_t, float> j;

And add a test like this
template<typename T>
static std::string convert(T const& _value) {
    std::ostringstream oss;
    oss << _value;
    return oss.str

[2016-01-02 08:45] mysyljr commented on #167
This case failed for msvc:
nlohmann::basic_json<std::map, std::vector, std::string, bool, int32_t, float> j;
template<typename T>
	static void convert(T const& _value) {
		std::ostringstream oss;
		oss << _value;

	}
convert(json::object_t());

This line:
oss << _value; //wrong because _value can be converted to a nlohmann::basic_json<std::map, std::vector, std::string, bool, int32_t, float> or a

[2016-01-02 10:59] mysyljr commented on #167
Though I may not get it solved this day, I find that there are two bugs all together, for compiler stops when it meets the first one. If I can't solve them I'll post a new issue in detail. Here is where the second  wrong in json.hpp:
template <class CompatibleArrayType, typename
              std::enable_if<
                  not std::is_same<CompatibleArrayType, typename basic_json_t::iterator>::

[2016-01-03 01:06] palacaze commented on #164
Ok so I looked into it and I won't be that easy.

I will mention both #161 and this bug here, first in reply to @erichkeane how do I make ```basic_json``` allocator-aware in relation to my previous idea?

I think a judgement call is needed flexibility-wise, it is difficult to get the best of both worlds.

First of all, we need to consider the potential uses of an allocator. It may be used for ```b

[2016-01-03 14:12] nlohmann commented on #164
Reading about all the problems, I am also getting unsure whether it is a good idea to make the class allocator-aware. It was not a design goal in the first place, but (in my limited understanding - which is also wrong as we see in #161) at some point it seems to be an easy addition.

That said, I have limited understanding of the values of a user-provided allocator, so I cannot really judge whethe

[2016-01-03 16:05] nlohmann commented on #168
I added assertions for pointer access and iterator dereferencing.

[2016-01-03 16:08] nlohmann commented on #168
Todo:

- [ ] Add a note to file `README.md` explaining how assertions can be switched off.

[2016-01-03 18:21] palacaze commented on #161
I updated my #170 branch to implement @glenfe empty base optimization idea, and I think the use of allocator_traits is now correct.
I had to change one constructor into a static array constructor in order to avoid an ambiguous constructor call resolution.

All tests pass with gcc 5.3 and clang 3.7.

[2016-01-04 14:03] poskadesign opened #171 "Cannot index by key of type static constexpr const char*"
This will not compile, error: use of overloaded operator '[]' is ambiguous (with operand types 'json' (aka 'basic_json<>') and 'const char *const'). Code:

static constexpr const char* _VAR1 = "MyKey";
void foo() {
    nlohmann::json j;
    j[_VAR1] = 10;
}

[2016-01-04 16:54] erichkeane commented on #167
IMO (And in Clang/G++'s opinion), the ambigious line of os << _value; should not be ambigious, as the two are totally different types.

This is an issue with the MSVC compiler I suspect, though I'm not sure how to work around it.

Not sure the issue with the 2nd one, since I didn't see the error message with it.

[2016-01-04 19:37] nlohmann commented on #171
I can confirm the bug for Clang (Apple LLVM version 7.0.2 (clang-700.1.81)) and Clang 3.7:

Code:

[code]

yields:

[code]

Interestingly, GCC 5.2.0 works... I shall have a look at this later.

[2016-01-04 20:50] nlohmann commented on #171
This seems related: http://stackoverflow.com/questions/8914986/should-this-compile-overload-resolution-and-implicit-conversions

[2016-01-04 21:12] nlohmann commented on #171
The ambiguity is not really between the const and the non-const version. A different program yields

[code]

[2016-01-04 21:30] gregmarr commented on #171
Is the entire root of the ambiguity this function:
    operator value_t() const noexcept
    {
        return m_type;
    }

which allows a json to be converted to an enum?  If so, should that just be removed in favor of the explicit type() function?

[2016-01-04 22:05] nlohmann commented on #171
I'll look into it tomorrow.

[2016-01-04 22:38] EvilPudding opened #172 "Android?"
Is this supposed to work on android with NDK? I really need it to, but I'm getting so many errors that I'm getting scared, because I have very close deadline.

[2016-01-04 22:50] ZahlGraf commented on #172
Yes it works on android NDK. My current student project (see the JSON lib code here integrated in the project: https://github.com/ZahlGraf/mySafeCore/tree/master/dependencies/json ) uses it with Android NDK r10e (see travis-CI, here it is build frequently).
It is very important, that you enable c++11 support and I use the "gnustl_static" runtime library instead of the default one.

[2016-01-04 22:51] gregmarr commented on #172
we use the c++_shared library and it works fine with that as well.

[2016-01-04 22:56] EvilPudding commented on #172
This is what I got in Application.mk
For compatibility reasons, I'm using ndk 8, but I'm
specifying gcc's version so it has all the new c++
features. Is it just not possible to do it in 8?

#APP_STL := stlport_static
APP_STL := gnustl_static

APP_CPPFLAGS := -std=c++11 -frtti
APP_ABI := armeabi
NDK_TOOLCHAIN_VERSION=4.8

[2016-01-04 22:59] EvilPudding commented on #172
Oh snap, @ZahlGraf, that link shows me he has
to specify those two functions manually... Why
isn't that patch on the oficial repo? I don't get it...

[2016-01-04 23:01] ZahlGraf commented on #172
I think with gcc 4.8 (is this the toolchain version??) there are issues with this lib: https://github.com/nlohmann/json/issues/110
But actually that are compiler issues and not issues from the lib. I use gcc-4.9 in my project.

@EvilPudding These functions are missing for any reason in some gcc libraries for Android. I think the patch has been reintegrated, because other libs for Android support i

[2016-01-04 23:08] EvilPudding commented on #172
@ZahlGraf I have no time to migrate to a different lib
now, I'm applying the patch, it's working now, but I still
had to manuallyenable exceptions.

gcc 4.9 is not avaliable in ndk 8, so I won't have access
to it.

[2016-01-04 23:11] ZahlGraf commented on #172
@EvilPudding I hope it runs well for you now. Have a lot of luck and success by finishing your project :)

[2016-01-04 23:13] EvilPudding commented on #172
@ZahlGraf Thanks.

[2016-01-04 23:13] #172 closed

[2016-01-05 02:46] mysyljr commented on #167
Just comment out the whole section: SECTION("pointer access to object_t"), then the 2nd error will show.
The ambigious line of os << _valueThere is ambigious because the _value need to be converted to basic_json to perform the action, when it can be converted to another version of basic_json, the functionality then breaks. The bug is that there shouldn't be a conversion from
basic_json< std::map,

[2016-01-06 06:39] dummy0stud opened #173 "Question about exceptions"
There is any possible way of using this lib without exceptions, or it always throws?

It would be nice something like:
[code]

[2016-01-08 04:01] mysyljr commented on #167
[code]
Just beautify the code I pasted :sparkles: :relieved:

[2016-01-08 04:07] mysyljr commented on #167
Problem can be concluded to this:
[code]
is true somehow.
I use an older version of msvc2015 then the bug is gone. It only happens on my newly installed msvc2015. :smirk:

[2016-01-08 04:20] mysyljr commented on #167
I think my explanation still can't direct point to a compiler issue. Anyone can help to introduce the conversion relationship inside the json library? @erichkeane @nlohmann  :relieved:

[2016-01-08 04:22] gregmarr commented on #167
Well, that sounds like it could be the implicit conversion to the type enumeration and then construction from it.

[2016-01-08 04:26] mysyljr commented on #167
@gregmarr But I don't think so. I'll test.

[2016-01-08 13:02] mysyljr opened #174 "In basic_json::basic_json(const CompatibleArrayType& val), the requirement of CompatibleArrayType is not strict enough."
This is a question Ralated to #167 :
In basic_json::basic_json(const CompatibleArrayType& val), the requirement of CompatibleArrayType is not strict enough.
[code]
Template constructor of basic_json_t above can receive any type that has a type member value_type which can be used as the only parameter in one of basic_json_t's constructors and regard that type as a CompatibleArrayType.
I think the s

[2016-01-08 16:49] fh127 commented on #136
Hi, I am using the implementation c functions to support in Android ndk, the next function:

        son.hpp:6911:36: error: 'strtold' is not a member of 'std'

The method use in JNI Android

         inline long double strtold(const char * str, char ** str_end)
       {
           return strtod(str, str_end);
      }

Launch the next error when I compile:

          error: 'strtod' is not a membe

[2016-01-08 17:41] nlohmann commented on #136
Hi @fh127, did you have a look at the notes regarding Android in the README file?

[2016-01-10 19:57] nlohmann commented on #173
In case of a parse error, the code will always throw an exception. So far, I do not plan to make exceptions optional.

For your use case, you may catch `std::invalid_argument` and create a wrapper function `is_parsed_success` yourself.

[2016-01-10 19:57] #173 closed

[2016-01-10 20:04] nlohmann commented on #171
I removed `operator value_t() const noexcept` and get the same error.

Then I tried removing `operator ValueType() const` and the code compiles. It seems to be the same issue as in http://stackoverflow.com/questions/8914986/should-this-compile-overload-resolution-and-implicit-conversions

[2016-01-10 20:06] nlohmann commented on #171
After reading http://clang-developers.42468.n3.nabble.com/Why-doesn-t-this-compile-clang-implicit-conversions-amp-overload-resolution-td3668157.html, I added the constraint `and not std::is_same<ValueType, long>::value` to `operator ValueType() const` and the example compiles...

[2016-01-10 20:21] nlohmann commented on #171
It seems like Clang is correct to reject the code, and the only fix I could think of is to forbid an implicit conversion of a `json` object to `long`. However, I think the latter usecase is way more common than the issue we try to fix...

In the end, `j[_VAR1] = 10;` could be replaced by `j[std::string(_VAR1)] = 10;`.

What do you think?

[2016-01-10 20:23] nlohmann commented on #174
The code was inspired by some similar constructor from [dropbox/json11](https://github.com/dropbox/json11). In fact, I only added constraints to make the code compile in my setting.

@mysyljr, do you have an example where the code actually breaks?

[2016-01-11 01:39] mysyljr commented on #174
Simply define a type whose value_type is basic_json< xxx > will break the functionality, in which case a wrong conversion will be defined and unless you define a operator<< (or anything basic_json has) for that type, otherwise calling a operator<< will instantialize the conversion constructor ending with a compiling error.

[2016-01-11 11:34] whackashoe opened #175 "Since re2c is often ignored in pull requests, it may make sense to make a contributing.md file"
Would save people a bit of time, plus could be useful for keeping code the same style and such too.