[2018-07-26 10:03] sonulohani commented on #1174
@nlohmann Thank you.

[2018-07-26 10:48] sonulohani commented on #1174
I am doing like this:-

`using nlohmann::json;`
`json j_array = json({13, 29, 3, {{"one", 1}, {"two", 2}}, true, false, {1, 2, 3}, "foo", "baz"}, false);`

But still the value of type_deduction is still true.

[2018-07-26 11:36] nlohmann commented on #1174
I guess you then also need to pass a value for `manual_type`. These are actually internal parameters.

[2018-07-26 12:08] nlohmann commented on #1175
(The quote after the colon is invalid JSON.)

[2018-07-26 12:43] gregmarr commented on #1175
I don't think it's the quote after the colon that's invalid, it's that there isn't enough quoting of the quotes inside the string, which is itself JSON.  I think using a raw string literal would make this more obvious:

[code]

[2018-07-26 15:10] kgbook commented on #1175
print pretty:
[code]

get the respond with python or from your browser

URL: http://recognition.bi.tuputech.com/v3/recognition

[code]

[2018-07-26 15:40] gregmarr commented on #1175
@kgbook You mean the one in your first message?  That's wrong.  You put it in your code, surrounded it in plain quotes, and quoted SOME of the characters.

If you just use a regular string literal instead of a raw string literal, you need this:

[code]

[2018-07-26 15:45] kgbook commented on #1175
@gregmarr oh, you are right!
But what the meaning of triple `\`?

[2018-07-26 15:57] gregmarr commented on #1175
You want the resulting string to contain `\"`, but both `\` and `"` are special in regular string literals, so you need to quote the `\` as `\\` and then the `"` as `\"`.  So `\"` together end up as `\\\"`.

[2018-07-26 16:44] kgbook commented on #1175
`decode` failed when using Raw string literals, but ok in regular string literals.
[code]

[2018-07-26 16:58] kgbook commented on #1175
1. `decode` ok
[code]
2. `decode` ok
[code]
3. `decode` failed
[code]

[2018-07-26 17:01] gregmarr commented on #1175
@kgbook Are you running on Windows?  It is reporting a parse error at a carriage return character.

[2018-07-26 17:02] gregmarr commented on #1175
Ah, I see above that you're not.  I'm not sure why it doesn't like the newlines in the raw literal.

[2018-07-26 17:06] kgbook commented on #1175
@gregmarr Mac OS X, 10.13.5 (17F77)

[2018-07-27 03:21] kgbook commented on #1175
Three situation when using Raw string literals:

1. `decode` ok
[code]

2. `decode` ok
[code]

3. `decode` failed
[code]
Only the last one `decode` failed!

[2018-07-27 03:35] kgbook commented on #1175
I can't agree that.
[code]
Alse `decode` failed  in this situation.
Not the character`{` or `,` cause the problem.

[2018-07-27 06:43] nlohmann commented on #1175
@kgbook What is the exact issue you are having? As far as I can see, you seem to get parse error exceptions as you pass invalid JSON to the parser (which is implicitly called by the suffix `_json`).

[2018-07-27 06:43] nlohmann commented on #1174
@sonulohani Can I close this issue?

[2018-07-27 09:57] feedhandler commented on #1044
Initially the workaround in #709 only worked for me, but some time later it seemed to stop working. I wasn't able to find out why but I suspect it was related to the problem discussed in google/googletest#1149
Eventually I fixed it by adding overloads for my other types that are based off nlohmann::basic_json<>, e.g.
[code]
where ordered_json is
[code]

[2018-07-27 13:49] gregmarr commented on #1175
@kgbook Then the error must have changed, as before it was

    [json.exception.parse_error.101] parse error at 17: syntax error - invalid string: control character must be escaped; last read: '"{<U+000A>'

[2018-07-27 14:35] kgbook commented on #1175
@nlohmann yes, and more detailed information https://github.com/nlohmann/json/issues/1175#issuecomment-408299923

[2018-07-27 14:36] nlohmann commented on #1175
Yes, the 3rd example is not valid JSON.

[2018-07-27 14:38] gregmarr commented on #1175
@nlohmann Can you explain why 2 is valid but 3 is not?  I've been trying to figure that out.

[2018-07-27 14:42] kgbook commented on #1175
@gregmarr Actually, the error info you reference is the latest.

https://github.com/nlohmann/json/issues/1175#issue-344725193
[code]

https://github.com/nlohmann/json/issues/1175#issuecomment-408299923  :
[code]

[2018-07-27 14:42] nlohmann commented on #1175
1.

[code]

2.

[code]

3.

[code]

after fixing the whitespace

[code]

[2018-07-27 14:42] nlohmann commented on #1175
@kgbook So the parser is telling you where the parse error is. What is the issue then?

[2018-07-27 14:45] kgbook commented on #1175
@nlohmann the 3rd example is valid, but failed to `decode` and I want to figure it out.

[2018-07-27 14:51] kgbook commented on #1175
U+000A is a Unicode Character named `LF`,
some information i googled is below
[Unicode Character 'LINE FEED (LF)' (U+000A)](http://www.fileformat.info/info/unicode/char/000A/index.htm)

[2018-07-27 19:31] caiwan commented on #1003
I have encountered the same issue, I could not catch anything that `parse` might throw. However I dug myself into the code to see the inheritence of the exception classes, and as far as I could get none of these exception declaration seemed worked, and passed through:

[code]

I don't want to open another issue, due already there's a similar one, but are there any method to get at least an error m

[2018-07-27 19:35] nlohmann commented on #1003
@caiwan Which version are you using? In https://nlohmann.github.io/json/classnlohmann_1_1basic__json_af1efc2468e6022be6e35fc2944cabe4d.html#af1efc2468e6022be6e35fc2944cabe4d is an example how to catch parse error exceptions.

[2018-07-27 20:48] caiwan commented on #1003
I've tries it with no const qualifiers, and still no luck.

I use the lastest stable [v3.1.2]( https://github.com/nlohmann/json/tree/v3.1.2) with Visual Studio 2015 (Version 14.0.25431.01 Update 3), within a Google Test testcase.

If I'll have a little extra time, I'd hack together a PoC project to reproduce the issue.

[2018-07-27 21:14] nlohmann commented on #1003
I'd be really interested, because we are using MSVC 2015 in our CI chain since we introduced the new exceptions in 3.0.0 and never heard of any issues.

[2018-07-27 21:40] itodirel commented on #1172
Here is an example:

[code]

And the calling code:

[code]

I have to write to something like this, which is hacky:

[code]

But then I wrote it as, which is better:

[code]

I still expect an API that appends and returns a reference directly though.

[2018-07-27 21:50] nlohmann commented on #1172
As explanation: The API is the same as for a `std::vector`, so `push_back` is `void`.

[2018-07-27 21:53] itodirel commented on #1172
personally, I don't think that's not sensible, and I think it's inconsistent to have a push_back API, on something that might not be an array, but when used becomes an array

[2018-07-27 22:11] nlohmann commented on #1172
I don't understand: for arrays, `push_back` behaves just like `std::vector::push_back`. Only for `null` values we extended the behavior to allow for an implicit conversion to an arrays. Why is it unintuitive to return `void`?

[2018-07-27 22:14] itodirel commented on #1172
not because it returns void, but because a json object has a vector API and non vector APIs on it

[2018-07-27 22:34] nlohmann commented on #1172
I see. That's this library's way to deal with JSON's different value types. When you only see a `json` type, you don't know which type it is. What would be the alternative? Throwing?

[2018-07-28 03:20] gregmarr commented on #1172
[code]
That is the equivalent of this:
[code]
or better
[code]
But is **NOT** the same as this:
[code]
Other than using `node["nodes"]` more than once, this is basically correct, if you are expecting a JSON like this:
[code]
I would say the best way to write this would be something like (untested, but the syntax should be like this):
[code]

[2018-07-28 12:46] #1111 closed

[2018-07-28 15:05] sonulohani commented on #1174
@nlohmann Yeah sure. Thank you very much

[2018-07-28 15:05] #1174 closed

[2018-07-29 08:52] grembo commented on #1032
@nlohmann This is a bug in the unit test, that leads to aborts when built with clang, while it skips tests without crashing on gcc. I'll open a pull request.

[2018-07-30 02:57] kgbook commented on #1175
[code]
It doesn't work.
[code]

But there is a little difference.
previous `parse error at 17`, now `parse error at 37`.

And print the value in gdb
[code]
However, the control character `LF` has escaped to `\n`.

[2018-07-30 03:06] kgbook commented on #1175
shoudle it be `\\\n`, right?

[2018-07-30 04:32] GitOyoung opened #1177 "How to get all keys of one object?"
Sometimes, I got an object, and need all  keys of the object, but the iterator can only give me the value of one key-value pair. I want to use it like "auto keys = obj.keys()" to get all keys, but I can't find the interface. Is there anything to fix?

[2018-07-30 07:36] kgbook commented on #1175
No, you perhaps mislead something.

[code]
so I got the error message from the `std::cout`.

You can test it and will get the same result.

[2018-07-30 07:38] kgbook commented on #1175
And I print the value of `s` at nlohmann/json.hpp:7643.

`LF` has escaped to `\n`, I saw it with gdb.

[2018-07-30 07:40] nlohmann commented on #1175
I see no error in the parser. The string that you pass is not valid JSON. If you print the string to `std::cout` and copy/paste it to https://jsonlint.com you get a similar error message.

[2018-07-30 07:59] kgbook commented on #1175
I copy and paste it to https://jsonformatter.curiousconcept.com/ , it's a invalid json.
The value of the key should't contain a `LF` character, Right?

[2018-07-30 08:53] nlohmann commented on #1175
Yes. A JSON string must escape control characters:

![](http://json.org/string.gif)

[2018-07-30 17:32] daljit97 opened #1178 "Can this library work within a Qt project for Android using Qt Creator?"
I am using this library inside my Qt Project for Android. I am using Qt Creator and everything builds fine in Linux and I am able to run the program on my desktop without problems. However, when I try to compile the project for Android then I get errors like:
`'to_string' is not a member of 'std'
'strtof' ist not a member of 'std'
etc.`

I know this is related to the NDK having issues with C++11.

[2018-07-30 17:53] nguoithichkhampha commented on #1178
@daljit97 , I don't use Qt project for Android yet. But I can build successfully this library in a project for Android with cmake and ndk.
this is some info may useful for you
`
--  BUILD CORTEX FOR ANDROID ON APPLE
-- Android: Targeting API '21' with architecture 'arm', ABI 'armeabi-v7a', and processor 'armv7-a'
-- Android: Selected GCC toolchain 'arm-linux-androideabi-4.9'
-- The C compiler iden

[2018-07-30 17:54] nlohmann commented on #1178
Please have a look at the section https://github.com/nlohmann/json#supported-compilers - it explicitly mentions the `'to_string' is not a member of 'std'` error message.

[2018-07-30 18:09] daljit97 commented on #1178
@nlohmann thanks for that. As suggested at that page, the NDK uses an old stl implementation and the solution is to modify `Application.mk` in an Android project or "manually" implement the missing functions using templates. Now I would really like to avoid the second option and the first option is not viable to me since a Qt Project usually don't generate `.mk` files and I am not aware of how to

[2018-07-30 18:10] daljit97 commented on #1178
@nguoithichkhampha hmm `cmake` might be a possibility (but I am not familiar with it), however I am using the default `qmake` that is used in Qt Creator.

[2018-07-30 19:30] EvilSquirrel opened #1179 "Compiler crash with old Clang"
I am building the library using Clang 3.4.2 (I don't currently have access to a more recent version) and it is crashing the compiler. The crash goes away if I disable the specialization of std::swap at line 17194, and my app still seems to work properly, but I wanted to get a second opinion about how safe this patch actually is...

[2018-07-30 21:35] nlohmann commented on #1179
How does the exact error message look like?

[2018-07-30 21:42] EvilSquirrel commented on #1179
[exec] 0  libLLVM-3.4.so  0x00007f42384485d2 llvm::sys::PrintStackTrace(_IO_FILE*) + 34
[exec] 1  libLLVM-3.4.so  0x00007f4238448dfa
[exec] 2  libpthread.so.0 0x00007f42372a77e0
[exec] 3  clang           0x0000000000bb3a76
[exec] 4  clang           0x0000000000bb441d
[exec] 5  clang           0x0000000000bb4833
[exec] 6  clang           0x0000000000bb4c8a
[exec] 7  clang           0x0000000000bb1f

[2018-07-31 03:28] yulinwei9 opened #1180 "How to cache a json object's pointer into a map?"
Hi, I have JSON file
[code]

It is generated by CJSON by the following code
[code]
m_content is a map to cache the GUID and its corresponding json object, the function AppendNode() could append an object into a json array but the function does not know how deep is the current object in the json file.

I would like to replace CJSON to json.hpp, but I don't know how to cache a json object into a map

[2018-07-31 06:09] nlohmann commented on #1180
You can just use `std::map<std::string, nlohmann::json>`.

[2018-07-31 09:50] yulinwei9 commented on #1180
The title of my question might not accurate enough, actually I would like to know how to cache a json object's **pointer** into a map, like std::map<std::string, nlohmann::json *>
Because I want to directly append child object under the cached objects, so that the original json object could be updated accordingly.

[code]

The code above is my changing based on previous CJSON logic, but I don't kn

[2018-07-31 14:30] gregmarr commented on #1180
You can cache a pointer to a json object in the map without a problem.  The problem that you actually have is caching a pointer to an element of a vector whose size may change during the lifetime of the map.  That is something that you can't do unless you've reserved enough space in the vector ahead of time such that it can never reallocate.  What you could do is instead of caching a pointer to th

[2018-08-01 02:00] haydenflinner opened #1181 "to_string?"
- Describe the feature in as much detail as possible.

Given a json object of any primitive type, I'd like to be able to call something like `std::to_string` on it, allowing me to turn it into a string without the quotes/escaping that `dump` would put on a string.
So far the closest I've gotten to the behavior I want is a big switch statement on the type of the json object, where I call `std::to_s

[2018-08-01 03:11] gregmarr commented on #1181
Does this do what you want? `json_val.get<std::string>()`

[2018-08-01 08:09] nlohmann commented on #1181
The library does not provide an automatic stringification for all value types. As @gregmarr points out, the (unescaped) string value can be queried with `.get<std::string>()`. Other primitive types (null, number, boolean) need to be converted by the user.

[2018-08-01 09:41] yulinwei9 commented on #1180
@gregmarr Thank you so much! It works well to me.

[2018-08-01 09:42] #1180 closed

[2018-08-01 10:52] nlohmann commented on #1177
@GitOyoung Do you need further assistance?

[2018-08-01 20:12] d223chen opened #1182 "Is there a way to get an element from a JSON without throwing an exception on failure?"
For example, say `j` is an nlohmann::json object. I want to try to get a member called "raw" using the following code, but without throwing an exception if it fails -- exceptions seem to be a time bottleneck in my application.

            p.raw = j.at("raw").get<int>();

Is it possible?

[2018-08-01 20:16] gregmarr commented on #1182
It depends on whether you want to know if it's there or not, or if you want to get a default value if it's not.  If you want to know, use `find()` first.  If you don't care, use `value()` which takes a default value.

[2018-08-01 20:19] nlohmann commented on #1182
I doubt that exceptions are *really* a time bottleneck, but you could use:

[code]

[2018-08-01 21:15] d223chen commented on #1182
Changing the code to this:

          p.raw = j.value("raw",0);

seems to have fixed the problem. Before, the code was taking around 12milliseconds to run when the element wasn't available. Now it takes about 6 microseconds even if the element isn't available. Thanks!

[2018-08-01 21:15] #1182 closed

[2018-08-02 04:46] nlohmann commented on #1159
I am not using MSVC myself, so I cannot really file a bug report on this.

[2018-08-02 08:31] kgbook commented on #1175
Thanks

[2018-08-02 08:31] #1175 closed

[2018-08-02 13:07] jefferson-1 commented on #1159
Here's the deal -- I did a little thinking on this and I think that it is possible that the JSON file being referenced could affect this bug. When I remade my project I rebuild the config file as well and I did it in a slightly different way. It may be something to look at ...

[2018-08-02 13:13] jdumas opened #1183 "Difference between `merge_patch` and `update`"
Hi,

I was wondering what is the difference between `j1.merge_patch(j2)` and `j1.update(j2)`? The two methods seem to have a similar behavior, but I am not sure exactly how they differ (they appear to have different purposes). I was using `merge_patch()` for a while because I was not aware of the `update()` method, so maybe it would also make sense to update the doc so they can point at each other

[2018-08-02 20:31] jdumas commented on #1183
Thanks for the clarification!

[2018-08-02 20:31] #1183 closed

[2018-08-03 00:08] haydenflinner commented on #1181
@gregmarr You're right, I completely forgot that I had used that in my switch-case statement, haha.

Probably a good decision to make us do this explicitly, I've already been bitten by some of the implicitness allowed in this library and it seems like you're taking steps to move away from that, no sense introducing more :P

[2018-08-03 06:51] eliasdaler opened #1184 "CMakeLists.txt in release zips?"
Hello, I've tried using [FetchContent](https://cmake.org/cmake/help/git-master/module/FetchContent.html) CMake module and this doesn't work as well as I expected. The problem is that after I download and unpack the zip, there's no CMakeLists.txt file, so I can't just get nlohmann_json target and link with it.

If you take a look at libraries like [fmt](https://github.com/fmtlib/fmt/releases), they

[2018-08-03 07:28] nlohmann commented on #1184
What's wrong with using the zip archive of the sources?

[2018-08-03 07:47] eliasdaler commented on #1184
Its size - 109 mb. It takes a while to download at slower connections and makes a built folder quite large after it unpacks (unpacking is also done at configuration time and takes some time)

It's the most significant bottleneck for my project right now. Just includes are several kb. Downloading them is really fast, but not having CMake makes them not configurable via CMake easily.

[2018-08-03 10:50] maddanio opened #1185 "reduce repos size"
When re-cloning this repo i keep noticing that it comes down as about 373MB. all this just to get a json parser/serializer. i would suggest outsourcing the test data (should it ever change?) and re-writing the history.

[2018-08-03 10:52] nlohmann commented on #1185
Duplicate #96

[2018-08-03 13:19] CleanHit opened #1186 "Get an Index or row number of an element"
Let say I have this file:

[code]
Is there a way to get the `index` or `row_number` of "0"? I didn't see it in the document.

[2018-08-03 13:43] gregmarr commented on #1186
No, that's not an array, it's an object, which is an unordered collection of name/value pairs, so there is no index.

[2018-08-03 14:30] theodelrieu commented on #971
#1153 is to be reviewed, should be ok feature-wise

[2018-08-03 19:01] eliasdaler commented on #1184
By the way, for those who want to use FetchContent now, this works fine:

[code]

[2018-08-03 19:18] nlohmann commented on #1184
We‘re already supporting a lot of package managers, so I am not really willing to spend more efforts in adding more files to the release.

[2018-08-03 19:40] OvermindDL1 commented on #1184
@nlohmann That's not a manager of any form, without a CMakeLists.txt in the zip that means `add_subdirectory` and so forth can't be used, have to link manually instead.

[2018-08-03 20:38] eliasdaler commented on #1184
Agreed. The only thing that needs to be added is CMakeLists.txt and (possibly) cmake/config.cmake.in

CMake is not only used for building the library itself, it's also a means to easily use it, as can be seen from my example. And when you have this, you can support a lot of package managers. And this is with several kb zip instead of 100 mb zip.

[2018-08-03 20:50] nlohmann commented on #1184
I already do support a lot of package managers, and up to now this is the first time someone wants the CMakeLists.txt in the release.

[2018-08-03 21:03] theodelrieu commented on #1184
It could be easier if someone were to publish the library with CPack? I never used it but you could use it with CMake directly too

[2018-08-03 21:04] OvermindDL1 commented on #1184
Well I grab it either via hunter or just a straight git clone, so I get a cmake file regardless.  ^.^

Oh wait, cpack is not already being used to make the release?  What is it a shell script or something instead?  That doesn't really generate the config file properly...

[2018-08-03 21:45] nlohmann commented on #1184
I shall try cpack.

[2018-08-04 05:47] eliasdaler commented on #1184
They are supported if the user clones the whole repo, right? Up until now, I've manually cloned the repo, leaved includes and cmake files and then stored the stripped repo on disk.

If there was a way to clone only some files from a repo, maybe I wouldn't ask for CMake inside the release zips.

While CPack might automate the process, it still depends on what goes in the zip.

[2018-08-04 05:54] CleanHit commented on #1186
I see. So basically I have to remember myself how many lines I have before the "0" starts, if I have to iterate over the `keys` with numbers. I need it for my loop size.

[2018-08-04 07:16] maddanio commented on #958
yikes. this just bit me in the behind. having operator T like that really opens very...interesting cans of worms.
For my approach to error reporting i extended the constructors of basic_json with an additional source_location element. but now they become ambiguous once on the (size_t, json) constructor, because json converts to anything...including source location...even though i never implemented

[2018-08-04 07:43] nlohmann commented on #1186
It seems as if an object is not really the right way to model your usecase (as its keys are unordered). Unless you can change this, using a secondary structure to organize the order of keys seems to be the only way.

[2018-08-04 07:44] nlohmann commented on #1181
@haydenflinner Do you need further assistance or can we close this issue?

[2018-08-04 07:50] CleanHit commented on #1186
Got it, thanks.

[2018-08-04 07:50] #1186 closed

[2018-08-04 08:28] theodelrieu commented on #958
If you can point out a specific commit I can take a look.

We can workaround this problem for our own types (the library's types)

[2018-08-04 09:09] nlohmann commented on #1184
Alright, CPack is not really helpful if applied to the current package. I could try to exclude files from the package, but I think this is not really helping. Question is: does the current CMakeLists.txt would really help if added to the release? Or would we rather need a stripped down version? If so, we may think of writing a script that puts only the sources and that stripped-down CMakeLists.txt

[2018-08-04 09:10] nlohmann commented on #971
I shall try to look into the PR this weekend.

[2018-08-04 09:12] nlohmann commented on #1172
@itodirel Can you comment on
https://github.com/nlohmann/json/issues/1172#issuecomment-408578976?

[2018-08-04 09:12] nlohmann commented on #1152
Any news on this?

[2018-08-04 09:13] nlohmann commented on #1129
Any opinion on this?

[2018-08-04 12:43] maddanio commented on #1152
i have a working solution here:
https://github.com/maddanio/json
what is missing is real support for reduced source_location types, like an empty one to opt out and one only with byte pos, which suffices for binary formats and is needed to properly pass the tesgts relying on byte-pos only.
it pases most of check-fast, except for:
[code]
why is this needed? i think this is because of the private ba

[2018-08-04 12:44] maddanio commented on #1152
btw, the base class is needed to properly support opting out, because only this way wil an empty source location storage truly be empty, due to the empty base class optimization (usually in c++ classes cann not be smaller than 1 byte)

[2018-08-06 11:04] eliasdaler commented on #1184
Here's some analysis. When I download repo as zip using GitHub, I get **109 MB** zip. it's **240 MB** when unpacked.

After that I've removed "jeopardy" benchmark and data folders for two tests: "json_nlohmann_tests" and "regression".

After that, I've got **15.3 MB** left. It's **7.34 MB** when zipped.

So, I think we can have a stripped release version with these tests left out. The user should

[2018-08-06 11:27] tommy61157 opened #1188 "Not able to include in visual studio code?"
I'm currently having an issue to where visual studio code is not recognizing the include of the json.hpp file no matter what I do in the IDE, I don't admittedly know if the issue is being caused by the IDE, my own silly mistake, or by the way the json library is installed. I used linuxbrew on Ubuntu Server 16.04 LTS in order to install it, and I have the latest stable version. I'm using the g++ co

[2018-08-06 12:02] icaroalvarez opened #1189 "Add key name when throwing type error"
Congrats for the project. Really cool. I don't know if this is too much concrete and only adds value for my use case but I think it could be usefull to add the name of the key that fails when throwing a type error exception. This way I would fast know where I made a mistake.

For example, it would be helpfull while using json for program parameter configuration:

[code]
The exception message is: *

[2018-08-06 12:29] nlohmann commented on #1189
Duplicate: #932

[2018-08-06 12:29] #1189 closed

[2018-08-06 13:27] nlohmann commented on #1188
Thanks for checking back!

[2018-08-06 13:27] #1188 closed

[2018-08-06 15:08] jdumas commented on #1183
Ok looks like one other important difference that should be pointed out is that `update()` is **not** recursive, and will not update/merge nested `json` dictionaries, whereas `merge_patch()` will.

[2018-08-06 20:32] eliasdaler commented on #1184
It'll probably be nice to use [ExternalData](https://cmake.org/cmake/help/v3.3/module/ExternalData.html) module for downloading test data during the build time if the user wants to build these tests.

The question is: where do we store the data files? We can possibly store them in one of the release zips so that they can later be downloaded from GitHub separately.

[2018-08-06 20:37] OvermindDL1 commented on #1184
Store them off in a branch or another repo.

[2018-08-06 20:39] nlohmann commented on #1184
I still would like to keep the repository as is. I was thinking about stripping down the CMakeLists.txt to a minimum required to integrate the library.

[2018-08-06 20:46] eliasdaler commented on #1184
I think the repo should stay as it is now. My proposal is just to change contents of CMakeLists a bit to allow external download if test data is not present in the source folder (and it won't be present if we make a release zip with everything except the heavy data).

I previously thought that intergration-only CMakeLists is a good idea, but it introduces two problems:

1) You can't run simple tes

[2018-08-06 21:00] nlohmann commented on #1184
That sounds reasonable. (I wasn't afraid of generating the CMakeLists.txt, as the current one is pretty static right now. But you are right, it's better to have tests as well).

It would be great to see an example for how `ExternalData` would work.

[2018-08-06 21:07] eliasdaler commented on #1184
Okay, I'll try to come up with something this week and I'll notify you once it's somewhat ready for testing. :)

[2018-08-07 00:29] haydenflinner commented on #1181
Thank you!

[2018-08-07 00:29] #1181 closed

[2018-08-07 08:50] theodelrieu commented on #1184
I did play with `ExternalData` before, I'm confident that this is a good solution to the long-lasting problem of this repo's size.

[2018-08-07 21:59] itodirel commented on #1172
I wrote something like that and it works for me, I'm not blocked, I just expected the node insertion to give me back the node I just inserted. Also thank you much for all your help and suggestions, it's very much appreciated.

[2018-08-08 05:15] susundberg opened #1190 "SEGFAULT on arm target"
Hi!

Thanks for the great library! I am using it in my project in two ways: 1) read json files and 2) produce json output (to be delivered later over websocket to a browser).

The issue happens only in embedded target (rasperry pi3) and it happens always. But to make things very weird, it goes away by adding some extra code before the call (later). Unfortunately valgrind refuses to run the program

[2018-08-08 06:10] nlohmann commented on #1172
Thanks for checking back! We shall keep the `push_back()` function `void` as we have the `back()` function to return the last element.

[2018-08-12 21:12] nlohmann commented on #754
There is already a note, see https://github.com/nlohmann/json/blob/develop/README.md#notes.

[2018-08-13 06:51] dgelbart opened #1191 "[Question] Current place in code to change floating point resolution"
I'd like to reduce the number of floating point digits produced by dump().

Where in json.hpp do I do that?

This old issue https://github.com/nlohmann/json/issues/768 says to replace std::numeric_limits<number_float_t>::digits10 at  line 6701 but digits10 is no longer at that line. I tried replacing this symbol in dump_float() but it didn't do the trick and when I tried replacing every occurrence

[2018-08-13 18:43] turtleStew opened #1192 "Strange warnings in Code::Blocks 17.12, GNU GCC"
I'm not sure exactly what's causing it to happen but when I compile my project I often get these warnings:

[code]

I'm using the single header version with sfml version 2.5.0, everything else is vanilla C++.

I was able to "fix" this a few times before by removing extra includes in my classes but now it remains more constant. My project compiles and runs fine with the warnings but they're annoyin

[2018-08-13 18:45] nlohmann commented on #1192
Are you using MinGW?

[2018-08-13 19:35] turtleStew commented on #1192
yes

[2018-08-13 19:37] nlohmann commented on #1192
Then I guess MinGW does not implement `snprintf` properly.

[2018-08-13 22:34] dgelbart commented on #1191
I think I found a workaround, if I switch from float to double and then do this based on https://stackoverflow.com/a/11209187 before calling dump()

 double ToTwoDecimalPlaces(double d) {

   int i;

   if (d >= 0)

     i = static_cast<int>(d * 100 + 0.5d);

   else

     i = static_cast<int>(d * 100 - 0.5d);

   return (i / 100.0d);

}

[2018-08-14 06:40] RokerHRO commented on #1191
`double`literals don't have any suffix in C nor C++. Is that suffix "d" an extension of your compiler?
https://en.cppreference.com/w/cpp/language/floating_literal

[2018-08-14 07:09] dgelbart commented on #1191
I've just now removed the d suffix from the floating point literals in the code snippet since as you point out, it's meaningless.

[2018-08-14 08:21] NickCNA opened #1193 "Compile error using Code::Blocks // mingw-w64 GCC 8.1.0 - "Incomplete Type""
- What is the issue you have?

Latest version of the single include (21st July 2018) fails to compile and throws a warning and error. The previous version used compiled perfectly with exactly the same compiler settings.

- Please describe the steps to reproduce the issue. Can you provide a small but working code example?

Update json.h; compile with mingw-w64 GCC 8.1.0

- What is the expected beha

[2018-08-14 10:24] 3galki opened #1194 "Check value for existence by json_pointer"
I have found no proper way to check element existence.
I can use `json.at("..."_json_pointer)` but it will throw an exception if it is missed.
I can use `json.value()` method. But I have to do it twice to check all cases (or use default that will not used in my json).

[2018-08-14 19:58] nlohmann commented on #1192
Maybe related: https://stackoverflow.com/questions/10678124/mingw-gcc-unknown-conversion-type-character-h-snprintf

[2018-08-14 20:10] nlohmann commented on #1192
It seems we do not need the `h` specified in the first place.

[2018-08-15 00:25] 3galki commented on #1194
yep, now I have looked in code. So, looks like I have to avoid such logics...

[2018-08-15 04:11] #1191 closed

[2018-08-15 04:51] Exophobias commented on #780
Hello sfinktah!

[2018-08-15 05:13] nlohmann commented on #1194
Related: #1017

[2018-08-15 05:45] nlohmann commented on #1178
@daljit97 Do you need further assistance?

[2018-08-15 05:48] nlohmann commented on #1179
Do you mean this?

https://github.com/nlohmann/json/blob/develop/single_include/nlohmann/json.hpp#L18492

[2018-08-15 05:51] nlohmann commented on #1190
This is really strange...

[2018-08-15 07:27] 1Hyena opened #1195 "json.exception.type_error.316"
- What is the issue you have?
After getting the latest version of this json library from its github repository my program started to crash randomly. It did not crash with the previous version. The reason of the crash seems to be an exception that was not thrown before. From the source code it seems that 316 is thrown during dumping the json object which I wouldn't ever anticipate. Why would dumpin

[2018-08-15 07:34] nlohmann commented on #1195
The exception should contain the description that you try to dump a non-UTF-8 encoded string. The library only supports UTF-8. See the [documentation](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a5adea76fedba9898d404fef8598aa663.html) for more information.

[2018-08-15 07:43] 1Hyena commented on #1195
Whoa, what a quick reply, thanks! I would have thought that when assigning a string value to the json object it would later be able to do the encoding itself, but as I can see now it is not always the case? For example, if I assign an std::string that contains invalid utf8 bytes then later dumping it would produce this exception?

[2018-08-15 07:44] nlohmann commented on #1195
Exactly. The reason for this was that we kept running into issues when the library failed to parse JSON it produced itself.

[2018-08-15 07:47] 1Hyena commented on #1195
Ok thanks again, probably something fishy happening in my code then. Will need to investigate. Closing this for now.

[2018-08-15 07:51] 1Hyena commented on #1195
If dump can throw though, then perhaps adding the necessary try catch blocks to the example code in `README.md` might be a good idea. Give it a thought ;)

[2018-08-15 13:53] EvilSquirrel commented on #1179
Yes, I believe that's the one. I wrapped the whole thing inside a `#ifndef JSON_DISABLE_SWAP_SPECIALIZATION` so I could turn it on or off easily from the including file.

[2018-08-15 16:56] 1Hyena commented on #1195
Alright, there still might be something here. The exception that I am receiving is this:

[code]

According to the description, it is complaining about a **null byte**. However, [a null byte is a perfectly valid UTF8 character](https://stackoverflow.com/questions/6907297/can-utf-8-contain-zero-byte). That said, I think this exception reports a false positive.

[2018-08-15 17:01] #1195 closed

[2018-08-16 04:51] kenshen112 opened #1196 "Incompatible Pointer Type"
- Attempting to read Json array `"Item" : ["data", "data"]`

`charArray = ["Array"].get<char*>();`

- What is the expected behavior?
It reads the array from the file into the char pointer array

- And what is the actual behavior instead?
Error	C2338	incompatible pointer type

- Which compiler and operating system are you using? Is it a [supported compiler]
  Visual Studio 2017

- Did you use a rel

[2018-08-16 05:28] nlohmann commented on #1196
The library does not convert into pointers, but rather returns a pointer to the container used internally. Arrays are stored as `std::vector<nlohmann::json>` and strings are stored as `std::string`. Therefore, a `char*` could only be returned for a single string.

[2018-08-16 05:50] kenshen112 commented on #1196
@nlohmann so then what would be the best way to read this char array out of the file with nlohman json and into a char array or is there one?

[2018-08-16 05:56] nlohmann commented on #1196
Can you give a precise example?

[2018-08-16 06:00] kenshen112 commented on #1196
I mean I have a Json array of directions for a pet project text adventure game so `"Directions" :  ["N", "S"]` I want to read it into c++ char* directions so I could print on a per room basis `valid directions are N S`

[2018-08-16 06:05] nlohmann commented on #1196
OK. Assuming `input.json` has the content `{"Directions": ["N", "S"]}`

[code]

I haven't tested the code. but you should get the idea.

Docs:
- https://nlohmann.github.io/json/classnlohmann_1_1basic__json_afbd800010b67619463c0fce6e74f7878.html#afbd800010b67619463c0fce6e74f7878
- https://nlohmann.github.io/json/classnlohmann_1_1basic__json_aefa46bd2d96bb77a38d1c8b431eab44f.html#aefa46bd2d96bb77a38

[2018-08-16 13:47] NickCNA commented on #1193
Many thanks for the prompt response.

Unfortunately, the updated code did not fix the problem I am having.

[2018-08-16 13:48] nlohmann commented on #1193
What is the error message then?

[2018-08-16 14:03] NickCNA commented on #1193
The error message remains the same - the variable of the type stringstream has incomplete type.

[2018-08-16 15:46] nlohmann commented on #1193
Please paste the complete error message.

[2018-08-16 15:47] nlohmann commented on #971
Thanks a lot everybody! After merging #1153, all that is left for the issue is some documentation. I shall work on this and then we should be ready for the next release.

[2018-08-16 15:48] theodelrieu commented on #971
Quick nitpick on the release version, shouldn't it be a 3.2.0 instead?

[2018-08-16 16:16] nlohmann commented on #971
(Spoiler alert: yes!)

[2018-08-16 17:27] jossef opened #1197 "BUG - json dump field with unicode -> array of ints (instead of string)"
I'm expecting the following code:

[code]

to output:

[code]

However, it treats the unicode string as json array, outputs instead:

[code]

BTW Thanks for this project. cool stuff happen here.

[2018-08-16 17:30] nlohmann commented on #1197
Hm. It works when you remove the wide string literal:

[code]

->

[code]

[2018-08-16 17:41] nlohmann commented on #1197
Wide strings are not supported by the library. An array is created, because under the hood this constructor is chosen:

[code]

I am afraid that right now there is not much that we can do. The library uses UTF-8 internally, and to process wide strings, we would need to translate UTF-16 or UTF-32 to UTF-8. While we have some code for this in the input adapters (allowing to *parse* from wide strings

[2018-08-16 20:42] nlohmann commented on #971
I found a bug with the following example code:

[code]

Skipping an object after parsing a key yields a situation where we have a null pointer on the reference stack. I need some time to fix this...

[2018-08-17 02:56] turtleStew commented on #1192
Yeah, sorry I forgot to check back here. I'll have a response in about 11 hours

[2018-08-17 09:03] NickCNA commented on #1193
-------------- Build: MinGW in StatusDisplay (compiler: GNU GCC Compiler)---------------

g++.exe -fexpensive-optimizations -O3 -Wnon-virtual-dtor -Wshadow -Winit-self -Wredundant-decls -Wcast-align -Wundef -Wfloat-equal -Wunreachable-code -Wmissing-include-dirs -Wswitch-enum -Wswitch-default -Wzero-as-null-pointer-constant -Wmain -pedantic -Wextra -Wall -std=c++17 -fPIC -m64  -c F:\Code\CPP\Statu

[2018-08-17 09:37] NickCNA commented on #1193
As an aside, I've added the following lines:

    # pragma GCC diagnostic ignored "-Wswitch-enum"
    # pragma GCC diagnostic ignored "-Wswitch-default"

.... to avoid compiler messages when these switches are enabled.

[2018-08-17 09:51] 1Hyena opened #1198 "Soften the landing when dumping non-UTF8 strings (type_error.316 exception)"
When dumping a json object that contains an std:string we could be thrown the type_error.316 exception if the string contains invalid UTF8 sequences. While this sounds like a reasonable thing to do, it actually causes more problems than it fixes. In all the cases where user-entered (unsafe) strings end up stored in nlohmann::json objects the developer now has to "do something" before assigning a s

[2018-08-17 10:41] 1Hyena commented on #1198
I have slapped together a general purpose utf8 trimming function that you may find useful.

It takes the unsafe std::string as an argument and removes all invalid UTF8 sequences from it.

[code]

[2018-08-17 15:24] DragonOsman opened #1199 "Am I doing this wrong? Getting an empty string"
I switched to the "Basic" paid plan for currencylayer API for my currency conversion application and I tried to use their currency conversion endpoint.  I got this JSON back from my `query` function as the response string:
[code]
I tried to access it like this:
[code]
But I got an empty string back it seems.  Anyone got any ideas?

Here's my code (Gist link): https://gist.github.com/DragonOsman/d0

[2018-08-17 15:54] turtleStew commented on #1192
Works great, mingw builds it with no warnings/errors

[2018-08-17 15:54] #1192 closed

[2018-08-17 17:16] DragonOsman commented on #1199
I fixed it by doing it like this:
[code]
The reason for it being empty was apparently the value of the Content-Length header not being set correctly.  It was still 0.

[2018-08-17 17:17] #1199 closed

[2018-08-17 20:28] nlohmann commented on #1192
Thanks for checking!

[2018-08-17 21:20] nlohmann commented on #971
I fixed the issue described in https://github.com/nlohmann/json/issues/971#issuecomment-413678360 in e33b31e6aae013f011a6711d8e8ebca776b63013.

[2018-08-17 21:20] #971 closed

[2018-08-18 08:00] nlohmann commented on #1196
@kenshen112 Do you need further assistance?

[2018-08-18 13:26] Dariusz1989 opened #1201 "Subclassing json() & error on recursive load"
Hey

So I have subclassed json with another class so that in future if I want to change the container class/type I can just replace that within my class and not have to go over entire app replacing all containers.

Essentially class looks like this :

[code]

Now the issue is when I have a json file I read from file, that has some name/id/etc information + children which is of the same structure.

[2018-08-18 14:57] #1178 closed

[2018-08-18 16:13] kenshen112 commented on #1196
The purposed solution worked

[2018-08-18 16:13] #1196 closed

[2018-08-20 13:18] maddanio commented on #1152
example:
`[json.exception.type_error.305@byte: 6608 line: 180 column: 39] cannot use operator[] with null`

[2018-08-20 13:57] nlohmann commented on #1152
This would mean an overhead of a string and at least one integer per JSON value. Right?

[2018-08-20 14:02] maddanio commented on #1152
3 integers: byte pos, row, column. by the string i suppose you mean the filename. no, that is not saved. the data maybe from memory also, i.e. a rest resource loaded from http or something, but location info is still useful since the resource can also be viewed in a browser.
my idea to mitigate this was to make the representation of the source location a template parameter of the json type. by exp

[2018-08-20 14:04] maddanio commented on #1152
other alternatives are shorter integer types, or ommitting any of the values (i.e. row alone could often be enough)

[2018-08-20 14:07] nlohmann commented on #1152
This would only work if the value is unchanged between parsing and the error message. What would you do if a value is changed after the fact?

[2018-08-20 14:12] maddanio commented on #1152
change would mean re-assignment i guess? or do you allow in-place changes beyond container modifications? for re-assignments the source location would be overwritten too. for container modifications i would just leave the old info there. this might not be academically correct for some definition of correct, but i would consider this a case of perfect vs good.

[2018-08-20 14:17] nlohmann commented on #1152
I mean

[code]

The last line would trigger an exception. For this, we would not have source locations, right?

[2018-08-20 14:54] maddanio commented on #1152
yes, but i think that actually makes sense, because there is none, at least not at runtime

[2018-08-20 14:55] maddanio commented on #1152
if insteade on the last line you where to index with an unknown key you would in turn get one.

[2018-08-20 19:23] Fulgen301 opened #1203 "Template instatiation error on compiling"
- What is the issue you have?
I use the `json.hpp` single-include in a project, but when the compiler tries to compile the file which includes `json.hpp`, this error occurs:
https://bpaste.net/show/e5f311ab72ef
- Please describe the steps to reproduce the issue. Can you provide a small but working code example?
I'm not exactly sure what to fill in here, as the unit tests and examples from the docu

[2018-08-20 20:28] DragonOsman opened #1204 "VS2017 compiler suggests using constexpr if"
I'm making a bug report, but it's not really a bug.  It's something between a bug and a feature request.  Basically, the MSVC compiler (latest version in VS2017) is suggesting to use `constexpr if` in the file `single_include\nlohmann\json,hpp` on line 1966.  The warning is:
[code]
Also, on `single_include\nlohmann\json.hpp(1962)` (`962 is the line number):
[code]

[2018-08-20 21:20] DragonOsman opened #1205 "Returning empty json object from a function of type const json& ?"
As the title says, I need to return an empty JSON object from a function of type `const json&`.  This is the function:
[code]
But I'm getting this warning on it:
[code]
Basically I want to return a value indicating an error, but given the return type of the function it has to be a `const json&` object.  The full code is in this Gist: https://gist.github.com/DragonOsman/d00ea7ec3d49c128ad7789293f15

[2018-08-20 21:25] gregmarr commented on #1205
This is not technically an issue with the library.  The exact same thing would happen if you replaced `json` with std::string and just had the last line.  The error message also tells you what exactly you're doing wrong.  You're creating a temporary and returning it.  This is bad because the temporary is destroyed before you get back to the caller.  You need to return something that's going to out

[2018-08-20 22:15] DragonOsman commented on #1205
I'm not making an issue to say there's something wrong with the library.  I know it's something I did wrong.  I'm just asking what I should do here to return an empty JSON object.

So returning a `null` `const json *` is also an option?

[2018-08-21 00:42] DragonOsman commented on #1205
I just did `return json{nullptr};` and it worked.

[2018-08-21 00:42] #1205 closed

[2018-08-21 01:57] kenshen112 opened #1206 ""type must be string, but is " std::string(j.type_name()"
- What is the issue you have? JSON_THROW(type_error::create(302, "type must be string, but is " + std::string(j.type_name())));

- Please describe the steps to reproduce the issue. Can you provide a small but working code example?

Create a JSON file with multiple objects and attempt to iterate with `	assert(baddie.is_array());

	for (auto& json : jsonStream)
	{
          name = json["Name"].get<s

[2018-08-21 03:45] gregmarr commented on #1206
Can you show your JSON file and all the code from read to the exception?

[2018-08-21 04:48] kenshen112 commented on #1206
https://github.com/kenshen112/Rpg-engine/blob/ee5df61c37cdb9232640d80fbf145191293a6b3c/rpg/Data/Enemies.json the JSON in question

[2018-08-21 07:17] theodelrieu commented on #1206
I assume that `baddie` is a data member, is it default initialized in the header file?

If not, then default constructed json values are `null`, which causes the assertion.

[2018-08-21 08:02] GitOyoung commented on #1177
Thanks, I try to use the iterator to create a util function, and it works.

[2018-08-21 08:06] jossef commented on #1197
thanks @nlohmann for the comments.

I'm using a workaround for now (until this will be supported in this library)

[code]

- [source](https://stackoverflow.com/a/21765074/3191896)

->

[code]

[2018-08-21 13:40] gregmarr commented on #1206
@kenshen112 There is no `json` library code in there.

[2018-08-21 14:49] ArnCarveris commented on #1194
@nlohmann I need this `json.find("..."_json_pointer)`

[2018-08-21 16:32] kenshen112 commented on #1206
@gregmarr The createEnemy and init function is the JSON libaray code

@theodelrieu By initalized do you mean set to NULL or the JSON library equivilent? IE. JSON J = NULL or nullptr.

[2018-08-21 16:37] gregmarr commented on #1206
Ah, I see, the `baddie` is a `json` object that is defined in the class definition in another file.
Looks like your problem is that you're accessing `"Attack"` and `"HP"` without checking that they exist, and they don't exist for the second object.  You either need to check that they exist, or use the `value()` function that takes a default value.

[2018-08-21 16:56] jaredgrubb commented on #1197
The simple "this library only supports UTF8" is a good policy, and adding support to this library for std::wstring doesn't feel right. It may be better to try to disable the array overload so that it fails to compile if you try to use a std::wstring with this library.

[2018-08-21 17:10] gilgameshskytrooper opened #1207 "Error using gcc 8.1.0 on Ubuntu 14.04"
- What is the issue you have?
Using the default Ubuntu build environment for `cpp` on Travis-CI, I am getting a `#unsupported GCC version` despite installing `gcc-8` from the `ubuntu-toolchain-r-test` apt repository and setting the cmake C++ compiler to use g++ 8.1.0 (by setting it in the command line options via `cmake -D -CMAKE_CXX_COMPILER="/usr/bin/cpp-8"`).

The result of `cpp-8 --version` is

[2018-08-21 17:20] kenshen112 commented on #1206
One last question it's giving me a Syntax error where there should be none `"syntax error - unexpected end of input; expected '[', '{', or a literal"` right after the red Dragon in my JSON file I've tried editing it in various ways to make it read correctly.

[2018-08-21 17:26] gregmarr commented on #1206
I would start by removing all whitespace from the file.  You might have an invisible control character somewhere.

[2018-08-21 17:36] kenshen112 commented on #1206
Didn't work

[2018-08-21 17:43] gilgameshskytrooper commented on #1207
I am using `json.hpp` as a single header file (which works well minimizing dependencies for the project I am working on). Using `json.hpp` version 3.2.0 causes the following error:

[code]

Logs for the above problem is [here](https://travis-ci.org/voiceittech/voiceit2-cpp/builds/418808406).

I would much rather using the single file header format if possible (rather than adding more stuff to the

[2018-08-21 17:51] gilgameshskytrooper commented on #1207
Ahh, but using the `json.hpp` version 3.2.0 from the Release section (rather than the development branch) doesn't give me the `json_fwd.hpp` error. However, it still is giving me the `#error "unsupported GCC version` error.

[logs](https://travis-ci.org/voiceittech/voiceit2-cpp/builds/418814760)

[2018-08-21 18:19] theodelrieu commented on #1207
There might have been a versionning scheme change from GCC which makes the compiler detection fail... I cannot check that at the moment unfortunately.

[2018-08-21 19:03] gilgameshskytrooper commented on #1207
Ahh, I just had to override the `CC` and `CXX` environment variables to point to use `gcc-8` and `g++-8` respectively before running `make`. Sorry for the confusion. I assumed I would be able to pass these via command line variables. Thanks for the help!

[2018-08-21 19:03] #1207 closed

[2018-08-21 22:39] efp commented on #1152
Howdy. I was poking around just for this, wondering if there was a way to customize the error messages, especially for source line info. I was thinking of hacking this into the parse function myself... once the parse is done, I don't see how source locations are valid.

It might be nice if the exception class had a few more fields than 'id' so we could construct our own error messages. For instanc

[2018-08-21 23:58] 3galki commented on #1194
Just one question, what value should be for end() in this case?

[2018-08-22 05:38] ArnCarveris commented on #1194
@nlohmann Hmm good question, in mind answer is `json.end()`, but this is way not obvious.

Problem is what `json.value("..."_json_pointer, /*default*/)` throws exception when object in path not found.

[2018-08-22 10:45] dgendreau opened #1208 "enum to json mapping"
One use-case I run into a lot is mapping enums to serialize as non-integers such as strings. I know its not really modern C++ to use preprocessor macros, but I wrote one that declares a from_json()/to_json() specialization in one statement to make it easier and less redundant to specialize the mapping between a given set of enum values and a set of json values. Motivating example:

[code]

The JSO

[2018-08-22 16:53] efp commented on #1152
P.S. If one forgets a comma between objects, e.g.

``{ "foo" : 5 "bar" : 6 }``

I get 'unexpected string literal; expected '}' ... should be: expected ',' or '}'

[2018-08-22 21:06] efp commented on #1152
In the code where I'm using this lib I report errors in usage by the path in the json tree, e.g.

``{ "foo" : {"bar" : 1, "baz" : 2}}``

might yield something like "error [foo.baz] should be a string"

But this is done with a custom front end class. I don't think that functionality belongs in this library, keeping track of that goes beyond the json spec.

But, I do agree that reporting parse error

[2018-08-22 22:49] asmaloney opened #1209 "Yet another ordering question: char * and parse()"
I've looked at the [docs](https://github.com/nlohmann/json#notes), the issues, and how to use the [FIFO map](https://github.com/nlohmann/json/issues/485#issuecomment-333652309). These examples are creating the JSON through assignment to the new type.

I have my JSON data in a regular old `char *`. How can I use the FIFO trick to keep it ordered when creating the `nlohmann::json`?

The only way I s

[2018-08-23 09:12] nlohmann commented on #1152
@efp Thanks for reporting the issue in
https://github.com/nlohmann/json/issues/1152#issuecomment-415101816. Adding a column to the `parse_error` should be easy. I'll follow up on this.

[2018-08-23 09:13] nlohmann commented on #1209
Could you post a small example with the error message?

[2018-08-23 12:32] asmaloney commented on #1209
Sure. It doesn't produce an error - it just doesn't keep it sorted because `parse` doesn't know about the `my_json` type::

[code]

Result:

`{"blat":{"baz":{},"ding":{}},"foo":"bar"}`

[2018-08-23 14:28] nlohmann commented on #1206
@kenshen112 I am confused. Did https://github.com/nlohmann/json/issues/1206#issuecomment-414739630 solve your issue or is there anything left open?

[2018-08-23 16:57] efp commented on #1152
Here's what I did:

https://github.com/efp/json/tree/parse_error_lines_cols

Let me know if you'd like it as a pull request.

[2018-08-23 17:04] kenshen112 commented on #1206
@nlohmann It did but it brought another issue that I have yet to solve that i asked shortly after that

[2018-08-23 18:17] nlohmann commented on #1152
@efp This looks good! I would be happy to have a PR!

[2018-08-23 18:19] nlohmann commented on #1206
You mean the parse error? Could you share the JSON text and the code with which you parse it?

[2018-08-23 18:29] kenshen112 commented on #1206
`JSON_THROW(parse_error::create(101, m_lexer.get_position(), error_msg));`

`error_msg | "syntax error - unexpected end of input; expected '[', '{', or a literal" | std::basic_string<char,std::char_traits<char>,std::allocator<char> >`

That said I can see the name var printing out in the console perfectly for all three and no matter the adjustments I make to the file the error never vanishes not t

[2018-08-23 18:30] nlohmann commented on #1206
The exception should contain a position of the error.

[2018-08-23 18:32] kenshen112 commented on #1206
`Unhandled exception at 0x00007FFD8F3EB098 in rpg.exe: Microsoft C++ exception: nlohmann::detail::parse_error at memory location 0x000000F1CB6FE968. occurred`

[2018-08-23 18:35] nlohmann commented on #1206
Can you parse the file in like this:

[code]

?

[2018-08-23 18:46] kenshen112 commented on #1206
It gave me the same error but this time it didn't print the name data like it was before

[2018-08-23 18:49] nlohmann commented on #1206
Are you sure you opened the file correctly? And all parse errors contain the position like

[code]

If you have a `parse error at 0` or `parse error at 1` then this means that even reading the first byte fails.

[2018-08-23 18:52] kenshen112 commented on #1206
Got it figured out, had to change the design of the parsing function it was indeed the while loop that was messing it all up thanks for the help!

[2018-08-23 18:52] #1206 closed

[2018-08-23 18:54] nlohmann commented on #1204
Thanks for the info! Unfortunately, I am not sure what to do with it, because we target C++11, and `constexpr if` are a C++17 extension IIRC. So the best I could do to silence this warning would be to decorate it with some macros. Not sure if this is worth it, though...

[2018-08-23 21:58] sfinktah opened #1211 "Issues parsing a previously encoded binary (non-UTF8) string."
This is a bit of an edge case, but it seems to be handled in other platforms (to varying degrees).

The simplest explanation I can give you is just to show you this code:

    #include <string>
    #include "json.hpp"
    using json = nlohmann::json;

    int main(int argc, const char **argv) {
        std::string encoded("\u0006\u00e4\u00b4\u00d8\u008d\"");
        auto j3 = json::parse(encoded);

[2018-08-23 22:58] samartzidis commented on #660
@nlohmann I also have a few issues with the "magical" alphabetical re-ordering issue in regards to interoperating with C#. Yes indeed it is important to comply to standards but I do not believe that the standard dictates on what order a serializer *should* write elements to the output stream, it just says that the order should not matter, which implies that it is something completely up to the lib

[2018-08-24 00:05] graph commented on #1184
FetchContent is fairly new in cmake. Can CMake developers modify it to allow scans for source files and simply automatically add them all? I think that route would be better overall. Maybe they'll be willing with that request.

[2018-08-24 03:26] qduyang commented on #1158
One premature thinking is to have a json_view class which accepts const JSON references parameters to construct new JSONs. In this case, we avoid data copying, but leave the referred objects' lifetime management to the user, and It will cause undefined behavior if use incorrectly.
I will find time to read the code, and see if I could give you some suggestion.

[2018-08-24 05:06] nlohmann commented on #1211
The JSON text in your initial program needs to be properly escaped. Here is a version with a raw string literal that works:

[code]

[2018-08-24 05:09] nlohmann commented on #1201
I haven't tried you code yet, but I fear that the library is currently not designed to be subclassed. You can configure it partly via template arguments, but also by defining translations from and to arbitrary types.

[2018-08-24 05:12] nlohmann commented on #1198
Thanks! I'll check. I already have some code to translate from UTF-16 and UTF-32 to UTF-8 to parse from wide strings. But this would only help if your string is properly encoded with these encodings.

[2018-08-24 10:33] urbanekpj opened #1212 "Compilation error when using MOCK_METHOD1 from GMock and nlohmann::json"
- What is the issue you have?
Compilation error
- Please describe the steps to reproduce the issue. Can you provide a small but working code example?
code :
[code]

- What is the expected behavior?
code compiled
- And what is the actual behavior instead?
compilation errors:

1>        with
1>        [
1>            F=void (const nlohmann::basic_json<std::map,std::vector,std::string,bool,int64_t,ui

[2018-08-24 10:36] theodelrieu commented on #1212
This looks related to #960

[2018-08-24 12:24] RalfBielig opened #1213 "compiler warning: double definition of macro JSON_INTERNAL_CATCH"
- version 3.2.0

[code]
single_include/nlohmann/json.hpp:211:0: warning: "JSON_INTERNAL_CATCH" redefined
single_include/nlohmann/json.hpp:198:0: first definition of macro "JSON_INTERNAL_CATCH"

[2018-08-24 12:26] nlohmann commented on #1213
This was introduced by #1187.

@simnalamburt Could you have a look at this please?

[2018-08-24 12:32] nlohmann commented on #1213
I can confirm the warning. Minimal compilable program:

[code]

[2018-08-24 12:37] nlohmann commented on #1212
It reminds me of #1067. @urbanekpj Could you check if the change from PR #1067 fixes your issue?

[2018-08-24 12:44] simnalamburt commented on #1213
Oops I catched the mistake. I'll send a follow-up PR

[2018-08-24 13:49] dgendreau commented on #1208
I did some tinkering and came up with a new version of the macro that does not require a multi_bimap class:
[code]

[2018-08-24 15:54] #1213 closed

[2018-08-24 16:39] nlohmann commented on #1194
The issue is that iterators of different containers cannot be compared as this would be undefined behavior.

Therefore, writing code like

[code]

is not possible.

[2018-08-24 16:42] ArnCarveris commented on #1194
@nlohmann Ok, maybe this: `json.seach<std::string>("/foo/bar"_json_pointer, [](const auto& value) {});`?

[2018-08-24 16:45] nlohmann commented on #1194
Passing a lambda feels strange. I'd rather pass a `std::pair<bool, json::iterator>` with the bool indicating whether the search was successful (asserting the iterator can be dereferenced).

[2018-08-24 16:54] nlohmann commented on #1193
Could you show the content of `main.cpp`. Could you also make sure you use the latest `develop` version?

[2018-08-24 16:55] nlohmann commented on #1197
What is wrong with also supporting UTF-16 and UTF-32 (even though we only store UTF-8 internally)?

[2018-08-24 16:59] arnaudbrejeon opened #1215 "Best way to output a vector of a given type to json"
This is not a feature request, but more a question.

I'll give you my exact use case so it is easy to understand.
I have a 3D point struct:
struct Point { float x, y, z; };

I have a very large vector of this points and would like to output them to json with each point in the format: { "x": x, "y": y, "z": z}

I can easily do it by creating an array and using emplace_back. It works, but it is slow

[2018-08-24 17:03] nlohmann commented on #1215
This is described in https://github.com/nlohmann/json#arbitrary-types-conversions: Basically, you need to write a `void to_json(json& j, const Point& p)` function in the namespace of `Point` where you set `j` to your preference, e.g. `j = {{"x", p.x}, {"y", p.y}, {"z", p.z}};`. Then you can write

[code]

[2018-08-24 17:05] arnaudbrejeon commented on #1215
How do I convert the vector of Point, then? Still with successive emplace_back?

[2018-08-24 17:06] nlohmann commented on #1215
Once you define how Point -> json works, then a `std:.vector<Point>` will be automatically translated to an array.

[2018-08-24 17:07] arnaudbrejeon commented on #1215
Oh nice!
Thank you for your quick reply!

[2018-08-24 17:07] #1215 closed

[2018-08-24 17:10] nlohmann commented on #1215
For reference:

[code]

Output:

[code]

[2018-08-24 17:31] prasadnadendla opened #1216 "Adding JSON Array to the Array"
can we have a function , which allows us to add a json array of elements to the another instance of json array at the end.
I guess this feature is not available. please ignore if this is already exits and kindly let me know the function or method name. I have gone through the documentation and not found anything.

[code]

[2018-08-24 17:33] nlohmann commented on #1216
The JSON library uses `std::vector` internally and uses nearly the same API. So taking the answer from https://stackoverflow.com/questions/2551775/appending-a-vector-to-a-vector:

[code]

[2018-08-24 17:38] prasadnadendla commented on #1216
Wow..Thank you.

[2018-08-24 17:38] #1216 closed

[2018-08-24 17:59] NickCNA commented on #1193
I've tried the latest develop version - the error remains the same, with ostringstream having an incomplete type.

There are about 11,000 lines in main.cpp....

[2018-08-24 18:14] nlohmann commented on #1193
Thanks!

[2018-08-24 18:43] jaredgrubb commented on #1197
On the face of it, supporting this would be a good thing.

My biggest worry (but not opposition) is that this will distract this library from focusing on the core idea of doing JSON well by having to deal with bugs/issues that come about from supporting multiple encodings properly. For example:
* should ```json<wstring>``` work?
* or is the goal just allowing ```json<string> = wstring``` to work?

[2018-08-24 20:51] NickCNA commented on #1193
I've managed to prune main.cpp (and remove all non-standard external dependencies, other than json.hpp, of course):
[main.txt](https://github.com/nlohmann/json/files/2319833/main.txt)
(uploaded as a text file, didn't like "main.cpp"....)

[2018-08-25 07:25] nlohmann commented on #1193
That file has no usage of the library  other than including it.

Does

[code]

yield an error?

[2018-08-25 08:57] nlohmann commented on #1194
What would `value` mean in this situation?

[2018-08-25 09:55] NickCNA commented on #1193
Good point.

The minimalist version you posted does indeed compile.

From further iteration, removing the following section from the code I posted yesterday:

    template <typename T> inline std::string NumToStr(T number)
    {
        std::ostringstream ss;
        ss << number;
        return ss.str();
    }

results in a successful compile / run.

[2018-08-25 10:44] jk-jeon commented on #1204
VS2017 now properly support feature testing macros, which others already have supported.
How about this?

[code]

[2018-08-25 10:51] theodelrieu commented on #1204
I would rather write a metafunction than introduce some ifdefs.

[2018-08-25 11:04] nlohmann commented on #1193
The new version does not use string streams any longer.

[2018-08-25 13:06] NickCNA commented on #1193
Interesting - the version that works definitely does use string streams - it may be something to do with the removal of use of string streams that has caused the error to arise.

[2018-08-25 13:12] nlohmann commented on #1193
I am not sure how to proceed. We have yet to find whether the library causes the error.

[2018-08-26 06:58] sfinktah commented on #1211
I **did not know that**.  Unfortunately, there still remain an issue with your library - though fortunately, the solution is clearer now.

    #include <string>
    #include "json.hpp"

    using json = nlohmann::json;

    int main(int argc, const char **argv) {
        // binary string, not valid utf-8
        std::string ugly("\x06\xe4\xb4\xd8\x8d\x22");

        // will encode okay
        jso

[2018-08-26 07:00] nlohmann commented on #1211
Related: #1198

[2018-08-26 07:04] sfinktah commented on #1211
Quite.  As someone who has always treated JSON as alternative to `uuencode` or `base64_encode` or similar utilities that can serialize and deserialize **any** binary string, I do feel strongly that any encoded input should be identical after encoding and decoding, even if only within the same library.

I'll take a look at the code now.

[2018-08-26 07:09] sfinktah commented on #1198
Yeah, I can't agree that the correct solution is to remove the invalid UTF-8.  And I'm also strongly against the practice of "rolling your own unicode conversion routines."

If the unicode consortium had to withdraw the much-used source-code that forms the basis of 80% of (the better) conversions due to it being wildly inaccurate with respect to today's unicode, I dread the corner cases that would

[2018-08-26 07:11] sfinktah commented on #1198
see: http://unicode.org/forum/viewtopic.php?f=9&t=90 for more information on the ConvertUTF8.h library and it's withdrawal

[2018-08-26 07:31] sfinktah commented on #1198
... excerpt from http://www.unicode.org/versions/Unicode11.0.0/ch03.pdf#G7404 (page 122)

    The UTF-8 code unit sequence <41 C3 B1 42> is well-formed, because it can be
    partitioned into subsequences, all of which match the specification for UTF-8
    in Table 3-7. It consists of the following minimal well-formed code unit subsequences:
    <41>, <C3 B1>, and <42>.

    • The UTF-8 code unit

[2018-08-26 07:52] sfinktah commented on #1198
`boost::nowide` appears to be capable of lossless conversion of invalid code sequences between UTF-8 and UTF-16.  Though as mentioned, it has no UTF-32 support.   This may not be an issue, since simple iteration through the std::wstring UTF-16 version should allow one to distinguish between valid and invalid UTF, and encode appropriately.

At this point, I'd be much more concerned with the require

[2018-08-26 08:45] nlohmann commented on #1198
Right now, the library only supports UTF-8. (It recently added support to parse from wide strings, but internally, everything is stored as UTF-8). We had the issue that invalid UTF-8 was stored in the library and dumped without notice, and the issue was only apparent when this value was parsed again. Therefore, we added an exception when dumping invalid UTF-8. One may argue that it would be even b

[2018-08-26 09:56] 1Hyena commented on #1198
@nlohmann exactly! thanks for at least getting my point. I would definitely argue that if invalid utf8 will throw then it should throw during assignment not during dumping.

@sfinktah IF you didn't know, then JSON has no formal meaning for non-utf8 byte sequences. it's as if JSON was color-blind to a certain group of byte sequences. Do color-blind people get thrown an exception every time they loo

[2018-08-26 18:22] katastrofa999 opened #1217 "Maps with enum class keys which are convertible to JSON strings should be converted to JSON dictionaries"
The following code:

[code]

produces the output `[["DOG",false],["OCTOPUS",true]]`, which is not what the user would expect IMHO. Would it be possible to render this map as `{"DOG":false,"OCTOPUS":true}`?

[2018-08-26 20:31] theodelrieu commented on #1217
I'll take a look at it tomorrow

[2018-08-26 20:43] nlohmann commented on #1217
As information: `std::map` and `std::unordered_map` are created as JSON objects if the keys can be converted to a string. Otherwise, an array of pairs is created.

In this example, there is "only" a Species -> `json` conversion, so *maybe* this case was just forgotten. But before I start wondering whether we could detect whether we can make a string out of that `json`, I rather wait for @theodelri

[2018-08-26 22:46] alexkarpenko commented on #1129
How about adding a data type for binary blobs?

[code]

[2018-08-27 01:04] 3galki commented on #1194
You may try to get value() work without exceptions. It will help in most cases. Additional, you can add some value, that can't be found in json, and use it as default.
Or you can look at std::optional

[2018-08-27 06:49] RokerHRO commented on #1217
I see problems when there are enum values that are json-ized into non-strings:
[code]

[2018-08-27 08:12] sfinktah commented on #1198
@1Hyena Traffic lights are arranged in a specific color sequence, precisely so that people who suffer red/green color blindness, can determine what "color" a light is.  In fact, I believe the positioning/order of colors is actually a world-wide standard.

JSON also has no formal definition for capital letters, French, or spacing between words.

@nlohmann I've completed my proof of concept, showing

[2018-08-27 08:35] 1Hyena commented on #1198
@sfinktah the traffic lights comparison does not make any sense. I am asking you a simple question. Your data format is JSON and you are given a string that contains byte sequences that can't be expressed in JSON. What are you going to do? You have to do something, you just can't shut down the application. You also can't ignore the input because you need as much information as possible. You can't

[2018-08-27 09:00] theodelrieu commented on #1217
@RokerHRO Indeed, what can be done is the following:

If the map/unordered_map/etc... `key_type` is convertible to json, then convert it, and if it's not a string type, create an array of JSON values instead of an object.

This becomes quite confusing, but I think it still makes sense.

[2018-08-27 09:46] RokerHRO commented on #1217
@theodelrieu : so what shall be done when a map contains both?
[code]
some keys are convertible to strings, others are not. So this map would become a JSON object when all keys are (convertible to) strings, and when at least one element's key is not convertible to string the whole thing is JSON-ized as array-of-pairs? I'd say, _that_ would be very confusing! Please, don't do that! So I hope I have

[2018-08-27 10:28] katastrofa999 commented on #1217
OK, OK :) Generating such JSON would indeed be quite confusing. But could we have the parser be able to deserialise the input `{"DOG":false,"OCTOPUS":true}` into `std::map<Species, bool>` if `Species` can be deserialised from JSON strings? This would not be confusing, wouldn't it?

Partially specialising `adl_serializer` is not great because I'll have to do it for every `enum class` separately, IM

[2018-08-27 10:33] katastrofa999 commented on #1217
PS. When serialising std::unordered_map into an array, what determines the ordering of entries?

[2018-08-27 10:35] theodelrieu commented on #1217
@katastrofa999

Same problem here, how can we enforce that at compile-time? The only thing there is here is the `from_json` method, which could convert from anything, depending on how you implement it.

Not necessarily:

[code]

The `is_enum_class` trait is a conjunction of `std::is_enum<T>::value` and `not std::is_convertible<T, std::underlying_type_t<T>>::value`.

[2018-08-27 10:37] theodelrieu commented on #1217
@katastrofa999

We iterate on the object with `begin()`/`end()`, so it depend on the actual container.

[2018-08-27 10:41] katastrofa999 commented on #1217
I meant something like that:
[code]
I mean, you can't generally enforce the success of deserialisation at compile time, because it depends on inputs which you know only at runtime...

That's not terribly great for `std::unordered_map` and `std::unordered_set`, is it? A JSON array implies that order matters, but the type deserialised into it is unordered. It makes unit and regression testing tricky

[2018-08-27 10:46] RokerHRO commented on #1217
@katastrofa999: I don't like that if the conversion is not roundtrip-safe. So your JSON object
`{"DOG": false, "OCTOPUS": false}` can be parsed into a map<Species,bool>, but when one add a TIGER to that map its serialization is no longer a JSON object but a JSON array. That would create a lot of WTF moments in the users' brains, for sure.

[2018-08-27 10:51] katastrofa999 commented on #1217
Could this be optional behaviour, then? If one uses JSON files to store user-editable application configuration, then writing maps by hand as JSON objects is more intuitive than writing them as JSON arrays. Usually, you're not going to change the configuration after loading it from JSON, or serialise it back to JSON.

If this behaviour is optional, you can add a check that the serialisation fails

[2018-08-27 10:52] theodelrieu commented on #1217
Sorry for the confusion, I mean that the library performs a list of compile-time checks to decide which overload it has to use (e.g. if `std::is_convertible<Key, std::string>::value == true` then choose the overload which deals with JSON objects, etc...).

In this specific case, your enum is not convertible to string (i.e. std::is_convertible returns false).

I agree, but it's related to using uno

[2018-08-27 10:58] theodelrieu commented on #1217
Introducing specific cases in the default-provided conversions is tricky, I'd like to avoid such complexity in the library's code (which is already quite complex...).

For those specific cases, I'd recommand the solution proposed above, with partial specializations. It will not harm other users of the library, and will fulfill your use-case (even if it can be painful to implement, but we can help

[2018-08-27 11:06] katastrofa999 commented on #1217
Thanks, I'll take a look at that.

[2018-08-27 11:06] #1217 closed

[2018-08-27 13:04] brinkqiang opened #1218 "single_include json.hpp"
What tools is json.hpp used to generate?

[2018-08-27 13:11] #1218 closed

[2018-08-27 15:33] nlohmann commented on #1198
For what it's worth: I think filtering invalid UTF-8 sequences is not a good idea.

[2018-08-27 15:41] 1Hyena commented on #1198
@nlohmann any better alternative?

if you're building an application that must overcome an exceptional situation and still give the best possible performance then I would say this is the only ideal solution.

[2018-08-27 15:50] nlohmann commented on #1198
I think it is out of scope of the library to *fix* invalid UTF-8. I further do not think that silently fixing invalid inputs makes the world a better place, but rather rejecting such inputs with as much noise and as early as possible.

[2018-08-27 16:25] 1Hyena commented on #1198
@nlohmann
you want the devs to litter their codebase with try catch block around each string assignment just because you think utf8 trimming it is out of the scope? it's enough headache that you rely on exceptions as much as as you already do, not to mention that the namespace `nlohmann::` is tediously long.

I understand your frustration that json isn't compatible with non-utf8 strings, this inde

[2018-08-27 16:30] nlohmann commented on #1198
Listen, I do not need to *prove* anyone wrong or *admit* anything.

[2018-08-27 17:34] gregmarr commented on #1198
@1Hyena or you could just do this, which also avoids the exceptions:

    std::string invalid_utf8 = "\xF0\xA4\xAD\xC0";
    nlohmann::json json = fix_my_invalid_string(invalid_utf8); // This would work and would never throw.

[2018-08-27 17:56] jaredgrubb commented on #1198
I think it's perfectly reasonable for this library to assume the strings it gets are valid (ie, perfect UTF8).

Imagine the chaos if programmers claimed that ```strdup``` should fix UTF-8 for you, or that ```printf``` and ```fopen``` and ```std::regex_match``` and all other library functions needed to become encoding-aware and must also sanitize their string-inputs better. No, on the contrary, eac

[2018-08-27 20:01] 1Hyena commented on #1198
@gregmarr yes that would work, although it would be only slightly better/prettier than surrounding each string assignment with try/catch blocks.

@jaredgrubb contrary to @nlohmann 's response I respect yours for the reason that you actually bothered to explain. However, I still cannot completely agree with you. `strdup` and your other comparisons you brought up do not need to know about utf8 but j

[2018-08-27 20:11] gregmarr commented on #1198
You do realize that this is his project, and he's free to do with it as he wishes, right?  For you to come in here and insist that he must "prove" or "admit" or "learn" anything just because you say so is extremely rude.

[2018-08-27 20:16] gregmarr commented on #1198
It's part of sanitizing user input.  The user input you're getting may be improper in any number of ways.  It's up to you to make sure that it is properly formed before passing it along to any other tool.

There could be any number of ways for the library to respond to invalid strings, and not one is proper for every use case.  Your application is the best one to know whether an invalid string sho

[2018-08-27 20:30] 1Hyena commented on #1198
@gregmarr you do realize that string assignments in its current form are dangerous? sure, build a big application using this lib under the assumption that assignments are always for valid utf8 and then one day you change some unrelated code and everything breaks because now all of sudden some string may contain invalid bytes. So yes, I know why you are like that but do you know what I am saying?

[2018-08-27 20:36] nlohmann commented on #1198
@1Hyena Could you please point out where I was "rude to begin with"? I would also like to remind you of the [Code of Conduct](https://github.com/nlohmann/json/blob/develop/CODE_OF_CONDUCT.md) of this project.

[2018-08-27 20:42] nlohmann commented on #1198
I try to summarize some options we have in this situation. Not all of them were mentioned, but I try to get a picture of all possible ways to proceed:

- Assignment of invalid Unicode:
  - Option 1: The library should "fix" invalid Unicode input (e.g. by removing invalid parts) and do not throw.
  - Option 2: The library should throw an exception.
  - Option 3: The library should just assign the s

[2018-08-27 20:51] gregmarr commented on #1198
String assignments with unknown, unvalidated contents, yes.

Uh, no:

There's been plenty of discussion here.

It's a fairly common practice for personal projects to use the github username to avoid namespace conflicts.
If you don't want to write it, then C++ has this wonderful feature called `using` which will get rid of it for you.

[2018-08-27 20:56] gregmarr commented on #1198
For completeness sake, pointing out that this is the previous behavior, which people didn't like because it meant that the library could create a string that it couldn't parse.

[2018-08-27 21:11] jaredgrubb commented on #1198
This is a core idea of input sanitization: You *should* know 100% whether your strings are valid or not. The areas of your code where you allow uncertainty should be at the "edge" and isolated to as *small* a location as possible so that the rest of your code can be simple and assume validity. If you need to propagate "maybe-valid" strings deeper into a program, then create a class whose sole purp

[2018-08-28 04:26] sfinktah commented on #1198
Oh dear.

**cough**... The Unicode Standard (http://www.unicode.org/versions/Unicode11.0.0/) expressly forbids the fixing or repair of broken Unicode, there are significant **Security Issues** with doing so.

One may take the view, that removing invalid portions of an input string is "repairing."  There are certainly still security issues involved.  _e.g., you filter out files with an extension of

[2018-08-28 04:49] sfinktah commented on #1198
Though I would never advise "do what rapidjson does", I was curious, so I quickly compiled up the smallest example program "pretty.cpp" and ran my encoded yet invalid UTF-8 string into it.

[code]

Since the output was binary, I re-ran it through the test program to ensure it could already read the binary version, then through python to ensure the result was the same as the original.

[code]

_n.b

[2018-08-28 06:39] sfinktah commented on #1198
... converse to the last example, here is an example with rapidjson and a `"\uDEAD"`
(a single unpaired UTF-16 surrogate).  This is a somewhat different kettle of fish, as nlohmann::json couldn't generate this, however it is specifically mentioned in the RFC...

    rapidjson $ cat invalid.json
    {"invalid":"\uDEAD"}

    rapidjson $ cat invalid.json | ./pretty.exe
    {
        "invalid": "▒"

[2018-08-28 07:02] sfinktah commented on #1211
@nlohmann This is quite interesting.  A small alternation to my original test code, to properly encapsulate the string inside a _key/value object_ in JSON format, and the library seems to be able to decode, re-encode, and dump, without apparent issue.

Is this all just a storm in a tea-cup?

    encoded string: {"test":"\u0006\u00e4\u00b4\u00d8\u008d\""}
    decoding complete.
    dumping: {"test"

[2018-08-28 08:43] 1Hyena commented on #1198
@nlohmann listen, I am talking to you as a friend. I find your lib very useful and if I didn't want to positively contribute, I wouldn't have created this issue, which you have to admit, highlights a controversial and important topic. I got pissed off when I noticed that people are not thinking with me when reading what I am writing. Yes, this is very typical to many people but it is also arrogant

[2018-08-28 09:01] nlohmann commented on #1198
@sfinktah I would rather not add a dependency to `nowide`. Any idea whether we can do without. In #1211 you found out that the library is reacting in a way you expected (sorry, I lost track a bit). Do we really need `nowide`?

[2018-08-28 09:07] 1Hyena commented on #1198
Did you just mark my comment as off-topic?

[2018-08-28 09:15] 1Hyena commented on #1198
Wow what a toxic community and an authoritarian piece of egomaniac you are @nlohmann .  You lost my star here. Resorting to censorship?! That's just low. But it will all get back to you ;) have a nice life

[2018-08-28 09:16] nlohmann commented on #1198
![](https://imgs.xkcd.com/comics/free_speech.png)

[2018-08-28 09:32] 1Hyena commented on #1198
Yes I got it the first time, you don't like what I have got to say. I wonder why. Are you a narcissist? Because I've read those fellows find it hard to cope with criticism. And it aligns with the name of the lib, pretty narcissist one, to be frank.

[2018-08-28 09:33] nlohmann commented on #1198
The library's name is "JSON for Modern C++".

[2018-08-28 09:39] 1Hyena commented on #1198
Alright, you won. I will just go back under the bridge now. It's sad things ended up like that though because I really like your lib. And to be honest, you are also quite alright. So if it makes any difference, I am really sorry for any inconveniences I might have caused.

[2018-08-28 09:41] nlohmann commented on #1198
Apologies accepted.

[2018-08-29 15:15] zakalibit commented on #755
I changed to this and it makes compiler happy

const bool is_negative = !(x>=0);

[2018-08-29 16:30] jk-jeon opened #1219 "Expose lexer, as a StAX parser"
This is a feature request.

What I want to do is to find the position of an entry in a JSON file, where the description of the entry is given as a JSON pointer. I think `nlohmann/json` already contains sufficient features to do this, but unfortunately most of those features are hidden (`namespace detail`) or inaccessible (`private`).

For example, I want to see what tokens consist the given JSON p

[2018-08-29 19:43] rivertam opened #1220 "Somewhat unhelpful error message "cannot use operator[] with object""
- What is the issue you have?

Indexing into an object with a string works fine, as it should. However, indexing into an object with a number does not work, which is acceptable (though perhaps unideal for ergonomics), but the error message is somewhat unhelpful. The error message is:

[code]
I think this should note that it is actually possible to use `operator[]` with object, but the argument mus

[2018-08-30 13:56] gregmarr commented on #1220
Sounds like some indication of the argument type should be added to the error message.

[2018-08-30 14:01] gregmarr commented on #1220
The `std::map` type which is used for objects doesn't support constant-time access by index, so iterating over an object by index would be really expensive for large objects.  Why would you want to access by index?

[2018-08-30 15:25] gregmarr commented on #1220
That might be how JavaScript works, but it's not how JSON works in other languages.  In your case, you can just do the `to_string()` yourself.

[2018-08-30 15:44] rivertam commented on #1220
@gregmarr All object keys in JSON (the format) must be strings, so it's really just an API/convenience thing, not a language thing. You could argue that anything that is trivially convertible to a string could be a valid argument to the `operator[]`. Again, I'm not advocating for or against it. All I was saying is that the choice was made and it's acceptable, but the error should at least specify

[2018-08-30 16:04] gregmarr commented on #1220
Yes, anything that can be trivially converted to a string works.  Calling `to_string()` is not a trivial conversion.

I agreed with you that the error message should say which version of `operator[]` was called, as there are versions that take numbers for array indices, and versions which take strings as object indices.  You get the same error message if you call `operator[](int)` on a `string` or

[2018-09-01 16:58] Fulgen301 commented on #1203
My bad, was a problem with an overseen `emplace_back` call in my code, no bug of the library.

[2018-09-01 16:58] #1203 closed

[2018-09-02 11:58] aruninnova opened #1223 "Creating array of objects"
I need to create the following structure but I am struggling to do this using json.

[code]
I have tried below but unable to get how to add name and children keys dynamically.

[code]

[2018-09-02 12:00] aruninnova commented on #1223
Previously it was done using below way without using json:

[code]

[2018-09-02 17:28] nlohmann commented on #1223
You could use JSON Pointers. They allow to define a value with a string like `/ParentTree/0/children/0/children/0/Name` etc.

[2018-09-03 12:02] urbanekpj commented on #1212
when i took it directly it didn't fix my issue .
but
[code]
helped.

[code]
vs
[code]
but still it magic for me :)

[2018-09-03 17:38] Wittmaxi opened #1224 "NLohmann doesn't compile when enabling strict warning policies"
- What is the issue you have?
Project including nlohmann **doesn't compile with strict warning** options:
[code]
- Please describe the steps to reproduce the issue. Can you provide a small but working code example?
[code]
- What is the expected behavior?

Clean compile, no warnings

- And what is the actual behavior instead?
Getting following **warnings**:
[code]
- Which compiler and operating sys

[2018-09-04 09:56] Wittmaxi commented on #1224
Putting a ```#pragma GCC system_header``` at top of json.hpp did the trick. You should consider releasing the file with that pragma and/or fixing those warnings.

Keep up the great work :-)!

[2018-09-04 13:09] Fanged-Hex commented on #1212
Same problem here with Clang++ 6.0.1, I tried @urbanekpj workaround but doesn't work for me. If you need it, I will paste compiler output later.

[2018-09-04 14:41] gregmarr commented on #1224
There are multiple options as far as switch handling of enums, and it is impossible to make code clean to all of them at once, as one warns when there is no default case, and one warns when the default case is used when all the elements of an enum are also specified.  See #889 and #555

You should be able to do the same as `#pragma GCC system_header` by including it with `<json.hpp>` instead of `"

[2018-09-04 15:09] mandreyel commented on #705
Has this been fixed? I'm unfortunately not on bleeding edge (xtensa gcc 5.2.0), and this error popped up on line 2165 in `single_header/nlohmann/json.hpp`. Would like to use this library as it looks really good, but can't currently due to this and I'd like to avoid forking it.

[2018-09-04 15:27] mandreyel opened #1225 "Lambda in unevaluated context"
I've seen #705 but it doesn't appear to be fixed. I'm unfortunately not on bleeding edge (xtensa gcc 5.2.0) so can't use newer gcc versions where this has been fixed. Can we fix this? I can make a PR.

[code]

[2018-09-04 15:59] Wittmaxi commented on #1224
Okay that makes perfect sense! I can't include it with <json.hpp> because I need the file to be in the project folder

[2018-09-04 16:03] theodelrieu commented on #1224
I would put it in a `third_party` folder, then adding `-isystem third_party` to compiler options

[2018-09-04 16:04] Wittmaxi commented on #1224
Mhh. that might work as well.

[2018-09-05 05:48] tamarlev opened #1226 "questions regarding from_json"
I have a problem where if I try to convert json to a class, and the class have std::optional members I need to always check if the keys exists in the json and only if they exists (in json) then I can capture their data, something like:
m_id = (j.find("ID") != j.end() && j.at("ID") != nullptr)? j.at("ID").get<std::string>() : nullopt;
how can I avoid it?
is there a way to change 'get'  j.at("ID").g

[2018-09-05 07:54] theodelrieu commented on #1226
There is an example with `boost::optional` at the end of this [doc section](https://github.com/nlohmann/json#how-do-i-convert-third-party-types).

[2018-09-05 10:57] pradeepisro commented on #1051
is there anyway to make it work with nvcc?

[2018-09-05 13:16] wpalfi commented on #67
[code]

[2018-09-05 17:57] tamarlev commented on #1226
Hi theodelrieu,

Thanks for the quick answer but the example does not work for me and Im trying to figure it out

I have a class Person that contains optional members something like:

class Pesron {
std::string id;
std::string name;
std::optional<std::string> eye_color;
}

static void from_json(const json& j, Person& r) {
r.id = j.at("ID").get<std::string>();
r.name = j.at("Name").get<std::string>

[2018-09-05 19:53] ivankp opened #1227 "json::get function with argument"
The [conversion operator template](https://github.com/nlohmann/json/blob/d713727f2277f2eb919a2dbbfdd534f8988aa493/single_include/nlohmann/json.hpp#L13945) appears to not work for some types.
We just had a [discussion](https://stackoverflow.com/q/52191576/2640636) about this on stack overflow (and an earlier one [here](https://stackoverflow.com/q/50881469/2640636)).
Here's an example on [Godbolt](h

[2018-09-05 21:06] nlohmann commented on #1226
What is your error message? Can you provide a minimal program that produces the error?

[2018-09-06 05:26] nlohmann commented on #1224
I fixed the "all member functions are private" warning. As @gregmarr wrote, there is nothing consistent we can do about warnings in switches.

[2018-09-06 05:28] nlohmann commented on #1225
Yes, PRs welcome! Could you then please make sure the lambda is only created when `#ifdef DEBUG` so we have the same production code as with the lambda in the assertion?

[2018-09-06 08:57] theodelrieu commented on #1226
My guess would be that you did not put the `adl_serializer` partial specialization **before** the `from_json` function.

I would advise you to put every `adl_serializer` specialization in a specific header file (e.g `json_custom.hpp`), then include it instead of `nlohmann/json.hpp`.

That way your specializations will be available in every translation unit.

[2018-09-06 09:02] theodelrieu commented on #1227
Hello, I think it would be a good addition indeed, as it would reduce `to_json`/`from_json` implementations' verboseness.

The ideal use-case for the current `get` is creating the destination object directly, what you mention in your SO issue can be changed from `type x; x = get<...>()` to `auto x = get<...>()`.

About the conversion operator, you can look at #958 for detailed information about wh

[2018-09-06 09:52] tamarlev commented on #1226
Hi Im sorry my mistake,
its not a compilation error its a run time error,
because if in my example "Eye_Color" is not a field in json how can I make sure that .at() wouldnt jump with Exception that it is not exists and I can return a value through 'get' that is not initialized (optional value)
The bottom line is there a way to avoid checking if a field exists in json like in my example
j.at("Eye_C

[2018-09-06 09:56] theodelrieu commented on #1226
If you copy-pasted the code from the doc, you will always have a field, which will be `null` if the optional is empty, so `at` will never throw in this case.

[2018-09-06 09:57] nlohmann commented on #1226
(Sorry for the confusion on milestones.)

[2018-09-06 10:01] Wittmaxi commented on #1224
Thank you! I will close the issue now, I think all that CAN be done was done.

[2018-09-06 10:01] #1224 closed

[2018-09-06 11:08] tamarlev commented on #1226
I dont really understand your answer
my problem is if for example I have a json like that:
json j= json{ {"id",                  "1234"},
		    {"name",            "aaa"}};
if I try to access j.("Eye_Color") I will get an exception, how can I avoid asking if "Eye_Color" exists in j?
is that possible?I have a class with std::optional members I want to initialize them with std::optional in case they

[2018-09-06 11:59] theodelrieu commented on #1226
Here is a full example (using `boost::optional`):

[code]

`at` will not throw here, since a null optional is serialized as a `null` JSON value.

[2018-09-06 13:10] tamarlev commented on #1226
Thanks for showing a detail solution, when I tried to use std::optional instead of boost::optional, it did throw an exception, does json provide solution only to boost:optional and not std::optional?

[2018-09-06 13:11] theodelrieu commented on #1226
It should work the same, I just could not test with `std::optional` on my machine.

Could you paste a complete reproducible example?

[2018-09-06 14:45] tamarlev commented on #1226
This code is giving me exception:
#include <json.hpp>
#include <optional>

using nlohmann::json;

namespace nlohmann {
	template <typename T> struct adl_serializer<std::optional<T>> {
		static void to_json(json &j, const std::optional<T> &opt) {
			if (!opt) {
				j = nullptr;
			}
			else {
				j = *opt; // this will call adl_serializer<T>::to_json which will
						  // find the free function to_

[2018-09-06 14:46] theodelrieu commented on #1226
Could you edit your answer to put the code between triple backticks?

[2018-09-06 15:03] tamarlev commented on #1226
`#include <json.hpp>
#include

using nlohmann::json;

namespace nlohmann {
template struct adl_serializer<std::optional> {
static void to_json(json &j, const std::optional &opt) {
if (!opt) {
j = nullptr;
}
else {
j = *opt; // this will call adl_serializer::to_json which will
// find the free function to_json in T's namespace!
}
}

	static void from_json(const json &j, std::optional<T> &opt) {
		i

[2018-09-06 15:05] tamarlev commented on #1226
`#include <json.hpp>
#include

using nlohmann::json;

namespace nlohmann {
template struct adl_serializerstd::optional {
static void to_json(json &j, const std::optional &opt) {
if (!opt) {
j = nullptr;
}
else {
j = *opt; // this will call adl_serializer::to_json which will
// find the free function to_json in T's namespace!
}
}

static void from_json(const json &j, std::optional<T> &opt) {
	if (j

[2018-09-06 15:44] theodelrieu commented on #1212
Hello, could you try the problematic code with the changes made in #1228? I had a similar issue with a different mocking library and it fixed it, but I'd like to know that it fixes yours as well :)

[2018-09-07 06:04] tamarlev commented on #1226
I tried to add `j["name"] = t.name` to ` to_json`  that didnt help I still got exception:
[code]
I think is because as you said you need to have it within json.

[2018-09-07 07:03] theodelrieu commented on #1226
Oh, I finally get it. I did not see the end of your snippet...

Yes, the field must be present if you implement from json that way (i.e. with `at`, which is IMO way more convenient).

But it's up to you to use `find` in every `from_json` where there is optional fields. You also have to check optionals in every `to_json`, to not create a json value when they're `nullopt`.

If you do so, the `adl_se

[2018-09-07 13:33] urbanekpj commented on #1212
@theodelrieu  after quick test: it works for me also.

[2018-09-08 17:02] nlohmann commented on #1219
So you basically just want to have public access to the `lexer` interface?

[2018-09-08 21:03] mandreyel commented on #1225
Ok, great! And sure, that makes sense. I'll be able to work on it Monday and hopefully land it the same day.

[2018-09-08 23:16] JasonDictos commented on #801
For the next guy:

[code]

Change 'auto ref' to 'auto &ref', otherwise the string is copied then destructed when the frame leaves, resulting in an invalid string view returned.

[2018-09-09 16:26] nlohmann commented on #1220
I have one question regarding #1221: Do the explanatory strings of exceptions belong to the public API of the library? If so, wouldn't changing be only allowed with a major release?

[2018-09-09 16:32] nlohmann commented on #1184
Does anyone has an idea how to proceed here? Volunteers with PRs welcome! :-)

[2018-09-09 19:32] graph commented on #1184
For work we have a similar system. What we do is in the CMakeLists.txt we check for some files that are only present in the main repo, and in the distribution are not present. If such a file is detected do the normal thing. If not it's a distribution is assumed and it's setup as a basic library with not much happening. CMake has `return()` which is helpful. I think this might be a good direction f

[2018-09-09 23:31] theodelrieu commented on #960
Indeed, I'm happy to close this one 😄

[2018-09-09 23:31] #960 closed

[2018-09-10 05:54] gLevaa opened #1229 "Parse Error"
I'm parsing JSON sent to a socketing server like so;

[code]

This is the output from the server after receiving the request;
[code]

I really don't see what the issue is, it's probably something really stupid. Help would be appreciated.

[2018-09-10 05:57] nlohmann commented on #1229
How does the JSON test `request` looks like? If it is the string in the first line of the output, then the comma after `"91.122.31.633"` is wrong. This also coincides with column 120.

[2018-09-10 07:01] gLevaa commented on #1229
My bad, should have removed that last comma. However, I'm now getting;

While in debugging I was unable to see the property `type_name`, `m_type` is equal to `null`. This occurs on this check right here;

[code]

[2018-09-10 07:33] gLevaa commented on #1229
Never mind, the issue was creating a json object then going `json.parse`. I presumed this would automatically update the object but it doesn't (I believe), so I had to assign the output of the parse to a variable.

[2018-09-10 08:31] mandreyel commented on #1225
Made the changes in #1230!

[2018-09-10 08:33] jk-jeon commented on #1219
@nlohmann  Yes. AFAIK, `RapidJSON` also exposes its component corresponding to `lexer`.
But also I have several suggestions.

1. Currently, `lexer` does not provide a reliable way of getting the starting position of a token it read recently. I think that could be a valuable information.
(At least for my purpose, it was indeed useful. Since it is not directly provided by `lexer`, I cached the forme

[2018-09-10 11:40] nlohmann commented on #1229
Do you need further assistance.

[2018-09-10 12:06] reinerh commented on #1193
@NickCNA Add `#include <sstream>` to your main.cpp.
You are using a stringstream without including the header. With older json headers this has already been indirectly included, but this is no longer the case as it is no longer needed for the json header.

[2018-09-10 12:23] reinerh opened #1232 "Incomplete type with json_fwd.hpp"
- What is the issue you have?

When I change `#include <nlohmann/json.hpp>` to `<nlohmann/json_fwd.hpp>` in my header (and include json.hpp in my cpp file), it no longer compiles.

- Please describe the steps to reproduce the issue. Can you provide a small but working code example?

test.h:
[code]

test.cpp
[code]

- What is the expected behavior?

That the file compiles (which it does when I incl

[2018-09-10 12:26] reinerh commented on #1232
Ah, you are right. thanks.
I guess I have to continue using the big header then. :)

[2018-09-10 12:26] #1232 closed

[2018-09-10 13:13] NickCNA commented on #1193
@reinerh Many thanks indeed - while `#include <sstream>` did not work, including `#include <iomanip>` did.

Much appreciated.

Issue closed as it is not library related, rather user error.

[2018-09-10 13:13] NickCNA commented on #1193
Closed accordingly.

[2018-09-10 13:13] #1193 closed

[2018-09-10 13:18] awdAvenger opened #1233 "deprecated-declarations warnings when compiling tests with GCC 8.2.1."
When compiling the tests with GCC 8.2.1, I get lots of -Wdeprecated-declarations warnings.

This is on Arch Linux with no additional options added to the cmake command line.

One such example is below:

/home/avenger/json/test/src/unit-items.cpp: In function ‘void ____C_A_T_C_H____T_E_S_T____0()’:
/home/avenger/json/test/src/unit-items.cpp:44:51: warning: ‘static nlohmann::basic_json<ObjectType, A

[2018-09-10 13:35] #1233 closed

[2018-09-10 14:18] OvermindDL1 commented on #1184
I've never seen that be needed thus far?  Do you have a reproducible example?

[2018-09-10 14:40] rivertam commented on #1220
@nlohmann I would think the purpose of the error numbers (e.g. 305 in this case) stabilizes this and allows the strings to float. I've thought about this a good amount -- there are very few changes that one could make to a library that don't necessitate a major release if you're being extremely strict. There's almost always a way to detect any changes made in an API (an example might be a check fo

[2018-09-10 18:50] nlohmann commented on #1233
Thanks for reporting anyways!

[2018-09-10 18:52] #1225 closed

[2018-09-10 19:04] nlohmann commented on #1226
@tamarlev Do you need further assistance?

[2018-09-10 19:43] nlohmann commented on #1208
I like the proposal from @dgendreau. Unless anyone objects, I would add it for the 3.2.1 release.

@theodelrieu - What do you think?

[2018-09-10 19:44] gLevaa commented on #1229
I'm good, thanks.

[2018-09-10 19:44] #1229 closed

[2018-09-10 20:17] qwertymodo opened #1235 "Move tests to a separate repo"
The test directory is very large (currently >150MB), and checking out the repo requires checking out that entire test directory as well, even if you just want to build the code without running the tests.  Splitting the test directory into a separate repo and including it as a submodule or subtree would eliminate this issue and make it a lot more friendly for people to use this library from the git

[2018-09-10 20:52] theodelrieu commented on #1208
It looks good to me as well. I just have two remarks:

* Generic lambdas are C++14, so you must type the whole type yet another time.
* Passing `ENUM_TYPE` instead of `const ENUM_TYPE&` in `to_json` would be better.

Other than that, it's all good!

[2018-09-10 22:30] graph commented on #1184
it was some corner cases I don't remember. If it's not needed then forget about it, and keep it simple.

[2018-09-11 11:59] carlcook opened #1236 "Custom deserialization of number_float_t"
Hi,

Do you know if there is any way to provide a deserialization routine for number_float_t, where I can get access to the underlying json string?

Basically I have an arbitrary length Decimal class, and I can easily read this in from json as follows:

`namespace nlohmann {
template <typename T> struct adl_serializer<Decimal> {
  static void from_json(const json &j, Decimal& decimal) {
    decima

[2018-09-11 12:01] nlohmann commented on #1236
You can use the [SAX interface](https://github.com/nlohmann/json#sax-interface) which contains a callback `bool number_float(number_float_t val, const string_t& s)` which contains the parsed string.

[2018-09-11 12:03] nlohmann commented on #1208
Thanks for the quick feedback!

[2018-09-11 14:03] dgendreau commented on #1208
You might also want to have a second version of the macro that takes (ENUM_TYPE, JSON_TYPE, ...) to allow the user to map to something other than the default nlohmann::json type.

[2018-09-11 14:11] theodelrieu commented on #1208
@dgendreau this can already be done in the macro, by templating on `BasicJsonType`

[2018-09-11 14:32] dgendreau commented on #1208
I hadnt thought of that. Yes, thats a cleaner approach.

[2018-09-11 14:59] dgendreau commented on #1208
Thanks for the feedback @theodelrieu.
Is this version closer to what you had in mind?

[code]

[2018-09-11 15:01] theodelrieu commented on #1208
No problem! That's it, but there's one `nlohmann::json` left.

[2018-09-11 17:41] dgendreau commented on #1208
Suggested user documentation for this feature:
_Insert the following just before the "Binary formats (CBOR, MessagePack, and UBJSON)" section_

**Specializing enum conversion**

By default, enum values are serialized to JSON as integers. In some cases this could result in undesired behavior. If an enum is modified or re-ordered after data has been serialized to JSON, the later de-serialized JSON d

[2018-09-11 17:43] dgendreau commented on #1208
Should we look into serializing third party enums with an adl_serializer<> specialization? I think that would require the to_json()/from_json() functions to also be declared static.

[2018-09-11 18:54] eliasdaler commented on #1184
We don't need FetchContent for test data, because we don't need it during configuration time. We don't even need it during build time - we need it during test's runtime only, so we can fetch them after the build is done. This can be done with ExternalData package, but from what I've seen, it's a pain to work with.

ExternalProject looks better and it can deal with zips, but I'm still a bit sad abo

[2018-09-11 21:02] theodelrieu commented on #1184
ExternalData is not that hard to use, we have to decide where to store the data itself, after that it's just about hashing each file one by one.

I'm using it for one of my projects, I'll try to find some time to put the test data on one of my repos and make a PR. Once it works, @nlohmann could just fork the test data repository.

[2018-09-12 05:28] pradeepisro commented on #1051
[This](https://stackoverflow.com/a/5608542/6059586) answer in Stackoverflow solves the problem. Adding a wrapper around the BasicJsonType works with nvcc and gcc.

    template<typename T>
    struct BasicJsonType_wrapper{
        typedef T type;
    };

    template<typename BasicJsonType>
    class iter_impl
    {
        /// allow basic_json to access private members
        friend iter_impl<ty

[2018-09-12 05:59] tamarlev commented on #1226
Thanks for the quick replies and no further assistance is required 👍

[2018-09-12 08:11] theodelrieu commented on #1208
The library must not specialize `adl_serializer`, ever. Here is the current way conversions work:

1. Constructor will call `JSONSerializer<T>::to_json`
2. If `JSONSerializer<T>` (e.g. `adl_serializer<T>`) was specialized, if will take that specialization.
3. If `nlohmann::to_json` is called by `JSONSerializer<T>::to_json`, the library will try to find a valid overload via ADL.
4. If no viable ove

[2018-09-12 10:49] dgendreau commented on #1208
Re: adl_serializer,
Understood. I was looking at the new macro as the user defining a from_json/to_json, not the library defining it. Thats why I was making sure we didnt have a missing scenario where the user needs to specialize the serialization of and enum in a namespace they do not control. Thats probably overkill for now.

Re: static_assert,
I updated the macro above.

[2018-09-12 10:54] theodelrieu commented on #1208
Could you add the `static_assert` in `to_json` as well?

I misunderstood what you meant, it would be possible of course, but I'd rather leave specializations being explicit to write. For now at least.

[2018-09-12 10:57] dgendreau commented on #1208
Done

[2018-09-12 10:57] theodelrieu commented on #1208
Looks good to me, time to open a PR! :)

[2018-09-12 10:58] dgendreau commented on #1208
ok. ill do that after work today.

[2018-09-12 11:00] dgendreau commented on #1208
oh, what file would you recommend adding the macro to?

[2018-09-12 11:56] theodelrieu commented on #1208
Good question... Either in `json.hpp` or in a new file that will get included by `json.hpp`.

[2018-09-12 13:33] ldionne opened #1237 "Conversion operator for nlohmann::json is not SFINAE friendly"
- What is the issue you have?

`nlohmann::json`'s conversion operator is mis-behaved. It pretends to be convertible to things that it is not actually convertible to, which causes errors when using generic libraries that rely on these checks.

- Please describe the steps to reproduce the issue. Can you provide a small but working code example?

In the following program, the `static_assert` passes b

[2018-09-12 14:27] theodelrieu commented on #1237
Hello Louis,

I recently merged #1228 that improved the library's SFINAE-correctness, but I forgot about `operator T()`.

There are lots of issues with `operator T()` described in detail in #958, but it should do the right thing in an unevaluated context anyway, I'll fix it.

[2018-09-13 03:36] carlcook commented on #1236
For now I'll leave this in the too hard basket. I tried experimenting with the output adpator (etc) but nothing great came of this...

[2018-09-13 03:36] #1236 closed

[2018-09-13 20:28] nlohmann commented on #1184
I am sorry if I repeat myself: I would like to keep the repository as is and not split it into a code and a test repository (see
https://github.com/nlohmann/json/issues/1184#issuecomment-410845749). I would be happy to see a proposal like
https://github.com/nlohmann/json/issues/1184#issuecomment-410847649.

[2018-09-14 08:04] krisives commented on #584
Here is a snippet using C++11 or later:

Example:

[code]

[code]

[2018-09-14 08:42] theodelrieu commented on #1184
I was talking about a data repository, a bit like [this one](https://github.com/theodelrieu/cmake_external_data), but the test data can be put anywhere, it does not matter if it's stored in a repository or not, as CMake will fetch individual files anyway.

[2018-09-14 13:55] iphydf opened #1239 "Doesn't compile under C++17"
`no type named 'string_view' in namespace 'std'`

You need to `#include <string_view>` somewhere.

[2018-09-14 14:02] gregmarr commented on #1239
See #735  There are compilers that support the C++17 flag but don't have a `<string_view>` header in the standard library that is being used.  Others have it as `<experimental/string_view>`, while most include it in `<string>` which is included, and so it gets included that way.
What compiler and standard library are you using?

[2018-09-14 16:02] iphydf commented on #1239
clang-5.0 and libstdc++ from gcc 6.3.0 (`__GLIBCXX__=20170516`). It does not in fact seem to provide `<string_view>`, so including it won't fix the problem.

[2018-09-14 22:38] schoen2016 opened #1240 "Parsing Multiple JSON Files"
Hi,

Thank you for reading.

I am attempting to parse multiple json files and receiving an error :

[json.exception.parse_error.101] parse error at 15: syntax error - unexpected '}'; expected end of input.
Aborted

I use the following function to parse the json file
`

	json JSON_Reader(std::string filename){
		char ch, json_ch[1000000];
		std::ifstream f(filename, fstream::in);
		int i = 0;
		whi

[2018-09-15 13:30] RokerHRO commented on #1240
@schoen2016 : your problem seems to be completely unrelated to the json library, there are a lot of other problems in your code:
1) fix file buffer of 1000000 bytes, without any check for overflows. Don't do that! Moreover, not all platforms support such big stack spaces (okay, the compiler should warn in these cases). Why don't you just call  `json::parse( std::istream_iterator<char>(f), std::ist

[2018-09-15 15:45] schoen2016 commented on #1240
@RokerHRO: Thank you for you help, your solution worked like a charm.  I suspected my problem was with my implementation.   I apologize if my post was trivial.

[2018-09-15 15:47] #1240 closed

[2018-09-16 14:08] betomoretti opened #1241 "Parsing different json format"
Hi there!

I would like to ask if it's possible to parse with the following structure:
[code]
This  is my use case:
[code]
Thanks ! :)

[2018-09-16 14:56] nlohmann commented on #1241
You mean newline-separated JSON text?

[2018-09-16 15:09] betomoretti commented on #1241
Yes! :D

[2018-09-16 22:17] betomoretti commented on #1241
It worked! Thanks!! I will close this issue!

[2018-09-16 22:17] #1241 closed

[2018-09-17 08:51] loumalouomega opened #1242 "[Question] Access to end() iterator reference"
How can I access to the reference of the .end() iterator when there is an assert that forces to avoid it?

Maybe the question could look a little bit silly but I have problems with iterators because of this, and of course commenting the assert is just a short term and dirty solution to the problem.

https://github.com/nlohmann/json/blob/186c747a19c56c3208e7539713607211b6059ceb/single_include/nlohm

[2018-09-17 11:07] nlohmann commented on #1242
Could you provide an example?

[2018-09-17 12:16] loumalouomega commented on #1242
We are doing a migration from rapidjson to your library:

https://github.com/KratosMultiphysics/Kratos/blob/07929fd8063e68dd39747cb9b8c13f91e949e128/kratos/includes/kratos_parameters.h

We have a custom class that uses internally your library, so for that reason we create an iterator adaptor. During the construction of our begin() and end() methods we call to the operator*(), both to the end() and

[2018-09-17 14:47] gregmarr commented on #1242
It is illegal to dereference an `end` iterator, from ANY container.

[2018-09-17 15:42] nlohmann commented on #1242
You can turn off assertions by defining the preprocessor macro `NDEBUG`, see https://en.cppreference.com/w/cpp/error/assert. But as @gregmarr described, you must never dereference a past-the-end iterator in the first place.

[2018-09-17 15:45] loumalouomega commented on #1242
Thanks, I will do that, I close this, thanks

[2018-09-17 15:45] #1242 closed

[2018-09-17 17:00] nlohmann commented on #1237
@ldionne Could you check whether #1238 fixes the issue?

[2018-09-17 17:01] nlohmann commented on #1239
Closing this issue as it is a duplicate of #735.

[2018-09-17 17:01] #1239 closed

[2018-09-17 17:04] nlohmann commented on #1129
Hm. Nice idea. Any opinions on this?

[2018-09-18 08:36] SylvainCorlay opened #1243 "Cmake target_link_libraries unable to find nlohmann_json since version 3.2.0"
We updated from `3.1.2` to `3.2.0`. The update causes the `target_link_libraries` cmake command to not properly include `nlohmann_json`, while `find_package(nlohmann_json REQUIRED)` did not result in an error.

After some investigation, it seems that the issue was the addition of namespaces to target names which is a **backward incompatible** change.

[2018-09-18 08:38] SylvainCorlay commented on #1243
cc @chuckatkins.

[2018-09-18 10:49] #1220 closed

[2018-09-18 14:01] julian-becker opened #1244 "BSON support"
It would be great to have BSON included support in this great JSON library!

**Motivation:**
I recently encountered the need for it at work, where we are already using this library for JSON processing (for many diverse purposes). Recently, we have been developing applications leveraging the  [rosbridge](https://github.com/RobotWebTools/rosbridge_suite) (configured in BSON mode) for communication b

[2018-09-18 16:28] nlohmann commented on #1244
I had a look at BSON before, but struggled with the absence of a 1:1 mapping between JSON and BSON. Right now, we already have some issues with MessagePack and CBOR which both support binary values (see #1129 for a recent issue), but I think we can be pragmatic there. What I would like to avoid is adding support for very specific types such as timestamp or UUIDs and rather focus on those values su

[2018-09-18 16:58] nlohmann commented on #1243
Thanks for reporting and sorry for the inconvenience!

The change that introduced the namespace was introduced by @chuckatkins in #1048, and I assumed that the change is fine given that Chuck is with Kitware. Maybe he can comment on the reasons for adding a namespace as I apparently did not understand the repercussions of the change.

[2018-09-18 17:17] SylvainCorlay commented on #1243
Yes, this is good cmake practice. Just giving a heads up because it is a breaking change for anyone using cmake to build against `nlohmann_json`.

[2018-09-18 17:18] chuckatkins commented on #1243
Indeed sorry about the breaking change.  The namespace was to transition to more modern CMake practices if namespaced target names being external and non-namespaced target names being "local".  Ideally, you'll want to transition to using the namespaced target name when consuming it externally through the config file.  In the meantime though, I think I have a quick workaround that can provide both.

[2018-09-18 18:56] LEgregius commented on #1179
I was having the same problem, and I found that if I simply move the swap down under the less overload, the crash goes away. ¯\_(ツ)_/¯

[2018-09-18 20:36] Ptomaine opened #1246 "GCC 8.2.1. Compilation error: invalid conversion from..."
- What is the issue you have?
The compilation error:
[code]

ordered_map is defined as following:
[code]

- Please describe the steps to reproduce the issue. Can you provide a small but working code example?
Just use the previous definitions to create a json object that uses ordered_map.

- What is the expected behavior?
No compilation errors or warnings.

- And what is the actual behavior instead

[2018-09-19 05:15] addriumruss opened #1247 "how to build with clang?"
how to build with clang?

[2018-09-19 05:35] nlohmann commented on #1247
What did you try?

[2018-09-19 13:34] SimonEbner opened #1248 "Delete by json_pointer"
- Describe the feature in as much detail as possible.
Use json_pointer for erasing keys from json

- Include sample usage where appropriate.
[code]
Actual output:
[code]
Expected output:
[code]

[2018-09-19 18:46] #1243 closed

[2018-09-19 18:51] nlohmann commented on #1246
Related: #546

[2018-09-19 18:52] nlohmann commented on #1246
In #546, the following hint for integration was made: https://github.com/nlohmann/json/issues/546#issuecomment-304447518. I cannot compile your code snippet either - it seems that the interfaces of `std::map` and `tsl::ordered_map` and the library fails to compile because of this.

[2018-09-19 18:54] nlohmann commented on #1179
@LEgregius Could you provide more details on the fix?

@EvilSquirrel Could you try the idea from https://github.com/nlohmann/json/issues/1179#issuecomment-422507853?

[2018-09-19 20:54] EvilSquirrel commented on #1179
It seems to fix the crash, yes. The last time I fixed a compiler crash by swapping lines of code was over 20 years ago, so good catch :)

On Sep 19, 2018, at 14:55 , Niels Lohmann <notifications@github.com<mailto:notifications@github.com>> wrote:

@LEgregius<https://github.com/LEgregius> Could you provide more details on the fix?

@EvilSquirrel<https://github.com/EvilSquirrel> Could you try the id

[2018-09-19 21:46] LEgregius commented on #1179
I forked it and made a patch. I'll make a pull request a bit later.

[2018-09-20 05:08] Lord-Kamina opened #1250 "Including nlohmann the badwrong way."
I want to use your library in a game. I've added proper code to find and link to it, but I also want to allow for the possibility somebody might want to compile the game and not know how to (or even just not want to) find/install nlohmnann.

So... instead of just dropping an ```include_directories``` I decided I'd try embedding your library as a submodule and just including your CMakeLists if a co

[2018-09-20 05:34] nlohmann commented on #1250
I’m not a CMake expert, so I hope someone else can evaluate this.

[2018-09-20 08:16] theodelrieu commented on #1250
I would rather use the `nlohmann_jsonConfig.cmake` file generated during installation.

You could have a `thirdparty/nlohmann` folder (containing the installed library), then in your `CMakeLists.txt`:

[code]

[2018-09-20 13:02] theodelrieu commented on #1184
I opened PR #1251 to solve the repo size problem.

About the original issue (`CMakeLists.txt` in release zips), wouldn't it be better to include the CMake config files so that `find_package` works as expected?

[2018-09-20 13:57] Lord-Kamina commented on #1250
@theodelrieu you mean instead of cloning the repo, installing it to a subfolder in my project? That might work but it'd completely break the submodule logic, wouldn't it?

[2018-09-20 14:03] theodelrieu commented on #1250
True, I guess you could use `ExternalProject` first, then install `nlohmann_json` and use it via `find_package`.

[2018-09-20 14:18] Lord-Kamina commented on #1250
So... here's what I _actually_ am doing:

[code]
[code]
And it works, but  I had to make the following changes to the nlohmann's CmakeLists:

[code]
Now, from what I understand, the only scenario where ```CMAKE_CURRENT_SOURCE_DIR``` is different from ```CMAKE_CURRENT_LIST_DIR``` is when people do what I just did. So, you might be able to support it by specifically checking for that and only doing

[2018-09-20 14:38] OvermindDL1 commented on #1184
Yes absolutely.  However those should be generated on the local system or it may not match and thus may not work.

[2018-09-20 14:47] theodelrieu commented on #1184
Well, they must be relocatable so I think it is not a problem if we package them.

[2018-09-20 14:51] OvermindDL1 commented on #1250
If you want, you can use [hunter.sh](https://docs.hunter.sh/en/latest/packages/pkg/nlohmann_json.html) to automatically bring it in as it handles all that for you (you copy in the HunterGate.cmake file into your project, include it, `HunterGate(...)` the package repository you want, like the default one, then just `hunter_add_package(nlohmann_json)' 'find_package(nlohmann_json CONFIG REQUIRED)' 'a

[2018-09-20 14:56] eliasdaler commented on #1184
@theodelrieu yes, having CMakeLists.txt can solve part of the problem. But we need to make sure that it works with only a part of repository being included into release zip.

[2018-09-20 14:57] OvermindDL1 commented on #1184
As long as it is installed in the proper locations, but the proper locations on each system can be different.  CPack can help there though as it can generate the necessary files when installed.

[2018-09-20 15:00] theodelrieu commented on #1184
@eliasdaler I'm not talking about the `CMakeLists.txt` but rather the `nlohmann_jsonConfig.cmake` files (i.e. files that get install by running `cmake --install .`).

@OvermindDL1 Wouldn't it be solved by setting explicitly `CMAKE_PREFIX_PATH`?

[2018-09-20 15:04] eliasdaler commented on #1184
@theodelrieu oh, I see. I don't think this is what I need. I need exported targets and rules to build the library. Imagine me having layout like this:

[code]

json contains CMakeLists.txt. When I compile everything, I call:

```add_subdirectory(json)```

src/json contains CMakeLists.txt. It defines build rules, targets, etc., so I can later say `target_link_libraries(my_lib PRIVATE nlohmann::json

[2018-09-20 15:13] theodelrieu commented on #1184
I don't understand why you want to build/install the library, I must miss something obvious :)

Imagine the following:

[code]

With the above layout, you just have to change your `CMakeLists.txt` to:

[code]

I use Conan to manage dependencies, but the few times I had to deal with pure CMake was like that, your use-case might be different though, sorry if I misunderstood you

[2018-09-20 15:27] OvermindDL1 commented on #1184
I still assert most should try https://hunter.sh, it handles nlohmann_json perfectly and is pure cmake, so no weird external dependency manager things to use or install like conan or vcpkg or so (and it actually caches builds properly).

[2018-09-21 06:34] #1170 closed

[2018-09-21 07:34] #1190 closed

[2018-09-21 08:46] eliasdaler commented on #1184
@theodelrieu I see. This should work, yes. :)

[2018-09-21 14:16] Lord-Kamina commented on #1250
@OvermindDL1 I was looking into that yesterday and it sounded like it might be a solution but then I remembered mxe (the way we endorse for building windows executables) explicitly disallows packages to download things when building.

[2018-09-21 14:32] OvermindDL1 commented on #1250
@Lord-Kamina It can use a local cache as well that you can copy around and/or include.  Hunter is *extremely* flexible (ask in their issue tracker for any questions, hunter does have a few advanced options that aren't documented in the docs but probably should be...).

[2018-09-21 14:51] exphck opened #1253 "Two blackslashes on json output file"
It has a small bug in the library, recognizing two backslashes in the output(which should only be one in this case):

[code]

Output in .json file:
[code]

Correct output should be:
[code]

Is there any way to show only one backslash instead of two on output?

[2018-09-21 15:28] exphck commented on #1253
Okay, I'm starting with json, sorry for that.

Thanks for the answer.

[2018-09-21 15:28] nlohmann commented on #1253
No worries! Feel free to ask any questions!

[2018-09-21 15:28] #1253 closed

[2018-09-22 12:14] #1179 closed

[2018-09-22 15:15] nlohmann commented on #1244
I head a look at the prototype - very nice! It's a pity that BSON uses little endian and the other formats big endian. So I guess we may need to add a parameter to the existing read/write number functions to avoid having two functions.

I think it would be best if you could open a PR. Then we can shift the discussion related concrete code examples to reviews there.

[2018-09-22 16:36] julian-becker commented on #1244
Great, thanks for the welcoming feedback! I will do a little consolidation on the code and will open a PR within the next few days, and we can discuss the details there.

On a more general and long-term note regarding the support of binary formats, I was thinking maybe it would make sense to have a more 1-to-1 mapping between the serialized and deserialized form: So, instead of deserializing BSON-

[2018-09-23 11:41] nlohmann commented on #1247
@addriumruss Could you please explain what you mean with "build with clang"? The library is a C++ header - it can be build with Clang since version 3.4.

[2018-09-23 23:08] Lord-Kamina commented on #1250
@OvermindDL1 in their "Creating Packages" section, it says:

[2018-09-24 14:08] OvermindDL1 commented on #1250
That's a unique issue!  I'm quite curious to read about it, do you have their issue #/url?

Honestly though, I don't see the point in 'not' using wine as you could easily have a docker container around it or something (or just use a system installed version).

[2018-09-24 14:40] Lord-Kamina commented on #1250
https://github.com/ruslo/hunter/issues/1557

[2018-09-24 14:56] OvermindDL1 commented on #1250
Ah I'm not seeing wine being listed there, just the question about how to not download dependencies (I.E. just include them into the local cache).  I'm confused precisely what you are asking about there beyond that as well like ruslo.  You can *very* easily use a pre-existing package by just testing if it's found before calling hunter's acquiring thing as well if that is what was being asked?

[2018-09-24 15:17] Lord-Kamina commented on #1250
What I'm asking there is whether it's possible to configure and use hunter such that everything it might need could be included as a submodule in my project, in order to make sure it doesn't download anything at all.

The wine thing I pasted was from mxe, not hunter.

[2018-09-24 15:28] OvermindDL1 commented on #1250
Oh, to use a fully embedded hunter and its cache 'as' a submodule!  You should post that in that thread, much more clear.  :-)

[2018-09-24 19:31] officefish opened #1255 "While compiling got 76 errors"
Severity	Code	Description	Project	File	Line	Suppression State
Error	C2100	illegal indirection	test-capacity	json.hpp	278
Error	C1903	unable to recover from previous error(s) test-capacity	json.hpp	481
Error	C2100	illegal indirection	test-unicode json.hpp	278
Error	C2100	illegal indirection	test-testsuites json.hpp	278
... finally even with 76 error all of them is c2100 json.hpp 278 or c1903 json.h

[2018-09-24 19:32] nlohmann commented on #1255
Which version of the library are you using? Which compiler are you using?

[2018-09-24 19:33] officefish commented on #1255
I downloaded .zip right now. Seems it is last one.

[2018-09-24 19:36] nlohmann commented on #1255
Please fill the required information:

- What is the issue you have?

- Please describe the steps to reproduce the issue. Can you provide a small but working code example?

- What is the expected behavior?

- And what is the actual behavior instead?

- Which compiler and operating system are you using? Is it a [supported compiler](https://github.com/nlohmann/json#supported-compilers)?

- Did you u

[2018-09-24 19:43] officefish commented on #1255
Please describe the steps to reproduce the issue. Can you provide a small but working code example?I

downloaded .zip
unzip it

$ mkdir build
$ cd build
$ cmake ..
(ok created vs15 project)

cmake --build .
$ ctest --output-on-failure
(got errors)

go to vs15 open nlohmann_json.sln Run Build got the same errors

What is the expected behavior?

expected compilation with no errors and running all un

[2018-09-24 19:45] nlohmann commented on #1255
Please answer the questions above:

- What is the actual behavior instead?

*Please copy/paste the complete error messages*

- Which compiler and operating system are you using? Is it a [supported compiler](https://github.com/nlohmann/json#supported-compilers)?

*Please provide the concrete compiler version*

[2018-09-24 19:55] officefish commented on #1255
Windows 7 Home
The compiler is commonly called "Visual C++ 2015". (I am not sure, sorry rather novice in c++)

[2018-09-24 19:56] nlohmann commented on #1255
The library only works for Microsoft Visual C++ 2015 / Build Tools 14.0.25123.0 (and possibly later). Please make sure whether your version is not too old.

Furthermore, please provide details on the error messages.

[2018-09-24 20:19] officefish commented on #1255
Okey, thank you. Suppose something wrong with my environment.

[2018-09-24 21:16] timprepscius opened #1256 "Is there a nice way to associate external values with json elements?"
I am contemplating caching deserializations of json subtrees within the json tree.
Is there a clean way of doing this without modifying your code?

[code]

[2018-09-25 00:56] addriumruss commented on #1247
Hi Lohmann,
thrank you so much for the respone.
I tried these command:
"
mkdir build
cd build
cmake ..
"
it says my gcc version not supported, I set free the gcc version check, but in fact, my gcc is 6.4.0.
after unchecked gcc, executed "make", then got this error:

[root@centos7 build]# make
[  1%] Built target catch_main
[  3%] Built target test-iterators1
[  4%] Building CXX object test/CMakeFi

[2018-09-25 00:58] addriumruss commented on #1247
[russ@centos7 ~]$ gcc --version
gcc (GCC) 6.4.0
Copyright © 2017 Free Software Foundation, Inc.
本程序是自由软件；请参看源代码的版权声明。本软件没有任何担保；
包括没有适销性和某一专用目的下的适用性担保。
[russ@centos7 ~]$ clang --version
clang version 3.4.2 (tags/RELEASE_34/dot2-final)
Target: x86_64-redhat-linux-gnu
Thread model: posix
[russ@centos7 ~]$

[2018-09-25 12:42] dgendreau commented on #1208
Hi Niels,
Sorry I was delayed. I didnt want to submit a PR without verifying it first.
I added the new header and manually patched it into the amalgamated json.hpp and it works in practice, but I was stuck trying to set up cmake / amalgamate and run the unit tests. I'm on a widows MSVC 2015 build environment. Is there an easier way to run cmake / amalgamate / unit tests for a Windows / VC2015 mach

[2018-09-26 02:10] brentsony commented on #229
Have you considered adding the ability to suppress pretty-printing for fields with certain names?

I had to hack the Serializer to stop it from formatting deeply nested, **very** large arrays, that looked anything, but **pretty**. Pretty-printing should be smart about how to format the given content (not just blindly indent everything).

[2018-09-26 06:29] robiwano opened #1258 "A way to get to a JSON values "key""
- Describe the feature in as much detail as possible.

A possibility to get the key of a value, as I haven't been able to find a way to get to it.

- Include sample usage where appropriate.

For a JSON object `obj` as such:
[code]
I would like to iterate over values and get their keys:
[code]
which should yield:
[code]

[2018-09-26 06:33] robiwano commented on #1258
Sorry. I found the way to do it.

[2018-09-26 06:33] #1258 closed

[2018-09-26 09:17] theodelrieu commented on #1237
@nlohmann I've added a test in `unit-udt.cpp` with the same use-case, I believe it is safe to merge #1238.

[2018-09-26 15:58] theobouwman opened #1259 "Help needed"
Help needed please.

https://stackoverflow.com/questions/52504238/nlohmann-json-uwebsocket

[2018-09-26 20:50] timprepscius commented on #1256
Well, no response, so I would like to modify my question to be:

What is the best way to modify your library to allow for custom values bound to elements.
I'm thinking to modify your class basic_json class to derive from a custom class.  I would like that to be a template parameter, but it seems like this might be difficult to do, because there are so many template parameters already.

using cachi

[2018-09-27 09:36] SimonEbner commented on #1248
@nlohmann If you point me roughly towards some piece of code, I am happy to take a look if I could provide a PR

[2018-09-27 18:08] nlohmann commented on #1256
I am currently not aware of a nice means to extend the class. Any help appreciated.

[2018-09-28 06:15] MattiasEppler opened #1261 "serialize std::variant<...>"
Hi.
I try to serialize std::variant<double,int> to json.
I look for an easy and comfortable way. Is there any solution available?

Or any idea how to do this.

[2018-09-28 07:00] nlohmann commented on #1261
[This section](https://github.com/nlohmann/json#arbitrary-types-conversions) from the README should help you.

[2018-09-28 19:09] tamarlev opened #1263 "I get a json exception periodically from json::parse for the same json"
this is my json file:
{
"version": 1,
"path": "C:/Users/Lists",
"arr": [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4]
}
why am I getting a json exception on this json?and why sometimes I get it and sometimes not?

[2018-09-28 20:32] nlohmann commented on #1263
What code did you try? What was your error message?

[2018-09-29 07:02] girng opened #1264 "how can we get this working on WSL?"
great library btw! am excited to use this for my gameserver

unfortunately if i do `#include "nlohmann/json.hpp"`, i get:

i copied the `nlohmann` folder to my current c++ directory
[code]

do i need to put the nlohmannn folder inside my `/usr/include` directory? but on WSL we can't modify/move files from windows to unix :/

[2018-09-29 07:18] girng commented on #1264
i might be retarded.. but that's ok

download the json.hpp from releases, don't use the one in include :D srry

[2018-09-29 07:18] #1264 closed

[2018-09-29 09:10] nlohmann commented on #1259
See https://stackoverflow.com/a/52566863/266378.

[2018-09-29 09:16] nlohmann commented on #1244
I can understand the idea of the 1-to-1 mapping, but I'm afraid this very specific usecase adds a lot of complexity to the code base. Let's first focus on basic BSON support.

[2018-09-29 09:18] nlohmann commented on #1208
For amalgamation, you do not need CMake, but only Python and [astyle](http://astyle.sourceforge.net).

[2018-09-29 09:34] nlohmann commented on #1219
I think I would need to see examples to better understand this.

[2018-09-29 12:30] #1227 closed

[2018-09-29 12:50] #1237 closed

[2018-09-29 13:01] nlohmann commented on #1223
💤 I closed this issue due to inactivity. Please feel free to add a comment and I shall reopen it.

[2018-09-29 13:01] #1223 closed

[2018-09-29 13:02] nlohmann commented on #1256
Maybe related: #1201.

[2018-09-29 13:56] Lord-Kamina commented on #1250
I'll submit a proposed patch later, I didn't right away because there's not much point if you're not willing to add it.

[2018-09-29 16:34] timprepscius commented on #1256
We can't extend it via deriving from basic_json and then declaring the manipulating the template parameter of the allocator, because the object_t map is a map of basic_json and not a map of basic_json*.

I think the above statement is true.  I could be wrong.

This means that in order to associate external values we must either 1. have another template parameter, "customization field", 2. or chang

[2018-09-29 18:03] patrickelectric commented on #1201
@Dariusz1989 any update on it ?

[2018-09-29 18:28] Dariusz1989 commented on #1201
A snap so sorry, I saw the reply and went on with my R&D. I think I ended up just passing json rather than my wrapper to solve this temporary.  But I was unable to use my class as a recursive pass sadly. When I have a moment I'll provide a full test example to show how/when it breaks. Perhaps nlohmann or some other smart person will be able to help :- )

[2018-09-29 19:11] tamarlev commented on #1263
This is the error message:
exception is [json.exception.parse_error.101] parse error at 119: syntax error - invalid literal; last read: '1 }tl'; expected end of input

[2018-09-29 21:32] Lord-Kamina commented on #1250
@nlohmann I have refined the changes I had posted previously in the PR above. That PR would allow me (and anybody else who wanted to do so) to include your json library as a submodule using the Cmake `include()` directive. Somebody correct me if I'm wrong but I think this is better than doing `add_subdirectory()` because it should process all the relevant sections of your CMakeLists (including tar

[2018-09-30 09:34] nlohmann commented on #1263
This means that you are trying to parse invalid JSON. The error message states that at byte 119 of the input, you have garbage like `1}tl` which are unexpected. As this is not the JSON value above, I cannot say more about this.

[2018-09-30 09:35] nlohmann commented on #1255
Do you need further assistance?

[2018-09-30 10:30] addriumruss commented on #1247
Problem not exist any more with the latest code, really appreciated!
Thank you, nlohmann!

[2018-09-30 10:30] #1247 closed

[2018-09-30 19:12] #1197 closed

[2018-09-30 21:06] zpalmtree opened #1267 "Parsing JSON Array where members have no key, using custom types"
- What is the issue you have?
I'm trying to reduce the level of nesting in my output JSON. I can do this fine by converting my type directly to a string, rather than giving the single member variable a name, for example:

[code]

instead of

[code]

This works fine, and in my usage this function gets used to convert a std::unordered_set to json. Here's an example json output I get:

[code]

Now ho

[2018-10-01 05:28] MattiasEppler commented on #1261
Hi.
I already read this section.

I do it in this way

string value = "";

if(const auto pdouble = std::get_if<double>(&data.Value))
    value = std::to_string(*pdouble);
else if(const auto pint= std::get_if<int>(&data.Value))
    value = std::to_string(*pint);

I thought maybe there is an easier solution.

But if not you can close this issue.

Thanks

[2018-10-01 09:54] cugone opened #1268 "Visual Studio 2017 15.8.5 "conditional expression is constant" warning on Line 1851 in json.hpp"
There is a warning "conditional expression is constant" issued for VIsual Studio 2017 version 15.8.5 on Line 1851 of the json.hpp single-include header. I have Treat Warnings As Errors turned on as well as the Warning Level set to 4 so this prevents successful compilation. I do not use Clang nor GCC so I do not know if a similar issue shows up and this is just an edge case and can be safely pragma

[2018-10-01 12:19] #1259 closed

[2018-10-01 12:50] #1204 closed

[2018-10-01 13:57] gregmarr commented on #1268
This library only requires a C++11 compiler, so `if constexpr` can't be used here.

[2018-10-01 13:59] theodelrieu commented on #1268
We could add a template `fill_buffer` function taking the sizeof as a parameter.

@cugone Would you like to open a PR?

[2018-10-01 15:42] nlohmann commented on #1268
Maybe a duplicate of #1204.

[2018-10-01 15:46] nlohmann commented on #1261
I'm afraid not - at least I am not aware of a generic way to collect all the possible values from a variant.

[2018-10-01 15:57] nlohmann commented on #1267
Thanks for providing such a detailed issue.

I tried to reproduce it, but had some strange observation:

- With Apple LLVM version 10.0.0 (clang-1000.10.43.1) and Xcode 10.0, I can compile and run your code without issues with version 3.2.0 of the library.
- With the `develop` version, I have a compilation error in line `j.at("keyImages").get<std::unordered_set<PublicKey>>();`: `main.cpp:44:37: No

[2018-10-01 16:01] nlohmann commented on #1268
And, of course, a PR would be greatly appreciated!

[2018-10-01 17:03] cugone commented on #1268
@nlohmann Attempted PR but Visual Studio's support of makefiles is lacking. Using nmake via VS developer console to try to run the makefile as per CONTRIBUTING.md complains: "makefile(33) : fatal error U1000: syntax error : ')' missing in macro invocation". :(

Anyway, after looking at the most recent push to json.hpp prior to Aug 20, yes, it is an exact duplicate of #1204.

Visual Studio has been

[2018-10-01 17:43] Quincunx271 commented on #1250
`include()` is for including cmake module files, which a CMakeLists.txt is not. Use `add_subdirectory()`.

I looked at the project's CMakeLists.txt, and I don't see anything which is unfriendly to `add_subdirectory()`. A quick test showed that it indeed works to include nlohmann_json as a subdirectory, no changes needed.

[2018-10-01 17:50] Lord-Kamina commented on #1250
I see. Will try that then.on an unrelated note, I haven't committed it yet
but I'm making (it's done, really) a portfile of nlohmann for macports.

--
Gregorio Litenstein Goldzweig
[image: glit_ind.png]
Médico Cirujano

   - Fono: +56 9 96343643 <+56%209%2096343643>
   - E-Mail: g.litenstein@gmail.com

From: Justin Bassett <notifications@github.com> <notifications@github.com>
Reply: nlohmann/json

[2018-10-02 08:57] theodelrieu commented on #1261
You could do something like:

[code]

I don't think it's possible to provide a generic `from_json` here. Even if we serialize the index, it will be known at runtime, so switching on it would require to write N `case`, N being `sizeof...(Args) - 1`...

What I would do is setting the index in the json only when serializing an enclosing type:

[code]

[2018-10-02 09:06] theodelrieu commented on #1261
On a second thought, there might be a way to make it generic, I'll try it out and post the results.

[2018-10-02 11:49] MattiasEppler commented on #1261
Oh.... Thanks a lot for spending your time. I will try it.

[2018-10-03 08:12] #1250 closed

[2018-10-03 18:04] graph opened #1273 "When key is not found print the key name into error too"
e.g. when I do

std::string result = jsonObject["hello"];

and "hello" is not found it just does an assert and I don't know what key is being looked up. It would be nice to also print out the key name.

[2018-10-03 21:36] timprepscius opened #1274 "separate object_t::key_type from basic_json::key_type, and use an allocator which returns object_t::key_type"
- What

I would like the key_type which is searched for:
json j = { "hi", "there" };
j.at("hi") <--- that "hi" is a going to be object_t::key_type, I believe.

To be different from the internal key type
for instance object_t::key_type might be string_view,
but the parameter types, might still be string...  but most likely would be string_view (if the internal type is string_view).

- Why?

I deal

[2018-10-04 02:54] houglum commented on #458
Looks like that's correct, given a conversation I had today to test this :) However, [the docs](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_aabe623bc8304c2ba92d96d91f390fab4.html) indicate that this can't happen:

[2018-10-04 06:04] nlohmann commented on #1273
Duplicate #932.

[2018-10-04 06:04] #1273 closed

[2018-10-04 06:08] nlohmann commented on #1194
There is no solution for the issue yet. That's why it was closed eventually.

[2018-10-04 06:10] nlohmann commented on #458
@houglum Is there an issue?

[2018-10-04 07:02] houglum commented on #458
Just that (I believe) the docs need to be updated.  They say that `is_discarded()` will **always** be false after parsing, but that's only the case if `allow_exceptions` was set to true, IIUC. The docs should be updated to reflect the fact that if `allow_exceptions` is set to false, in the case of a parse error, calling `is_discarded()` on the value returned from `parse()` will return true.

[2018-10-04 07:31] #1211 closed

[2018-10-04 10:48] psiha commented on #677
Not all text-serialized-JSON usage is about round-triping, e.g. sometimes it is used for structured reports - and printing out all the decimals in a double when you are say presenting benchmark results in milliseconds is just very very ugly noise...
For example with RapidJSON one can say writer.SetMaxDecimalPlaces( 1 )...please consider adding something along those lines (it can even be a compile

[2018-10-04 11:19] murderotica opened #1275 "Suggestion to improve value() accessors with respect to move semantics"
Here's a couple suggestions that I think might be worth adding to improve the usage of value() function:

1.  Use "universal reference" `&&` instead of `const&` for `default_value` to lift a problem that `const ValueType& default_value` inhibits move when `default_value` is temporary/r-value:

**Before**:
[code]

**After**
[code]

This will allow this:
[code]

2. Provide r-value reference overload

[2018-10-04 11:35] murderotica commented on #1275
One more thing: it may also be useful to provide r-value reference overload to the conversion `operator ValueType()` to allow moving elements when resulting type is not `basic_json`:

Currently, this doesn't do what one might expect:
[code]

[2018-10-04 13:24] wkoroy opened #1276 "syntax error on right json string"
I've been trying to implement this solution and I have been  getting the same  error:

[code]
My code:
[code]
[jsonstr.txt](https://github.com/nlohmann/json/files/2446468/jsonstr.txt)

[2018-10-04 14:18] pboettch commented on #1276
From your jsonstr.txt: Your JSON contains an invalid `,` at the end of object:

[code]
Here the `,` after 256 is invalid JSON.

[2018-10-04 17:01] jaredgrubb commented on #1275
+1 on the first point. Forwarding reference definitely makes sense there.

I don't agree on the second one. I could see an argument for it to return a "ValueType&&", but returning a "ValueType" with a side-effect of changing the underlying json object feels "surprising" to me (and I don't like surprises in interfaces :)).

[2018-10-04 17:18] murderotica commented on #1275
You can't return `ValueType&&` since it won't do what I would expected it to after doing `move(json).value(...)` because the return type here is deduced at the same time as the type of `default_value` (that is, if ValueType if l-value ref then you will return l-value ref and copy will occur instead of move). While return by value will actually work as expected. Remember that it is an r-value overl

[2018-10-04 18:04] jaredgrubb commented on #1275
I wrote "ValueType&&" as shorthand, sorry for being imprecise. I meant that it really should be returning rvalue in all cases (aka, ```detail::uncvref_t<ValueType>&& value(..., ValueType&&) &&```), but you're right that if ```ValueType&& == T const&``` then you have a binding problem.

You could solve this by adding additional overloads to trap those, but then you get very different behavior depen

[2018-10-04 18:33] nlohmann commented on #1276
@pboettch is right, and the error message hints at this: after the comma, an object key (i.e., a string literal) is expected. You can verify that `jsonstr.txt` is invalid by using, e.g., https://jsonlint.com.

[2018-10-04 18:33] nlohmann commented on #1268
Fixed by merging #1272.

[2018-10-04 18:33] #1268 closed

[2018-10-04 18:34] nlohmann commented on #1204
Fixed by merging #1272.

[2018-10-05 09:36] nlohmann commented on #1263
@tamarlev Do you need further information?

[2018-10-05 09:36] #1255 closed

[2018-10-05 09:47] nlohmann commented on #1246
I'm not sure what do do here...

[2018-10-05 18:26] rijeshvp opened #1278 "how to get only "name" from below json"
[{"name":"local.tar.gz.part-ab","hash":"99f7ff566a910064f774fee3acc06287","bytes":5368709120,"last_modified":"2018-10-05T16:07:37.841000","content_type":"binary/octet-stream"},{"name":"local.tar.gz.part-ac","hash":"8fab90eaff4c5c447e0076b508e11a9e","bytes":5368709120,"last_modified":"2018-10-05T16:12:21.569000","content_type":"binary/octet-stream"},{"name":"local.tar.gz.part-ad","hash":"fd2c9aec58

[2018-10-05 18:55] makubica opened #1279 "merge result not as espected"
Hi,
If I try to do the following with the attached table in the header zip I didnt get the expected result.
Do This:

        auto j = nlohmann::json::parse((const char*)j_data);
        nlohmann::json patch = R"({"UniqueId":"9999"})"_json;
        std::cout << j.dump();
        j.merge_patch(patch);
        std::cout << j.dump();
        nlohmann::json patch2 = R"({"Id":"9999"})"_json;
        j.

[2018-10-06 09:45] nlohmann commented on #1278
Assuming the JSON text above is in some file `input.json`:

[code]

[2018-10-06 09:56] nlohmann commented on #1279
I simplified your program and the JSON value (used an empty array so that the changes easier to spot):

[code]

The patch `{"UniqueId":"9999"}` asks to set/change "UniqueId" to "9999". The result:

[code]

The patch `{"Id":"9999"}` asks to set/change "Id" to "9999". The result:

[code]

I cannot reproduce your findings "Sometimes the whole table is missing in the result and sometimes the field Uni

[2018-10-06 14:47] nlohmann commented on #1208
@dgendreau Can you send me a patch so I can make a PR?

[2018-10-06 16:03] dubnde opened #1281 "How to read json file with optional entries and entries with different types"
First of all thansks for this fantastic library. It got me reading dozens of json test files withing minutes.

How do I read from a json file with test vectors in which have optional entries as well as entries that can change the type of the value?

I am wondering how to go about writing the `to_json/from_json` methods. I particularly I am interested in the `from_json` to start with. Some of the e

[2018-10-07 06:28] makubica commented on #1279
The point is that you should not simplify the things. The problem appears only if you work with large tables/arrays.
The result was in one place that the UniqueId appears twice in the merge result. Sometimes the whole array was not there.
Play with your function with the table and you will see what I mean.

[2018-10-07 06:31] nlohmann commented on #1279
I did. Several times. What is the exact problem you encounter?

[2018-10-07 06:56] makubica commented on #1279
As I said above I merged with the UniqueId and this field appears twice in the result Json stream.
Now I made a simple console app and this problem do not appear there.
I will try to extract the problem from my project to an console app.

[2018-10-07 06:57] nlohmann commented on #1279
Thanks!

[2018-10-07 07:07] nlohmann commented on #1279
Note the library uses `std::map` for objects, so a duplicate key is impossible.

[2018-10-07 07:17] makubica commented on #1279
I think I found the problem. I use internally wchar_t and before I call your lib I translate them to ansi char. In the routine WideCharToMultiByte I made a mistake with the length of the unicode string. Now it works.
Thanks!

[2018-10-07 10:42] nlohmann commented on #1281
Here is an example for `diagnostic` modeled as `std::optional<std::string>`:

[code]

The `decoded` member could be similarly modeled with a `std::optional<json>` or so.

[2018-10-07 12:05] dubnde commented on #1281
Brilliant. Thank you very much. That does it.

[2018-10-07 12:05] #1281 closed

[2018-10-07 12:31] acki-m opened #1283 "use the same interface for writing arrays and non-arrays"
Hi Nils,

Is it possible to add a state based serialization interface, where I can use the same interface of writing values independent whether it is an array or a normal json based value?
The current problem I have is a code duplication because of the current interface:
[code]

When I do now the same for an array, I cannot reuse the code from above, I have to use `push_back`, to insert the values

[2018-10-07 14:44] nlohmann commented on #1283
I understand your point, and there is already quite similar code in the SAX-DOM parser, see https://github.com/nlohmann/json/blob/develop/include/nlohmann/detail/input/json_sax.hpp#L282. You basically need to have a similar `handle_value` function and keep a stack inside to know whether to forward the value to an array or an object. Basically, the implementation should be able to use the public AP

[2018-10-08 11:25] #1276 closed, assigned to nobody

[2018-10-09 05:44] cppfuns opened #1284 "eosio.wasmsdk error"
I am trying to use the following C++ JSON library:

https://github.com/nlohmann/json

Below is the code I am trying to compile with eosio-cpp gda.cpp -o gda.wasm
[code]
EOSIO_ABI( gda, (doit) )
Below is the output from trying to compile:

[code]
If the j.dump() line is commented out, the contract will compile.
A similar issue has been raised on stackoverflow.

https://stackoverflow.com/questions/5

[2018-10-09 05:46] cppfuns commented on #1284
The json library has been used incorrectly in the eos contract. I hope it will help here.

[2018-10-09 08:29] theodelrieu commented on #1284
I've never used eosio, but the `__cxa_*` symbols looks like it's missing `libc++abi` in the linker command line.

I don't find `strftime_l` in my `libc++`, even though there's `strftime`.

[2018-10-09 08:32] ibell opened #1285 "Release zips without tests"
The Release zip files with the tests included are rather enormous (>100 MB).  On a slow connection (for instance when having to log into corporate network through VPN), it takes absolutely ages(!) to check out the source of the repo.  Having the tests in the repo itself seems like a bit of an anti-pattern to me, but nonetheless, a useful compromise would be to also add test-free zip files because

[2018-10-09 08:38] ibell commented on #1285
Also, I can't just download the header because I need the natvis file for Visual Studio and the cmake goodies.

[2018-10-09 08:39] theodelrieu commented on #1285
There is a ongoing PR #1251 that aims at solving the issue, if you happen to know git-lfs, I'll gladly take your input on it!

[2018-10-09 08:51] cppfuns commented on #1284
At present, the eos blockchain urgently needs a json parsing library. At present, nlohmann/json is the most suitable, but there is this error, although I don't know where the problem is, but it is very difficult.

[2018-10-09 08:52] nlohmann commented on #1284
Is it possible to get the eosio-cpp compiler somewhere and run it under, say, macOS?

[2018-10-09 08:54] cppfuns commented on #1284
https://github.com/EOSIO/eosio.cdt

[2018-10-09 08:59] cppfuns commented on #1284
$ git clone --recursive https://github.com/eosio/eosio.cdt
$ cd eosio.cdt
$ ./build.sh EOS
$ sudo ./install.sh

[code]
Final execution
`eosio-cpp gda.cpp -o gda.wasm`

[2018-10-09 10:50] cppfuns commented on #1284
@nlohmann
Are you following up on this issue? Any progress?
I am more anxious to confirm the plan here.

[2018-10-09 11:09] oktonion opened #1286 "truncation of constant value in to_cbor()"
Although [documentation](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a6defa7ec3d3ace8f713f001f720182d7.html#a6defa7ec3d3ace8f713f001f720182d7) for `static void to_cbor(const basic_json& j, detail::output_adapter<char> o)` says nothing I assumed that it has some purpose but f.e. following sample:
[code]
generates lots of warnings like

in class binary_writer
at lines like:
https://

[2018-10-09 16:00] nlohmann commented on #1284
The errors seem to be unrelated to the library as they do not mention a library function. It seems that the compiler/STL is missing some standard features.

[2018-10-09 16:02] nlohmann commented on #1286
(The function's documentation should be similar to [this one](https://nlohmann.github.io/json/classnlohmann_1_1basic__json_a2566783e190dec524bf3445b322873b8.html#a2566783e190dec524bf3445b322873b8).)

[2018-10-09 16:42] nlohmann commented on #1284
I am closing the issue. Feel free to reopen if you have an error more related to the library.

[2018-10-09 16:42] #1284 closed

[2018-10-09 16:53] oktonion commented on #1286
@nlohmann Ok, so it is not dead code. Then there is a problem. If user calls `binary_writer<char>::to_something` directly or indirectly like in `json::to_cbor` then integer values over 127 are being lost.

[2018-10-09 20:56] naszta opened #1287 "Enable the latest C++ standard with Visual Studio"
If the following flag would be added to MSVC part, the MSVC C++14 and C++17 features could be used in the code (including `std::string_view` and variadic template `std::less`).
[code]
I'm happy to write the code (opt-out as the latest VS runs properly with all tests passed).

[2018-10-09 20:58] nlohmann commented on #1287
Is it good style to set these flags from the project? Wouldn't this be something the user sets?

[2018-10-09 20:59] nlohmann commented on #1278
@rijeshvp Do you need further support?

[2018-10-09 20:59] #1263 closed

[2018-10-09 21:02] naszta commented on #1287
In visual studio project I specify explicitly `/std:c++14` or `/std:c++17`. But for tests or libs (when both VS 2015 and VS2017 should be supported) I definitely would use the latest flag.

[2018-10-09 21:15] nlohmann commented on #1287
I'm not using MSVC myself, that's why I would like to discuss whether it is best practice to set such switches.

[2018-10-09 21:44] gregmarr commented on #1287
What features are you looking to use, and how would you make sure that the library is still usable with only C++11?

[2018-10-09 22:04] abrownsword opened #1288 "Buffer over/underrun using UBJson?"
I'm using 3.2.0 and have stumbled upon what seems like a buffer over or underrun error.

std::vector<uint8_t> output;
json object = SerializeMyData(data);
json::to_ubjson(object, output);

This operation appears to work, however afterward there is a problem that appears to be caused by memory elsewhere being corrupted.  If I replace to_ubjson with to_cbor, to_msgpack, or dump the problem does not

[2018-10-09 22:04] naszta commented on #1287
There are standard switch macros in the code. They are set accordingly on used standard by the compiler. With this flag always the latest standard could be used what supported by VS. (In current code variadic `less` and `string_ref` are protected by these macros.)

[2018-10-09 22:08] nlohmann commented on #1288
Thanks for reporting, but without any further information on the input, the nature of the error, example code, etc., it is difficult to act upon the issue. Any hint is greatly appreciated!

[2018-10-09 22:20] rijeshvp commented on #1278
Yes... please .. I forgot to mention that i am looking for a unix command... Will you be able to help me to have a unix command to extract the name element out of it.

[2018-10-09 22:49] abrownsword commented on #1288
Yes, I understand and will see if I can set some time aside to dig deeper and create a repro case.

[2018-10-10 05:31] nlohmann commented on #1278
You should try [jq](https://stedolan.github.io/jq/):

[code]

[2018-10-10 05:31] #1278 closed

[2018-10-10 05:36] rijeshvp commented on #1278
I am getting this output when i am running following. so i will not be redirecting this to a file.. want to format it on the fly
 curl -l -X GET \
  -u ${username}:${token}  \
  -x abc-proxy.server.com:80 \
  https://swiftobjectstorage.us-${region}-1.oraclecloud.com/v1/${tenancy}/${bucket}/${object}

[2018-10-10 05:37] nlohmann commented on #1278
Please have a look at this [tutorial](https://stedolan.github.io/jq/tutorial/)

[2018-10-10 09:44] niklas88 commented on #1198
I too just stumbled over nlohmann::json throwing an exception on serializing an invalid UTF-8 string. I think throwing an exception is a pretty bad reaction in a lot of cases.

So here is my proposal: How about if nlohmann::json followed [Python](https://docs.python.org/3/library/stdtypes.html#str.encode) in that it allows to register handlers for Unicode errors and provides some common choices. O

[2018-10-10 13:25] adam-p opened #1289 "merge_patch: inconsistent behaviour merging empty sub-object"
When using `merge_patch` with an object like `{{"k", {}}}`, different results are obtained than with other methods for providing an empty object.

Example: https://wandbox.org/permlink/7SDUyC98tSZX7sPL

Like...
[code]

It may be that I'm confused about what `{}` _means_ here. If it's equivalent to `null`, then I think this makes sense. But I don't see anything in the README about that being the ca

[2018-10-10 14:35] gregmarr commented on #1289
JSON Merge Patch is defined here: https://tools.ietf.org/html/rfc7386

     define MergePatch(Target, Patch):
       if Patch is an Object:
         if Target is not an Object:
       Target = {} # Ignore the contents and set it to an empty Object
         for each Name/Value pair in Patch:
       if Value is null:
         if Name exists in Target:
           remove the Name/Value pair from Targe

[2018-10-10 14:38] gregmarr commented on #1289
So I agree that this looks like `{}` is being treated as `null`.

[2018-10-10 14:41] gregmarr commented on #1289
// create a JSON object
    json j = {};

    j.merge_patch({{"k", {}}});
    std::cout << "{}: " << j.dump() << std::endl << std::endl;

since `j` is `null`, I would expect `{}` here to be `null` as well.

[2018-10-10 16:46] jaredgrubb commented on #1198
Couldn't you just create a function "sanitize_unicode_with_replacement_char(json&)" that recursively crawls the json structure to fix up any invalid strings the way you like? You could do this immediately after importing the structure (ie, reading the file) or right before exporting it (ie, dumping to file) in order to implement it at the right layer for your purpose.

The issue I have with doing

[2018-10-10 17:57] dubnde opened #1290 "How do I go about customising from_json to support __int128_t/__uint128_t?"
This is really more of a question than an issue. I hope this is not too much trouble as I continue to discover what this library can help us with.

I am thinking of reading big values from a `json` file. I am wondering how to go about customising the `from_json` to support such. For instance the extended values of `__int128_` and `__uint128_t` supported on some compilers. Or even some of those fro

[2018-10-11 07:28] 1Hyena commented on #1198
everyone's friend is no one's friend

the fatal flaw of the status quo is that it is not obvious and will encourage people to write bad code that may one day cost someone their life, because a non-unicode sequence slips into some life-critical medical system, causing it to get an unexpected exception at the wrong time.

it simply does not feel right to have the possibility of getting an exception

[2018-10-11 08:46] theodelrieu commented on #1290
Hello,

In theory you *could* specialize `adl_serializer` on the types you mention. However, if you want to fiddle with the internal way of serializing JSON Numbers, this is not currently possible I'm afraid.

There is an `external_constructor` in `detail/conversions/to_json.hpp` which deals with it, it is a `friend` of `basic_json`.

At the time of implementing `to_json/from_json` mechanism, I di

[2018-10-11 12:11] MattiasEppler commented on #1261
My Compiler (Visual Studio 2017) does not know Args... and sizeof...

[2018-10-11 15:54] niklas88 commented on #1198
I think the problem with the current behavior is that you need to run into it so as to know that it causes an exception. In our case (referenced above) our SPARQL Engine worked completely fine with >100 GB Knowledge Base (Wikidata) only to fail on a smaller one (Freebase) because we were unlucky and cut a UTF-8 sequence at the wrong point or there was just a wrong sequence in the data.

So our sys

[2018-10-11 16:06] 1Hyena commented on #1198
@niklas88 indeed has a point. same thing happened to me which lead me to the creation of this issue. My program was running fine for more than a year until it started randomly crashing. Throwing from any assignment is pretty unorthodox to begin with. You can't expect people to handle all assignment operators. It is beyond the scope of common sense. I was right from the beginning, I knew it. The ha

[2018-10-11 16:42] dubnde commented on #1290
Okay. Thanks very much for the response. Your response at least clarifies I was not misreading the API.

I also think I may achieve what I need with implementing the sax parser API since it passes through the string representation of the number as a double if such a number cannot fit into `int64_t `or `unit64_t`

[2018-10-11 17:24] parnmatt opened #1291 "CMake alias to `nlohmann::json`"
Currently you have the internal name `nlohmann_json`, and a library alias to `nlohmann_json::nlohmann_json`, and an export namespace of `nlohmann_json::` as per regular convention

Thus when including this project, you can always refer to `nlohmann_json::nlohmann_json`.

Keep the `PROJECT_NAME` to `nlohmann_json`; but have your target name as `json` with a library alias prefix and export namespace

[2018-10-11 21:50] #1290 closed

[2018-10-12 03:22] untrioctium opened #1292 "Serializing std::variant causes stack overflow"
This may be similar to #1261, but version 3.3.0, on my tested compilers, will stack overflow trying to serialize a variant instead of yelling at compile time that it doesn't know how to do it.

With this code:
[code]

MSVC 19.14.26430 will produce the cryptic and lengthy error C4717:
[code]

And crash with a stack overflow when run. GCC 7.3.0 and Clang 6.0.0 will not produce a compile error, but w

[2018-10-12 04:32] steven5clu884 opened #1293 "Json that I am trying to parse, and I am lost Structure Array below top level"
First thank you for contributing this jason.hpp it is my hope and desire to become very familiar with the utilization of this code.  I have spent nearly 6 hourse trying to figure out how to get the second level parsing to work, and have had no luck.
So I am asking for help.
First the json

[code]

I have from your example been able to read the SU_events using the following function

[code]

In my

[2018-10-12 07:03] 1Hyena commented on #1198
@jaredgrubb 's https://github.com/nlohmann/json/issues/1198#issuecomment-428645699 would work well as a temporary workaround but is in no way recommended as a long-term solution. In fact, it's dangerous, because it requires you to remember doing it every time you need to call json dump to be safe. If a project is huge and has many contributors, this can easily have fatal consequences when a new gu

[2018-10-12 08:04] theodelrieu commented on #1292
Well... oops.

I'll make a fix asap

[2018-10-12 08:44] theodelrieu commented on #1293
Hello!

If you want to read the entire array, you can use `speedJson.get<std::vector<SpeedEvents>>();`.

[2018-10-12 11:17] tomba commented on #376
I'm about to start hacking on the library to support trailing commas (although I have no idea where to start looking =) ). When dealing with config json files it drives me nuts that I need to constantly tweak the commas. And comments would make those config files much more readable.

[2018-10-12 14:40] OvermindDL1 commented on #376
I thought that was specifically disallowed by the JSON spec?

If you are using them as a config file or so then why not use TOML or HOCON or something?

[2018-10-12 15:22] nlohmann commented on #1198
Looking at https://docs.python.org/3/library/codecs.html#error-handlers, this seems to be a lot of work and noise in the API if we want to have a similarly extensible approach.

[2018-10-12 15:27] steven5clu884 commented on #1293
I thank you for your response.
However because of the multi-leveled nature of this JSON, doing as you propose with this statement
std::vector<SpeedEvent> vectEvents = speedJson.get< std::vector<SpeedEvent>>();
Throws an exception with the following statement
Exception in JSON WORK:[json.exception.type_error.302] type must be array, but is object
If you look at the JSON I provided above the array o

[2018-10-12 15:32] steven5clu884 commented on #1293
Thank you thank you
Your suggestion triggered something in my brain
This statement Actually Works
std::vector<SpeedEvent> vectEvents = (*iter).get< std::vector<SpeedEvent>>();
Praise GOD Halleluia I can now continue on with my work, since I now have a properly formatted
std::vector of SpeedEvents

[2018-10-12 15:36] nlohmann commented on #1292
@untrioctium Could you please check whether #1294 fixes this issue?

[2018-10-12 15:36] theodelrieu commented on #1293
No problem!

[2018-10-12 15:44] nlohmann commented on #1293
@steven5clu884 Do you need further assistance or can we close the issue?

[2018-10-12 15:45] nlohmann commented on #1289
@adam-p Do you need further assistance or can we close this issue?

[2018-10-12 15:46] nlohmann commented on #1291
@parnmatt I am not a CMake expert, so I am calling out to @chuckatkins about this idea.

[2018-10-12 15:47] nlohmann commented on #1261
@MattiasEppler Did you try?

[2018-10-12 15:48] tomba commented on #376
Could be, but I don't see any harm with that as it still parses json written per the spec. Especially in config files, which are not parsed by anyone else but my application.

Thanks, I wasn't aware of HOCON. I need to have a look. I did try TOML, but I didn't move to it. I can't recall what was the issue, but possibly the main issue was that this json library is great, and I anyway need it for pa

[2018-10-12 15:51] untrioctium commented on #1292
Yes, on all previously tested compilers with that test code, I now get "`static assertion failed: could not find to_json() method in T's namespace`" using the fixed version.

[2018-10-12 15:52] nlohmann commented on #376
The harm in relaxing standards is IMHO nicely described in [The Harmful Consequences of the Robustness Principle](https://tools.ietf.org/html/draft-thomson-postel-was-wrong-02).

[2018-10-12 15:53] nlohmann commented on #1292
Thanks for the quick check, @untrioctium ! And of course, @theodelrieu, thanks for the quick fix!

[2018-10-12 15:53] #1292 closed

[2018-10-12 16:06] steven5clu884 commented on #1293
Yes I am fully pleased with what I have written.  As i said in my comments an example of this type would be nice for others to use, and look at.
Again thank you for this fine piece of software

[2018-10-12 16:07] #1293 closed

[2018-10-12 16:13] chuckatkins commented on #1291
TLDR: the current behavior should remain default but making it configurable would be a useful addition.

Long answer:
CMake namespacing is really intended to express multiple components of a single library and framework, which is pretty typical of C++ namespacing as well.  Boost, for instance, creates the imported targets for `boost::date_time`, `boost::filesystem`, etc. that correspond respective

[2018-10-12 18:39] jaredgrubb commented on #1198
FWIW, I'm very sympathetic. Having the library throw during serialization five bytes from the end is about the worst time to have it happen, and having to _manually_ do these checks means that it's going to get forgotten/overlooked and lead to a vulnerability.

But, it's a hard problem without an obvious (let alone universal) answer. It's made worse by the fact that our STL hasn't even acknowledge

[2018-10-12 18:48] abrownsword commented on #1288
Have more information.  After jostling the code around a little, my debugger started to show me that to_ubjson is actually throwing an exception (why it wasn't showing that all along is concerning and I haven't pursued it yet, but probably not related to this library).

[json.exception.out_of_range.407] number overflow serializing 18446744073709551516

Adding a try/catch block suppresses the error

[2018-10-12 21:22] julian-becker opened #1295 "Comparisons between large unsigned and negative signed integers"
When investigating more thorough tests for #1254, I stumbled across this unintuitive behavior:

    TEST_CASE("UINT64_MAX shall not equal -1")
    {
        json uint64max(static_cast<std::uint64_t>(UINT64_MAX));
        CHECK(uint64max.is_number_unsigned());

        json min1( static_cast<std::int64_t>(-1) );
        CHECK(min1.is_number_integer());

        CHECK(uint64max != min1); // <<--- TH

[2018-10-12 21:53] timprepscius commented on #1248
I made a simple version of this.  Just copied existing code and added the erase part.  There is also a bug with json pointers when they have only a single forward slash.

I will probably eventually create a different json pointer which doesn't vectorize, but instead provide iterator functionality without vectorization.  But no time at the moment.

[erase_json_pointer.diff.txt](https://github.com/n

[2018-10-12 21:57] timprepscius commented on #1274
I made a patch which separates the internal map key type from the external map key type.  This allows for string_view to be used.  Which, in my case, collapses memory allocation considerably.  This is just a simple rough cut, will need to be redone later.

I purposefully did not do all the templatization, because I figure the owner of this repository would have clear ideas about how that should be

[2018-10-13 11:38] abolz commented on #1198
It is already possible to get an invalid UTF-8 sequence in strings while decoding a JSON file (`"\\u0080"` is a valid JSON-string), so the most consistent option would probably be to replace invalid UTF-8 sequences with `\u`-escaped sequences instead of throwing an exception while _serializing_ strings. This will result in valid (UTF-8 encoded) JSON files and invalid UTF-8 (or other binary data) w

[2018-10-13 21:55] DragonOsman opened #1296 "Dockerfile Project Help Needed"
I need some help on a Dockerfile project based on the app I made.  I got an error saying that there's no such file or directory as `nlohmann/json.hpp`.   I got similar errors for Jinja2Cpp, but I'll ask that on their GitHub rather than here (though if someone here can help me with that, then that's even better for me).

The command I'm using in the Dockerfile to compile my executable is:
[code]
Th

[2018-10-14 09:49] igoloe commented on #1197
But supporting unicode sequences from char16_t and char32_t cannot be misinterpreted. wstring is just a wchar_t container with no associated encoding.

[2018-10-15 05:03] nlohmann commented on #1296
As you passed `-I /usr/local/json/single_include`, can you make sure the file `/usr/local/json/single_include/nlohmann/json.hpp` exists?

[2018-10-15 05:04] nlohmann commented on #1274
Thanks! A PR would still be very welcomed!

[2018-10-15 06:06] MattiasEppler commented on #1261
Hi. Oh sorry.
Yes It works. Thanks to theodelrieu.

Will this be added to nlohmann\json?

[2018-10-15 07:53] igoloe opened #1297 "unicode: char16_t* is compiler error, but char16_t[] is accepted"
- What is the issue you have?
nlohman::json{char16_t*} is a compiler error, but nlohman::josn{char16_t[]) is accepted
- Please describe the steps to reproduce the issue. Can you provide a small but working code example?
just compile as described
- What is the expected behavior?
char16_t* and char16_t[] should be handled the same way.
Because both define a utf16 sequence, automatic conversion to ut

[2018-10-15 07:54] Manu343726 commented on #1296
As noted in https://github.com/flexferrum/Jinja2Cpp/issues/70, we need your Dockerfile and its build script to diagnose the problem.

[2018-10-15 08:01] igoloe opened #1298 "unicode: accept char16_t, char32_t sequences"
- Describe the feature in as much detail as possible.
it woudl be nice, if the lib can accept any char16_t and char32_t sequences and convert them to utf8 automatically, because most unicode strings in windows would be stored as u16string (non legacy code ofc) to distinguish it from ansi like in std::string. List of sequence like usage (maybe incomplete): charT*, charT[], basic_string<charT>, basi

[2018-10-15 09:05] theodelrieu commented on #1261
I guess we could add it, I'd like users to be able to do the following:

[code]

For this to work, we need to add a library-reserved field in the variant's alternative serialization:

[code]

[2018-10-15 10:40] LucaMarconato commented on #815
I having a similar problem and I think it is related to the one described in this topic. I am using macOS.

If I open a terminal, go to the folder in which the executable is located and run the executable, everything works. But if I run `open -a Termina.app name_of_executable` (which is equivalent to double clicking to the executable from the Finder) I got the following error:

`libc++abi.dylib: t

[2018-10-15 11:03] LucaMarconato commented on #815
Looking at `boost::filesystem::path full_path(boost::filesystem::current_path());` I noticed that this path changes depending on the way I am executing the program, so the .json file was not found in one case.

[2018-10-15 12:58] shubhdev commented on #1170
FWIW, I feel this feature would be great as well . The workaround is a bit ugly, and I am not sure it will always work. #1121 seems to have gone stale unfortunately :disappointed:

[2018-10-15 16:16] brainiac opened #1299 "compile error in from_json converting to container with std::pair"
It looks like the change to fix #1292 (11fecc25af64529599e9a24675651115d6bae322) causes a regression when converting to a container std::pair with a non-trivial type. I didn't see a unit test that covers this case.

Example code that show the failure:
https://wandbox.org/permlink/BVgyd1o4MW60bqvS

[code]

[2018-10-15 16:34] theodelrieu commented on #1299
Thanks for the report.

Seems like the `std::map` overload is not chosen, thus it falls back trying to construct a `std::pair<**const** std::string, std::string>`...

I'll fix it tomorrow.

[2018-10-16 05:57] changheon1 opened #1300 "Xcode - adding it to library"
Using XCode and Cmake for my project.
<img width="596" alt="screen shot 2018-10-16 at 6 49 18 pm" src="https://user-images.githubusercontent.com/26236887/46995226-42af5b00-d174-11e8-9f4f-b1ef4bb5e38e.png">

I am stuck on how to get json to be added to the library.
What I want to do is:
I have my codes inside work/src/ folder and have json files inside work/vendor.
Inside build I have done the cmak

[2018-10-16 08:12] changheon1 commented on #1300
Okay.. I've finally added #include <nlohmann/json.hpp> and it doesn't throw an error on that but not I am getting endless errors on the actual json.hpp file
<img width="1132" alt="screen shot 2018-10-16 at 9 11 05 pm" src="https://user-images.githubusercontent.com/26236887/47001956-2c12ff00-d188-11e8-8618-cf41cc968c9b.png">

I think I'm the only one with this kind of issue but I really hope to fix

[2018-10-16 09:39] mjrao commented on #469
vs community 2015  run ok!

[2018-10-16 11:44] abolz commented on #1198
Ok, forget this... it's actually nonsense:

E.g., serializing `\x80` would result in `\\u0080`. While deserializing `\\u0080`, the resulting character `U+0080` will be encoded in UTF-8 and result in `\xC2\x80`.

[2018-10-16 12:35] pooyan-dadvand commented on #469
Good news! Thanks for notification!

@RiccardoRossi we should give it another try then

[2018-10-16 14:43] nlohmann commented on #1300
That is really strange, because we can compile and run the unit tests with Xcode. Could you try to compile the unit tests?

[2018-10-16 14:48] nlohmann commented on #1261
I agree with @theodelrieu. In a lot of cases, a variant is not the sole variable to be serialized, so type information may be derived implicitly from other members.

@MattiasEppler Is it OK to close the issue?

[2018-10-16 15:29] nlohmann commented on #1287
I still have not understood why this library should set the C++ version when this is usually done by the code that actually uses the library. Do I miss something between CMake and MSVC?

[2018-10-16 15:29] nlohmann commented on #1283
Anyone?

[2018-10-16 15:36] nlohmann commented on #1248
@timprepscius Could you open a PR?

[2018-10-16 15:37] nlohmann commented on #1208
@dgendreau Could you open a PR or send me a patch?

[2018-10-16 15:37] #1246 closed

[2018-10-16 15:40] nlohmann commented on #1267
@theodelrieu Do you have any idea on this?

[2018-10-16 15:43] nlohmann commented on #469
@mjrao I am not using MSVC myself. Is "vs community 2015" something different than "msvc2015"?

[2018-10-16 15:43] naszta commented on #1287
No: my idea here is using the latest supported C++ in MSVC even in tests: MSVC is not a major platform for you and in this way you will have less macros for VS (as it uses the latest standard what it could handle).

[2018-10-16 15:45] nlohmann commented on #1287
I am already testing with these flags on AppVeyor. And if I would remove macros, wouldn't this break support for older MSVC versions?

[2018-10-16 15:47] nlohmann commented on #1197
The library currently treats `std::wstring` with 2-byte characters as UTF-16 and those with 4-byte characters as UTF-32.

[2018-10-16 15:56] nlohmann commented on #1288
If I interpret http://ubjson.org/type-reference/value-types/#numeric correctly, then UBJSON only supports signed 64 bit integers, so `18446744073709551516` is not representable.

I can reproduce your issue with

[code]

Throwing

[code]

So I would say the library works as expected, right?

[2018-10-16 15:58] abrownsword commented on #1288
Given that UBJSON is, ummm, "limited" (broken if I'm less charitable)... then yes, your library is working correctly.

[2018-10-16 16:02] nlohmann commented on #1288
UBJSON still has a "high-precision number type" which is basically the string representation of the number:

The library does not support this. Do you think this would be helpful?

[2018-10-16 16:05] abrownsword commented on #1288
Not to me -- I won't use UBJSON now that I know it doesn't support unsigned 64-bit.  If I were forced to then, yes, it would be useful as I tend to have a lot of max or near-max uint64_t values.

[2018-10-16 16:05] nlohmann commented on #1288
I would go with CBOR if possible.

[2018-10-16 16:08] theodelrieu commented on #1267
I'm not sure I understand the exact issue, it seems to me that you could do the following:

[code]

Have I missed something?

[2018-10-16 16:09] theodelrieu commented on #1267
Also, note that you must have `from_json(PublicKey)` defined **before** `from_json(Wallet)`

[2018-10-16 17:06] ziggurat29 commented on #677
seconded; I don't need to report time with picosecond precision only to add 50% overhead to my docs.  I would prefer a runtime setting.

[2018-10-16 17:07] abrownsword commented on #1288
One thing that would be nice (as a user of the library) would be if somehow the message from the exception could state that this is a limitation of the chosen format.  Otherwise it isn't obvious _why_ the value is out of range.

[2018-10-16 17:14] jaredgrubb commented on #1300
This looks like a too-early version of C++. What version of C++ are you compiling with? (Eg, can you copy-paste the command line that is being executed to compile this?)

[2018-10-16 18:40] nlohmann commented on #1198
I opened a work-in-progress branch (https://github.com/nlohmann/json/compare/feature/codec_errors) for the idea sketched in https://github.com/nlohmann/json/issues/1198#issuecomment-428508453. Feedback is more than welcome! The branch currently only handles serialization.

[2018-10-16 18:43] nlohmann commented on #1300
FWIW: The library is tested with Xcode 6.4-10.0, see https://github.com/nlohmann/json#supported-compilers.

[2018-10-16 19:36] #1289 closed

[2018-10-16 19:42] nlohmann commented on #1288
What do you mean? Something like

[code]

or what would you propose?

[2018-10-16 19:58] gregmarr commented on #469
Visual Studio Community 2015 is the same as Visual Studio Professional 2015 but with a different license.

[2018-10-16 20:38] abrownsword commented on #1288
Yeah, that would be helpful.  It points out to the user that its not a bug per se, but a format limitation.

[2018-10-16 22:40] changheon1 commented on #1300
Apple LLVM version 9.0.0 (clang-900.0.39.2)
Target: x86_64-apple-darwin16.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

I did update my mac 2 days ago with Xcode because it wouldn't update the build, also my lecturer has updated that because of the same reason.

So what I've tried is:
1) If I use cmake browse source ju

[2018-10-16 22:42] adam-p commented on #1289
I'm good. Thanks. (Sorry for the delayed response.)

[2018-10-16 23:02] jaredgrubb commented on #1198
I feel the term "ignore" is unclear about whether the invalid sequence is preserved or dropped. Perhaps "strip" or "remove"? OTOH, I think you're copying Python's terms and that is a valuable thing to do -- so maybe just update the comments to say that "ignore" means the invalid bytes are skipped.

[2018-10-16 23:31] brainiac commented on #1299
Hi @nlohmann and @theodelrieu, thanks for looking into this. It looks like with the fix in #1031 it is working now.

[2018-10-16 23:32] changheon1 commented on #1300
Maybe the c++ or the Xcode version.. I've tried heaps of other way but getting same error.

Tried only building using json and it thought it wouldn't generate any errors but after making a main.cpp and #include <nlohmann/json.hpp> then using json=nlohman::json it generated same errors as before.
Any suggestions for this issue?

[2018-10-16 23:38] jaredgrubb commented on #1300
Can you copy-paste the command line invocation used? The fact that you're getting a failure around "enable_if_t" suggests that you probably don't have C++14 turned on. Or just look in your Build Settings to see what the version of C++ you have enabled.

[2018-10-17 00:29] changheon1 commented on #1300
I used
cmake -G Xcode (filename)

Couldn't find anything to allow c++ 14 or similar to my build setting

[2018-10-17 00:38] changheon1 commented on #1300
<img width="1135" alt="screen shot 2018-10-17 at 1 37 24 pm" src="https://user-images.githubusercontent.com/26236887/47055032-e26ef680-d211-11e8-866a-d8d7813bad05.png">

I did find enabling c++14 but still generates same errors...

[2018-10-17 05:42] MattiasEppler commented on #1261
Hi. Yes its ok.

[2018-10-17 06:40] nlohmann commented on #1298
With "accept", I assume you do not mean parsing (the library already supports parsing from `std::u16string`), but assignments, right?

[2018-10-17 06:41] nlohmann commented on #1297
How is this issue related to #1298?

[2018-10-17 07:10] 1Hyena commented on #1198
@jaredgrubb not sure if you meant my opening comment, but I added a small edit to clarify what I meant by ignoring. Later I proposed a trim function which always produces a valid UTF8 string. Should probably have named it `shave` though : P

[2018-10-17 07:12] nlohmann commented on #1198
@jaredgrubb I took the names from Python. You're right the public API needs better documentation. But I would like to focus on the implementation before.

[2018-10-17 07:15] jaredgrubb commented on #1198
Oh, sorry for the confusion from my comment; it was a reply to @nlohmann's code sketch.

[2018-10-17 08:01] nlohmann commented on #1286
What do you think about using the approach of https://stackoverflow.com/a/15172304/266378 and replace all the `static_cast<CharType>` calls by calls to `convert`:

[code]

?

[2018-10-17 10:07] niklas88 commented on #1198
@nlohmann oh wow, thanks for putting in the work, this looks exactly like what I imagined. It turns out, that in our case we will probably just not store the offending data in JSON in the future because we do actually need the broken sequences. Still I think this would be a great addition to your library and make it much more robust.

[2018-10-17 11:56] oktonion commented on #1286
@nlohmann what about CharType != signed/regular/unsigned char? reinterpret_cast to char* for any pointer is safe by standard. But reinterpret_cast of pointer to some CharType = UserDefiendType?

[2018-10-17 12:13] nlohmann commented on #1286
For the input adapters, we require that `CharType` is integral and has a `sizeof` 1. Does this answer your question?

[2018-10-17 13:53] lrasku commented on #1170
Regarding the workaround, the old, prettier workaround described in [#768 comments](https://github.com/nlohmann/json/issues/768#issuecomment-334724572) stopped working due to the new [Grisu2 algorithm](https://github.com/nlohmann/json/commit/9f7c2c04c84982403db4b75998e346a5d2afdbca), which is selected on platforms that implement IEEE-754 floating points, i.e. almost all of them. The old workaround

[2018-10-17 14:00] oktonion commented on #1286
C++03 5.2.10.7:
**A pointer to an object can be explicitly converted to a pointer to an object of different type.
Except that converting an rvalue of type “pointer to T1” to the type “pointer to T2” (where T1 and T2 are object types and where the alignment requirements of T2 are no stricter than those of T1) and back to its original type yields the original pointer value, the result of such a poin

[2018-10-17 14:05] nlohmann commented on #1286
Hm. What do you propose?

[2018-10-17 14:17] oktonion commented on #1286
This seems like the solution tho:
[code]

may be add some constexpr.

[2018-10-17 15:48] DragonOsman opened #1304 "Problem in Dockerfile with installation of library"
I'm trying to build a Dockerfile for the project I've been working on that uses this library.  The Dockerfile build output can be seen on this Paste: https://pastebin.com/hT1Ha6Lc .  Could someone please tell me what I did and what I didn't do that I should've done?  If needed, I'll also post the main part the problem is at:
[code]
Any help is appreciated.  Thanks in advance.

[2018-10-17 15:50] nlohmann commented on #1304
Is this the same issue as #1296?

[2018-10-17 15:51] nlohmann commented on #1304
What is the content of directory `app/json/include`?

[2018-10-17 15:54] #1288 closed

[2018-10-17 16:00] DragonOsman commented on #1304
I just ran this command to see what's in there:
[code]
Waiting for it to get to the `ls` part.

[2018-10-17 16:29] nlohmann commented on #1304
You provided both single_include and include. One is sufficient. Please see the README for integration information.

[2018-10-17 16:43] DragonOsman commented on #1304
What about when I want to use `json_fwd.hpp`, though?

[2018-10-17 16:45] nlohmann commented on #1304
Then just use include

[2018-10-17 16:51] DragonOsman commented on #1304
Alright, thanks.  I think this is solved now.

[2018-10-17 16:51] #1304 closed

[2018-10-17 18:34] igoloe commented on #1298
As with release 3.1.2 there was no support as arguments of json ctor for char16_t[] and char16_t* or u16string and u16string_view. First one was interpreted as array of values, other ones were rejected by compiler. I am not sure, if this changed in 3.3 already.
Requesting support for char32_t was just for logical completeness.
If the lib already supports construction, then please reject my request

[2018-10-17 18:36] nlohmann commented on #1298
If possible, please provide concrete examples.

[2018-10-17 18:59] DragonOsman commented on #1296
Okay, I took out the flag to bring in `nlohmann/json` from the regular `include` directory and kept just the `single_include` one, but I still have that error.  Relevant part of the Dockerfile build output is:
[code]
And the Dockerfile itself is:
[code]

[2018-10-17 19:00] nlohmann commented on #1296
What is the content of app/json/single_include?

[2018-10-17 19:01] DragonOsman commented on #1296
Let me check and get back to you (I'll update this comment).

[2018-10-17 23:37] brigb123 opened #1306 "json::parse(std::string) Exception inside packaged Lib"
I'm using the 1 header source in a packaged static library of my own, which is linked to a large application. I tested the same json string in a small test application with no issue. The exception in the large application while debugging:

![image](https://user-images.githubusercontent.com/6732494/47121938-9465ed00-d229-11e8-9638-619efb11a5d9.png)

The members in the screenshot context look suspic

[2018-10-18 02:19] timprepscius commented on #1248
Will do, will take a few days.

Bug JSON Pointer, make tests involving just "/".  Crashes:
The for loop for unraveling the string is complicated, difficult to modify, so I just put in a statement looking for string length 1, after check that 1st character was '/' and returned if true.

[2018-10-18 08:54] nlohmann commented on #1248
I cannot reproduce the bug. This code runs fine:

[code]

Output: `42`.

[2018-10-18 15:11] nlohmann commented on #1248
The exception states the problem:

[code]

`j2` is an array, and JSON Pointer `/` (just a slash) means accessing a JSON object at key `""` (empty string) which would be equivalent to `j2[""]`. The error message states that the value after the slash must be a number, because we are accessing values of an array. As the empty string is not a number, the exception is thrown.

tl;dr: The library is cor

[2018-10-18 15:12] nlohmann commented on #469
Thanks for the info. So I can keep the README as is, because there is no additional supported compiler or version.

[2018-10-18 16:18] timprepscius commented on #1248
Hmmm.  My intuition says something is still wrong, but not in the way I thought.  Maybe wrong is not the right word.

If I have:

[code]

It seems to me that this should create an exception- not create the key "wrong" with a null value.
But I have a feeling that this change would be extremely difficult, perhaps impossible to do.

[2018-10-18 16:20] timprepscius commented on #1248
Any how, has no practical impact on my side, I will make a work around to avoid this scenario, change my understanding of "root" to only be "" not "/"

[2018-10-18 16:38] nlohmann commented on #1248
This is the default behavior of `operator[]` for non-const values. The same code with a `std::map`:

[code]

The semantics of `operator[]` is to add a default value for the given key if it does not exist before returning a reference to that value.

As for the JSON Pointer `/`: This is part of an example in [RFC6901](https://tools.ietf.org/html/rfc6901#section-5).

[2018-10-18 16:41] nlohmann commented on #1208
@dgendreau @theodelrieu Do we agree that https://github.com/nlohmann/json/issues/1208#issuecomment-420305133 should be added to the library? If so, I could create a PR.

[2018-10-18 17:18] #1299 closed

[2018-10-18 17:27] nlohmann commented on #1256
So idea 1 would just mean that you add an arbitrarily-typed (public?) member variable to the `basic_json` class?

[2018-10-18 19:13] timprepscius commented on #1248
Yeah.  Not my favorite part of the operator[] of map either.

[2018-10-18 19:21] timprepscius commented on #1256
Yep.  Seems dirty.  Lol.  But if it were an empty struct by default...  I would guess it would be optimized out.

[2018-10-18 19:21] gregmarr commented on #1248
If `std::map` didn't do this, then you couldn't do `j["hi"] = "there";` either.

[2018-10-18 20:51] timprepscius commented on #1248
It's true.  But I find that, because of the "construct if not present" feature of std::map, I almost always use find(), !=end(), *i...  and/or insert..

It just seems to work out that I almost never want std::map to default create a value.  If it is there, and I'm creating it again, it probably means something wrong in code.  If it is not there, then I'd want to use insert.

Personal coding style

[2018-10-18 21:12] timprepscius commented on #1248
And actually, let's say we were to make std::map not function this way.  It would definitely be a bit gross, but would it be super gross?

std::map::operator[] could return a "lazy reference", by which I mean a class which contains the key reference, and the map reference.

when the lazy reference is dereferenced, via an casting operator T(), if it does not exist it would through an exception.  If